/*------------------------------Footer------------------------------*/
footer{
	&.footer-default{
		background-color:#222;
		text-align:center;
		.footer-info{
			padding:40px 0 0;
			text-align:center;
			a.logo{
				display:inline-block;
				margin-bottom:15px;
			}
			p{
				color:#999;
				line-height:20px;
			}
			.socials-footer{
				padding:15px 0 0px;
				ul{
					display:inline-block;
					margin:0;
					> li{
						float:left;
						> a{
							margin:0 5px;
							display:block;
							width:50px;
							height:50px;
							line-height:51px;
							.border-radius(50%);
							border:1px solid #999;
							color:#999;
							&:hover{
								background-color:@color;
								border:1px solid @color;
								span{
									color:#fff;
								}
							}
							span{
								font-size:20px;
							}
						}
					}
				}
			}
		}
		.footer-top .widget.widget_nav_menu{
			ul.menu{
				display:inline-block;
				margin:0;
				> li{
					float:left;
					> a{
						border:0;
						font-size:14px;
						font-weight:bold;
						color:#999;
						text-transform:uppercase;
						padding:0 15px;
						position:relative;
						&:hover{
							color:@color;
						}
						&:after{
							content:'';
							width:1px;
							height:13px;
							position:absolute;
							top:3px;
							right:0;
							background-color:#999;
						}
					}
					&:last-child{
						> a:after{
							width:0;
						}
					}
				}
			}
		}
		.footer-menu{
			text-align:center;
			border-top:	1px solid #2d2d2d;
			.footer-menu-top{
				padding:20px 0 30px;
				.widget.widget_nav_menu{
					margin:0;
					ul{
						margin:0;
						display:inline-block;
						> li{
							float:left;
							line-height:25px;
							.rtl &{
								float:right;
							}
							> a{
								position:relative;
								padding:0 6px;
								border:0;
								color:#999;
								font-size:11px;
								&:hover{
									color:@color;
								}
								&:after{
									position:absolute;
									top:8px;
									left:0;
									content:'';
									display:block;
									width:1px;
									height:10px;
									background-color:#999;
								}
							}
							&:first-child{
								font-weight:bold;
								font-size:12px;
								color:#999;
								&:after{
									content:':';
									margin-left:5px;
								}
							}
							&:nth-child(2) > a:after{
								width:0;
								height:0;
							}
						}
					}
				}
			}
		}
		.copyright{
			background-color:#111;
			padding:13px 0;
			.copyright-text{
				padding:3px 0;
				color:#999;
				a{
					color:@color;
				}
				p{ margin:0;}
			}
			.widget{
				margin:0;
				ul.method{
					margin:0;
					li{
						margin:0 3px;
						padding:0;
						&:hover > a > img{
							.opacity(0.8);
						}
					}
				}
			}
		}
	}
	&.footer-style1{
		background-color:#fff;
		.footer-top{
			.join-our{
				padding:25px 75px;;
				text-align:center;
				overflow:hidden;
				border-bottom:1px solid #ddd;
				h2{
					font-family:'QuicksandBold' !important;
					color:#444;
					font-size:24px;
					text-transform:uppercase;
					margin-bottom:25px;
				}
				ul{
					margin:0;
					display:inline-block;
					> li{
						float:left;
						.rtl &{
							float:right;
						}
						> a{
							display:inline-block;
							width:65px;
							height:65px;
							margin-right:70px;
							&:hover{
								opacity:0.8;
							}
							.rtl &{
								margin-left:70px;
								margin-right:0;
							}
							&.facebook{
								background: url(../assets/img/facebook.png) no-repeat center center;
							}
							&.pinterest{
								background: url(../assets/img/print.png) no-repeat center center;
							}
							&.twitter{
								background: url(../assets/img/twitter.png) no-repeat center center;
							}
							&.google-plus{
								background: url(../assets/img/google-plus.png) no-repeat center center;
							}
							&.rss{
								background: url(../assets/img/rss.png) no-repeat center center;
							}
							&.vimeo{
								background: url(../assets/img/vimeo.png) no-repeat center center;
							}
							&.note{	
								background: url(../assets/img/evernote.png) no-repeat center center;
							}
							&.dribbble{
								background: url(../assets/img/dribbble.png) no-repeat center center;
							}
						}
						&:last-child > a{
							margin:0;
						}
					}
				}
			}
			.widget_tag_cloud{
				padding-bottom:22px;
				border-bottom:1px solid #ddd;
				h3{
					font-family:'LatoBold' !important;
					font-size:16px;
					color:#444;
					text-transform:capitalize;
					margin:10px 0 15px
				}
				.tagcloud{
					> a{
						font-family:'LatoRegular';
						color:#666;
						margin:0;
						padding:0 15px 0 0;
						border:0;
						border-radius:0;
						text-transform:capitalize;
						position:relative;
						line-height:24px;
						.rtl &{
							padding:0 0 0 15px;
						}
						&:after{
							content:'';
							width:1px;
							height:13px;
							position:absolute;
							right:5px;
							top:5px;
							background-color:#c3c3c3;
							display:inline-block;
							.rtl &{
								left:5px;
								right:auto;
							}
						}
						&:hover{
							background-color:#fff;
							color:@color;
						}
						&:last-child{
							&:after{
								width:0;
							}
						}
						&:first-child{
							margin:0 8px 0 0;
							.rtl &{
								margin:0 0 0 8px;
							}
						}
					}
				}	
			}
			.popular-page{
				margin: 0 0 0 -15px;
				.rtl &{
					margin:0 -15px 0 0;
				}
				h2{
					font-family:'LatoBold' !important;
					font-size:16px;
					text-transform:capitalize;
					color:#444;
				}
				ul{
					margin:0;
					> li{
						display:inline-block;
						margin-right:15px;
						line-height:28px;
						a{
							color:#666;
							&:hover{
								color:@color;
							}
						}
					}
				}
			}
			.widget_nav_menu{
				h3{
					font-family:'LatoBold' !important;
					font-size:16px;
					text-transform:capitalize;
					color:#444;
				}
				ul.menu{
					> li{
						float:left;
						width:50%;
						padding:0;
						line-height:26px;
						a{
							padding:0;
							border:0;
							color:#666;
							font-family:'LatoRegular';
							&:hover{
								color:@color;
							}
							span.menu-img{
								margin:0 8px;
							}
						}
					}
				}
			}
			.widget_text{
				h3{
					font-family:'LatoBold' !important;
					font-size:16px;
					text-transform:capitalize;
					color:#444;
				}
			} 
		}
		.footer-menu{
			float:left;
			width:100%;
			border-top:1px solid #ddd;
			padding:25px 0 0;
			.widget_text{
				.button-ver-menu{
					color:#444;
					font-size:16px;
					font-family:'LatoBold';
					text-transform:uppercase;
					margin-bottom:15px;
				}
				.contact-footer ul{
					margin:0;
					li{
						line-height:20px;
						margin-bottom:10px;
						span{
							font-size:14px;
							color:@color;
							margin:0 10px 0 0;
							&:before{
								margin: 0 0 0 4px;
							}
							&.fa-map-marker{
								float:left;
								.rtl &{
									float:right;
									&:before{
										float:right;
									}
								}
								&:before{
									display:block;
									height:28px;
									float:left;
									line-height:26px;
									
								}
							}
							.rtl &{
								margin:0 0 0 10px;
							}
							&.fa-mobile{
								font-size:18px;
							}
							&.fa-envelope-o{
								&:before{
									margin:0;
								}
							}
						}
					}
				}
				.download-app{
					ul > li{
						position:relative;
						line-height:30px;
						color:#666;
						&:before{
							content:'';
							width:6px;
							height:6px;
							background-color:@color;
							border-radius:50%;
							display:inline-block;
							margin-right:10px;
							.rtl &{
								margin-left:10px;
								margin-right:0;
							}
						}
					}
					a.app-store{	
						background: url(../assets/img/app-store.png) no-repeat center center;
						display:inline-block;
						width:123px;
						height:39px;
						border-radius:5px;
						margin-right:5px;
						&:hover{
							opacity:0.8;
						}
					}
					a.google-store{
						background: url(../assets/img/goole-store.png) no-repeat center center;
						display:inline-block;
						width:123px;
						height:39px;
						border-radius:5px;
						&:hover{
							opacity:0.8;
						}
					}
				}
			}
			.widget_nav_menu{
				h3{
					font-family:'LatoBold' !important;
					font-size:16px;
					color:#444;
					text-transform:uppercase;
					margin-bottom:15px;
				}
				ul.menu{
					> li{
						line-height:30px;
						a{
							padding:0;
							border:0;
							font-family:'LatoRegular';
							color:#444;
							position:relative;
							&:before{
								content:'\f0da';
								font-family: FontAwesome;
								font-size:14px;
								color:#444;
								margin-right:8px;
							}
							.rtl &{
								&:after{
									content:'\f0d9';
									font-family: FontAwesome;
									font-size:14px;
									color:#444;
									margin-left:8px;
								}
								&:before{
									content:'';
									margin:0;
								}
							}
							&:hover{
								color:@color;
								&:before{
									color:@color;
								}
								.rtl &{
									&:after{
										color:@color;
									}
								}
							}
						}
					}
				}
			}
		}
		.copyright{
			padding:30px 0 10px;
			text-align:center;
			background-color:#eee;
			a{
				color:@color;
				&:hover{
					color:darken(@color, 10%);
				}
			}
		}
	}
}
.sidebar-above-footer{
	background-color:#fff;
	.above-footer-top{
		min-height:100px;
		background: url(../assets/img/bg-above-footer.jpg) no-repeat center center;
		display:block;
	}
	.footer-block{
		border-bottom:1px solid #ddd;
		.block-item{
			float:left;
			width:20%;
			padding:40px 14px;
			text-align:center;
			border-left:1px solid #ddd;
			.rtl &{
				float:right;
				border-right:1px solid #ddd;
				border-left:0;
				&:last-child{
					border-left:1px solid #ddd;
					border-right:1px solid #ddd;
				}
			}
			&:last-child{
				border-right:1px solid #ddd;
			}
			&:hover{
				background-color:#f7f7f7;
				h3{
					color:@color;
				}
			}
			.item-bg{
				display:inline-block;
				width:63px;
				height:50px;
				margin-bottom:30px;
				&.great-value{
					background: url(@{url}/great-value.png) no-repeat center center;
				}
				&.fast-delivery{
					background: url(@{url}/fast-delivery.png) no-repeat center center;
				}
				&.custom-services{
					background: url(@{url}/payment.png) no-repeat center center;
				}
				&.safe-payment{
					background: url(@{url}/user.png) no-repeat center center;
				}
				&.help-center{
					background: url(@{url}/help-center.png) no-repeat center center;
				}
			}
			h3{
				font-size:17px;
				color:#444;
				text-transform:uppercase;
				font-family:'QuicksandBold' !important;
				margin-bottom:15px;
			}
			p{
				font-size:13px;
				font-family:'LatoRegular';
			}
		}
	}
}