.primary-menu {
	position: relative;
	ul{
		margin: 0;
		li{
			list-style: none;
			&.menu-clear{
				clear: both;
			}
		}
	}
	.navbar-inner{
		background: none;
		border: 0;
		.border-radius(0);
		.box-shadow(none);
		filter: none;
		float:left;
		.rtl &{
			float:right;
		}
		.nav{
			.header-style3 &{
				margin:32px 0;
			}
			> li {
				float: left;
				position:relative;
				z-index: 9;
				padding:0 23px;
				.header-style3 &{
					padding:0;
					margin:0 1px;
				}
				.rtl &{
					float: right;
				}
				.header-style2 &{
						 > a{
							color:#f5f5f5;
							position:relative;
							display:block;
							font-weight:bold;
						}
					}
				> a {
					text-transform: capitalize;
					background: none;
					.box-shadow(none);
					text-shadow:none;
					font-weight:bold;
					color: #222;
					font-size:16px;
					line-height:79px;
					padding: 0;
					display: block;
					.border-radius(0);
					position: relative;
					.header-fixed &{
						line-height:60px;
					}
					.header-style3 &{
						font-size:13px;
						line-height:20px;
						padding:9px 16px;
						font-family:'LatoRegular';
						color:#444;
						text-transform:uppercase;
						border-radius:3px;
						font-weight:normal;
					}
					> span{
						display: inline-block;
						z-index: 9;
						position: relative;
					}
				}
				&.active > a:after, &.active > a, &.open > a, &.open.active > a,&.hover > a{
					color:@color;
					.header-style2 &{
						color:#fff;
					}
				}
				&.active > a, &.hover > a{
					&:after{
						position:absolute;
						top:0;
						left:0;
						width:100%;
						border-top:2px solid #fff;
						content:'';
					}
					.header-style3 &{
						background-color:@color;
						color:#fff;
						&:after{
							border:0;
						}
					}
				}
				&.dropdown:hover >a:after, &:hover > a{
					color: @color;
				}
				.dropdown-menu:before, .dropdown-menu:after{
					display: none;
				}
				&.dropdown > a{
				}
			}
			&.nav-mega{
				position: relative;
                z-index: 9;
				> li{
					> .dropdown-menu.nav-level1{
						.border-radius(0);
						.box-shadow(none);
						border-top:3px solid @color;
						//.box-shadow(0px 2px 2px #ccc);
						border-width:3px 0 0 0;
						padding:0 5px !important;
						min-width: 180px;
						&.four-column{
							> li{
								min-width:187px!important;
									&.four-column{
									padding: 0 15px 20px 15px;
									 > a {
										margin-bottom:0;
									 }
								 }
							}
						}
					}
					&.ya-menu-custom{
						> .dropdown-menu{
							box-shadow:0 3px 5px rgba(0, 0, 0 ,0.5);
							.header-style3 &{
								top:70px !important;
							}
							> li{
								line-height: 30px;
								list-style: none;
								position: relative;
								border:0 !important;
								+li{						
									border-color: darken(#fff, 15%);
									border-style: solid;
									border-width: 1px 0 0;
								}
								a{
									display: block;
									color: #444;
									line-height: 20px;
									padding: 7px 10px 7px 15px;
									position: relative;	
									font-size:13px;
								}
								&.dropdown-submenu{
									> a{
										&:after{
											position:absolute;
											content:'\f105';
											font-family:FontAwesome;
											font-size:16px;
											right:10px;
											left:auto;
											.rtl &{
												content:'\f104';
												left:10px;
												right:auto;
											}
										}
									}
								}
								.dropdown-sub{
									position:absolute;
									left:104%;
									top:-1px;
									margin:0;
									.transform_origin(left, top);
									.scale(0);
									list-style: none;
									background: #fff;
									min-width: 180px;
									.transition(all 0.3s ease-out);
									border-top:3px solid @color;
									.box-shadow(0 2px 2px #ccc);
									> li{
										a:hover{
											color: @color;
											&:before{
												background-color: @color;
											}
										}
									}
									.rtl &{
										left:auto;
										right:104%;
										&:before{
											background:none;
											width:0px;
										}
										&:after{
											background-color: transparent;
											content: " ";
											height: 100%;
											right: -20px;
											position: absolute;									 
											top: 0;				
											width: 20px;
											display: block;
										}
									}
									&:before{
										background-color: transparent;
										content: " ";
										height: 100%;
										left: -20px;
										position: absolute;
										top: 0;				
										width: 20px;
										display: block;
									}
								}
								&:hover > a, &.active > a{
									color: @color;
									background: #fff;
								
									&:before {
										background: @color;
									}
								}
								&:hover > .dropdown-sub{
									display: block;	
									.scale(1);									
								}
							}
						}
					}
					&.ya-mega-menu{
						position: relative;
						> .dropdown-menu{
							padding: 0;
							margin: 0;							
							float: left;
							left: 0;
							.border-radius(0);
							list-style: none;
							z-index:99999!important;
							box-shadow:0 3px 5px rgba(0, 0, 0, 0.5);
							.header-style3 &{
								top:70px !important;
							}
							&:before{
								content: "";
								display: block;
								height: 10px;
								position: absolute;
								top: -5px;
								width: 100%;
								z-index: 9999;
								background-color:none;
							}
							&.nav-level1 > li.dropdown-submenu{
								> a{
									color:@color;
									font-size:14px;
									font-weight:bold;
									text-transform:uppercase;
									margin-bottom:15px;
								}
								&.menu-color-styles .dropdown-sub > li > a{
									span.menu-img{
										left:0;
										right:auto;
										position:absolute;
										top:-3px;
										.rtl &{
											right:0;
											left:auto;
										}
									}
									span.menu-title{
										margin-left:40px;
										.rtl &{
											margin-left:0;
											margin-right:40px;
										}
									}
								}
							}
							> li{
								min-width: 150px;
								padding: 20px 15px;
								display: inline-block;
								float: left;
								box-sizing: content-box;
								.rtl &{
									float:right;
								}
								> a, > span.have-title{
									padding: 0;
									display: block;
									font-weight:bold;
									color:#000;
									text-transform:uppercase;
									font-size:13px;
									&:hover{
										background: none;
										span.menu-img img{
											.opacity(0.8);
										}
									}
								}
								> .dropdown-sub.nav-level2{
									margin-top:5px;
									> li{
										&.active > a{
											color:@color;
										}
										> a{
											display: block;
											padding: 10px 0;	
											font-size:13px;
											color:#444;
											text-transform:capitalize;
											border-top:1px solid #ebebeb;
											&:hover{
												color: @color;
												&:before{
													background-color:@color;
												}
											}
											> span.have-title{
												position:relative;
												> .menu-img{
													position:absolute;
													right:-40px;
													left:auto;
													.rtl &{
														right:auto;
														left:-40px;
													}
												}
											}
										}
										&:last-child{ 
										   > a {
												
											 }
										}
									}	
								}
								
								&.col-1{
									min-width: 150px;
								}
								&.col-2{
									min-width: 300px;
								}
								&.col-3{
									min-width: 450px;
								}
								&.col-4{
									min-width: 600px;
								}
								&.col-5{
									min-width: 750px;
								}
								&.col-6{
									min-width: 900px;
								}
							}
							&.two-column{
							      min-width: 385px;
								> li:nth-child(2n+1){
									clear: both;
								}
							}
							&.three-column{
							    min-width:553px;
								> li:nth-child(3n){
								   border-right:none;
								}
								> li:nth-child(3n+1){
									clear: both;
								}
							}
							&.four-column{
								min-width:880px;
								> li:nth-child(4n+1){
									clear: both;
								}
							}
							&.five-column{
								> li:nth-child(5n+1){
									clear: both;
								}
							}
							&.six-column{
								min-width:1038px;
								> li.six-column{
									padding: 30px 15px 20px;
								}
								> li:nth-child(6n+1){
									clear: both;
								}
							}
						}
					}
					&.ya-menu-img{						
						> a{
							display: block;
							position: relative;
							span.menu-img{
								img{
									max-width:none;
								}
								position: absolute;
								top: -25%;
								left: 35px;
								z-index:10;
								.header-style2 &{
									top: -23px;
								}
							}
						}					
					}
				}
			}
			&.nav-css{
				> li{
					.dropdown-menu{
						box-shadow:0 3px 5px rgba(0, 0, 0 ,0.5);
						.border-radius(0);
						.box-shadow(none);
						border-top:3px solid @color;
						.box-shadow(0px 2px 2px #ccc);
						padding:10px 0;
						min-width: 222px;
						border-width:3px 0 0 0;
						.dropdown-menu{
							border-top:3px solid @color;
						}
					}
					ul{
						> li{
							line-height: 30px;
							list-style: none;
							position: relative;						
							a{
								display: block;
								color: #666;
								line-height: 19px;
								margin: 0 10px;
								padding: 8px 11px;
								position: relative;
								font-size:13px;
								&:hover{
									&:before{ background-color:@color;}
								}
							}
							&.dropdown-submenu{
								> a{
									&:after{
										position:absolute;
										content:'\f105';
										font-family:FontAwesome;
										font-size:16px;
										right:10px;
										left:auto;
										.rtl &{
											content:'\f104';
											left:10px;
											right:auto;
										}
									}
								}
							}
							.dropdown-menu{
								position:absolute;
								left:100%;
								top:-1px;
								margin:0;
								.rtl &{
									left:auto;
									right:100%;
								}
							}
							&:hover > a, &.active > a{
								color: @color;
								background: #fff;
								&:before {
									color:@color;
								}
							}
							&:hover > .dropdown-menu{
								display: block;	
							}
						}
					}
					//End sub menu					
				}				
				>li:hover > .dropdown-menu{
					display: block;		
				}
				> li.open > .dropdown-menu{
					display: block;
				}
				span.menu-img{
					display:none;
				}
			}
		}
	}
}
/**
	Vertical Mega Menu
**/
.verticle-menu-index3{
	margin-top:-53px;
	margin-bottom:10px !important;
}
.mega-left-title{
	font-size:16px;
	color:#fff;
	line-height:28px;
	padding:11px 20px;
	text-transform:uppercase;
	background-color:@color;
	.verticle-menu-index3 &{
		background-color:#ff9000;
		line-height:30px;
		color:#fff;
		font-family:'QuicksandBold';
		font-size:17px;
		border-top-right-radius:3px;
		border-top-left-radius:3px;
		position:relative;
		&:before{
			content:'\f0c9';
			font-family:'FontAwesome';
			font-size:20px;
			color:#fff;
			margin-right:10px;
		}
		.rtl &{
			&:after{
				content:'\f0c9';
				font-family:'FontAwesome';
				font-size:20px;
				color:#fff;
				margin-left:10px;
			}
			&:before{
				content:'';
				margin:0;
			}
		}
	}
}
.vertical_megamenu{
	margin:0 !important;
	border:0 !important;
	background-color:#fff;
	.nav.vertical-megamenu{
		margin:0;
		.verticle-menu-index3 &{
			border:1px solid #ddd;
			border-top:0;
		}
		> li{
			padding:0 20px;
			margin:0;
			display: block;
			float: none;
			line-height: normal;
			position:relative;
			border-bottom:1px solid #ededed;
			.verticle-menu-index3 &{
				border:0;
				&:hover{
					background-color:@color;
					&:after{
						content:'';
						height:0;
						width:0;
						position:absolute;
						top:0;
						right:-11px;
						display:inline-block;
						border-top:19px solid transparent;
						border-bottom:19px solid transparent;
						border-left: 11px solid @color;
						z-index:100;
						.rtl &{
							left:-11px;
							right:auto;
							border-right:11px solid @color;
							border-left:0;
						}
					}
					> a{
						background-color:@color;
						color:#fff;
						&:after{
							color:#fff;
						}
					}
				}
			}
			&:last-child{
				border-bottom:0;
				> a{
					.verticle-menu-index3 &{
						padding:11px 15px 10px;
					}
				}
			}
			&.menu-sleeper-sofas{
				> a .menu-img{
					top:15px;
				}
			}
			&.menu-phones-digitals{
				> a  .menu-img{
					left:4px;
					.rtl &{
						right:4px;
					}
				}
			}
			&.menu-automotive-motorcycles{
				> a  .menu-img{
					left:-2px;
					.rtl &{
						right:-2px;
					}
				}
			}
			&.menu-flashlights-lamps{
				> a .menu-img{
					left:3px;
					top:5px;
					.rtl &{
						right:3px;
					}
				}
			}
			> a{
				display: block;	
				padding: 13px 15px;
				position: relative;
				line-height:16px;
				color: #444;
				.verticle-menu-index3 &{
					padding:11px 15px;
				}
				.menu-title{
					padding-left:20px;
					.rtl &{
						padding-right:20px;
						padding-left:0;
					}
				}
				.menu-img{
					display: inline-block;
					position: absolute;
					margin:0;
					left:0;
					top:10px;
					.rtl &{
						right:0;
						left:auto;
					}
				}
				&:hover, &:focus{
					background-color:#fff;
					color:@color;
				}
			}
			&.active > a, &.open > a{
				background: none;
				color: #a8a8a8;
			}
			&.dropdown{
				> a:after{
						content: "\f105";
						font-family: FontAwesome;
						position: absolute;
						right: 15px;
						top: 13px;
						font-size: 16px;
						color:#999;
						.verticle-menu-index3 &{
							content:'\f0da';
							right:0;
							.rtl &{
								content:'\f0d9';
								left:0;
								right:auto;
							}
						}
						.rtl &{
						left:15px;
						right:auto;
						content:'\f104';
					}
				}
			}
			> .dropdown-menu{
				display: block;
				.transform_origin(left, top);
				.scale(0);
				left: 101%;
				top: 0;
				margin-top: 0;
				.border-radius(0);
				opacity: 0;
				.transition(all 0.3s ease-out);
				.verticle-menu-index3 &{
					left:104%;
					border:0;
					.rtl &{
						right:104%;
						left:auto;
					}
				}
				.rtl &{
					right:100%;
				}
				.dropdown-submenu{
					min-width: 150px;
					padding: 20px;
				}
			}
			&.open, &:hover{
				> .dropdown-menu{
					.scale(1);
					opacity: 1;
				}
			}
			&.ya-menu-custom{
				> .dropdown-menu{
					> li{
						line-height: 30px;
						list-style: none;
						position: relative;
						padding: 0;
						min-width:200px;
						+li{						
							border-color: darken(#fff, 15%);
							border-style: solid;
							border-width: 1px 0 0;
						}
						a{
							display: block;
							color: @body-color;
							line-height: 25px;
							padding: 7px 10px 7px 15px;
							position: relative;		
							.verticle-menu-index3 &{
								font-size:13px;
							}
						}
						&.dropdown-submenu:hover{
							> a:after{
								content: "\f0da";
								font-family: FontAwesome;
								position: absolute;
								left: 100%;
								top: 50%;
								font-size: 16px;
								height: 20px;
								margin-top: -10px;
								color: #fff;
							}
						}
						.dropdown-sub{
							position:absolute;
							left:104%;
							top:-1px;
							margin:0;
							.transform_origin(left, top);
							.scale(0);
							list-style: none;
							background: #fff;
							min-width: 180px;
							.transition(all 0.3s ease-out);
							border-bottom: 1px solid @color;
							> li{
								+li{						
									border-color: darken(#fff, 15%);
									border-style: solid;
									border-width: 1px 0 0;
								}
								a:hover{
									color: @color;
									&:before{
										background-color: @color;
									}
								}
							}
							.rtl &{
							}
						}
						&:hover > a, &.active > a{
							color: @color;
							background: #fff;
						
							&:before {
								background: @color;
							}
						}
						&:hover > .dropdown-sub{
							display: block;	
							.scale(1);									
						}
					}
				}
			}
			&.ya-mega-menu{
					&.mennu-item1{
						> .dropdown-menu{
							min-width:770px;
						}
					}
				> .dropdown-menu{
					padding:20px 30px;
					//box-shadow:none;
					border-top: 3px solid  @color;
					border-left:0;
					border-right:0;
					.rtl &{
						border-width:2px 1px 2px 2px;
					}
				    &.four-column{
					    li > a{
							padding:0 0 30px;
							color:@color;
							> span.have-title{
								position:relative;
								&:after{
									position:absolute;
									width:100%;
									height:2px;
									background-color:@color;
									content:'';
									bottom:-12px;
									left:0;
								}
							}
						}
					}
					> .dropdown-submenu{
					     &.two-column{
						    width:33.333333%;
							max-width: 102px;
							min-width:0;
							padding: 25px 0px 10px 25px;
							margin-right: 7px;
							background-color: #eeeeee;
						 
						 }
						min-width: 150px;
						float: left;
						> a, > span.have-title{
						    padding:0;
							margin-bottom: 8px;
							display: block;
							font-weight: bold;
							text-transform:uppercase;
							font-size:13px;
							color:#333;
							&:hover{
								background-color:#fff;
							}
						}
						.dropdown-sub{
							margin:0;
							> li{
								> a{
									padding: 8px 0px;
									line-height: 29px;
									font-weight:400;
									font-size:13px;
									color:#666;
									&:hover {
									   color:@color !important;
									   background:none !important;
									   &:before{
										background-color:@color;
									   }
									}
								}
							}
						}						
						&.three-column{
						    padding: 0px 5px 0px 25px;
							border-right: 1px solid #ddd;
							width: 29%;
						}
					}
					> li > a:hover, > li > a:focus{
						background-color:#fff;
					} 
				}
				.one-column{
					min-width: 160px;
				}
				ul.two-column{
					min-width: 780px;
					padding:20px 15px;
					> li{
						width:100%;
						.the_blog ul{
							margin:0;
							> li{
								width:33.33%;
								float:left;
								padding:0 15px;
								.widget-thumb{
									margin-bottom:10px;
									position:relative;
									z-index:1;
									a{
										&:before{
											position:absolute;
											top:50%;
											left:50%;
											margin-top:-9%;
											margin-left:-9%;
											color:#fff;
											line-height:38px;
											z-index:3;
											.opacity(0);
											.scale(0);
											.transition(0.3s);
											content:'\f0c1';
											display:block;
											height:40px;
											width:40px;
											.border-radius(50%);
											border:2px solid #fff;
											text-align:center;
											font-family:FontAwesome;
										}
										&:after{
											position:absolute;
											content:'';
											z-index:2;
											top:0;
											right:0;
											left:0;
											bottom:0;
											width:100%;
											height:100%;
											background:rgba(0, 0, 0, 0.2);
											.opacity(0);
											.scale(0);
											width:100%;
											height:100%;
											.transition(0.2s);
										}
									}
									&:hover a{
										&:before{
											.opacity(1);
											.scale(1);
										}
										&:after{
											.opacity(1);
											.scale(1);
										}
									}
								}
								.widget-caption{
									h4 a{
										font-size:14px;
										font-weight:bold;
										color:#444;
										&:hover{
											color:@color;
										}
									}
								}
							}
						}
					}
					> li:nth-child(2n+1){
						min-width: 750px;
						clear: both;
					}
				}
				ul.three-column{
					padding:5px 5px 15px 5px;
					min-width:730px;
					> li{
						float:left;
						min-width:234px !important;
						.rtl &{
							min-width:234px !important;
						}
						.rtl &{
							float:right;
						}
						&.menu-recent-product{
							width:230px;
						}
						.woocommerce{
							width:230px;
							.products-loop{
								> li{
									width:100%;
									.products-entry{
										margin:25px 0;
										border:1px solid #ebebeb;
										.products-thumb{
											.woocommerce{
												min-width:auto;
											}
										}
										.products-content{
											padding-bottom:15px;
											text-align:center;
											h4 a{
												font-size:14px;
												font-weight:bold;
												color:#444;
												&:hover{
													color:@color;
												}
											}
											.item-desc{
												display:none;
											}
											.item-cart{
												display:none;
											}
										}
									}
								}
							}
						}
					}
					> li:nth-child(3n+1){
						clear: both;
					}
				}
				ul.four-column{
					width:780px;
					> li{
						float:left;
						.rtl &{
							float:right;
						}
						> a{
							color:#333;
							font-size:13px;
							font-weight:bold;
							text-transform:uppercase;
							padding:15px 20px;
							&:hover{
								background-color:#fff;
							}
						}
						.woocommerce{
							max-width:270px;
							margin-right:30px;
							border:1px solid #ededed;
							.rtl &{
								margin-left:30px;
								margin-right:0;
							}
							> ul.products-loop{
								margin:0;
								li{
									width:100%;
									.products-thumb .product-thumb-button .woocommerce{
										margin:0;
										border:0;
									}
									.products-content{
										text-align:center;
										margin-bottom:50px;
										h4 a{
											font-size:14px;
											color:#444;
											font-weight:bold;
											&:hover{
												color:@color;
											}
										}
										.item-desc{
											display:none;
										}
										.item-cart{
											display:none;
										}
									}
								}
							}
						}
						&.col-3 {
							max-width:420px;
						}
						> .recent_post{
							.title-post{
								display:none;
							}
							ul{
								margin:0;
								> li.widget-post{
									margin-bottom:25px;
									float:left;
									width:100%;
									.widget-thumb{
										float:left;
										margin-right:20px;
										.rtl &{
											float:right;
											margin-left:20px;
											margin-right:0;
										}
										&:hover{
											a img{
												.opacity(0.8);
											}
										}
									}
									.widget-caption{
										h4 a{
											color:#444;
											font-size:14px;
											font-weight:bold;
											&:hover{
												color:@color;
											}
										}
										.entry-meta{
											font-size:12px;
											color:#999;
											.rtl &{
												direction:rtl;
												text-align:right;
											}
											.entry-time{
												margin-right:20px;
												display:inline-block;
												i{
													font-size:14px;
													margin:0 5px 0 0;
												}
												.rtl &{
													margin-left:20px;
													i{
														margin:0 0 0 5px;
													}
												}
											}
											.category-blog{
												cursor:pointer;
												&:hover{
													color:@color;
												}
												i{
													margin:0 10px 0 0;
													.rtl &{
														margin:0 0 0 10px;
													}
												}
											}
										}
									}
									&:last-child{
										margin-bottom:0;
									}
								}
							}
						}
					}
					> li:nth-child(4n+1){
						clear: both;
					}
				}
				.five-column{
					min-width: 640px;
					> li:nth-child(5n+1){
						clear: both;
					}
				}
				.six-column{
					min-width: 960px;
					> li:nth-child(6n+1){
						clear: both;
					}
				}
			}
		}
	}
}