
.breadcrumbs{
	padding:15px 0;
	background-color:#f5f5f5;
	position:relative;
	&:before{
		position:absolute;
		top:0;
		width:100%;
		content:'';
		background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%) repeat scroll 0 0;
		height:15px;
	}
	ul.breadcrumb{
		margin:0;
		padding:0;
		> li {
			> a{
				font-size:12px;
				color:#444;
			}
			&.active{
				span{
					font-size:12px;
					color:@color;
				}
			}
			+ li:before{
					content:'\f105';
					font-family:FontAwesome;
					font-size:12px;
					color:#444;
					padding: 0 10px;
					.rtl &{
						content:'\f104';
					}
			}
			&:first-child:before{
				.rtl &{
					content:'\f104';
					font-family:FontAwesome;
					font-size:12px;
					color:#444;
					padding: 0 10px;
				}
			}
			&:last-child:before{
				.rtl &{
					content:'';
					padding:0;
				}
			}
		}
	}
}
/*home*/
.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .wpb_button{
	margin-bottom:30px;
}
/*Revoslider home index1*/
.page-template-page-home  .wpb_revslider_element, .page-template-page-home2 .wpb_revslider_element{
	.tp-bullets .tp-bullet{
			margin-left:10px;
			width:13px;
			height:13px;
			border:0;
			background: url('../assets/img/rev-dot.png') no-repeat center center;
			&.selected{
				background: url('../assets/img/rev-dot-active.png') no-repeat center center;
			}
			&:hover{
				background: url('../assets/img/rev-dot-active.png') no-repeat center center;
		}
	}
	.tp-leftarrow{
		&.hades{
			width:30px;
			height:80px;
			background:none repeat scroll 0 0 rgba(0, 0, 0, 0.2) !important;;
			text-align:center;
			left:-20px !important;
			border-radius:0;
			&:hover{
				background:none repeat scroll 0 0 @color !important;
				&:before{
					background:transparent none repeat scroll 0 0;
				}
			}
			&:before{
				display:inline-block;
				content:'\f104';
				font-family:FontAwesome;
				font-size:24px;
				color:#fff;
				line-height:80px;
				}
			.tp-arr-allwrapper{
				height:80px;
			}
		}
	}
	.tp-rightarrow{
		&.hades{
		width:30px;
		height:80px;
		background:none repeat scroll 0 0 rgba(0, 0, 0, 0.2) !important;
		text-align:center;
		border-radius:0;
		right:-50px !important;
		left:auto !important;
		&:hover{
			background:none repeat scroll 0 0 @color !important;
			&:before{
				background:transparent none repeat scroll 0 0;
			}
		}
		&:before{
			display:inline-block;
			content:'\f105';
			font-family:FontAwesome;
			font-size:24px;
			color:#fff;
			line-height:80px;
			}
			.tp-arr-allwrapper{
				height:80px;
			}
		}
	}
}
/*===============================================Content Blog Category==============================================*/

blockquote{
	border:0;
	padding:10px 0 0 30px;
	background: url('../assets/img/icon-quote.png') no-repeat top 10px left;
	p{
		font-style:italic;
		font-size:15px;
	}
}
.gallery-slider{
	.carousel-control{
		height:25px !important;
		width:25px !important;
		border-radius:3px;
		background:#ccc;
		text-align:center;
		text-indent:-9999px;
		.opacity(0);
		.transition(0.3s);
		margin:-5% 10px 0;
		&:hover{
			background:@color none repeat scroll 0 0;
		}
		&.left{
			transform: translate3d(30px, 0, 0);
			&:before{
				content:'\f104';
			}
		}
		&.right{
			transform: translate3d(-30px, 0, 0);
			&:before{
			content:'\f105';
			left:10px;
			}
		}
		&:before{
			text-indent:0;
			position:absolute;
			top:1px;
			left:9px;
			font-family:FontAwesome;
			font-size:16px;
			color:#fff;
			text-shadow:none;
		}
	}
	&:hover{
		.carousel-control.left{
			.opacity(1);
			transform: translate3d(0, 0, 0);
		}
		.carousel-control.right{
			.opacity(1);
			transform: translate3d(0, 0, 0);
		}
	}
}
.pagination{
	background-color:#fff;
	display:block;
	margin-bottom:40px;
	margin-top:0;
	padding:13px 10px;
	overflow:hidden;
	height:50px;
	border-radius:0;
	.count-item-perpage{
		color:#666;
		line-height:24px;
		font-size:12px;
	}
	ul{
		margin:0;
		float:right;
		.rtl &{
			float:left;
			> li{
				float:right;
			}
		}
		li{
			float:left;
			background:#fff;
			color:#000;
			display:inline-block;
			list-style:none;
			margin:0 2px;
			position:relative;
			text-align:center;
			padding:0;
			.rtl &{
				float:right;
			}
			a{
				padding:0;
				width:25px;
				height:25px;
				display:inline-block;
				line-height:23px;
				border:1px solid #ededed;
				font-size:12px;
				color:#666;
			}
			&:hover{
				background:none repeat scroll @color;
				a{
					border:1px solid @color;
					color:#fff;
				}
				&:before{
					color:#fff;
				}
			}
			&.disabled{
				background:none repeat scroll @color;
				a{
					border:1px solid @color;
					color:#fff;
				}
				&.prev{
					display:none;
				}
				&.next{
					display:none;
				}
			}
			&.next a{
				text-indent:-9999px;
				&:before{
					position:absolute;
					top:1px;
					left:10px;
					content:'\f105';
					font-size:14px;
					text-indent:0;
					z-index:3;
					font-family:FontAwesome;
					color:#666;
					.rtl &{
						content:'\f104';
					}
				}
				&:hover{
					&:before{color:#fff;}
				}
			}
			&.prev a{
				text-indent:-9999px;
				&:before{
					text-indent:0;
					position:absolute;
					top:1px;
					left:10px;
					content:'\f104';
					font-size:14px;
					z-index:3;
					font-family:FontAwesome;
					color:#666;
					.rtl &{
						content:'\f105';
					}
				}
				&:hover{
					&:before{color:#fff;}
				}
			}
		}
	}
}
nav ul.pager{
	display:none;
}
.aboutv1-testimo .vc_separator h4, .page-title, .page-title h2, .about-v2 .page-title h2{
	font-size:18px;
	color:#444;
	font-weight:bold;
	margin-bottom:15px;
	text-transform:uppercase;
}
.aboutv1-testimo .testimonial-slider .carousel-inner .item .item-inner .client-say-info .name-client{
	padding-top:2px;
}
/*about us page ver 1*/
.faq{
	.wpb_content_element{
		margin-bottom:0px;
	}
	.block-title{
		position:relative;
		width:100%;
		display:table;
		h2{
			float:left;
			padding-right:20px;
			background:#fff none repeat scroll 0 0;
			color:#444;
			font-weight:bold;
			text-transform:uppercase;
			font-size:18px;
			margin-bottom:11px;
			position:relative;
			z-index:5;	
			.rtl &{
				float:right;
				padding-left:20px;
				padding-right:0;
			}
		}
		&:before{
			display:inline-block;
			content:'';
			left:0;
			top:7px;
			position:absolute;
			border-top:1px dashed #dddddd;
			width:100%;
			z-index:3;
		}
		&:after{
			display:inline-block;
			content:'';
			left:0;
			top:10px;
			position:absolute;
			border-top:1px dashed #dddddd;
			width:100%;
			z-index:3;
		}
	}
	.vc_tta-panels .vc_tta-panel{
		.vc_tta-panel-heading{
				margin:0 !important;
				border:0;
			.vc_tta-panel-title {
				border-bottom:1px solid #ddd !important;
				 .vc_tta-controls-icon{
				  display:none;   
				}
				a{
					text-align:left;
					padding:10px 23px;
					font-size:14px;
					color:#444;
				    background: url("../assets/img/icon-faq.jpg") no-repeat left center #fff; 
					background-color:#fff;
					.rtl &{
						text-align:right;
						 background: url("../assets/img/icon-faq.jpg") no-repeat right center #fff; 
					}
				}
			}
		}
		.vc_tta-panel-body{
			border:0;
			background:#fff;
		}
	    &.vc_active{
			.vc_tta-panel-heading a{
				color:@color;
			}
		}
	}
}
.about-v1{
	img{
		margin-left:10px;;
		.rtl &{
			margin-right:0px;
			margin-left:10px;
		}
	}
	.block-title{
		position:relative;
		width:100%;
		display:table;
		h2{
			float:left;
			padding-right:20px;
			background:#fff none repeat scroll 0 0;
			color:#444;
			font-weight:bold;
			text-transform:uppercase;
			font-size:18px;
			margin-bottom:11px;
			position:relative;
			z-index:5;	
			.rtl &{
				float:right;
				padding-left:20px;
				padding-right:0;
			}
		}
		&:before{
			display:inline-block;
			content:'';
			left:0;
			top:7px;
			position:absolute;
			border-top:1px dashed #dddddd;
			width:100%;
			z-index:3;
		}
		&:after{
			display:inline-block;
			content:'';
			left:0;
			top:10px;
			position:absolute;
			border-top:1px dashed #dddddd;
			width:100%;
			z-index:3;
		}
	}
	.wpb_text_column {
	   .wpb_wrapper {
	      color:#666;
	   }
	}
}
.aboutv1-ourteam, .aboutv1-testimo{
	.page-title{
		position:relative;
		width:100%;
		display:table;
		text-align:center;
		h2{
			display:inline-block;
			padding:0 20px;
			background:#fff none repeat scroll 0 0;
			color:#444;
			font-weight:bold;
			text-transform:uppercase;
			font-size:18px;
			margin-bottom:11px;
			position:relative;
			z-index:5;	
		}
		&:before{
			display:inline-block;
			content:'';
			left:0;
			top:11px;
			position:absolute;
			border-top:1px dashed #dddddd;
			width:100%;
			z-index:3;
		}
		&:after{
			display:inline-block;
			content:'';
			left:0;
			top:14px;
			position:absolute;
			border-top:1px dashed #dddddd;
			width:100%;
			z-index:3;
		}
	}
}
.aboutv1-testimo{
	.wpb_content_element{
		margin-bottom:14px;
	}
	.testimonial-slider {
		.images-indicators{
			margin-bottom:25px;
			padding:0 !important;
			.img-indicator{
				&.active a{
					border:3px solid @color;
					img{
						width:58px;
						height:58px;
					}
					&:after{
						background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
					}
					&:before{
						position:absolute;
						content:'';
						z-index:3;
						bottom:-8px;
						top:auto !important;
						left:50%;
						margin-left:-6%;;
						width: 0; 
						height: 0; 
						border-left: 5px solid transparent;
						border-right: 7px solid transparent;
						border-top: 6px solid @color;
						border-bottom:0 !important;
					}
				}
				&:hover a{
					border:3px solid @color;
				}
			}
		}
	   .carousel-indicators {
	         bottom: 6px;
			 margin-bottom:20px;
			 li{
				margin: 0 6px;
				background:none repeat scroll 0 0 #fff;
				width:9px;
				height:9px;
				border:2px solid #666;
				.transition(0.3s);
				&.active{
					border:2px solid @color;
					height:12px;
					width:12px;
				}
				&:hover{
					background:none;
					border:2px solid @color;
					height:12px;
					width:12px;
				}
			 }
	   }
	   // .carousel-inner {
	      // margin:-20px 0 0 0;
		  // text-align:center;
		  // padding: 0 115px;
			// .item {
				// padding-bottom:25px
			// }
		  // .client-comment {
		     // margin-bottom: 10px;
			 // font-style: italic !important;
			 // &:before{
				// content:'\f10d';
				// font-family:FontAwesome;
				// font-size:12px;
				// color:#666;
				// margin:0 10px;
			 // }
		  // }
		  // .client-say-info .name-client {
		     // margin-left:0;
			 // padding-top:0;
			 // h2 a{
			       // color: #333;
				   // font-size:14px;
			 // }
		  // }
	   // }
	   .rtl &{
		 .carousel-indicators{
			right:50%;
			margin-right:-30%;
		 }
	   }
	}
}
.aboutv1-ourteam {
   text-align:center;
   margin-bottom:15px;
   .slick-initialized .slick-slide {
		&:hover {
		  border:0;
		}
		img{
		   margin-bottom:15px;
		   .transition(0.3s);
		}
		&.item{ 
			padding: 0 15px;
			font-size:13px;
			margin:0;
			}
		.item-img .item-img-info img:hover{ .opacity(0.8);}
		.item-content {
		   h3 {
		      font-size:14px;
			  font-weight:700;
			  color:#333;
			  &:hover{
			    color:@color;
				cursor: pointer;
			  }
		   }
		   .team-info {
                font-style: italic;
				margin-bottom:10px;
		   }
		   .item-desc {
		     margin-bottom:15px;
		   }
		}
		.item-social {
		   .team-linkedin,.team-facebook,.team-twitter,.team-gplus {
		      display:inline-block;
			  border-radius: 50%;
			  width: 30px;
			  height: 30px;
			  line-height: 30px;
			  margin-right:5px;
			  .fa:before {
			    font-size:14px;
				color:#fff;
				.transition(all 0.3s ease-out 0s);
			  } 
			  &:hover{
				.fa:before{ font-size:16px;}
			  }
		   }
		   .team-linkedin {
		      background:#f8bc2e;
		   }
		   .team-facebook {
		     background:#39599f;
		   }
		   .team-twitter {
		     background:#45b0e3;
		   }
		   .team-gplus {
		     background:#1872bf;
		   }
		}
   }
   .res-button {
         width: 35px;
         height: 35px;
		 margin-top:-1%;
		 border-radius:3px;
		 border: 2px solid #fff;
		 transform: scale(1);
         -webkit-transform: scale(1);
		 background:none repeat scroll 0 0 transparent;
		 .box-shadow(none);
		 &.slick-prev {
		     left: 10px !important;
			 right:auto;
			 &:before{
				content:'\f104';
				font-family:FontAwesome;
				font-size:20px;
				color:#fff;
				text-align:center;
				line-height:30px;
			 }
		 }
		 &.slick-next {
		      right: 10px !important;
			  left:auto;
			  &:before{
				content:'\f105';
				font-family:FontAwesome;
				font-size:20px;
				color:#fff;
				text-align:center;
				line-height:30px;
			 }
		 }
		 &:hover {
			 border: 2px solid @color;
			 &:before{
				color:@color;
			 }
		 }
   }
}
img.ajax-loader{
	position:absolute;
	left:130px;
	bottom:30px;
	.rtl &{
		left:auto;
		right:130px;
	}
}
/*images effect*/
.wpb_single_image a img:hover, .banner-sidebar a img:hover, .sidebar-top-cat a img:hover, .sidebar a img:hover, .sidebar-top-blogcat a img:hover{
	.opacity(0.9);
}

.wpb_single_image a img, .banner-sidebar a img, .sidebar-top-cat a img, .sidebar-top-blogcat a img{
	//display:block;
	 width:100%;
	.transition(all 0.2s linear 0s);
}
/*banner home1*/
.col-block-image{
	float:left;
	a:hover img{
		.opacity(0.8);
	}
	&.col-image-1 .first-image{
		margin-bottom:15px;
		display:block;
	}
	&.col-image-2{
		margin:0 15px;
	}
 }
 /*faqs*/
 .faqs{
	margin-bottom:40px;
 }
 /*Contact Home*/
 .contact-v1{
	margin-bottom:40px;
 }
 .contact-home, .contact-v1{
	padding:25px 0 30px;
	text-align:center;
	h2.contact-title{
		font-weight:bold;
		font-size:20px;
		color:#444;
		text-transform:uppercase;
		margin-bottom:15px;
	}
	.contact-right{
		.wpcf7 .wpcf7-form {
			float:left;
			width:100%;
			p{
				display:block;
				clear:both;
				margin:0;
			}
			span.wpcf7-form-control-wrap{
				display:block;
			}
			.wpcf7-not-valid-tip{
				position:absolute;
				top:12px;
				left:150px;
				right:auto;
				.rtl &{
					right:150px;
					left:auto;
				}
			}
			div.wpcf7-response-output{
				margin: 55px 0 0;
			}
			img.ajax-loader{
					margin-left:25px;
					.rtl &{
						margin-right:25px;
						margin-left:0;
					}
			}
			input[type="text"], input[type="email"]{
				background-color:#fff;
				border:1px solid #ebebeb;
				float:left;
				width:100%;
				height:40px;
				border-radius:2px;
				margin-bottom:20px;
				padding:0 10px;
				color:#999;
			}
			 textarea{
				background-color:#fff;
				border:1px solid #ebebeb;
				float:left;
				padding:10px;
				width:100%;
				height:80px;
				color:#999;
				margin-bottom:20px;
			}
			.wpcf7-submit{
				float:left;
				border:0;
				padding:10px 27px 10px 18px;
				color:#fff;
				font-size:14px;
				font-weight:bold;
				text-transform:uppercase;
				border-radius:2px;
				background-color:@color;
				margin:0;
				.rtl &{
					float:right;
				}
				&:hover{
					background-color:darken(@color, 10%);
				}
			}
		}
	}
 }
 .contact-left{
	ul{
		margin:0;
		> li{
			list-style:none;
			float:left;
			width:100%;
			margin-bottom:30px;
			.rtl &{
				float:right;
			}
			&:hover span.ct{
				background-color:@color;
			}
			span.ct{
				margin:0;
				float:left;
				width:50px;
				height:50px;
				display:inline-block;
				line-height:50px;
				.border-radius(50%);
				background-color:#999;
				color:#fff;
				font-size:20px;
				text-align:center;
				.rtl &{
					float:right;
				}
			}
			.blog-right{
				float:left;
				margin-left:20px;
				.rtl &{
					float:right;
					margin-right:20px;
					margin-left:0;
				}
				span.label{
					padding:0;
					margin-bottom:15px;
					font-size:14px;
					font-weight:bold;
					color:#444;
					display:flex;
				}
			}
		}
	}
 }
 .contact-left-home{
	text-align:left;
	.rtl &{
		text-align:right;
	}
	h4{
		font-size:14px;
		color:#444;
		text-transform:uppercase;
		font-weight:bold;
		margin:0;
	}
	p{
		clear:both;
	}
	ul.social-home{
		margin:-7px 0 5px 0;
		list-style:none;
		display:inline-block;
		> li{
			float:left;
			.rtl &{
				float:right;
			}
			a span{
				font-size:20px;
				color:#999;
				margin-right:20px;
				margin-left:0;
				display:inline-block;
				&:hover{
					color:@color;
				}
				.rtl &{
					margin-left:20px;
					margin-right:0;
				}
			}
		}
	}
	ul.contact{
		margin:0;
		list-style:none;
		> li{
			display:block;
			line-height:45px;
			position:relative;
			.rtl &{
				direction:ltr;
			}
			span.label{
				font-size:13px;
				font-weight:bold;
				color:#444;
				float:left;
				padding:16px 20px 0 35px;
				.rtl &{
					float:right;
					padding:16px 35px 0 20px;
				}
			}
			&.address{
				&:before{
					display:inline-block;
					content:'\f041';
					font-family:FontAwesome;
					color:@color;
					font-size:26px;
					position:absolute;
					left:0px;
					top:0;
					.rtl &{
						right:0px;
						left:auto;
					}
				}
			}
			&.phone{
				&:before{
					display:inline-block;
					content:'\f095';
					font-family:FontAwesome;
					color:@color;
					font-size:26px;
					position:absolute;
					left:0;
					top:0;
					.rtl &{
						right:0;
						left:auto;
					}
				}
			}
			&.email{
				background: url(@{url}/icon-email.png) no-repeat left center;
				.rtl &{
					padding-left:0;
					background: url(@{url}/icon-email.png) no-repeat right center;
				}
			}
		}
	}
 }
.page-template-page-home .breadcrumbs, .page-template-page-home h2.entry-title, .page-template-page-home2 .breadcrumbs, .page-template-page-home2 h2.entry-title, 
.page-template-page-home3 .breadcrumbs, .page-template-page-home3 h2.entry-title{
	display:none;
}
/*mailchimp style subscribe*/
.home-left .mc4wp-form{
	float:left;
	width:100%;
	overflow:hidden;
	margin-bottom:30px;
	margin-top:0;
	border:1px dashed @color;
	h2{
		font-size:16px;
		color:#444;
		line-height:30px;
		padding:10px 20px 8px;
		background-color:#fff;
		font-weight:bold;
		text-transform:uppercase;
		margin:0;
		.rtl &{
			text-align:right;
		}
	}
	.form-newsletter{
		padding:0 20px 18px;
		background-color:#fff;
		overflow:hidden;
		p{
			margin-bottom:20px;
		}
		.rtl &{
			text-align:right;
		}
		input[type="email"]{
			float:left;
			width:78%;
			height:35px;
			border:0;
			background:#fff;
			border:1px solid #ededed;
			color:#999;
			border-top-right-radius:0;
			border-bottom-right-radius:0;
			font-size:11px;
			padding:0 10px;
			.rtl &{
				float:right;
				border-top-left-radius:0;
				border-bottom-left-radius:0;
				border-top-right-radius:3px;
				border-bottom-right-radius:3px;
			}
		}
		input[type="submit"]{
			float:left;
			height:35px;
			background: url("../assets/img/icon-newletter.png") no-repeat center center @color;
			color:#fff;
			border-top-left-radius:0;
			border-bottom-left-radius:0;
			padding:7px 10px;
			border:0;
			width:50px;
			text-indent:-9999px;
			&:hover{
				background: url("../assets/img/icon-newletter.png") no-repeat center center darken(@color, 10%);
			}
			.rtl &{
				float:right;
				border-top-right-radius:0;
				border-bottom-right-radius:0;
				border-top-left-radius:3px;
				border-bottom-left-radius:3px;
			}
		}
	}
}
/*=========================== Blog ============================*/
.category-header{
	h1.entry-title{
		font-size:18px;
		color:#444;
		font-weight:bold;
		text-transform:uppercase;
		margin-bottom:20px;
	}
}
.grid-blog .hentry{
	&.format-standard{
		margin-bottom:20px;
		 .entry{
			background:#f5f5f5;
			.entry-thumb{
				a.entry-hover{
					display: block;
					max-width: 100%;
					position: relative;
					width: auto;
					z-index: 1;
					&:before{
						border-radius: 50%;
						border:1px solid #fff;
						color: #fff;
						content: "\f002";
						font-family: FontAwesome;
						font-size: 16px;
						height: 40px;
						left: 50%;
						line-height: 38px;
						margin-left: -5%;
						margin-top: -5%;
						opacity:0;
						position: absolute;
						text-align: center;
						top: 50%;
						.scale(0);
						.transition(0.2s);
						width: 40px;
						z-index: 3;
					}
				}
				&:after{
					background:rgba(0, 0, 0, 0.4);
					content: "";
					height: 100%;
					left: 0;
					opacity:0;
					position: absolute;
					top: 0;
					bottom:0;
					right:0;
					.scale(0);
					.transition(0.3s);
					width: 100%;;
					z-index: 2;
				}
				&:hover a.entry-hover{
					&:after{
						.opacity(1);
						.scale(1);
					}
					&:before{
						.opacity(1);
						.scale(1);
						&:hover{
							color:@color;
							border:1px solid @color;
							}
						}
					}
				}
				.entry-content{
					padding:7px 0 0;
					.title-blog h3{
						margin-bottom:5px;
						a{
							font-size:14px;
							font-weight:bold;
							color:#444;
							text-transform:capitalize;
							&:hover{
								color:@color;
							}
						}
					}
					.entry-meta{
						font-size:12px;
						color:#999999;
						.rtl &{
							direction:rtl;
							text-align:right;
						}
						.entry-date{
							display:inline-block;
							margin-right:10px;
							.rtl &{
								margin-left:10px;
								margin-right:0;
							}
						}
						.category-blog a{
							color:#999;
							&:hover{
								color:@color;
							}
						}
					}
				}
		}
	}
	margin-bottom:30px;
	 .entry{
		background-color:#fff;
		.entry-thumb{
			a.entry-hover{
				display: block;
				max-width: 100%;
				position: relative;
				width: auto;
				z-index: 1;
				&:before{
					border-radius: 50%;
					border:1px solid #fff;
					color: #fff;
					content: "\f002";
					font-family: FontAwesome;
					font-size: 16px;
					height: 40px;
					left: 50%;
					line-height: 38px;
					margin-left: -5%;
					margin-top: -5%;
					opacity:0;
					position: absolute;
					text-align: center;
					top: 50%;
					.scale(0);
					.transition(0.2s);
					width: 40px;
					z-index: 3;
				}
				&:after{
					background:rgba(0, 0, 0, 0.4);
					content: "";
					height: 100%;
					left: 0;
					opacity:0;
					position: absolute;
					top: 0;
					bottom:0;
					right:0;
					.scale(0);
					.transition(0.3s);
					width: 100%;;
					z-index: 2;
				}
			}
			&:hover a.entry-hover{
				&:after{
					.opacity(1);
					.scale(1);
				}
				&:before{
					.opacity(1);
					.scale(1);
					&:hover{
						color:@color;
						border:1px solid @color;
						}
					}
				}
			}
			.entry-content{
				padding:6px 10px;
				.title-blog h3{
					margin-bottom:5px;
					a{
						font-size:14px;
						font-weight:bold;
						color:#444;
						text-shadow:capitalize;
						&:hover{
							color:@color;
						}
					}
				}
				.entry-meta{
					font-size:12px;
					color:#999999;
					margin-bottom:5px;
					.rtl &{
							direction:rtl;
							text-align:right;
						}
					.entry-date{
						margin-right:10px;
						display:inline-block;
						i{
							margin-left:0;
							.rtl &{
								margin-right:0;
								margin-left:5px;
							}
						}
						.rtl &{
							margin-left:10px;
							margin-right:0;
						}
					}
					.category-blog a{
						color:#999;
						&:hover{
							color:@color;
						}
					}
				}
				.entry-summary a{
					color:@color;
					&:hover{
						text-decoration:underline;
					}
				}
			}
	}
	
}
/*Blog default, blog list*/
 .blog-content-list .hentry{
	margin-bottom:30px;
	 .entry{
		.entry-thumb{
			margin-bottom:15px;
			a.entry-hover{
				display: inline-block;
				max-width: 100%;
				position: relative;
				z-index: 1;
				&:before{
					border-radius: 50%;
					border:1px solid #fff;
					color: #fff;
					content: "\f002";
					font-family: FontAwesome;
					font-size: 16px;
					height: 40px;
					left: 50%;
					line-height: 38px;
					margin-left: -5%;
					margin-top: -5%;
					opacity:0;
					position: absolute;
					text-align: center;
					top: 50%;
					.scale(0);
					.transition(0.2s);
					width: 40px;
					z-index: 3;
				}
				&:after{
					background:rgba(0, 0, 0, 0.4);
					content: "";
					height: 100%;
					left: 0;
					opacity:0;
					position: absolute;
					top: 0;
					bottom:0;
					right:0;
					.scale(0);
					.transition(0.3s);
					width: 100%;;
					z-index: 2;
				}
				&:hover{
					&:after{
						.opacity(1);
						.scale(1);
					}
					&:before{
						.opacity(1);
						.scale(1);
						&:hover{
							color:@color;
							border:1px solid @color;
							}
						}
					}
				}
			}
			.entry-content{
				margin-top:10px;
				overflow:hidden;
				&.no-title{
					.entry-top .entry-meta .entry-date a{
						color:#fff;
					}
					.entry-description{
						margin-top:40px;
					}
				}
				.title-blog h3{
					margin-bottom:5px;
					font-size:14px;
					a{
						font-size:16px;
						font-weight:bold;
						color:#444;
						text-transform:capitalize;
						&:hover{
							color:@color;
						}
					}
				}
				.entry-top{
					display:block;
					margin-bottom:18px;
					position:relative;
					&:before{
						position:absolute;
						content:'';
						width:100%;
						height:1px;
						left:80px;
						top:60px;
						background:#e0e0e0;
						.rtl &{
							right:80px;
							left:auto;
						}
					}
					.entry-meta{
						float:left;
						margin-right:20px;
						.rtl &{
							float:right;
							margin-left:20px;
							margin-right:0;
						}
						.entry-date{
							display:inline-block;
							height:60px;
							width:60px;
							color:#fff;
							background-color:@color;
							text-align:center;
							padding:8px 0;
							span.day{
								font-size:18px;
								display:block;
								font-weight:bold;
							}
							span.month{
								font-size:14px;
								display:block;
								margin-top:-3px;
							}
						}
					}
					.entry-right{
						.title-blog h4 a{
							font-size:16px ;
							color:#444;
							&:hover{
								color:@color;
							}
						}
						.meta-list{
							padding-bottom:15px;
							color:#999;
							text-transform:capitalize;
							a{
								font-size:12px;
								color:#999;
								&:hover{
									color:@color;
								}
							}
							.category-blog{
								margin-right:10px;
								display:inline-block;
								i{
									margin-left:0;
									.rtl &{
										margin-right:0;
										margin-left:5px;
									}
								}
								.rtl &{
									margin-left:10px;
									margin-right:0;
								}
							}
							i{
								color:#999;
							}
						}
					}
				}
				.entry-description .bl_read_more a{
					display:none;
					color:#fff;
					background:@color;
					padding:8px 12px;
					margin-top:20px;
					.border-radius(3px);
					&:hover{
						background:darken(@color, 10%);
					}
				}
			}
		}
}
/*content single*/
/*single Post*/
.single .entry-content{
	margin-bottom:30px;
	padding:20px;
	background:#fff;
	.single-thumb img{
		width:100%;
	}
	h1.entry-title{
		font-size:18px;
		color:#333;
		margin:0;
		font-weight:bold;
		margin-top:20px;
	}
	.entry-meta{
		padding:10px 0 15px;
		border-bottom:1px solid #ebebeb;
		.rtl &{
			direction:rtl;
			text-align:right;
		}
		a{
			color:#999;
			&:hover{
				color:@color;
			}
		}
		.entry-date{ 
			display:inline-block;
			margin-right:20px;
			color:#999;
			.rtl &{
				margin-right:0;
				margin-left:20px;
			}
		}
		.category-blog i{
			margin:0 6px 0 0;
			.rtl &{
				margin:0 0 0 6px;
			}
		}
		i:before{
			color:#999;
			
		}
		.fa{ 
			margin: 0  5px 0 0;;
			.rtl &{
			margin: 0  0 0 5px;
			}
		}
	}
	.entry-comment{
		padding:10px 0;
		border-top:1px solid #e1e1e1;
		border-bottom:1px solid #e1e1e1;
		color:#909090;
		.comment{
			&:after{
				content:'|';
				color:#909090;
				margin:0 5px;
			}
		}
	}
	.single-content{
		padding:20px 0 0;
		ul.content-blog{
			li{
				list-style:none;
				background: url(../assets/img/bg-blog.png) no-repeat top 10px left;
				padding-left: 25px;
				line-height:30px;
				.rtl &{
					background: url(../assets/img/bg-blog.png) no-repeat top 10px right;
					padding-right:25px;
					padding-left:0;
				}
			}
		}
	}
	.social-share{

	}
	.single-tag{
		padding:10px 0;
		border-top:1px solid #e1e1e1;
		span{
			color:#333;
			font-weight:bold;
		}
		a{ 
			color:@color;
			text-transform:capitalize;
			&:hover{
				text-decoration:underline;
			}
		}
	}
}
#authorDetails{
	overflow:hidden;
	margin-bottom:30px;
	background:#fff;
	padding-bottom:30px;
	h4.title{
		padding:15px 0px 15px 20px ;
		text-transform:uppercase;
		font-size:18px;
		line-height:30px;
		font-weight:bold;
		padding:15px 20px;
		margin-bottom:20px;
		border-top:2px solid @color;
		border-bottom:1px solid #ededed;
		color:#444;
	}
	.authorDetail{
		padding:0 20px;
		.avatar{ 
			margin-right:20px;
			.rtl &{
			margin-left:20px;
			margin-right:0;
			}
		}
		h4{
			margin-bottom:5px;
			a{
				color:@color;
				text-transform:capitalize;
			}
		}
	}
}
.single-post-relate{
	margin-bottom:30px;
	background:#fff;
	overflow:hidden;
	h3{
		text-transform:uppercase;
		font-size:18px;
		line-height:30px;
		font-weight:bold;
		padding:15px 17px;
		margin-bottom:20px;
		border-top:2px solid @color;
		border-bottom:1px solid #ededed;
		color:#444;
	}
	.item-wrap{
		padding:0 5px;
		.item-relate-img{
			display:block;
			overflow:hidden;
			margin-bottom:12px;
			a > img{
				.scale(1);
				.transition(all 0.3s ease-out);
			}
			&:hover{
				img{
					.scale(1.15);
				}
			}
		}
		.item-relate-content{
			p{
			 display:none;
			}
			h4{
				margin-bottom:17px;
				a{
					font-size:13px;
					font-weight:bold;
					color:#333;
					&:hover{
						color:@color;
					}
				}
			}
		}
	}
}
/*Form comment*/
h2.title{
	background-color:#fff;
	font-weight:bold;
	font-size:14px;
	color:#444;
	padding:20px;
	margin:0;
}
#respond{
	background-color:#fff;
	padding:0 20px;
	overflow:hidden;
	margin-bottom:40px;
	.logged-in &{
		margin-bottom:30px;
	}
	.cancel-comment-reply{
		margin:0;
	}
	.control-group{
		float:left;
		max-width:257px;
		margin-right:29px;
		width:100%;
		position:relative;
		.rtl &{
			float:right;
			margin-left:29px;
			margin-right:0;
		}
		i{
			border-right: 1px solid #ebebeb;
			font-size: 12px;
			margin: 0;
			padding: 9px 12px;
			position: absolute;
			top:0;
			left:0;
			color:#666;
			.rtl &{
				right:0;
				left:auto;
				border-left:1px solid #ebebeb;
				border-right:0;
			}
		}
		input{
			width:100%;
			border-radius:0;
			height:30px;
			border:1px solid #ebebeb;
			padding:0 40px;
			&:focus{
				background-color:#fafafa;
			}
		}
		&:last-child{
			margin:0;
		}
	}
}
#respond .cmm-box-right{
	background-color:#fff;
	padding:8px 0;;
	float:left;
	width:100%;
	.logged-in &{
		padding:0;
	}
	.control-group{
		max-width:100%;
		textarea{
			width:100%;
			border-radius:0;
			border:1px solid #ebebeb;
		}
		button{
			margin-top:10px;
			padding:10px 55px;
			color:#fff;
			border:0;
			background:@color;
			text-transform:capitalize;
			margin-bottom:20px;
			&:hover{
				background:darken(@color, 10%);
			}
		}
	}
}
#comments{
	background-color:#fff;
	padding:20px 20px 0px;
	margin-bottom:30px;
	overflow:hidden;
	#respond{
		padding:0;
		margin:0;
		.cancel-comment-reply{
			margin-bottom:10px;
		}
	}
	h3{
		font-size:16px;
		text-transform:uppercase;
		color:#444;
		font-weight:bold;
		margin-bottom:17px;
		small{
			margin-top:-5px;
		}
	}
	.commentlist{
		ul.children{
			margin-left:15px;
			.control-group{
				max-width:252px;
			}
			.rtl &{
				margin-right:15px;
				margin-left:0;
			}
		}
		.comment{
			margin-bottom:15px;
			.author a{
				margin-right:20px;
				.rtl &{
					margin-left:20px;
					margin-right:0;
				}
			}
			.media-body .media{
				.author-name{
					float:left;
					margin-right:10px;
					margin-top:2px;
					.rtl &{
						float:right;
						margin-left:10px;
						margin-right:0;
					}
				}
				.reply{
					color:@color;
					a{
						color:@color;
						&:hover{
							color:darken(@color, 10%);
						}
					}
				}
			}
		}
	}
}
/*===================================FAQs==================================*/
.entry-content .faq-tabs{
	margin-top:10px;
	ul.nav-tabs{
		margin:0;
		border:0;
		background-color:#ededed;
		.rtl &{
			margin:0;
		}
		> li{
			border:0;
			text-transform:capitalize;
			background-color:#ededed;
			.rtl &{
				float:right;
			}
			> a{
				padding:10px 20px;
				background-color:#ededed;
				margin:0;
				border:0;
				font-size:14px;
				line-height:20px;
				font-weight:normal;
				&:hover{
					border:0;
					background-color:@color;
					color:#fff;
				}
			}
			&:first-child{
				border:0;
			}
			&.active{
				border:0;
				a{
					margin:0;
					border:0;
					background-color: @color;
					color:#fff;
					&:before{
						width:0;
					}
					&:hover{
						background-color: @color;
						color:#fff;
					}
				}
				&:first-child{
					border:0;
				}
				&:last-child{
					.rtl &{
						border-right:0;
					}
				}
			}
		}
	}
	.tab-content{
		margin-top:30px;
		padding:0;
		border:0;
			.tab-pane{
				position:relative;
				z-index:1;
				.panel-group{
					float:none !important;
				  .panel-default{
					border:0;
					margin-bottom:10px;
						a.ya-accordion{
							span{
									position:absolute;
									right:-5px;
									left:auto;
									z-index:3;
									background: url("../assets/img/faq-minus.png") no-repeat center center;
									.border-radius(0);
									.rtl &{
										left:-5px;
										right:auto;
									}
								}
							.panel-heading{
								background-color:@color !important;
								color:#fff;
								font-size:13px;
								line-height:20px;
								font-weight:bold;
								padding:10px 20px;
							}
							&.collapsed{
								span{
									position:absolute;
									right:-5px;
									left:auto;
									z-index:3;
									background: url("../assets/img/faq-plus.png") no-repeat center center;
									.rtl &{
										left:-5px;
										right:auto;
									}
								}
								.panel-heading{
								background-color:#ededed !important;
								color:#444;
							}
						}
					}
					.panel-collapse .panel-body{
							padding:20px 0px 40px;
					}
				}
			}
		}
	}
}
.post-348{
	header h2.entry-title{
		display:none;
	}
}
.post-350, .post-348,.post-349{
	background-color:#fff;
	padding:20px 20px 0;
	header h2.entry-title{
		font-size:18px;
		color:#444;
		font-weight:bold;
		margin-bottom:15px;
		text-transform:uppercase;
	}
}
.post-354{
	margin-top:70px;
	header h2.entry-title{
		font-size:18px;
		color:#444;
		font-weight:bold;
		margin-bottom:15px;
		text-transform:uppercase;
		text-align:center;
	}
	a{
		color:@color;
		&:hover{
			text-decoration:underline;
		}
	}
}
/*display none title porfolio*/
.post-435,.post-434,.post-433,.post-432{
	h2.entry-title{
		display:none;
	}
}
.contact-v1{
	padding:0 0 30px;
	h2.header-title{
		margin-bottom:25px;
		float:left;
		font-size:18px;
		color:#444;
		font-weight:bold;
		text-transform:uppercase;
		.rtl &{
			float:right;
		}
	}
}
/*Comming soon*/
.coming-soon{
	padding-bottom:100px;
	margin-bottom:0;
	p{
		text-align:center;
		color:#444;
		a{
			color:@color;
			&:hover{
				text-decoration:underline;
			}
		}
	}
	.widget.widget_search{
		width:35%;
		margin:0 auto;
		.widgettitle{ display:none;}
		.searchform input[type="text"]{
			padding:8px 60px 8px 8px;
			height:35px;
		}
		.searchform{
		    > div{
			   min-height:35px;
		    }
			label{
				display:none !important;
			}
			input[type="text"]{
				border:1px solid #e2e2e2;
				border-top-left-radius:3px;
				border-bottom-left-radius:3px;
			}
			#searchsubmit{
				width:60px !important;
				height:35px;
				text-indent:-9999px;
				background: url("../assets/img/icon-search.png") no-repeat center center @color;
				border-bottom-right-radius:3px;
				border-top-right-radius:3px;
				border:0;
				&:hover{
					background: url("../assets/img/icon-search.png") no-repeat center center darken(@color, 10%);;
				}
				.rtl &{
					border-bottom-right-radius:0;
					border-top-right-radius:0;
					border-bottom-left-radius:3px;
					border-top-left-radius:3px;
				}
			}
		}
		
	}
}
/*vertical menu sibar blog*/
.sidebar .vertical_megamenu{
	margin-bottom:30px !important;
	.block-title-widget h2{
		border-bottom:1px solid #ededed;
		border-top:2px solid @color;
		font-size:16px;
		color:#444;
		line-height:28px;
		padding:11px 20px;
		text-transform:uppercase;
		background-color:#fff;
		font-weight:bold;
	}
	ul.post-categories{
		display:none;
	}
	ul.vertical-megamenu{
		> li.dropdown.ya-mega-menu{
			> ul{
				display:none;
			}
			> a:after{
				content:'';
			}
		}
	}
}
.widget{
	.block-title-widget h2{
		font-size:16px;
		color:#444;
		line-height:28px;
		padding:11px 20px;
		text-transform:uppercase;
		background-color:#fff;
		font-weight:bold;
		margin:0;
		border-bottom:1px solid #ededed;
		border-top:2px solid @color;
	}
	&.widget_archive{
		ul{
			background:#fff;
			> li{
				padding:0 20px;
				margin:0;
				line-height:45px;
				border-bottom:1px solid #ededed;
				a{
					color:#444;
				}
				&:hover{
					color:@color;
					a{ color:@color;}
				}
			}
		}
	}
	&.widget_search{
		.searchform{
			margin:0;
			div{
				min-height:40px;
				label{
					display:none !important;
				}
				input{
					top:0;
				}
				input[type="text"]{
					border:0;
					padding:10px 40px 10px 10px;
					height:40px;
					.rtl &{
						padding:10px 10px 10px 40px;
					}
				}
				input#searchsubmit{
					border:0;
					padding:10px;
					width:45px;
					text-indent:-9999px;
					height:40px;
					background: url("../assets/img/icon-search.png") no-repeat center center @color;
					&:hover{
						background: url("../assets/img/icon-search.png") no-repeat center center darken(@color, 10%);;
					}
				}
			}
		}
	}
}
/*page header*/
.post-354  header .entry-title{
	margin:0;
}
.page header .entry-title, h2.title-page{
    color: #444;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px;
    position: relative;
    text-transform: uppercase;
}
/*page 404*/
.col-1-wrapper{	
	text-align:center;
	margin:55px 0 85px;
	.content-404page{
		text-align:center;
		.top-text{
			font-size:18px;
			color:#444;
			font-weight:bold;
			margin-bottom:35px;
			display:block;
			text-transform:uppercase;
		}
		.img-404 span{
			display:inline-block;
			width:410px;
			height:132px;
			background: url(@{url}/image-404.png) no-repeat  center center;	
			margin-bottom:10px;
		}
		.bottom-text{
			color:#444;
			font-size:14px;
			margin-bottom:30px;
			a{
				color:@color;
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
	form.form-search{
		display:inline-block;
		input.search-query{
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
			border-right:0;
			border:1px solid #e2e2e2;
			float: left;
			height: 35px;
			padding: 0 10px;
			width: 320px;
			.rtl &{
				float:right;
				border-bottom-right-radius: 3px;
				border-top-right-radius: 3px;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}
		}	
		button{
			background:@color;
			border: 0 none;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			display: inline-block;
			float: right;
			height: 35px;
			margin: 0;
			width: 60px;
			.rtl &{
				border-bottom-left-radius: 3px;
				border-top-left-radius: 3px;
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}
			background: url("../assets/img/icon-search.png") no-repeat center center @color;
			&:hover{
				background: url("../assets/img/icon-search.png") no-repeat center center darken(@color, 10%);;
			}
		}
	}
}
/*page-search */
.search.search-results{
	 .products-wrapper .products-loop.grid > .item{
		background-color:#fff;
		border-bottom:1px solid #ededed;
		border-right:1px solid #ededed;
		.item-wrap .item-detail{
			.item-content{
				padding-bottom:15px;
				text-align:center;
				h4 a{
					font-size:14px;
					font-weight:bold;
					color:#444;
					text-transform:capitalize;
					&:hover{
						color:@color;
					}
				}
				.item-cart{
					display:none;
					}
			}
			.item-bottom{
				display:none;
			}
		}	
	}
	.blog-content{
		background-color:#fff;
		padding:20px 15px 0;
		.post .entry, .product .entry{
			margin-bottom:20px;
			.entry-thumb{
				margin-right:20px;
			}
			.entry-content{
				.title-blog h3{
					font-size:16px;
					font-weight:bold;
				} 
				.entry-meta{
					color:#909090;
					font-size:11px;
					.entry-author a{
						color:#999;
						&:hover{
							color:@color;
						}
					}
				}
				.bl_read_more{
					margin-top:5px;
				}
			}
		}
	}
	.pag-search .nav-pag{
		width:100%;
		float:left;
		margin-top:30px;
		li{
			&.pagination{
				height:25px;
				i{ display:none;}
				a:before{
					content:'\f105';
					font-family:FontAwesome;
					font-size:14px;
				}
			}
			&.prev{
				display:none;
			}
		}
	}
	&.rtl{
		.blog-content .product .entry .entry-thumb{
			margin-left:20px;
			margin-right:0;
		}
	}
}
.search.search-results.rtl .pag-search .nav-pag li.pagination a:before{
	content:'\f104';
}
.post-760 header, .post-762  header{
	margin-bottom:20px !important;
}
.category-header{
	margin-top:20px;
}
/*back to top*/
#ya-totop {
    background: url("../assets/img/up-arrow.png") no-repeat scroll center center transparent;
    border-radius: 45px;
    bottom: 15px;
    height: 45px;
    overflow: hidden;
    position: fixed;
    right: 15px;
    width: 45px;
    z-index: 9999;
	background-color:@color;
	&:hover {
	  background-color:lighten(@color, 10%)
	}
}
.post-348 .vc_empty-placeholder{
	margin:0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.woo-slider-default.style2{
		&:before{
			top:37px !important;
		}
	}
	.our-skill{
		margin-top:97px !important;
	}
}
/*Banner index3*/
.banner-index3{
	.wpb_content_element{
		margin:0;
	}
	.info{
		display:none;
	}
	p{
		float:left;
		margin:0;
		.rtl &{
			float:right;
			img{
				margin:2px 0 0 0;
			}
		}
		img{
			margin:2px 0 0 0;
		}
	}
	.mc4wp-form {
		float:left;
		width:50%;
		min-height:120px;
		margin:0;
		padding:40px 125px 40px 40px;
		position:relative;
		background-color:@color;
		margin:2px 0 0 -2px;
		h2{
			display:none;
		}
		.rtl &{
			float:right;
			margin:2px -2px 0 0;
		}
		&:before{
			background: url("../assets/img/bg-newsletter.png") no-repeat scroll center center transparent;
			position:absolute;
			content:'';
			width:151px;
			height:90px;
			z-index:100;
			top:-3px;
			right:-3px;
		}
		p{
			width:100%;
			input[type="email"]{
				float:left;
				width:80%;
				margin:0;
				height:40px;
				border-radius:0;
				border:0;
				padding:0 20px;
				.rtl &{
					float:right;
				}
			}
			input[type="submit"]{
				height:40px;
				width:44px;
				background: url("../assets/img/bg-input.png") no-repeat scroll center center #ffae00;
				text-indent:-9999px;
				border:0;
				border-radius:0;
				&:hover{
					background: url("../assets/img/bg-input.png") no-repeat scroll center center darken(#ffae00, 5%);
				text-indent:-9999px;
				}
			}
		}
	}
}
/* =====slideshow home 3====*/
.rev_slider_wrapper .rev_slider{
	.tp-tabs.ares{
		border:1px solid #ccc;
		border-radius:5px;
		background-color:#fff;
		opacity:0.9;
		padding:0 !important;
		.tp-tab-mask{
			overflow:visible !important;
		}
		.tp-tab{
			padding:0;
			border-bottom:1px solid #ccc;;
			&.selected{
				border-bottom:1px solid #ccc;;
				background-color:#fff;
				opacity:0.9;
				.tp-tab-content{
					overflow:visible;
					.tp-tab-date{
						color:@color;
					}
					&:before{
						content:'';
						background-color:#fff;
						opacity:0.9;
						display:inline-block;
						position:absolute;
						left:-8px;
						top:50%;
						height:15px;
						width:15px;
						z-index:1000;
						transform: rotate(-135deg);
						border-top: 1px solid #ccc;
						border-right: 1px solid #ccc;
						margin-top:-3%;
					}
				}
			}
			&:hover{
				background-color:#fff;
				opacity:0.9;
				.tp-tab-content{
					overflow:visible;
					.tp-tab-date{
						color:@color;
					}
					&:before{
						content:'';
						background-color:#fff;
						opacity:0.9;
						display:inline-block;
						position:absolute;
						left:-8px;
						top:50%;
						height:15px;
						width:15px;
						z-index:1000;
						transform: rotate(-135deg);
						border-top: 1px solid #ddd;
						border-right: 1px solid #ddd;
						margin-top:-3%;
					}
				}
			}
			&:last-child{
				border-bottom:0;
			}
			.tp-tab-content{
				padding:15px 15px 13px 15px;
				margin:0;
				position:relative;
			.tp-tab-date{
				font-family:'LatoBold';
				font-size:13px;
				color:#444;
				text-transform:uppercase;
				margin-bottom:7px;
			}
			.tp-tab-title{
				color:#666;
				font-size:13px;
				font-family:'LatoRegular';
				.rtl &{
						text-align:right;
					}
				}
			}
		}
	}
	.tp-tab-image{
		display:none !important;
		background-image:none !important;
	}
}
/*style gallery shortcode TF*/
.gallery{
	&.gallery-columns-4{
		.gallery-item{
			width:23%;
			margin-right:2%;
			float:left;
			.rtl &{
				float:right;
				margin-left:2%;
				margin-right:0;
			}
			&:nth-child(4n){
				margin-right:0;
			}
		}
	}
	&.gallery-columns-3{
		.gallery-item{
			width:30%;
			margin-right:3%;
			float:left;
			.rtl &{
				float:right;
				margin-left:3%;
				margin-right:0;
			}
		}
	}
}
.rev_slider_wrapper .rev_slider .tp-leftarrow.custom, .rev_slider_wrapper .rev_slider .tp-rightarrow.custom{
	display:none;
}