.rtl{
	.body-wrapper{
		overflow:hidden;
	}
     input, button, select, textarea,th,td,.woocommerce-checkout #payment ul.payment_methods li{
		text-align: right;
		direction: rtl;
	}
	.pull-left {
	  float:right;
	}
	.pull-right{
	   float:left;
	}
	ol{
		padding-left: 0;
		padding-right: 15px;
	}
	.page-links .page-links-title{
		margin-right: 0;
		margin-left: 20px;
	}
	.floating{
		direction: ltr;
	}
	.header-style1 .top-login{
		border-left:0;
	}
	.social-share-item{
		float:right;
		&.social-share-fb{
			margin-left:25px;
			margin-right:0;
		}
	}
	.close{
		float:left;
	}
	/************************************************************ content *************************************/
	#yt_post_slide .carousel-inner .item .carousel-caption.carousel-caption-out{
	     right: 0;
         left: auto;
		 .carousel-caption-inner {
		    text-align:right;
		 }
	}
	.carousel-inner .bs-item .bs-item-inner{
	    .item-img {
			 float: right;
		}
		.item-content{
		  margin-right:90px;
		  margin-left:0;
		    direction: rtl;
		}
	}
	&.woocommerce .products-nav .woocommerce-pagination, &.woocommerce-page .products-nav .woocommerce-pagination {
	   float:left;
	}
	table.shop_table .coupon input.button{
		margin-left:20px;
		margin-right:0;
	}
	td.product-name dl.variation dt, td.product-name dl.variation dd{
		float:right;
	}
	 .fancybox-outer{
		.quickview-container.woocommerce{
			div.product form.cart div.quantity{
				float:right;
				margin:0 0 0 4px;
			}
			.product_detail .content_product_detail .cart .single_add_to_cart_button{
				margin-right:0;
				margin-left:5px;
			}
			.single-product .product_detail .slider_img_productd .product-images-container .slider.product-responsive-thumbnail button{
				height:85px;
				&:before{
					line-height:85px;
				}
			}
		}
	}
	&.woocommerce,&.woocommerce-page {
		.checkout .col2-set .col-1, .checkout .col2-set .col-2{
			float:right;
		}
		.checkout .col2-set .col-1 .woocommerce-billing-fields{
			padding-left:15px;
			padding-right:0;
		}
		.checkout .col2-set .col-2 .woocommerce-shipping-fields{
			padding-right:15px;
			padding-left:0;
		}
		table.cart td.actions .coupon .input-text, table.cart td.actions input{
			float:right;
		}
		#content table.cart td.actions, table.cart td.actions .coupon{
			float:right;
		}
		 .woocommerce-error .button,.woocommerce-info .button, .woocommerce-message .button{
			float:left;
		 }
		.widget_price_filter .price_slider_amount #min_price, .widget_price_filter .price_slider_amount #max_price{
			float:right;
			margin-left:10px;
			margin-right:0;
		}
		.widget_price_filter .price_slider_amount .button{
			float:right;
		}
		.cart-collaterals .cart_totals{
			margin-left:2%;
			margin-right:0;
			float:right;
			h2, .wc-proceed-to-checkout{
				float:right;
			}
		}
	    #content .cart .quantity {
		      margin-right: 0;
              padding-right: 0;
		    .plus,.minus{
			   right: auto;
			   left:0;
			}
			input.qty {
			     //padding-left: 16px;
                 width: 40px;
				 text-align:right;
			}
		}
		 .woocommerce-error,.woocommerce-info,.woocommerce-message{
		      a {margin-right:15px;}
		      &:before{
			     left: auto;
			     right:1.5em;
			  }
		 }
		div.product form.cart div.quantity  {
		   float:right;
		   margin:0 0 0 4px;
		 }
		  form.checkout_coupon, form.login,form.register {
		    text-align:right;
			.form-row-first,.form-row-last{
			  float:right !important; 
			}
			
		  }
		  form.login,form.register {
		      .form-row-last {
			     margin-left: 0 !important;
				 margin-right:3%;
			}
		  }
		 form .form-row label #rememberme {
		    float:right;
			  margin: 4px 0px 0 5px;
		 }
		 .product_detail .content_product_detail .product-summary-bottom .cart .single_add_to_cart_button{
			margin-right:10px;
		 }
		  nav.woocommerce-pagination ul.page-numbers li a.next::before{
			content:'\f104';
		  }
		  nav.woocommerce-pagination ul.page-numbers li{
			float:right;
		  }
	}
		.wrap-contact-address .contact-address {
		     p.ct-street {
		         padding: 7px 45px 7px 0px;
			     background: url("../assets/img/adress-icon.png") no-repeat scroll right center rgba(0,0,0,0);
		    }
			.ct-email {
			    padding: 7px 45px 7px 0px;
				background: url("../assets/img/email-icon.png") no-repeat scroll right top rgba(0,0,0,0);
			}
			p.ct-hotline {
			    padding: 7px 45px 7px 0px;
				  background: url("../assets/img/mobile-icon.png") no-repeat scroll right top rgba(0,0,0,0);
			}
		
		}
	/******************************************** my cart *****************************/
	table.shop_table .coupon {
	    float: right;
	}
	#ya-totop {
	  left:15px;
	  right:auto;
	}

}