.top-navigation-wrapper{ background-color: #06a2e0; } 
div.top-search-wrapper input[type="text"]{ color: #cccccc; } 
div.top-search-wrapper input[type="text"]{ background-color: #f3f3f3; } 
div.top-search-wrapper input[type="submit"]{ border-color: #dbdbdb; } 
.navigation-wrapper, ul.sf-menu li a{ background-color: #272727; } 
.sf-menu li a{ color: #ffffff; } 
.sf-menu li a:hover{ color: #ffffff; } 
.sf-menu li a:hover{ background-color: #1bc4de; } 
.sf-menu li.current-menu-ancestor a, .sf-menu li.current-menu-item a, .sf-menu li.current-post-ancestor a{ color: #ffffff; } 
.sf-menu li.current-menu-ancestor a, .sf-menu li.current-menu-item a, .sf-menu li.current-post-ancestor a{ background-color: #1bc4de; } 
.sf-menu li li{ background-color: #fdfdfd; } 
.sf-menu ul, .sf-menu ul li{ border-color: #ececec; } 
.sf-menu li li a, .sf-menu li.current-menu-item li a, .sf-menu li.current-menu-ancestor li a, .sf-menu li li.current-menu-item li a, .sf-menu li.current-post-ancestor li a{ color: #7a7a7a; } 
.sf-menu li li a:hover, .sf-menu li li.current-menu-item li a:hover, .sf-menu li li.current-menu-ancestor li a:hover{ color: #3d3d3d; } 
.sf-menu li li.current-menu-item a, .sf-menu li li.current-menu-ancestor a, .sf-menu li li.current-menu-ancestor li.current-menu-item a, .sf-menu li li.current-post-ancestor a{ color: #3d3d3d; } 
div.page-header-top-gimmick{ background-color: #e5e5e5; } 
h1.page-header-title{ color: #4a4a4a; } 
span.page-header-caption{ color: #b6b6b6; } 
h1, h2, h3, h4, h5, h6{ color: #4a4a4a; } 
body{ color: #959595; } 
html{ background-color: #555555; } 
.container.main{ background-color: #ffffff; } 
a{ color: #1bc4de; } 
a:hover{ color: #a5e5ee; } 
::selection, ::-moz-selection{ color: #4f4f4f; } 
::selection, ::-moz-selection{ background-color: #f2594b; } 
.sidebar-wrapper a{ color: #969696; } 
.sidebar-wrapper a:hover{ color: #d1d1d1; } 
.custom-sidebar-title, .custom-sidebar-title a{ color: #494949; } 
.sidebar-wrapper .recent-post-widget-info, .sidebar-wrapper #twitter_update_list{ color: #aaaaaa; } 
div.recent-port-widget .recent-port-widget-thumbnail, div.recent-post-widget .recent-post-widget-thumbnail, div.custom-sidebar .flickr_badge_image{ background-color: #eeeeee; } 
.tagcloud a{ background-color: #f5f5f5; } 
div.footer-twitter-wrapper{ background-color: #1bc4de; } 
div.footer-twitter-wrapper{ color: #ffffff; } 
div.footer-twitter-wrapper a{ color: #ffffff; } 
div.footer-top-bar{ background-color: #eaeaea; } 
.footer-wrapper a{ color: #8c8c8c; } 
.footer-wrapper a:hover{ color: #e6e6e6; } 
.footer-wrapper .custom-sidebar-title, .footer-wrapper .custom-sidebar-title a{ color: #ececec; } 
.footer-wrapper, .footer-wrapper table th{ color: #bababa; } 
.footer-wrapper .recent-post-widget-info, .footer-wrapper #twitter_update_list{ color: #b1b1b1; } 
div.footer-wrapper{ background-color: #3a3a3a; } 
div.footer-wrapper *{ border-color: #3b3b3b; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ color: #474747; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ background-color: #333333; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ border-color: #434343; } 
.footer-wrapper .contact-form-wrapper button{ color: #7a7a7a; } 
.footer-wrapper .contact-form-wrapper button{ background-color: #222222; } 
div.footer-wrapper .personnal-widget-item .personnal-widget-info{ color: #ffffff; } 
div.footer-wrapper .tagcloud a{ background-color: #292929; } 
div.footer-wrapper div.recent-port-widget .recent-port-widget-thumbnail, div.footer-wrapper div.recent-post-widget .recent-post-widget-thumbnail,div.footer-wrapper .custom-sidebar .flickr_badge_image{ background-color: #2d2d2d; } 
.copyright-container{ color: #999999; } 
.copyright-outer-wrapper{ background-color: #222222; } 
h2.gdl-slider-title{ color: #ffffff; } 
h2.gdl-slider-title{ background-color: #1bc4de; } 
div.gdl-slider-caption{ color: #d4d4d4; } 
div.gdl-slider-caption{ background: #333333; } 
.ls-bluediamond .ls-bottom-slidebuttons, .flex-control-nav, .nivo-controlNav, div.anythingSlider .anythingControls ul{ background: #1bc4de; } 
.ls-bluediamond .ls-bottom-slidebuttons a, .flex-control-nav li a, .nivo-controlNav a, div.anythingSlider .anythingControls ul a{ background-color: #ffffff; } 
.ls-bluediamond .ls-bottom-slidebuttons a.ls-nav-active, .ls-bluediamond .ls-bottom-slidebuttons a:hover.flex-control-nav li a:hover, .flex-control-nav li a.flex-active, .nivo-controlNav a:hover, .nivo-controlNav a.active, div.anythingSlider .anythingControls ul a.cur, div.anythingSlider .anythingControls ul a:hover { background: #000000; } 
.ls-bluediamond .ls-nav-prev, .ls-bluediamond .ls-nav-next,div.gdl-top-slider .flex-direction-nav li .flex-prev, div.gdl-top-slider .flex-direction-nav li .flex-next,div.gdl-top-slider .nivo-directionNav a.nivo-prevNav, div.gdl-top-slider .nivo-directionNav a.nivo-nextNav,div.anythingSlider .arrow.back, div.anythingSlider .arrow.forward{ background-color: #1bc4de; } 
.ls-bluediamond .ls-nav-prev:hover, .ls-bluediamond .ls-nav-next:hover, div.gdl-top-slider .flex-direction-nav li .flex-prev:hover, div.gdl-top-slider .flex-direction-nav li .flex-next:hover, div.gdl-top-slider .nivo-directionNav a.nivo-prevNav:hover, div.gdl-top-slider .nivo-directionNav a.nivo-nextNav:hover,div.anythingSlider .arrow.back:hover, div.anythingSlider .arrow.forward:hover{ background-color: #333333; } 
.flex-carousel.carousel-included{ background-color: #000000; } 
h1.stunning-text-title{ color: #5a5a5a; } 
.stunning-text-caption{ color: #9c9c9c; } 
.stunning-text-wrapper{ background-color: #fc3737; } 
h2.blog-title a, h1.blog-title a, div.portfolio-item .page-item-title a{ color: #4a4a4a; } 
h2.blog-title a:hover, h1.blog-title a:hover, div.portfolio-item .page-item-title a:hover{ color: #9c9c9c; } 
div.blog-date-wrapper{ border-color: #e3e3e3; } 
div.blog-date-widget-wrapper{ color: #a6a6a6; } 
div.blog-date-wrapper{ color: #4e4e4e; } 
div.blog-info-wrapper a{ color: #666666; } 
div.blog-info-wrapper{ color: #a6a6a6; } 
.about-author-wrapper{ background-color: #f5f5f5; } 
div.gdl-pagination a{ background-color: #f5f5f5; } 
div.gdl-pagination a{ color: #7b7b7b; } 
div.gdl-pagination a:hover{ background-color: #1bc4de; } 
div.gdl-pagination a:hover{ color: #ffffff; } 
div.gdl-pagination span{ background-color: #1bc4de; } 
div.gdl-pagination span{ color: #ffffff; } 
div.portfolio-media-wrapper span.portfolio-thumbnail-image-hover{ background-color: #39cce2; } 
.portfolio-item .portfolio-context{ background-color: #f6f6f6; } 
.portfolio-item .portfolio-context:hover{ background-color: #343434; } 
.portfolio-item .portfolio-context .portfolio-title a{ color: #5b5b5b; } 
.portfolio-item .portfolio-context:hover .portfolio-title a{ color: #ffffff; } 
.portfolio-item .portfolio-context .portfolio-tag, .portfolio-item .portfolio-context .portfolio-tag a{ color: #cdd166; } 
.portfolio-item .portfolio-context:hover .portfolio-tag, .portfolio-item .portfolio-context:hover .portfolio-tag a{ color: #41d941; } 
div.single-portfolio .port-info{ color: #7a7a7a; } 
div.single-portfolio .port-info .head{ color: #404040; } 
div.portfolio-carousel-wrapper .port-nav, div.single-portfolio .port-nav a, div.gdl-carousel-testimonial .testimonial-navigation a{ background-color: #b9b9b9; } 
div.portfolio-carousel-wrapper .port-nav:hover, div.single-portfolio .port-nav a:hover, div.gdl-carousel-testimonial .testimonial-navigation a:hover{ background-color: #595959; } 
div.price-item .price-tag{ color: #404040; } 
div.price-item .price-tag .price-suffix{ color: #a5a5a5; } 
div.price-item .price-tag{ background-color: #fafafa; } 
div.price-item .price-tag{ border-color: #ffffff; } 
div.price-item{ color: #868686; } 
div.price-item .price-button{ background-color: #5b5b5b; } 
div.price-item .price-button{ color: #ffffff; } 
div.best-price .price-tag, div.best-price .price-tag .price-suffix{ color: #ffffff; } 
div.best-price .price-tag{ background-color: #1bc4de; } 
div.best-active{ border-top-color: #1bc4de; border-bottom-color: #1bc4de; } 
div.price-item .price-button{ background-color: #1bc4de; } 
div.personnal-item{ background-color: #f7f7f7; } 
div.personnal-item .personnal-position{ color: #9d9d9d; } 
div.personnal-item .personnal-title{ color: #353535; } 
div.personnal-item .personnal-thumbnail{ border-color: #1bc4de; } 
div.personnal-item .personnal-content{ color: #838383; } 
div.personnal-widget-item .personnal-widget-info{ color: #4a4a4a; } 
ul.gdl-accordion li .accordion-title, ul.gdl-toggle-box li .toggle-box-title{ color: #404040; } 
blockquote{ color: #ababab; } 
body blockquote{ border-color: #cfcfcf; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ background-color: #1bc4de; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ color: #ffffff; } 
h2.column-service-title{ color: #4a4a4a; } 
body *{ border-color: #e6e6e6; } 
.scroll-top{ color: #919191; } 
table, table tr, table tr td, table tr th{ border-color: #e5e5e5; } 
table th{ color: #666666; } 
table th{ background-color: #fdfdfd; } 
div.gdl-tab ul.gdl-tab-content, div.gdl-tab ul.gdl-tab-title a.active{ background-color: #ffffff; } 
div.gdl-tab ul.gdl-tab-content{ color: #a6a6a6; } 
div.gdl-tab ul.gdl-tab-title a.active{ color: #575757; } 
div.gdl-tab ul.gdl-tab-title li a.active{ border-top-color: #1bc4de; } 
div.gdl-tab ul.gdl-tab-title a{ color: #959595; } 
div.gdl-tab ul.gdl-tab-title a{ background-color: #fafafa; } 
div.gdl-carousel-testimonial .testimonial-content{ color: #9d9d9d; } 
div.gdl-carousel-testimonial .testimonial-info{ color: #656565; } 
div.gdl-carousel-testimonial .testimonial-content{ background-color: #f8f8f8; } 
div.gdl-static-testimonial .testimonial-item{ color: #666666; } 
div.gdl-static-testimonial .testimonial-item{ border-color: #bdbdbd; } 
div.gdl-static-testimonial .testimonial-info{ color: #a8a8a8; } 
html{ background-image: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/pattern/pattern-1.png); } 
body{ background: url("http://localhost/bluediamond/wp-content/themes/bluediamond/images/pattern/pattern-1-gimmick.png") center 0px repeat-y; } 
.logo-wrapper{ padding-top: 50px; padding-bottom: 40px; } 
div.logo-right-text{ margin-top: 40px; } 
div.navigation-wrapper{ font-size: 13px; } 
h1.gdl-header-title{ font-size: 30px; } 
body{ font-size: 13px; } 
h3.custom-sidebar-title{ font-size: 15px; } 
h1{ font-size: 30px; } 
h2{ font-size: 25px; } 
h3{ font-size: 20px; } 
h4{ font-size: 18px; } 
h5{ font-size: 16px; } 
h6{ font-size: 15px; } 
body{ font-family: "PT Sans"; } 
.gdl-slider-title{ font-family: "Cantora One"; } 
ul.gdl-accordion li.active .accordion-title, ul.gdl-toggle-box li.active .toggle-box-title{ background-image: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/dark/accordion-title-active.png); } 
ul.gdl-accordion li .accordion-title, ul.gdl-toggle-box li .toggle-box-title{ background-image: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/dark/accordion-title.png); } 
div.gdl-carousel-testimonial .testimonial-content{ background-image: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/dark/testimonial-quote.png); } 
div.personnal-widget-prev{ background-image: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/dark/personnal-widget-left.png); } 
div.personnal-widget-next{ background-image: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/dark/personnal-widget-right.png); } 
div.gdl-search-button, div.custom-sidebar #searchsubmit{ background: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/dark/search-button.png) no-repeat center; } 
div.top-search-wrapper input[type='submit']{ background: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/dark/top-search-button.png) no-repeat right center;; } 
div.custom-sidebar ul li{ background: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/dark/li-arrow.png) no-repeat 0px center; } 
div.footer-wrapper div.custom-sidebar ul li{ background: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/light/li-arrow.png) no-repeat 0px center; } 
div.footer-wrapper div.custom-sidebar #searchsubmit{ background: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/light/search-button.png) no-repeat center; } 
div.footer-wrapper div.personnal-widget-prev{ background-image: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/light/personnal-widget-left.png); } 
div.footer-wrapper div.personnal-widget-next{ background-image: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/light/personnal-widget-right.png); } 
div.gdl-twitter-wrapper{ background: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/light/twitter-bottom-head.png) 0 2px no-repeat; } 
div.gdl-twitter-navigation a{ background-image: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/light/twitter-bottom-nav.png); } 
.flex-carousel .flex-direction-nav li a.flex-prev{ background: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/light/carousel-nav-left.png) no-repeat; } 
.flex-carousel .flex-direction-nav li a.flex-next{ background: url(http://localhost/bluediamond/wp-content/themes/bluediamond/images/icon/light/carousel-nav-right.png) no-repeat; } 
div.contact-form-wrapper input[type="text"], div.contact-form-wrapper input[type="password"], div.contact-form-wrapper textarea, div.sidebar-wrapper #search-text input[type="text"], div.sidebar-wrapper .contact-widget input, div.custom-sidebar .contact-widget textarea, div.comment-wrapper input[type="text"], div.comment-wrapper input[type="password"], div.comment-wrapper textarea{ color: #888888; background-color: #ffffff; border-color: #e3e3e3; -webkit-box-shadow: #ececec 0px 1px 4px inset, #f7f7f7 -5px -5px 0px 0px, #f7f7f7 5px 5px 0px 0px, #f7f7f7 5px 0px 0px 0px, #f7f7f7 0px 5px 0px 0px, #f7f7f7 5px -5px 0px 0px, #f7f7f7 -5px 5px 0px 0px ; box-shadow: #ececec 0px 1px 4px inset, #f7f7f7 -5px -5px 0px 0px, #f7f7f7 5px 5px 0px 0px, #f7f7f7 5px 0px 0px 0px, #f7f7f7 0px 5px 0px 0px, #f7f7f7 5px -5px 0px 0px, #f7f7f7 -5px 5px 0px 0px ; } 
div.logo-wrapper{ max-width: 150px; }

@media only screen and (max-width: 767px) {
	.header-wrapper .logo-wrapper{ margin: 0px auto; }
}
div.logo-wrapper { float: left; }
div.logo-right-text { float: right; text-align: right; }
div.boxed-style{ max-width: 1000px; margin-left: auto; margin-right: auto; }
div.body-outer-wrapper{ padding-top: 20px; padding-bottom: 20px; }
div.body-wrapper{ box-shadow: 0px 0px 8px rgba(0,0,0,0.4); }
div.body-wrapper{ -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.4); }
div.body-wrapper{ -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.4); }
@media only screen and (max-width: 767px) {
div.boxed-style{ max-width: 460px; }
}
