#footer-thankyou {
	display:none;
}
#footer-upgrade {
	display:none;
}
.update-nag {
	display : none;
}
#wp-admin-bar-updates {
	display: none;
}
#wp-admin-bar-comments {
	display: none;
}
#wp-admin-bar-wpseo-menu {
	display: none;
}

body.edit-tags-php #col-left .tagcloud {
	display: none;
}

body.widgets-php .add-new-h2 {
	display: none;
}

/* bee option */
.box-rt-adv {
	padding: 0 10px 10px;
	border: #cdcdcd solid 1px;
	margin-bottom: -1px;
}
.sp-box {
	display: inline-block;
	margin-right: 1.5em;
}
.sp-left {
	display: inline-block;
	width: 160px;
}

#adminmenu .wp-menu-image img {
	padding-top: 4px;
}

#rtsettings fieldset {
	border: #D0D0D0 solid 1px;
	padding: 10px;
}
#rtsettings fieldset legend {
	font-weight: bold;
}
#rtsettings p {
	margin: 5px 0;
}