/* custom login */
body.login {
margin: 0 auto;
padding: 0;
background: url('login.jpg') no-repeat top center!important;
height: 100%;
width: 100%;
color: #3A3A3A;
}

#login h1 {
    display:none;
}
#loginform{
margin-top: 80px;
box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 29px;
border-radius: 5px;
padding: 20px;
padding-bottom: 50px;
}
.login label{
color: #929292;
font-weight: bold;
font-size: 13px;
line-height: 30px;
}
.login form .input, .login form input[type=checkbox], .login input[type=text]{
background: #fbfbfb;
border-radius: 5px;
}
input[type=checkbox], input[type=radio]{
border-radius: 2px !important;
}
.login form .forgetmenot label {
font-size: 12px;
line-height: 19px;
font-size: 11px;
font-weight: normal;
}
.login #nav {
margin: -45px 0 0!important;
}
.login #nav a {
text-decoration: none!important;
color: #DF0D0D!important;
font-weight: normal;
font-size: 12px;
padding-left: 18px;
}
.login #wp-submit {
background: #0082CD;
background-image: -webkit-linear-gradient(to bottom, #21A8F6, #0082CD);
background-image: -moz-linear-gradient(to bottom, #21A8F6, #0082CD);
background-image: -ms-linear-gradient(to bottom, #21A8F6, #0082CD);
background-image: -o-linear-gradient(to bottom, #21A8F6, #0082CD);
background-image: linear-gradient(to bottom, #21A8F6, #0082CD);
-webkit-border-radius: 4;
-moz-border-radius: 4;
border-radius: 4px;
font-family: Arial;
color: #ffffff;
font-size: 13px;
padding: 0 11px 5px 11px;
text-decoration: none;
text-shadow: 0px 1px 1px #025483;
}
.login #backtoblog {
    font-size: 11px!important;
    margin: 0!important;
}
