img { max-width:100%; }

.col2-set {
	zoom:1;
	clear:both;
}

.col2-set .col-1 {width:49%;float:left;}

.col2-set .col-2 {width:49%;float:right;}

header.title {overflow:hidden;zoom:1;}

header.title h1,header.title h2,header.title h3,header.title h4,header.title h5 {float:left;}

header.title a.edit {float:right;font-size:12px !important;text-transform:uppercase;}

h1.page-title {
	margin-bottom:15px;
	border: none;
	font-family: 'Open Sans', Helvetica, Arial;
}

.shop-cat-thumb {
	float: left;
	margin: 0 0 20px 0;
}

.shop-cat-thumb img {
	border: 1px solid #D3CCCC;
	margin: 0 20px 0 0;
}

.shop-cat-desc {
	float: left;
	margin-bottom: 10px;
}

.shop-cat-orderby {
	float: left;
	width: 100%;
}

.shop-descwrap {
	float: left;
	width: 100%;
}

/* Woo Sidebars */

.wooside .widget {
	margin-bottom: 40px;
}

/* Woo Widgets */

ul.product-categories {
	list-style: none;
	margin-left: none !important;
	border: 1px solid #efefef;
	background: #F8F8F8;
	padding: 20px 20px 5px 25px;
}

#site-footer ul.product-categories {
	border: none;
	background: none;
}

.wooside .widget li {
	line-height: 25px;
}

.wooside .widget li a {
	color: #0B0B0B;
	font-size: 13px;
}

.wooside .widget li a:hover { color: #DA590F; }

.wooside .children {
	list-style: none;
	margin: 0;
	margin-bottom: 15px;
}

.wooside .widget .children a {
	color: #999;
	font-size: 11px;
	line-height: 20px;
}

.wooside .widget .children a:hover {
	color: #0B0B0B;
}

.wooside .flex-control-nav {
	display: none;
}

.wooside .flexslider {

}

.wooside .widget ul.product_list_widget a {
	font-size: 11px;
}

.wooside .widget ul.product_list_widget li ins .amount {
	font-size: 12px;
	color: #C63E22;
}

.wooside .widget ul.product_list_widget li .from {
	font-size: 11px;
	color: #A1A1A1;
}

#site-footer ul.product-categories {
	padding: 0 20px 20px 20px;
}

#site-footer .widget_product_categories a {
	color: #A1A1A1 !important;
	font-size: 13px;
	font-weight: 800;
}

#site-footer .widget_product_categories .product-categories li {
	line-height: 25px;
}

#site-footer .widget_product_categories .product-categories .children {
	list-style: none;
	list-style-type: none !important;
	margin-left: 8px;	
}

#site-footer .widget_product_categories .product-categories .children a {
	font-size: 11px;
}

#site-footer .widget_product_categories a:hover {
	color: #fff !important;
}

#site-footer .product_list_widget {
	padding: 5px 10px 15px 10px;
	list-style: none;
	margin-left: 0;
}

#site-footer .widget ul.product_list_widget li {
	clear: none;
	overflow: hidden;
	zoom: 1;
	line-height: 14px;
	margin-bottom: 2.2em;
}

#site-footer .widget ul.product_list_widget a {
	font-size: 11px;
	display: block;
	font-weight: normal;
	margin-bottom: 8px;
	color: #A1A1A1;
	font-weight: 800;
	text-transform: uppercase;
}

#site-footer .widget ul.product_list_widget a:hover {
	color: #fff;
}


#site-footer .widget ul.product_list_widget li img {
	float: right;
	margin: 0 0 .5em 1.4em;
	padding: 3px;
	background: white;
	width: 42px;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #E6E6E6 !important;
}

#site-footer .widget ul.product_list_widget li .amount {
	color: #A1A1A1;
	font-size: 11px;
}

p.demo_store {position:fixed;top:0;left:0;right:0;text-align:center;padding:1em 0;background:#ebdd75;color:#827513;z-index:999999;}

.tax-product_cat .shop-title, .tax-product_tag .shop-title {
	display:none;
}

.woocommerce #main>.page-title {display:none;}

mark {background:none;}

ul.products {
	margin: 0 0 1.5em 0;
	padding: 0;
	list-style: none;
}

ul.products li {
	text-align:center;
	list-style:none;
}

ul.products li.first{clear: 
	both;}

ul.products li.last {margin-right:0;}

ul.products li h3 {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 12px;
	margin: 15px 0 0 0;
	font-weight: bold;
	color: #666;
}

ul.products li img {
	border: 1px solid #ededed;
	background:none;
	padding:0;
}

.tf_prodthumb_inner img {
	border: none !important;
}

ul.products li img:hover {

}

ul.products a:hover h3 {
	color: #313030;
	-webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    -ms-transition: color 0.4s linear;
    transition: color 0.4s linear;
}

ul.products li a {display:block;}

ul.products li a img {
	padding:0;
	background:#fff;
	height:auto;
	display:block;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

.tf_prodthumb {
	background: #F7E8E8;
	display: block;
	position: relative;
	padding: 5px;
	overflow: hidden;
}

.tf_prodthumb:hover {
	background: #CEC7C7;
}

.tf_prodthumb_inner {
	display: block;
	position: relative;
	overflow: hidden;	
}

ul.products li .price {
	color: #0B0B0B;
	font-size: 14px;
	display:block;
}

.single-product ul.products li .price {
	font-size: 14px;
}

button.button,input.button,input[type=submit], .widget_shopping_cart .buttons a, a.checkout-button, a.shipping-calculator-button {
	font-family: 'Open Sans', Helvetica, Arial;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 11px;
	display: inline-block;
	margin: 5px 5px 5px 5px;
	padding: 8px 13px;
	color: white !important;
	text-align: center;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none;
	border: none;
	/*Border radius*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; 
	background: #ef9516; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOTUxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjk1MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ef9516 0%, #ef9516 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef9516), color-stop(100%,#ef9516)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ef9516 0%,#ef9516 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ef9516 0%,#ef9516 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ef9516 0%,#ef9516 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ef9516 0%,#ef9516 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9516', endColorstr='#ef9516',GradientType=0 ); /* IE6-8 */    
} 

.wooside .widget_shopping_cart button.button, .wooside .widget_shopping_cart .buttons a {
	margin: 0;
	font-size: 9px;
	font-weight: bold;
}
.price_label {
	text-transform: uppercase;
	font-size: 12px;
	color: #0B0B0B;
}

ul.products li a.button:hover, .widget_shopping_cart .buttons a:hover, button.button:hover,input.button:hover,input[type=submit]:hover, a.checkout-button:hover, a.shipping-calculator-button:hover {
	text-decoration: none !important;
	background: #0B0B0B;
}

li.product a.button, .single-product .upsells li.product a.button, .single-product .related li.product a.button, .tax-product_cat ul.products li.product a.button, .tax-product_tag ul.products li.product a.button {
	font-weight: bold;
	background: #EF9516;
	letter-spacing: 1px;
	position: absolute;
	top: 45%;
	width: 90%;
	left: 5%;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	border: none;
	color: white !important;
	filter: alpha(opacity=@opacity * 100);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	/*Border radius*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;         
}

li.product:hover img, .single-product .upsells li.product:hover img, .single-product .related li.product:hover img, .tax-product_cat ul.products li.product:hover img, .tax-product_tag ul.products li.product:hover img {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

li.product:hover a.button, .single-product .upsells li.product:hover a.button, .single-product .related li.product:hover a.button, .tax-product_cat ul.products li.product:hover a.button, .tax-product_tag ul.products li.product:hover a.button {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

li.product:hover a.button:hover, .single-product .upsells li.product:hover a.button:hover, .single-product .related li.product:hover a.button:hover, .tax-product_cat ul.products li.product:hover a.button:hover, .tax-product_tag ul.products li.product:hover a.button:hover {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  background: #000;
}

li.product:hover h3 {
	color: #313030;
}

li.product .added_to_cart { 
	display: none; 
} 

li.product:hover h3:hover, .single-product .upsells li.product:hover h3:hover, .single-product .related li.product:hover h3:hover {
	color: #313030;
}

ul.products li a.button.loading {
	filter:alpha(opacity=@opacity * 100);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
}

ul.products li a.button.loading:before {
	content:"";
	position:absolute;
	height:16px;
	width:16px;
	left: 45%;
	bottom: -35px;
	text-indent:0;
	background:url(../../images/ajax-load.gif) no-repeat;	
}

ul.products li a.button.added:before { 
	content:"";
	position:absolute;
	height:16px;
	width:16px;
	left: 45%;
	bottom: -32px;
	text-indent:0;
	background:url(../images/icons/ico-tick.png) no-repeat;
}

ul.products li .from {
	font-size: 14px;
	color: #706868;
}

ul.products li del .amount { 
    color: #626262;
}

ul.products li .amount {
    font-size: 14px;
    color: #C63E22;
    font-weight: bold;
}

.single-product .price del {
	color: #626262;
	font-size: 34px;
}

.price del {
}

.single_variation .price del {
	font-size: 22px;
}

ul.products li .amount a {
	color: #0B0B0B;
}

ul.products li ins {background: none;text-decoration:none;color: #fff;}

.ie7 ul.products {overflow:hidden;zoom:1;}

.tf-price-wrap {
	background: #f8f8f8;
	/*padding: 30px;*/
	margin-bottom: 30px;
	border: 1px solid #E1E1E1;
}

.tf-product-title {
	float: left;
	/*width: 65%;*/
}

.tf-product-price {
	float: right;
	/*width: 35%;*/
	text-align: right;
	font-size: 30px;
	padding: 30px 25px 30px 0;
	margin-left: 0 !important;
}

.icon-map-marker {
	margin-left: 20px;
	margin-right: 5px;
}

/* Onsale
-------------------------------------------------------------- */

.onsale {
  padding: 2px 9px;
  text-align: center;
  color: white;
  font-weight: bold;
  position: absolute;
  background: #EF9516;
  top: 8px;
  left: 8px;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 103;
}

.products .onsale { 
	top: 9px;
	left: -3px;
}

.single-product .onsale {
	top: 5px;
	left: -4px;	
}

.pix_label_tag {
display: block;
padding: 0 8px 0 4px;
position: absolute;
right: -6px;
text-transform: uppercase;
top: -11px;
z-index: 2;
}

.pix_label_tag.label_red {
background: #E57465;
}

.pix_label_tag span.label_flag_top {
border-top: 4px dashed;
border-left: 6px solid transparent;
color: transparent!important;
height: 0;
position: absolute;
left: -4px;
top: 0;
width: 0;
}

.pix_label_tag span.label_flag_bottom {
border-bottom: 4px dashed;
border-left: 6px solid transparent;
bottom: 0;
color: transparent!important;
height: 0;
left: -4px;
position: absolute;
width: 0;
}

.pix_label_tag .label_shadow {
	border-top: 5px dashed;
	border-right: 6px solid transparent;
	bottom: -5px;
	color: transparent!important;
	height: 0;
	right: 0;
	position: absolute;
	width: 0;
}

.woocommerce .images {
	clear: both;
	float:left;
	width: 47%;
}

.woocommerce .images img {
	background:#fff;
	height:auto;
	border:1px solid #e5e5e5;
}

.woocommerce .images img:hover{border-color:#ddd;}

.woocommerce .images a {
	display:block;
	margin-bottom:.5em;
}

.woocommerce .images .thumbnails { 
	overflow:hidden;
	zoom:1;
}

.woocommerce .images .thumbnails a {float:left;margin-right:5px;}.woocommerce .images .thumbnails a .last{margin-right:0;}

.woocommerce .images .thumbnails a .first {clear:left;}

.woocommerce .summary {
	float:right;
	margin-bottom:1.5em;
	width: 50%;
}

.woocommerce .summary form {
	margin-top: 1.5em;
	margin-bottom:1.5em;
	padding: 20px;
	background: #f8f8f8;
}

.woocommerce .summary p {margin-bottom: 0;}

.woocommerce .summary del {
	filter:alpha(opacity=@opacity * 100);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
}

.woocommerce .summary ins{
	background: none; 
	text-decoration:none; 
	color: #0B0B0B;
}

.summary p.cart {
    margin-top: 20px;
}

.product .summary .single_add_to_cart_button {
    border: none;
    height: 30px;
    text-align: center;
    letter-spacing: 1px;
    background: #EF9516;
    color: #fff !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer; 
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;  
    padding: 8px 13px;
    font-size: 11px;    
    text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
}

.product .summary .single_add_to_cart_button:hover {
    background: #0B0B0B;
}


ins {
	background-color: none!important; text-decoration:none;
}

.woocommerce .summary p.price, .woocommerce .tf-product-price p.price  {
	font-weight:bold;
	border-left:0;
	border-right:0;
}

.woocommerce .tf-product-price .from {
	display: none;
}

.woocommerce .summary p.price del{
	filter:alpha(opacity=@opacity * 100);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
	font-size: 34px;
}

.woocommerce .summary p.price ins, .woocommerce p.price ins {
	color:#C63E22;
	text-decoration:none;
	padding-left:.5em;
	font-size: 34px;
}


.woocommerce .single_variation .price {font-weight:bold;font-size:22px;display:block;line-height:1.5em;}

.woocommerce .single_variation .price ins .amount {
	color: #C63E22;
}

.woocommerce .summary table.group_table .out-of-stock {display:block;color:#900;}

.woocommerce .summary .button {margin-left:0;}

.woocommerce .prod-excerpt {
	background: #F8F8F8;
	line-height: 25px;
	padding: 20px;
}

/*.woocommerce table th,.woocommerce table td{vertical-align:top;padding:.25em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.woocommerce table tr td:first-child{padding-left:0;}*/

.woocommerce table.shop_attributes th,.woocommerce table.shop_attributes td{padding:.5em 1em;vertical-align:middle;}.woocommerce table.shop_attributes th p:last-child,.woocommerce table.shop_attributes td p:last-child{margin-bottom:0 !important;}

.woocommerce .woocommerce_tabs, .woocommerce .woocommerce-tabs {
	clear:both;
	background:#F8F8F8;
	margin-bottom:20px;
	border:0;
}

.woocommerce .woocommerce_tabs ul.tabs, .woocommerce .woocommerce-tabs ul.tabs{
	overflow:hidden;
	zoom:1;
	list-style:none;
	background:#f3f3f3;
	padding:.5em .5em 0 .5em;
	margin:0;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom: 1px solid #EFEFEF;
}

.woocommerce .woocommerce_tabs ul.tabs li, .woocommerce .woocommerce-tabs ul.tabs li {
	float:left;
}

.woocommerce .woocommerce_tabs ul.tabs li a, .woocommerce .woocommerce-tabs ul.tabs li a { 
	color: #626262;
	background: #EEE;
	display:inline-block; 
	padding:.5em 1em;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	margin-right: 5px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.woocommerce .woocommerce_tabs ul.tabs li a:hover, .woocommerce .woocommerce-tabs ul.tabs li a:hover {
	background: #DDD;
} 

.woocommerce .woocommerce_tabs ul.tabs li.active a, .woocommerce .woocommerce-tabs ul.tabs li.active a{background:#DDD;}

.woocommerce .woocommerce_tabs .panel, .woocommerce .woocommerce-tabs .panel{background: #f8f8f8; padding:1.5em;}.woocommerce .woocommerce_tabs .panel table{border:1px solid #e6e6e6;border-right:0;border-bottom:0;}

.woocommerce .woocommerce_tabs .panel table td,.woocommerce .woocommerce_tabs .panel table th, .woocommerce .woocommerce-tabs .panel table td,.woocommerce .woocommerce-tabs .panel table th{border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}

.woocommerce .woocommerce_tabs .panel table th, .woocommerce .woocommerce-tabs .panel table th{text-align:left;background:#f4f4f4;}

.woocommerce .woocommerce_tabs p,.woocommerce .woocommerce_tabs h2, .woocommerce .woocommerce-tabs p,.woocommerce .woocommerce-tabs h2{margin-bottom: 20px;}

.woocommerce .woocommerce_tabs p, .woocommerce .woocommerce-tabs p {
	line-height: 25px;
}

.woocommerce .woocommerce_tabs #comments, .woocommerce .woocommerce-tabs #comments{border:0;margin:0;padding:0;}

.woocommerce .product_meta{padding:.8em 0;border:1px solid rgba(0, 0, 0, 0.1);border-left:0;border-right:0;margin-bottom:1.5em;}

.woocommerce .social{text-align:right;}.woocommerce .social iframe{float:left;}

.woocommerce #main div.product{position:relative;}

.woocommerce.layout-full .related,.woocommerce.layout-full .upsells{width:45%;padding:2%;border:1px solid rgba(0, 0, 0, 0.1);background:rgba(0, 0, 0, 0.025);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}.woocommerce.layout-full .related h2,.woocommerce.layout-full .upsells h2{margin-bottom:.5em;}

.woocommerce.layout-full .related{float:left;}

.woocommerce.layout-full .upsells{float:right;}.woocommerce.layout-full .upsells ul{float:left;width:100%;margin:0;}

.related.products h2, .upsells.products h2 {
	font-size: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 20px;
}

.related ul.products li h3, .upsells ul.products li h3 {
	margin-top: 5px;
}
.related img, .upsells img {
	margin-bottom: 10px;
}
 
.related li.product a.button, .upsells li.product a.button {
	top: 32% !important;
}

#reviews h2{margin-bottom:.75em;}

#reviews .commentlist{margin-bottom:20px;}

#reviews .comment.bypostauthor{background:none;border:0;}

#reviews img.avatar{
	background:#fff;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
	height:auto;
}

.single-product #comments .commentlist li.comment {
	margin: 0 auto 0 !important;
	padding: 0;	
}

.single-product #comments .commentlist > li.comment {
background: none;
border: 0;
}

.single-product .comment_container {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.woocommerce-product-rating {
	padding: 20px 0;
}

.add_review {
	clear: both;
}

.add_review a {
	text-transform: uppercase;
	font-size: 11px;
	display: inline-block;
	margin: 10px 5px 5px 0px;
	padding: 8px 13px;
	color: white !important;
	text-align: center;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none;
	border: none;
	/*Border radius*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #4C4FA0;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; 
    line-height: 15px; 
}

.add_review a:hover {
	background: #0B0B0B;
}

#review_form_wrapper {
	clear: both;
	margin-top: 20px;
}

#review_form #respond {
	overflow: hidden;
	zoom: 1;
	border: 1px solid #E7E7E7;
	margin: 0;
	padding: 10px 20px 10px;
}

#review_form #respond input, #respond textarea, input#submit {
	display: block;
	margin-top: 5px;
}

#review_form #respond textarea {
	width: 95%; 
}

#fancybox-outer{padding:20px;}

/* Messages and Alerts */

.woocommerce_message, .woocommerce-message,
p.info,
li.info,
.woocommerce_error, .woocommerce-error {
  margin: 0 0 3em;
  padding: .618em 1.618em .618em 2.618em;
  position: relative;
  overflow: hidden;
  zoom: 1;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.woocommerce_message .button, .woocommerce-message .button,
p.info .button,
li.info .button,
.woocommerce_error .button, .woocommerce-error .button {
  float: right;
}

.woocommerce_message, .woocommerce-message {
  border-color: #e5e5e5;
  background: url(../images/icons/ico-tick.png) 1em 0.95em no-repeat;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

p.info,
li.info {
  border-color: #e5e5e5;
  background: url(../images/ico-info-small.png) 1em 0.95em no-repeat;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 0 1px #ffffff;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 0 1px #ffffff;
  -o-box-shadow: inset 0 0 0 1px #ffffff;
}

p.info a,
li.info a {
  font-weight: 700;
}

.woocommerce_error, .woocommerce-error {
  border-color: #e5e5e5;
  background: url(../images/icons/ico-alert.png) 1em 0.95em no-repeat;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

ul.woocommerce_error, ul.woocommerce-error {
  background: none;
  padding: 8px 10px 5px;
}

ul.woocommerce_error li, ul.woocommerce-error li {
  list-style: none;
  margin: 0 0 5px;
  padding: 2px 0 2px 20px;
  background: url(../images/icons/ico-alert.png) 2px center no-repeat;
}

.woohpwidgets-side .widget ul.product_list_widget {
	list-style:none;padding:0;
	margin-left: 0;
	height: 100%;
	/*overflow: hidden;*/
	width: 100%;
}

.widget ul.product_list_widget a {
	color: #0B0B0B;
	font-size: 11px;
}

.widget ul.product_list_widget a:hover {
	color: #DA590F;
}
.widget ul.product_list_widget li{
	clear:left;
	overflow:hidden;
	zoom:1;
}

.widget ul.product_list_widget li .amount {
	font-size: 12px;
	color: #A1A1A1;
	text-transform: uppercase;

}

.widget ul.product_list_widget li .from {
	display: none;
	font-size: 11px;
	color: #A1A1A1;
}

.wooside .widget ul.product_list_widget li .amount {
	font-size: 11px;
}

.widget ul.product_list_widget li ins {
	background: none!important;
	color: #A1A1A1;
	margin-left: 5px;
}

.widget ul.product_list_widget li ins .amount {
	font-size: 12px;
	color: #A1A1A1;
}

.woohpwidgets-side .widget ul.product_list_widget li a {
	display:block;
	padding-left:0;
	border-bottom: 1px solid #242424;
	border-top: 1px solid #464646;
	padding: 20px 20px 20px 20px;
	-webkit-transition: background-color .4s ease-out,border-top-color .4s ease-out;
	-moz-transition: background-color .4s ease-out,border-top-color .4s ease-out;
	-ms-transition: background-color .4s ease-out,border-top-color .4s ease-out;
	-o-transition: background-color .4s ease-out,border-top-color .4s ease-out;
	transition: background-color .4s ease-out,border-top-color .4s ease-out;
}

.woohpwidgets-side .widget ul.product_list_widget li a:hover {
	background: #222;
	border-bottom: 1px solid #242424;
	border-top: 1px solid #464646;
}

.widget ul.product_list_widget li .hpprodthumb {
	display: block;
	float: left;
	margin:0 0 0 0;
	width: 42px;
	height: auto;

}

.widget ul.product_list_widget li .hpprodtitle {
	float: right;
	width: 64%;
	color: #A1A1A1;
	font-size: 11px;
	font-weight: 800;
	text-transform: uppercase;
}

.widget ul.product_list_widget li .hpprodprice {
	color: #fff;
	margin-top: 5px;
}

.widget ul.product_list_widget li .hpprodthumb img { 
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #e6e6e6 !important;
}

#sidebar_content .widget ul.product_list_widget, .wooside .widget ul.product_list_widget {
	list-style: none;
	padding: 0;
	margin-left: 0;
}

#sidebar_content .widget ul.product_list_widget li, .wooside .widget ul.product_list_widget li {
	line-height: 25px;
	margin-bottom: .5em;
}

#sidebar_content .widget ul.product_list_widget li img, .wooside .widget ul.product_list_widget li img {
	float: right;
	margin: 0 0 .5em .5em;
	padding: 3px;
	background: white;
	width: 42px;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #E6E6E6 !important;
}

.widget ul.product_list_widget li dl.variation{overflow:hidden;zoom:1;}

.widget ul.product_list_widget li dl.variation dt{font-weight:bold;float:left;clear:left;margin-right:5px;}


.wooside .widget ul.product_list_widget li dl.variation dt{
	font-weight:bold;
	float:left;
	clear:left;
	margin-right:5px;
	font-size: 11px;
	text-transform: uppercase;
}


.widget ul.product_list_widget li dl.variation dd{float:left;}

.wooside .widget ul.product_list_widget li dl.variation dd{
	font-size: 11px;
	text-transform: uppercase;
}

.widget ul.product_list_widget li .star-rating{float:none;margin-bottom:.25em;}

.widget_shopping_cart ul.cart_list{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2);margin:0 2px;padding:5px 0;}.widget_shopping_cart ul.cart_list li{background:none;padding:5px;margin-bottom:0;}.widget_shopping_cart ul.cart_list li:last-child{border-bottom:0;}

.wooside .widget_shopping_cart ul.cart_list {
	margin: 0;
}

.widget_shopping_cart ul.cart_list li .quantity{line-height:1.25em;}

.wooside .widget_shopping_cart ul.cart_list li .quantity {
	clear: both;
	font-size: 11px;
}

.widget_shopping_cart p.total{background: #F8F8F8; padding:10px 0;text-align:center;font-weight:bold;margin-bottom:0; margin: 10px 2px;}

.widget_shopping_cart .buttons {
	margin-top: 10px;
	text-align: center;
}

.wooside .widget_shopping_cart .buttons {

}

.widget_shopping_cart .buttons .button{padding: 5px 13px 5px 13px;}

.widget_product_search #searchform label{display:none;}

.widget_subscribe_to_newsletter label{display:none;}

.widget_subscribe_to_newsletter input#newsletter_email{width:63%;}

.widget_subscribe_to_newsletter input[type=submit]{margin-right:0;padding:4px 10px;}


/* Price Filter */

.widget_price_filter .price_slider { 
	margin-bottom: 1em;
}

.widget_price_filter .price_slider_amount { 
	text-align: right;
	line-height: 37px;
	font-size: 12px;
}

.widget_price_filter .price_slider_amount .button {
	float: left;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: .9em;
	height: .9em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	border: 1px solid #333;
	cursor: pointer;
	background:#fff;
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#A9A4E4));
	background:-webkit-linear-gradient(#fff,#A9A4E4);background:-moz-linear-gradient(center top,#fff 0,#A9A4E4 100%);
	background:-moz-gradient(center top,#fff 0,#A9A4E4 100%);outline:0;top:-0.3em;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3),inset 0 0 0 1px rgba(255,255,255,0.65);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.3),inset 0 0 0 1px rgba(255,255,255,0.65);
	box-shadow:0 1px 2px rgba(0,0,0,0.3),inset 0 0 0 1px rgba(255,255,255,0.65);
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child{
	margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
	background: rgb(104,108,220); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4NmNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzRmYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(104,108,220,1) 0%, rgba(76,79,160,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,108,220,1)), color-stop(100%,rgba(76,79,160,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(104,108,220,1) 0%,rgba(76,79,160,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(104,108,220,1) 0%,rgba(76,79,160,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(104,108,220,1) 0%,rgba(76,79,160,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(104,108,220,1) 0%,rgba(76,79,160,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686cdc', endColorstr='#4c4fa0',GradientType=0 ); /* IE6-8 */
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	background: #333;
	background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#666));
	background: -webkit-linear-gradient(#333,#666);
	background: -moz-linear-gradient(center top,#333 0,#666 100%);
	background: -moz-gradient(center top,#333 0,#666 100%);
}

.widget_price_filter .ui-slider-horizontal{
	height: .5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min{
	left: -1px;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max{
	right:-1px;
}

.price_slider_amount .button {
	margin-left: 0;
	font-size: 11px;
	padding: 5px 10px;
}


.widget_layered_nav ul{list-style:none;margin-left:0;padding-left:0;}.widget_layered_nav ul li{overflow:hidden;zoom:1;}.widget_layered_nav ul li a{float:left;padding-left:0;}

.widget_layered_nav ul li .count{float:right;line-height:18px;background:#eee;padding:0 8px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;font-weight:bold;box-shadow:inset 0 0 2px 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:inset 0 0 2px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 0 2px 0 rgba(0, 0, 0, 0.1);}

.widget_layered_nav ul li.chosen a{padding-left:18px;background:url(../images/icons/cross.png) left no-repeat;}

/* Quantity
-------------------------------------------------------------- */

.quantity {
    overflow: hidden;
    zoom: 1;
    position: relative;
    width: 67px !important;
    margin: 5px 5px 5px 0;
    margin-right: 12px !important;
    min-width: inherit;
    float: left;
}

.wooside .quantity {
	width: auto !important;
}

.quantity input {
    margin-left: 0;
    margin-right: 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        display:none;
}

.quantity input.qty {
	text-align: center;
    float: left;
    width: 28px;
    padding: 7px 9px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #bbbbbb;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.quantity input.plus,
.quantity input.minus {
    padding: 0;
    border: 1px solid #bbbbbb;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -webkit-linear-gradient(#ffffff, #eeeeee);
    background: -moz-linear-gradient(center top, #ffffff 0%, #eeeeee 100%);
    background: -moz-gradient(center top, #ffffff 0%, #eeeeee 100%);
    box-shadow: inset 0 0 0 1px #ffffff;
    -webkit-box-shadow: inset 0 0 0 1px #ffffff;
    -moz-box-shadow: inset 0 0 0 1px #ffffff;
    color: #888888 !important;
    font-size: 12px;
    width: 20px !important;
    height: 18px !important;
	cursor: pointer;
}

.quantity input.plus:hover,
.quantity input.minus:hover {
    background: #fff
}

.quantity input.plus {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    top: 0;
    right: 0;
}

.quantity input.minus {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.star-rating{float:right;width:80px;height:16px;background:url(../images/icons/star.png) repeat-x left 0;}.star-rating span{background:url(../images/icons/star.png) repeat-x left -32px;height:0;padding-top:16px;overflow:hidden;float:left;}

.products .star-rating { 
	display: none; 
} 

p.stars{overflow:hidden;zoom:1;}p.stars span{width:80px;height:16px;position:relative;float:left;background:url(../images/icons/star.png) repeat-x left 0;}p.stars span a{float:left;position:absolute;left:0;top:0;width:16px;height:0;padding-top:16px;overflow:hidden;}

p.stars span a:hover,p.stars span a:focus{background:url(../images/icons/star.png) repeat-x left -16px;}

p.stars span a.active{background:url(../images/icons/star.png) repeat-x left -32px;}

p.stars span a.star-1{width:16px;z-index:10;}

p.stars span a.star-2{width:32px;z-index:9;}

p.stars span a.star-3{width:48px;z-index:8;}

p.stars span a.star-4{width:64px;z-index:7;}

p.stars span a.star-5{width:80px;z-index:6;}

#sidebar .star-rating,#footer-widgets .star-rating{width:60px;height:12px;background:url(../images/icons/star-small.png) repeat-x left 0;margin-top:2px;}

#sidebar .star-rating span,#footer-widgets .star-rating span{background:url(../images/icons/star-small.png) repeat-x left -24px;padding-top:12px;}

#sidebar p.stars span,#footer-widgets p.stars span{width:60px;height:12px;background:url(../images/icons/star-small.png) repeat-x left 0;}

#sidebar p.stars span a,#footer-widgets p.stars span a{width:12px;padding-top:12px;}

table{width:100%;}table td{vertical-align:top;}

table.cart img {
	width:42px;
	height:auto;
	margin: 15px 0;
}

table.cart {
	line-height: normal;
}

table.cart td.actions{text-align:right;}table.cart td.actions .coupon{float:left;}

.cart .product-name a {
    display: block;
}

.cart .product-name a:hover {
	color: #0B0B0B;
}
.single_variation_wrap {
	margin-top: 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.single_variation {
	margin-top: 10px;
	margin-bottom: 10px
}

.reset_variations {
	font-size: 12px;
}

.shop_table th{text-align:left;padding-left:10px !important;}

.shop_table dl.variation { 
	float: none;
	font-size: 11px;
	overflow:hidden;
	zoom:1;
}

.shop_table dl.variation dt{font-weight:bold;float:left;clear:left;margin-right:5px;}

.shop_table dl.variation dd {
	float:left;
	font-weight: normal;
}

table.shop_table tfoot td {
	font-weight: bold;
}

.cart-collaterals {
	margin: 0 0 20px 0;
	overflow:hidden;
	zoom:1;
}

.cart-collaterals .cart_totals,.cart-collaterals .shipping_calculator,.cart-collaterals .cross-sells{width:48%;float:right;}

.cart-collaterals .shipping_calculator{clear:right;}

.cart-collaterals .cross-sells{float:left;}

.cart-collaterals .cross-sells h2 { 
	margin-bottom: 20px; 
} 
 
.cart-collaterals .cross-sells ul.products li {
	width: 47%;
    float: left;
    clear: left;
    margin-bottom: 20px;
    margin-right: 5%;
}

.cart-collaterals .cross-sells ul.products li.product.last {
	margin-right: 0;
}

.cart-collaterals .cross-sells img { 
	margin-bottom: 0; 
} 

.cart-collaterals .cross-sells ul.products li img {
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
}


/* Order Review */

#order_review dl.variation {
	float: none;
}

h3#order_review_heading {
	clear: both;
	display: block;
	margin: 15px 0 15px 0;
	padding-top: 10px;
}

/* Cross Sells / Up Sells */

ul.products li.product img {
	height: auto;
	display: block;
	width: 100%;
}

ul.products li.product {
	width: 48%;
	float: left;
	position: relative;
	margin: 0;
	margin-bottom: 20px;
}

ul.products li.product:nth-child(2n) {
	float: right;
	clear: none;
}

.cart_totals table th{text-align:right;padding-left:10px;padding-right:10px;}

.cart_totals select{width:100%;}

a.remove{background:#ffffff;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6));background:-webkit-linear-gradient(#ffffff, #f6f6f6);background:-moz-linear-gradient(center top, #ffffff 0%, #f6f6f6 100%);background:-moz-gradient(center top, #ffffff 0%, #f6f6f6 100%);box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.25);-webkit-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.25);-moz-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.25);padding:0 6px;display:block;float:left;line-height:18px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}

.woocommerce_ordering { 
}

.woocommerce .woo-pagination{width:50%;float:left;text-align:left;padding:0;}

.tax-product_cat .navigation, .tax-product_tag .navigation {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}

.tax-product_cat .navigation a:hover, .tax-product_tag .navigation a:hover {
	color: #6D972A
}

.woocommerce-result-count {
	padding-bottom: 10px;
}

.woocommerce_ordering, .woocommerce-ordering, .woocommerce .woo-pagination, .woocommerce-pagination {
	float: left;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	overflow:hidden;
	zoom:1;
	margin-bottom: 30px;
}

.woocommerce-pagination ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.woocommerce-pagination ul li {
	display: inline;
	padding: 10px;
}

#shiptobilling{float:right;}
.create-account{float:left;}
.payment_methods{margin:0 0 1.5em 0 !important;padding:0 !important;list-style:none !important;}.payment_methods li{list-style:none !important;border-bottom:1px solid rgba(0, 0, 0, 0.05);padding:10px 0;}.payment_methods li img{float:right;padding:0 !important;border:none !important;}
.payment_methods li .payment_box {
	padding:10px;
	border:1px solid #E6E6E6;
	background:#EEE;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-top:5px;
}

.payment_methods li .payment_box p{margin:0;}

.ie7 .payment_methods li img{margin-top:-24px;}

.payment_methods input, select {
	vertical-align: baseline;
}

.payment_box fieldset{margin-bottom:0;}

.payment_box .form-row .woocommerce-select{width:30.75%;float:left;margin-right:3.8%;}

.payment_methods+.form-row{width:100%;}.payment_methods+.form-row #place_order{float:right;margin-right:0;}

.payment_methods+.form-row label{display:inline;}

.payment_methods+.form-row input{float:left;}

.required{color:red;}

.order_details{
	overflow: hidden;
	zoom:1;
	margin: 20px 0 20px;
	list-style:none;
}

.shop_table.order_details {
	overflow: visible;
}
.order_details li{
	float:left;
	margin: 0 20px 0 0;
	text-transform:uppercase;
	line-height:1em;
	border-right:1px dashed #ccc;
	padding-right:2em;
}

.order_details li strong{display:block;font-size:1.4em;text-transform:none;line-height:1.5em;}

.order_details li.method{border:none;}

.woocommerce-account dl{margin-bottom:10px;}

.woocommerce-account mark{background:none;}

.woocommerce-account table.my_account_orders .button{margin:0;}

.woocommerce-account .addresses address{clear:both;}

.ie7 #footer-widgets{clear:both;}

#breadcrumb, .woocommerce-breadcrumb  {
	font-size: 11px;
    margin: 0 0 20px 0;
}

#breadcrumb a, #breadcrumb a:visited, .woocommerce-breadcrumb a, .woocommerce-breadcrumb a:visited {
	color: #0B0B0B;
}

#breadcrumb a:hover, .woocommerce-breadcrumb a:hover {
	color: #4C4FA0;
}

.term_description p {
	margin-bottom: 15px;
}

table.cart td.actions a.button {
	font-size: 12px;
	font-weight: normal;
}

a.shipping-calculator-button {
	font-weight: normal;
}

div form .form-row input.input-text, div  #content .form-row input.input-text, div  form .form-row textarea, div #content .form-row textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: 1px solid #E6E6E6;
	width: 100%;
	padding: 7px;
	margin: 0;
	outline: 0;
	background: #F8F8F8 none;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 18px;
}

.coupon .input-text {
	background: #F8F8F8 none;
	padding: 7px;
	border: 1px solid #E6E6E6;
	margin-left: 5px;
}

input[type=text]:focus, textarea:focus, div form .form-row input.input-text:focus, div #content .form-row input.input-text:focus, div form .form-row textarea:focus, div #content .form-row textarea:focus {
	box-shadow: inset 0 0 0 3px #7a7979;
	-webkit-box-shadow: inset 0 0 0 3px #7a7979;
	-moz-box-shadow: inset 0 0 0 3px #7a7979;
	outline:0;
}

.form-row{overflow:hidden;zoom:1;padding:3px;margin:0 0 6px;}.form-row label{display:block;}

.form-row label.hidden{visibility:hidden;}

.form-row select{width:50%;cursor:pointer;margin:0;}

#calc_shipping_country {
	width: 100%;
}

.form-row .required{color:#c00;font-weight:bold;}

.form-row .input-checkbox{display:inline;margin:-2px 8px 0 0;text-align:center;vertical-align:middle;}

.form-row label.checkbox{display:inline;}

form .form-row input.input-text,#content .form-row input.input-text,form .form-row textarea,#content .form-row textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);border:1px solid #ccc;width:100%;padding:6px;margin:0;outline:0;background:#fff none;font-size:14px;line-height:1em;}

form .form-row textarea,#content .form-row textarea{height:3.5em;line-height:1.5em;display:block;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}

.form-row-first,.form-row-last{float:left;width:47%;overflow:visible;}

.form-row-last{float:right;} 

.form-row-wide { 
	overflow: visible; 
} 

.clear{clear:both;}

.checkout .form-row label.hidden {
	display: block;
	overflow: visible;
	position: relative;
	width: 0!important;
	height: 23px!important;
}

.entry-content .checkout p {
	margin: 0;
}


.commentlist > li.comment {
    
}

.single-product .upsells, .single-product .related {
	margin-bottom: 20px;
}

@media only screen and (max-width: 989px) and (min-width: 768px) {

	li.product a.button, .single-product .upsells li.product a.button, .single-product .related li.product a.button, .tax-product_cat ul.products li.product a.button, .tax-product_tag ul.products li.product a.button {
		font-size: 9px;
	}	
}

@media only screen and (max-width: 700px) {

	.cart-collaterals .cross-sells,
	.cart-collaterals .cart_totals,
	.cart-collaterals .shipping_calculator,
	#customer_details .col-1,
	#customer_details .col-2 {
		clear:both;
		float: none;
		width: 100%;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	ul.products li.product { 
		clear: both;
	}

	li.product a.button, .single-product .upsells li.product a.button, .single-product .related li.product a.button, .tax-product_cat ul.products li.product a.button, .tax-product_tag ul.products li.product a.button {
		font-size: 9px;
	}

}

@media only screen and (min-width: 768px) {

    /* Cross Sells / Up Sells */

    .single-product .upsells {
		float: right;
		width: 48%;
	}

    .single-product .related {
		float: left;
		width: 48%;
	}

	ul.products li.product {
		width: 21.5%;
		margin-right: 4.2%;
	}

	.tfshop-3 ul.products li.product {
		width: 30.5%;
	}

    ul.products li.product.first {
		clear: both;
	}

    ul.products li.product.last {
		margin: 0;
	}

    .single-product .related li.product, .single-product .upsells li.product {
        width: 29.7%;
    }

    ul.products li.product img {
    	float: none;
    	width: 100%;
    }

    ul.products li.product:nth-child(2n) {
		float: left;
	}  
}