.site-container, .site-inner, .footer-widgets > .wrap, .site-footer > .wrap {
  width: 100%;
  margin: auto;
  position: relative;
}
.site-container:after, .site-inner:after, .footer-widgets > .wrap:after, .site-footer > .wrap:after, .site-header > .wrap, .wrapcontent {
  display: table;
  content: "";
  clear: both;
}

/* Variable */
/* Mixin */
/* Css site */
a:hover {
  color: #ff0000;
}

/* General */
.site-inner {
  background: #fff;
  padding-top: 5px;
}

.site-inner:after {
  display: table;
  content: "";
  clear: both;
}

.site-title {
  position: absolute;
  text-indent: -9999px;
}

/* Header - Banner */
.site-header {
  position: relative;
  background: url('images/bg-header.png') no-repeat;
}

.site-header .imgbanner {
  display: block;
  line-height: 0;
  width: 220px;
  float: left;
  padding: 5px 0px;
}

.site-header .imgbanner img {
  width: 100%;
  margin: 0 0 0 119px;
}

#searchform, .search-form {
  overflow: hidden;
  padding: 2px;
  border-radius: 30px;
  background:#fff;
  border: 1px solid #f52555;
}

.search-form {
  position: absolute;
  z-index: 100;
  right: 6px;
  top: -423px;
}

#searchform label {
  display: none;
}

#searchform input[type=text],
.search-form input[type=text],
.search-form input[type=search] {
  float: left;
  width: 160px;
  border: none;
  height: 30px;
  padding: 0px 6px;
  font-size: 12px;
  color: #fff;
  outline: none;
}

#searchform input[type=submit], .search-form input[type=submit] {
  float: left;
  width: 24px;
  height: 30px;
  border: none;
  text-indent: -9999px;
  background: url(images/btsearch.png) center no-repeat;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #333;
}

:-moz-placeholder {
  color: #333;
  opacity: 1;
}

::-moz-placeholder {
  color: #333;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #333;
}

/* Nav Primary */
.nav-primary {
  float: right;
  max-width: 990px;
  margin-top: 14px;
  height: 80px;
  padding-right: 30px;
}
.nav-primary .wrap {
  /*width: 1000px;
  margin: 0 auto;*/
}
.nav-primary .wrap ul {
  margin: 0;
  padding: 0;
  position: relative;
}
.nav-primary .wrap ul li {
  float: left;
  list-style: none;
  color: #fff;
}
.nav-primary .wrap ul li a {
  font-size: 12px;
  font-weight: 500;
  padding: 0px 16px;
  line-height: 80px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: #fff;
}
.nav-primary .wrap ul li:hover, .nav-primary .wrap ul li.current_page_item, .nav-primary .wrap ul li.current-cat, .nav-primary .wrap ul li.current-menu-item {
/*  color: -webkit-linear-gradient(#85cb2d, #85cb2d, #85cb2d);
  color: -o-linear-gradient(#85cb2d, #85cb2d, #85cb2d);
  color: -moz-linear-gradient(#85cb2d, #85cb2d, #85cb2d);
  color: linear-gradient(#85cb2d, #85cb2d, #85cb2d);*/
}
.nav-primary .wrap ul li .sub-menu {
  z-index: 9999;
  position: absolute;
  width: 100%;
  display: none;
  border: 1px solid #cdcdcd;
  background: #fff;
  padding: 10px;
  text-align: center;
  left: 0;
  -moz-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  -webkit-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  -o-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}
.nav-primary .wrap ul li ul > li {
  float: left;
  text-align: left;
  width: 24.5%;
  padding: 0 5px;
  margin-top: 0;
  margin-bottom: 5px;
  -moz-transition: opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
  -webkit-transition: opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
  -o-transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
  transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
}
.nav-primary .wrap ul li ul > li > a {
  color: #333;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0;
}
.nav-primary .wrap ul li ul li:first-child {
  border: none;
}
.nav-primary .wrap li:hover .sub-menu {
  display: block;
}
.nav-primary .wrap ul > li:hover > li {
  margin-top: 0;
  opacity: 1;
}
/* menu cap 3 */
.nav-primary .wrap ul li li .sub-menu {
  position: static!important;
  opacity: 1;
  visibility: visible;
  border: none;
  padding: 0;
  margin-top: 6px;
}
.nav-primary .wrap ul ul ul li {
  width: 100%;
  margin: 0;
  padding: 0;
}
.nav-primary .wrap ul ul ul li a {
  font-weight: 500;
  text-transform: none;
}

.content-sidebar-wrap {
  /*margin-top: 15px;*/
  position: relative;
}

/* Sidebar */
.content-sidebar .sidebar, .sidebar-content .sidebar {
  width: 24%;
  padding-left: 5px;
}

.sidebar .widget {
  border: #dedede solid 1px;
  margin-bottom: 10px;
  padding: 0 0 0px 0;
  border-radius: 10px 10px 0 0;
}

.sidebar .widget-title {
  font-size: 13px;
  color: #2b2b2b;
  text-align: left;
  padding-left: 10px;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 6px;
  font-weight: bold;
  background: #ddd;
  border-left: #2a1301 5px solid;
  /*background: -webkit-linear-gradient(#323232,#323232,#323232);
  background: -o-linear-gradient(#323232,#323232,#323232);
  background: -moz-linear-gradient(#323232,#323232,#323232);
  background: linear-gradient(#323232,#323232,#323232);*/
  /*border-radius: 10px 10px 0 0;*/
}

.sidebar ul, .sidebar ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  list-style: url(images/list-li.png) inside;
  padding: 7px 0px 7px 20px;
  position: relative;
  border-bottom: 1px dotted #bababa;
}

.sidebar ul li a {
  display: inline;
  color: #4a4a4a;
  font-size: 14px;
}

.sidebar ul li a:hover {
  color: #194681;
}

.sidebar ul ul {
  position: absolute;
  left: 86%;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 9999;
  opacity: 0;
  border: #c5c5c5 solid 1px;
  visibility: hidden;
  -moz-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  -webkit-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  -o-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}

.sidebar ul li:hover > ul {
  opacity: 1;
  left: 100%;
  visibility: visible;
}

.sidebar ul ul ul {
  top: -1px;
}

/* support online */
#supporter-info .supporter {
  text-align: center;
  font-weight: bold;
  padding: 4px 0px;
}
#supporter-info .supporter .online {
  text-align: center;
  margin: 2px 0 5px;
}
#supporter-info .supporter .online .yahoo, #supporter-info .supporter .online .skype {
  display: inline-block;
  margin: 0px 5px;
}
#supporter-info .supporter .online .yahoo a, #supporter-info .supporter .online .skype a {
  line-height: 0;
  display: block;
}
#supporter-info .supporter .online .skype img {
  height: 16px;
  width: auto;
  margin: 0 !important;
  vertical-align: middle !important;
}
#supporter-info .supporter .online .skype p {
  margin: 0 !important;
}
#supporter-info .supporter .phone {
  color: #cb023a;
  font-weight: bold;
  font-size: 13px;
}
#supporter-info .supporter .name {
  font-weight: normal;
  color: #757272;
  display: block;
}

/* featured post */
.sidebar .featuredpost .entry,
.sidebar .featuredpage .entry {
  margin: 0;
  padding: 8px 5px;
  overflow: hidden;
  border-bottom: 1px dotted #bababa;
}
.sidebar .featuredpost .alignleft, .sidebar .featuredpost .alignright,
.sidebar .featuredpage .alignleft,
.sidebar .featuredpage .alignright {
  margin: 0 6px 0 0;
}
.sidebar .featuredpost .alignleft img, .sidebar .featuredpost .alignright img,
.sidebar .featuredpage .alignleft img,
.sidebar .featuredpage .alignright img {
  height: 60px;
  width: 65px;
  border: 1px solid #dfdfdf;
}
.sidebar .featuredpost .entry-title,
.sidebar .featuredpage .entry-title {
 /* color: #cb023a;*/
  font-size: 12px;
  margin: 0;
  padding: 0;
  clear: none;
  font-weight: 600;
  text-transform: uppercase;
}
.sidebar .featuredpost .more-from-category,
.sidebar .featuredpage .more-from-category {
  clear: both;
  margin: 10px;
  text-align: right;
  font-style: italic;
  text-decoration: underline;
}

.cpd {
  padding-right: 10px !important;
}

/** Pagenavi **/
.wp-pagenavi {
  float: right;
  margin: 10px;
}

.wp-pagenavi a, .wp-pagenavi span {
  border: 1px solid #BFBFBF;
  margin: 2px !important;
  padding: 3px 7px !important;
  text-decoration: none;
}

/** Pagenavi **/
.wp-pagenavi {
  float: right;
  margin: 10px;
}
.wp-pagenavi a, .wp-pagenavi span {
  border: 1px solid #BFBFBF;
  margin: 2px !important;
  padding: 3px 7px !important;
  text-decoration: none;
}

.metaslider {
  margin: 0 auto 15px !important;
  max-width: none !important;
  background: #fff;
}

/* Home */
.content-sidebar .content, .sidebar-content .content {
  width: 76%;
  padding-left: 15px;
  padding-right: 0;
}

.heading,
#related-post h3,
.page-title,
.related h2 {
  font-size: 18px;
  font-weight: bold;

  font-weight: bold;
  line-height: 40px;
  clear: both;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-indent: 15px;
  color: #1e7ad8;

}
.heading {
  margin-bottom: 5px;
  border-bottom: #dcdcdc solid 1px;
}

/* product home */
.product-list {
  margin: 0 -0.5%;
}
.product-list .product-item {
  float: left;
  width: 19.1%;
  height: auto;
  margin: 5px 0.3% 8px;
  /*overflow: hidden;*/
}
.product-list .product-item .product-title {
  font-size: 16px;
  color: #5e5e5e;
  text-align: center;
  font-weight: 600;
  display: block;
  margin-top: 3px;
}
.product-list .product-item .product-img {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 170px;
  overflow: hidden;
}
.product-list .product-item .product-img a {
  text-align: center;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  /*&:before, &:after {
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      content: "";
      opacity: 0;
      position: absolute;
      pointer-events: none;
      -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
      -moz-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
      transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
      z-index: 10;
  }
  &:before {
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
      -webkit-transform: scale(0, 1);
      -moz-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      -o-transform: scale(0, 1);
      transform: scale(0, 1);
  }
  &:after {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      -webkit-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
  &:hover:before, &:hover:after {
  	opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
  }*/
}
.product-list .product-item .product-img a img {
  width: 100%;
  height: auto;
  position: relative;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transform: scale(1);
}
.product-list .product-item:nth-child( 5n + 1  ) {
  clear: left;
}

.product-list .product-item .product-img:hover img {
  opacity: .8;
  /*-webkit-transform: scale(1.3);*/
}

.price {
  color: #b7b7b7;
  text-align: center;
  font-weight: bold;
  margin: 3px 0;
  font-size: 12px;
}

.price p {
  margin: 0;
}

.textline {
  color: #6e6e6e;
  font-size: 12px;
}

/* Page home */
.home-page {
  position: relative;
  padding: 10px;
  border: #dcdcdc solid 1px;
  margin-bottom: 15px !important;
}
.home-page .home-page-img {
  display: block;
  line-height: 0;
  position: relative;
  float: left;
  width: 230px;
  margin: 0 15px 5px 0;
  background: linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%) repeat 0 0;
  background: -webkit-linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%) repeat 0 0;
  background: -moz-linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%) repeat 0 0;
  background: -ms-linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%) repeat 0 0;
}
.home-page .home-page-img:before, .home-page .home-page-img:after {
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  content: "";
  opacity: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  -moz-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  z-index: 10;
}
.home-page .home-page-img:before {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transform: scale(0, 1);
}
.home-page .home-page-img:after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
}
.home-page .home-page-img:hover:before, .home-page .home-page-img:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.home-page .home-page-img:hover img {
  opacity: .9;
}
.home-page .home-page-title {
  clear: none;
  font-size: 20px;
  margin-bottom: 6px;
}
.home-page table, .home-page td, .home-page tr, .home-page th {
  border: none;
}
.home-page .more-link {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  text-decoration: underline;
  font-style: italic;
}

/* news home */
.news-list .news-item {
  margin: 10px 0;
  overflow: hidden;
}
.news-list .news-item img {
  border: 1px solid #E1E1E1;
  width: 80px;
  height: 80px;
  float: left;
  clear: left;
  margin-right: 5px;
}
.news-list .news-item .news-title {
  line-height: 20px;
  overflow: hidden;
  color: #333;
  text-align: left;
  font-weight: 600;
}
.news-list .news-item i {
  margin-right: 5px;
}
.news-list .news-first-item img {
  float: left;
  width: 30%;
  margin-right: 1em;
}
.news-list .news-first-item .news-title {
  font-size: 15px;
}
.news-list .news-first-item p {
  margin: 5px 0;
}

/* Footer */
.footer-widgets {
  background: #333333;
  margin-top: 15px;
  padding: 20px 0px 35px;
/*  background: -webkit-linear-gradient(#ffffff,#ffffff,#ffffff);
  background: -o-linear-gradient(#ffffff,#ffffff,#ffffff);
  background: -moz-linear-gradient(#ffffff,#ffffff,#ffffff);
  background: linear-gradient(#ffffff,#ffffff,#ffffff);*/
  color: #e7e7e7;
  text-align: center;
}
.footer-widgets .widget {
  text-align: left;
  width: 32.3%;
  display: inline-table;
  padding: 0 10px;
}
#text-6 {
  width: 100%;
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
}
#text-6 .widget-title {
  font-size: 24px;
  font-weight: 500;
  border: none;
  margin-bottom: 0;
  color: yellow;
}
.footer-widgets .widget ul {
  margin: 0;
  list-style-position: inside;
}
.footer-widgets .widget ul li {
  margin: 7px 0px;
  list-style: none;
  color: #e3e3e3;
}
.footer-widgets .widget p {
  margin: 0;
  font-size: 14px;
}
.footer-widgets .widget .bt-bold {
  font-weight: bold;
}
.footer-widgets .widget .widget-title {
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 18px;
  border-bottom: #e7e7e7 solid 1px;
  padding-bottom: 5px;
}

.site-footer, #text-slogan {
  position: relative;
  width: 1200px;
  margin: auto;
}

p#credit-link {
  color: #e7e7e7;
  text-decoration: none;
  padding-right: 12px;
  line-height: 24px;
  font-size: 10px;
  margin: 0;
  position: absolute;
  top: -24px;
  right: 0;
}

/* single product */
#product-detail {
  /*margin: 15px 0px 10px;*/
}

.single-info {
  margin-bottom: 10px;
}

.single-thumb {
  float: left;
  width: 40%;
  text-align: center;
}

.single-attribute {
  float: right;
  width: 60%;
  padding-left: 1em;
}

.single-attribute ul li {
  list-style: square inside none;
  color: #cb023a;
  padding: 8px 0px;
  border-bottom: 1px dotted #CCC;
}

.single-attribute ul li .left {
  display: inline-block;
  width: 150px;
}

.single-attribute ul li span.right {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

a.contact {
  float: right;
  margin-top: 10px;
  padding: 5px 15px;
  background: none repeat scroll 0% 0% #F15A24;
  color: #FFF;
  font-weight: bold;
  border-radius: 10px;
}

h4.cnt-head {
  text-transform: uppercase;
  color: #133c71;
  font-weight: bold;
  text-align: center;
}

/* archive news */
.news-post {
  border-bottom: 1px solid #E4E4E4;
  margin: 0 0px 15px;
  overflow: hidden;
  padding: 10px;
}
.news-post h2 {
  font-size: inherit;
}
.news-post .news-title {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin: 0;
  clear: none;
}
.news-post img {
  border: 1px solid #E4E4E4;
  float: left;
  height: 120px;
  margin: 0px 10px 5px 0px;
  width: 150px;
}
.news-post p {
  padding: 10px 15px 5px 5px;
  text-align: justify;
  color: #000;
  margin: 0;
}
.news-post .more-link {
  display: block;
  color: #10376a;
  font-weight: bold;
}

.content .entry-title {
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  background: -webkit-linear-gradient(#323232,#323232,#323232);
  background: -o-linear-gradient(#323232,#323232,#323232);
  background: -moz-linear-gradient(#323232,#323232,#323232);
  background: linear-gradient(#323232,#323232,#323232);
 /* border-radius: 10px 10px 0 0;*/
  line-height: 40px;
  color: #fff;
  text-indent: 20px;
}
.content .entry-content {
  padding: 10px;
}
.entry-content p, .entry-content div {
  margin-bottom: 10px;
  min-height: 1px;
}

.entry-content h1 {
  font-size: 20px;
}

.entry-content h2, #reply-title {
  font-size: 18px;
}

.entry-content h3 {
  font-size: 16px;
}

.entry-content h4 {
  font-size: 14px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4 {
  margin-bottom: 5px;
}

/* news related */
#related-news {
  margin-top: 15px;
}
#related-news h3 {
  text-transform: uppercase;
  margin: 6px 0;
  font-size: 13px;
  font-weight: bold;
}
#related-news ul {
  margin: 0;
}
#related-news ul li {
  list-style: square inside;
  color: #666;
  padding: 3px 0;
}
#related-news ul li a {
  color: #444;
}
#related-news ul li a:hover {
  color: #222;
}

/* contact form */
.wpcf7 p {
  line-height: 2;
  overflow: hidden;
}
.wpcf7 label {
  float: left;
  width: 120px;
  margin-right: 6px;
  line-height: 38px;
}
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 input[type=tel] {
  width: 260px;
  float: left;
  margin-right: 7px;
}
.wpcf7 textarea {
  width: 260px;
  height: 120px;
  margin-bottom: 7px;
  resize: none;
}
.wpcf7 input[type=submit] {
  margin-left: 126px;
  padding: 0px 23px;
  font-size: 13px;
}

/* slide product sidebar */
.products-slider-widget .promoteslider {
  padding: 0 5px;
}
.products-slider-widget .promoteslider .bt-slide-item {
  padding: 5px 0px;
  text-align: center;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px dotted #bababa;
}
.products-slider-widget .promoteslider .bt-slide-item img {
  margin-bottom: 5px;
  height: 175px;
  width: auto;
  margin: 0 auto;
  border: 1px solid #eaeaea;
}
.products-slider-widget .promoteslider .bt-slide-item h3 {
  line-height: 20px;
  color: #252525;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-top: 3px;
  font-size: 1em;
}
.products-slider-widget .promoteslider .price {
  margin-bottom: 0;
}

.pro-slide .owl-carousel .owl-controls .owl-prev,
.pro-slide .owl-carousel .owl-controls .owl-next,
.bt-enable-slide.owl-carousel .owl-controls .owl-prev,
.bt-enable-slide.owl-carousel .owl-controls .owl-next {
  position: absolute;
  top: -37px;
  right: 0;
  font-size: 15px;
  color: #999;
  z-index: 1;
}
.pro-slide .owl-carousel .owl-controls .owl-prev i,
.pro-slide .owl-carousel .owl-controls .owl-next i,
.bt-enable-slide.owl-carousel .owl-controls .owl-prev i,
.bt-enable-slide.owl-carousel .owl-controls .owl-next i {
  width: 24px;
  line-height: 20px;
  text-align: center;
  border: #e7e7e7 solid 1px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.pro-slide .owl-carousel .owl-controls .owl-prev i:hover,
.pro-slide .owl-carousel .owl-controls .owl-next i:hover,
.bt-enable-slide.owl-carousel .owl-controls .owl-prev i:hover,
.bt-enable-slide.owl-carousel .owl-controls .owl-next i:hover {
  border-color: #fff;
  color: #fff;
}
.pro-slide .owl-carousel .owl-controls .owl-prev,
.bt-enable-slide.owl-carousel .owl-controls .owl-prev {
  right: 28px;
}

/* Image Adv sidebar */
.sidebar .image-adv .image-item {
  margin-bottom: 5px;
}
.sidebar .image-adv .image-item a {
  display: block;
}

.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
  background: #191919;
  width: 32px;
  height: 32px;
}
.back-to-top i {
  color: #fff;
  line-height: 30px;
  font-size: 20px;
}
.back-to-top:hover {
  background-color: #fff;
}

/* back top */
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
  background: #191919;
  width: 32px;
  height: 32px;
}

.back-to-top i {
  color: #fff;
  line-height: 30px;
  font-size: 20px;
}

.back-to-top:hover {
  background-color: #058df2;
}

/***** EXTRAs ****/
#toggle-top,
.touch {
  display: none;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
  height: auto !important;
}

.no-break * {
  margin-bottom: 0px !important;
}

/* Shortcodes */
.pro-slide {
  padding-top: 26px;
}

.pro-slide .owl-controls .owl-prev,
.pro-slide .owl-controls .owl-next {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  color: #999;
}

.pro-slide .owl-controls .owl-prev i,
.pro-slide .owl-controls .owl-next i {
  width: 24px;
  line-height: 20px;
  text-align: center;
  border: #999 solid 1px;
}

.pro-slide .owl-controls .owl-prev {
  right: 28px;
}

/*# sourceMappingURL=main.css.map */


/*CSS biet thu dep*/
body.custom-background{
  background-image:none !important;
}

.nav-primary .wrap ul li a:hover{
  color: #85cb2d;
}
.site-header > .wrap,
.footer-widgets > .wrap
.product-wrap, .wrapcontent {
  margin: auto;
  width: 1350px;
  position: relative;
}

#facebook-like-widget-2{
  float: right;
  color: black;
  width: 30%;
}

#rt-featured-post-3{
  width: 68%;
  float: left;
}

#rt-featured-post-3 .widget-wrap .widgettitle,
#facebook-like-widget-2 .widget-wrap .widgettitle{
  background: #85cb2d;
  font-size: 16px;
}


.entry-header{
  color: black;
}

article .entry-header .entry-title{
  font-size: 16px;
  font-weight: lighter;
  clear: none;
}

article{
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}

  /*article:last-child{
    padding-top: 10px;
  }*/
#rt-featured-post-3 .alignleft{
  width: 15%;
  padding-left:30px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.alignleft img{
  width: 85px;
  height: 63px;
}


#text-4 .textwidget{
  color: #e7e7e7;
}

#footer-bl1 .wrapcontent, .footer-widgets>.wrap {
  width: 1250px;
  margin: 0 auto;
}
#footer-bl1 .widget .title{
  color: #1e7ad8;
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.ml-slider{
  border-bottom: 5px solid #464646;
  padding-bottom: 5px;
}
.f-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
}
.f-nav > .wrap {
  padding: 5px 0px;
}
body.logged-in .f-nav {
  top: 32px;
  background: #323232;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


#footer-bl1 .widget:first-child{
  width: 68%;
  float: left;
}
#facebook-like-widget-2 {
  width: 23%;
  float: right;
}

#footer-bl1 .tagcloud{

}

#footer-bl1 .tagcloud a{
  color: #1e7ad8;
  border-right: 1px solid #ccc; 
  padding: 0 5px;
  line-height: 1;
  font-size: 13px !important;
}
#footer-bl1 .tagcloud a:hover{
  text-decoration: underline;
}

#logo-slide {
  width: 1199px;
  margin: 15px auto 0;
  padding: 10px;
  border: #dcdcdc solid 1px;
}
#logo-slide .image-item {
  text-align: center;
}

#product-4 .product-item{
  width: 24%;
}

.content-left-home-page .wrapcontent{
  width: inherit!important;
}
.content-left-home-page{
  width: 25%;
  float: left;
  padding: 20px 50px;
  background: #EEEEEE;
}

.content-right-home-page{
width: 75%;
float: right;
padding: 10px;
}

.fa-diamond{
    font-size: 38px;
    padding: 20px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    margin: 10px auto;

}
.fa-diamond:hover{
  color: #000;
  background: #cecece;
}
.center{
 text-align: center;
}

.viewall{
  text-align: center;
  
}
.viewall{
  background: #2b46dd;
  color:#fff;
  padding: 0px 20px;
  font-size: 14px;
  letter-spacing: 3px;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  transition: background-color ease-in 200ms;
  -webkit-transition: background-color ease-in 200ms;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.2);
  width: 20%;
}
.viewall:hover a {
  color: #DADADA;
}