/* css login */
.login {
	background-image: url(bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.login a:hover {
	color: #ff9300 !important;
}
.login h1 a {
	display: none;
}
#login {
	width: 575px;
	padding: 12% 0 0;
}
.login form {
	box-shadow: none;
	padding: 26px 85px 46px;
	background: none;
	margin-top: 0;
	background:url(login-nav.png) center no-repeat;
}
.login form .input, .login input[type=text] {
	padding: 3px 5px;
	border-radius: 8px;
}
.login input[type=text]:focus {

}
input[type=checkbox]:checked:before {
	color: #fcee00;
}
.login #nav {
    margin: -44px 80px 0;
}
.login #nav a {
	color: #ff0000;
}
#backtoblog {
    margin: -19px 220px 0;
    width: 200px;
}
.wp-core-ui .button-primary {
	background: -webkit-linear-gradient(#ffb400, #ff7f00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffb400, #ff7f00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffb400, #ff7f00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffb400, #ff7f00); /* Standard syntax (must be last) */
    -webkit-box-shadow: inset 0 1px 0 #ffcb87;
    box-shadow: inset 0 1px 0 #ffcb87;
    border: none;
}
.wp-core-ui .button-primary:hover {
	background: -webkit-linear-gradient(#D09E27, #CA792A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#D09E27, #CA792A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#D09E27, #CA792A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#D09E27, #CA792A); /* Standard syntax (must be last) */
}