/*---------------------------------------blog-detail-main---------------------------------------*/
.blogdetail{
    background: #fff;
}
.blog-detail-post{
    margin-bottom: 40px;
}
.blog-detail-post h2 a{
    font-size: 22px;
    color: #333;
}
.blog-detail-post p{
    font-size: 14px;
    font-family: arial;
    text-align: justify;
}
.blog-detail-post img{
    width: 100%;
}
.blog-detail-reply h2{
    font-size: 16px;
    text-transform: uppercase;
}
.table tr td{
    border: none!important;
    padding-left: 0px;
    font-size: 12px;
    font-family: arial;
}
.table tr td .reply-input{
    width: 270px;
    height: 30px;
    background: #f8f8f8;
    border: 1px #eee solid;
}
.table tr td .reply-comment{
    background: #f8f8f8;
    border: 1px #eee solid;  
}
.table tr td span{
    display: block;
    color: #777;
}
.table tr td img{
    margin-right: 20px;
}
.table tr td .reply-captcha{
    background: #f8f8f8;
    border: 1px #eee solid; 
    height: 30px; 
    width: 150px;
}
.table tr td .reply-submit{
    padding: 10px 25px;
    background: #444;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
.table tr td .reply-submit:hover{
    background: #523C22;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding-left: 0px;
    vertical-align: middle;
}
/*-------------------------------------blog-detail-category---------------------------------*/
.blog-detail-category{
    margin-bottom: 30px;
    border: 1px #eee solid;
}
.blog-detail-category h3{
    color: #fff;
    text-transform: uppercase;
    background: #523C22;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 0px;
}
.blog-detail-category ul{
    list-style: none;
    padding: 0px 10px;
}
.blog-detail-category ul li{
    padding: 10px 10px;
    border-bottom: 1px #eee solid;
}
.blog-detail-category ul li:last-child{
    border: none;
}
.blog-detail-category ul li a{
    color: #333;
    text-transform: capitalize;
    font-size: 14px;
    font-family: arial;
}
.blog-detail-category ul li a:hover{
    color: #337ab7;
}