.bloglist{
    background: url('../img/bg-home-color.png');
}
.blog-list{
    background: #fff;
    margin-bottom: 40px;
}
.blog-thumb{
    width: 100%;
    overflow: hidden;
}
.blog-thumb img{
    width: 100%;
    -webkit-transition:all 500ms linear;
    -moz-transition:all 500ms linear;
    -o-transition:all 500ms linear;
    transition:all 500ms linear;
    cursor: pointer;
}
.blog-thumb img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
    transition:all 500ms ease;
}
.blog-list h3{
    font-size: 18px;
    padding: 0px 15px;
    margin: 20px 0px;
}
.blog-list h3 a{
    color: #333;
}
.blog-list h3 a:hover{
    color: #337ab7;
}
.blog-list p{
    font-size: 12px;
    padding: 0px 15px;
    color: #555;
}
.blog-readmore{
    text-align: right;
    padding:10px 15px 20px 0px;
}
.blog-readmore span{
    font-size: 14px;
    background: #686868;
    color: #fff;
    padding: 5px 10px;
    margin: 10px 0px;
    cursor: pointer;
}
.blog-readmore span:hover{
    background: #337ab7;
    color: #fff;
}
