.contact{
    margin-bottom: 45px;
}
.contact-left{
    background: #f0f0f0;
    padding-top: 40px;
}
.contact-left h3{
    font-size: 36px;
    font-family: 'myriadprobold';
}
.contact-left ul{
    list-style: none;
    padding: 0;
}
.contact-left ul li a{
    font-size: 16px;
    font-family: 'myriadproregular';
    color: #333;
}
.contact-left ul li i.fa{
    color: #967751;
    margin-right: 5px;
}
.contact-right{
    background: #967751;
    color: #fff;
    padding-top: 40px;
    padding-left: 20px;
}
.contact-right h3{
    font-size: 36px;
    font-family: 'myriadprobold';
    margin: 0px;
}
.contact-right p{
    font-size: 16px;
    font-family: 'myriadproregular';
    border-bottom: 2px #fff solid;
    margin-top: 30px;
    padding-bottom: 10px;
}
.contact-right > .message{
    padding-bottom: 70px;
}
.contact-right > .txt-send{
    padding: 10px 20px;
    float: right;
    background: #D14233;
    color: #fff;
    text-transform: uppercase;
    font-family: 'myriadprobold';
    margin: 29px;
}
