.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} 
.flexslider .slides img {
	width: 100%; 
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {
	position: relative;
	border-radius: 4px; 
	zoom: 1; 
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { 
	display: block;
	width: 40px; 
	height: 40px; 
	margin: -15px 0 0; 
	position: absolute; 
	top: 50%; 
	z-index: 10; 
	overflow: hidden; 
	cursor: pointer;
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3); 
	-webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; 
	text-indent: 99999px;
}
.flex-direction-nav .flex-prev { 
	background:url(../img/flex-pre.png) no-repeat;
	height: 25px;
	left: -5px;
	width: 14px;
	text-align: left;
}
.flex-direction-nav .flex-next { 
	height: 25px;
	right: -5px;
	text-align: right;
	width: 14px;
	background:url(../img/flex-next.png) no-repeat; 
}
.flexslider:hover .flex-prev { opacity: 0.7; left: -5px; }
.flexslider:hover .flex-next { opacity: 0.7; right: -5px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled {
	filter:alpha(opacity=0);
	cursor: default; 
}
.flex-direction-nav a:before  { 
	font-family: "flexslider-icon"; 
	font-size: 40px; 
	display: inline-block;
}
.flex-direction-nav a.flex-next:before  {  }

/* Pause/Play */
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px; 
	position: absolute;
	bottom: 5px;
	left: 10px; 
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000; 
}
.flex-pauseplay a:before  { 
	font-family: "flexslider-icon"; 
	font-size: 20px;
	display: inline-block; 
	content: '\f004'; 
}
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }
/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	text-indent: -9999px; 
	border-radius: 20px;  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { 
	background: #000;
	background: rgba(0,0,0,0.9);
	cursor: default; 
}
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev { opacity: 1; left: 0px;}
	.flex-direction-nav .flex-next { opacity: 1; right: 0px;}
}