/*---------------------------------Product-header-----------------------------------*/
.product-banner{
    position: relative;
}
.product-banner img{
    width: 100%;
}
.product-menu{
    margin-top: -25%;
    position: absolute;
    z-index: 888;
    left: 0;
    right: 0;
}
.product-slogan{
    padding-top: 34px;
    color: #fff;
}
.product-slogan img{
    padding: 10px 0;
}
.header-border{
    background: url('../img/product-border.png')repeat;
    height: 10px;
}
/*--------------------------------------Product-sidebar--------------------------------------*/
.product-sidebar-categoy ul{
    list-style: none;
    padding: 0px;
}
.product-sidebar-categoy ul li{
    padding:10px 0 10px 20px;
    background: #e3e3e3;
}
.product-sidebar-categoy ul li a{
    font-size: 15px;
    color: #333;
    text-transform: capitalize;
}
.product-sidebar-categoy ul li i.fa{
    margin-right: 5px;
}
.product-sidebar-categoy ul li:hover{
    background: #765b3b;
}
.product-sidebar-categoy ul li:hover a,.product-sidebar-categoy ul li:hover i{
    color: #fff;
}
.product-sidebar-catalog{
    margin-top: 20px;
    background: #f0f0f0;
}
.product-sidebar-catalog h3{
    padding:10px 20px;
    margin: 0;
    background: #2d2d2d;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
.product-sidbar-price{
    padding:0px 20px;
    margin-top: 0px;
}
.product-sidebar-color, .product-sidebar-size{
    padding:0px 20px;
    margin-top: 10px;
}
.product-sidbar-price h4, .product-sidebar-color h4, .product-sidebar-size h4{
    font-size: 14px;
    border-bottom: 1px #dadada solid;
    padding:10px 0;
    margin: 0;
    text-transform: uppercase;
}
.product-sidbar-price p{
    padding:10px 0;
    margin: 0;
}
.product-sidebar-color ul{
    list-style: none;
    padding: 0;
}
.product-sidebar-color ul li{
    padding: 5px 0;
}
.product-sidebar-color ul li a{
    color: #333;
    text-transform: capitalize;
    font-size: 14px;
}
.product-sidebar-size ul{
    list-style: none;
    padding: 0;
}
.product-sidebar-size ul li{
    padding: 5px 0;
}
.product-sidebar-size ul li a{
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
/*---------------------------------------Product-list----------------------------------------*/
.product-skew{
    font-size: 18px;
    text-transform: uppercase;
    background: #765b3b;
    padding: 10px 50px 10px 10px;
    color: #fff;
    float: left;
    position: relative;
    margin-top: -29px;
}
.product-skew::before{
    border-bottom-width: 17px;
    border-right: 17px solid transparent;
    border-top: 17px solid #60411d;
    bottom: 0;
    content: "";
    height: 0;
    right: -17px;
    position: absolute;
}
.product-skew i.fa-th-list{
    margin-right: 10px;
}
.product-breadcrumb{
    margin-top: 15px;
}
.product-breadcrumb ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.product-breadcrumb ul li{
    float: left;
    padding-right: 10px;
    padding-bottom: 15px;
}
.product-breadcrumb ul li a{
    color: #333;
    font-size: 12px;
    text-transform: capitalize;
}
.product-breadcrumb ul li i.fa{
    padding-right: 5px;
}
/*--------------------------------------product-fashion--------------------------------------*/
.product-fashion{
    padding: 45px 0px;
    border: none;
}
/*----------------------------------------effect-apollo-----------------------------------*/
.grid{
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.grid .effect-apollo{
    background: rgba(106, 212, 255, 0.3);
    cursor: pointer;
    float: left;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.grid .effect-apollo img{
    display: block;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    transform: scale3d(1, 1, 1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
.effect-apollo figcaption::before{
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);
    transition: transform 0.6s ease 0s;
    width: 100%;
}
.effect-apollo:hover img{
    opacity: 0.6;
    transform: scale3d(1.05, 1.05, 1);
}
.effect-apollo:hover figcaption::before{
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 100%, 0px);
}
/*-------------------------------effect-romeo-------------------------------*/
.grid{
    list-style: outside none none;
    position: relative;
    text-align: center;
}
.grid .effect-romeo{
   background: #3085a3 none repeat scroll 0 0;
   cursor: pointer;
   float: left;
   width: 100%;
   overflow: hidden;
   position: relative;
   text-align: center;
}
.effect-romeo{
    perspective: 1000px;
}
.grid .effect-romeo img{
    display: block;
    max-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    position: relative;
    transform: scale3d(1.25, 1.25, 1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
.effect-romeo figcaption::before, .effect-romeo figcaption::after{
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    width: 80%;
}
.effect-romeo:hover img{
    opacity: 0.6;
    transform: scale3d(1, 1, 1);
}
.effect-romeo:hover figcaption::after{
    opacity: 0.5;
    transform: translate3d(-50%, -50%, 0px) rotate(-45deg);
}
.effect-romeo:hover figcaption::before{
     opacity: 0.5;
    transform: translate3d(-50%, -50%, 0px) rotate(45deg);
}
.grid .effect-romeo h2{
    font-weight: 300;
    word-spacing: -0.15em;
    transform: translate3d(0px, -50%, 0px) translate3d(0px, -150%, 0px);
}
.effect-romeo h2, .effect-romeo p{
    left: 0;
    position: absolute;
    top: 50%;
    transition: transform 0.35s ease 0s;
    width: 100%;
}
.effect-romeo p{
    padding: 0.25em 2em;
    transform: translate3d(0px, -50%, 0px) translate3d(0px, 150%, 0px);
}
.grid .effect-romeo figcaption > a{
    font-size: 0;
    opacity: 0;
    text-indent: 200%;
    white-space: nowrap;
    z-index: 1000;
}
.grid .effect-romeo figcaption, .grid .effect-romeo figcaption > a{
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   color: #fff;
}

/*---------------lcongiwjfs----------------*/
.main{
    box-sizing: content-box;
    height: 480px;
    position: relative;
    width: 100%;
}
.view {
    width: 260px;
    height: 340px;
    float: left;
    position: relative;
    background: #333;
    perspective: 500px;
}
.view .slice{
    backface-visibility: visible;
    height: 100%;
    transform-origin: left center 0;
    transform-style: preserve-3d;
    transition: transform 150ms ease-in-out 0s;
    width: 60px;
    z-index: 100;
}
.view .s2, 
.view .s3, 
.view .s4, 
.view .s5 {
    transform: translate3d(60px, 0px, 0px);
}
.view .s1 {
    background-position: 0px 0px;
}
.view .s2 {
    background-position: -60px 0px;
}
.view .s3 {
    background-position: -120px 0px;
}
.view .s4 {
    background-position: -180px 0px;
}
.view .s5 {
    background-position: -240px 0px;
}
.view .overlay {
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 150ms ease-in-out 0s;
    width: 60px;
}

.view:hover .overlay {
    opacity: 1;
}
.view img {
    position: absolute;
    z-index: 0;
    transition: left 0.3s ease-in-out;
}
.view:hover img {
    left: -85px;
}

.view {
    perspective: 1050px;
   
}

.view div {
    transition: all 0.3s ease-in-out;
}
.view:hover .s1{
    transform: rotate3d(0, 1, 0, -3deg);
    transition-delay: 200ms;
}
.view:hover .s2{
    transform: translate3d(59px, 0px, 0px) rotate3d(0, 1, 0, -10deg);
    transition-delay: 150ms;
}
.view:hover .s3{
     transform: translate3d(59px, 0px, 0px) rotate3d(0, 1, 0, -16deg);
    transition-delay: 100ms;
}
.view:hover .s4{
     transform: translate3d(59px, 0px, 0px) rotate3d(0, 1, 0, -30deg);
    transition-delay: 50ms;
}
.view:hover .s5{
     transform: translate3d(60px, 0px, 0px) rotate3d(0, 1, 0, -42deg);
}
.view .s4 > .overlay {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(right center , rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
}

.view .s5 > .overlay {
   background: rgba(0, 0, 0, 0) -moz-linear-gradient(left center , rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
}
