.related-product h2{
    font-size: 18px;
    text-transform: uppercase;
    color: #777;
    border-bottom: 1px #dadada solid;
    padding-bottom: 20px;
    margin: 0px;
}
.related-product ul{
    list-style: none;
    padding: 0px;
}
.related-product ul li img{
    float: left;
    margin-right: 12px;
    max-width: 130px;
}
.related-product ul li img:hover{
   opacity: 0.8;
   filter: alpha(opacity=80);
   -webkit-transition:all 500ms linear;
   -moz-transition:all 500ms linear;
   -o-transition:all 500ms linear;
   transition:all 500ms linear;
}
.related-product ul li h3 a{
    font-size: 18px;
    color: #777;
}
.related-product ul li h3 a:hover{
    color: #4ea8dc;
}
.related-product ul li strong{
    display: block;
    font-size: 24px;
    font-weight: normal;
    color: #4ea8dc;
}
.related-product ul li span{
    display: block;
    font-size: 14px;
    text-decoration: line-through;
    color: #777;
}
.related-product ul li{
    border-bottom: 1px #dadada solid;
    padding-bottom: 20px;
}
.related-product ul li:last-child{
    border: none;
}
.related-product-thumb{
    overflow: hidden;
    padding: 30px 0px;
}
/*---------------------------------------Related-main----------------------------------------*/
.product-slider{
    margin-bottom: 10px !important;
}
.product-sidebar .flex-direction-nav .flex-prev{
    background: url('../img/prev-product.png');
    height: 16px;
    left: -5px;
    margin: -8px 0 0;
    text-indent: 999px;
    width: 16px;
    border-radius: 10px;
}
.product-sidebar .flex-direction-nav .flex-next{
    background: url('../img/next-product.png');
    height: 16px;
    right: -5px;
    margin: -8px 0 0;
    text-indent: 999px;
    width: 16px;
    border-radius: 10px;
}
.product-slider .fancybox{
   bottom: 10px;
   position: absolute;
   right: 10px;
   z-index: 999;
}
.product-main-right-fashion h3{
    margin: 0px;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px #dadada solid;
    color: #777;
}
.review-rating{
    border-bottom: 1px #dadada solid;
    padding: 10px;
}
.review-star a{
    font-size: 12px;
    font-family: arial;
    color: #333;
}
.review-star .add-review{
    color: #4ea8dc;
}
.product-main-price{
    padding: 20px 0px;
}
.product-main-price strong{
    font-size: 30px;
    color: #ab0000;
    margin-right: 10px;
}
.product-main-price span{
    font-size: 18px;
    text-decoration: line-through;
}
.product-main-price a{
    float: right;
    font-size: 12px;
    font-family: arial;
    padding-top: 20px;
    color: #59BA4C;
}
.product-main-fashion p{
    font-size: 12px;
    font-family: arial;
}
.product-facbook-like{
    margin: 20px 0px;
}
.product-size-color{
    background: #F1F1F1;
    border: 1px #dadada solid;
    padding: 20px;
    margin-top: 20px;
}
.product-size span{
    font-size: 12px;
    font-family: arial;
}
.product-size ul{
    list-style: none;
    padding: 5px 0;
}
.product-size ul li{
    float: left;
    padding: 5px 10px;
    background: #fff;
    margin-right: 10px;
    border: 1px #dadada solid;
}
.product-size ul li a{
    text-transform: uppercase;
}
.product-color{
    margin-top: 10px;
}
.product-list-color{
    margin: 10px 0px;
}
.product-qty{
    margin-top: 20px;
}
.product-qty span{
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
    text-transform: uppercase;
}
.qty-count{
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}
.qty-down, .qty-up{
    border: 1px solid #dbdbdb;
    color: #787878;
    display: inline-block;
    height: 38px;
    line-height: 34px;
    text-align: center;
    vertical-align: top;
    width: 22px;
}
.qty-count span{
    border: 1px solid #dbdbdb;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    vertical-align: top;
    width: 38px;
    margin: 0;
}
.qty-cart{
    border: 1px solid #dbdbdb;
    display: inline-block;
    font-family: arial;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 158px;
}
.qty-star, .qty-exchange{
    border: 1px solid #dbdbdb;
    display: inline-block;
    height: 38px;
    position: relative;
    vertical-align: top;
    width: 38px;
    font-size: 24px;
    color: #777;
}
.qty-star i.fa, .qty-exchange i.fa{
    padding: 7px;
}
/*--------------------------------------Product-tab------------------------------------------*/
.product-tab{
    margin-top: 40px;
}
.product-tab .nav-tabs{
    margin: 0;
    padding: 0;
    border-left: 1px #ececec solid;
}
.product-tab-boder{

}
.product-tab .tab-content{
    border: 1px #ececec solid;
    padding: 20px;
}
.product-tab .nav-tabs > li, .product-tab .nav > li, .product-tab .nav-tabs > li.active{
    transform: skewX(0deg);
    -ms-transform: skewX(0deg); /* IE 9 */
    -webkit-transform: skewX(0deg); /* Safari */
    background: #fff;
    margin: 0px;
}
.product-tab .nav-tabs > li.active > a, .product-tab .nav-tabs > li.active > a:focus{
    transform: skewX(0deg); 
    -ms-transform: skewX(0deg); /* IE 9 */
    -webkit-transform: skewX(0deg); /* Safari */ 
    background: #fff;
    color: #765B3B;
    border-top: 2px #765B3B solid;
    margin-right: 1px;
    margin-left: 0;
    font-size: 15px;
}
.product-tab .nav-tabs > li > a{
    transform: skewX(0deg); 
    -ms-transform: skewX(0deg); /* IE 9 */
    -webkit-transform: skewX(0deg); /* Safari */ 
    background: #ececec;
    color: #777;
    margin-right: 1px;
    margin-left: 0;
    font-size: 15px;
}
.product-tab p{
    font-size: 12px;
    font-family: arial;
    text-align: justify;
    color: #777;
}
.product-upsell{
    color: #777;
}
.product-upsell h2{
    border-bottom: 1px solid #dbdbdb;
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}