@media screen and (max-width: 1240px) {
	.slide-text{
		display: none;
	}
}
@media screen and (max-width: 980px) {
	.header-menu-home-fashion .header-slogan img{
		padding:0;
	}
	.header-menu-home-fashion{
		margin-top: -76px;
	}
}
@media screen and (max-width: 768px) {
	.slide-text{
		display: block;
	}
	.header-menu-home{
		left: 0;
		margin-top: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 888;
	}
	.header-menu {
		left: 0;
		margin-top: 39px;
		position: fixed;
		right: 0;
	}
	.product-header-menu{
		margin-top: 10px;
	}
	.product-header-menu{
		position: relative;
	}
	.header-slogan{
		padding-top: 104px;
	}
	.header-slogan img{
		padding: 10px 0;
	}
	.home-slide{
		bottom: 0;
	}
	header{
		background: #454142;
		padding-top: 200px;
		position: relative;
	}
	.product-banner{
		margin-top: 0;
	}
	.product-menu{
		left: 0;
		margin-top: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 888;
	}
	.content-fashion-left{
		width: 100%;
		padding-right: 0;
	}
	.content-fashion-right{
		width: 100%;
	}
	.header-menu-left{
		bottom: 0;
	}
	.header-menu-left ul{
		display: none;
		height: auto;
	}
	.header-menu-left ul li{
		display: block;
		padding: 10px;
	}
	.header-menu-left ul li a{
		font-size: 14px;
	}
	.header-menu-left a#pull{
		display: block;
		width: 100%;
		position: relative;
	}
	.header-menu-left ul li ul{
		position: relative;
		text-align: left;
	}
	.header-menu-left ul li:hover ul{
		display: none;
		background: #4ea8dc;
		width: 100%;
	}
	.header-menu-left > ul > li.active{
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);
	}
	.header-menu-left > ul > li.active > a{
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);
		font-size: 14px;
	}
	.header-menu-left > ul > li:hover{
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);
	}
	.header-menu-left > ul > li:hover a{
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);
	}
	.header-menu-left ul li ul{
		padding-top: 0px;
		left: 0;
		width: 100%;
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);	
		margin-top: 10px;
	}
	.header-menu-left ul li ul li{
		padding:10px 0;
		background: #fff;
	}
	.header-menu-left ul li ul li a{
		color: #333;
	}
	.home-slide > .container > .flexslider{
		width: 97%;
	}
	.header-menu-right{
		margin-top: -56px;
		padding: 15px 10px;
		position: absolute;
		right: 4%;
	}
	.slide-text h3{
		font-size: 30px;
	}
	.slide-text h2{
		font-size: 35px;
	}
	.year{
		font-size: 35px;
		height: 72px;
	}
	.shop-text p{
		padding: 0;
	}
	.shop-now{
		padding: 10px 20px;
		top: -5px;
	}
	/*--------------------------------------Home-fashion--------------------------------------*/
	#home-fashion{
		background: #fff;
	}
	.home-fashion-banner{
		
	}
	.header-menu-home-fashion{

	}
	.header-menu-home-fashion .header-menu{
		margin-top: -161px;
	}
	.header-menu-home-fashion .header-slogan img{
		padding: 10px 0;
	}
}
@media screen and (max-width: 480px) {
	.slide-text{
		display: block;
	}
	.home-slide .flexslider{
		display: none;
	}
	.header-menu-left{
		bottom: 0;
	}
	.header-menu-left ul{
		display: none;
		height: auto;
		text-align: center;
	}
	.header-menu-left ul li{
		width: 100%;
		display: block;
		padding: 10px 0;
	}
	.header-menu-left ul li a{
		font-size: 14px;
	}
	.header-menu-left a#pull{
		display: block;
		width: 100%;
		position: relative;
	}
	.header-menu-left ul li ul{
		position: relative;
		text-align: center;
	}
	.header-menu-left ul li:hover ul{
		display: none;
		background: #4ea8dc;
		width: 100%;
	}
	.header-menu-left a#pull{
		padding: 5px 0px;
		font-size: 14px;
	}
	.header-menu-left > ul > li.active{
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);
	}
	.header-menu-left > ul > li.active > a{
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);
		font-size: 14px;
	}
	.header-menu-left > ul > li:hover{
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);
	}
	.header-menu-left > ul > li:hover a{
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);
	}
	.header-menu-left ul li ul{
		padding-top: 0px;
		left: 0;
		width: 100%;
		-ms-transform: skewX(0deg); /* IE 9 */
		-webkit-transform: skewX(0deg); /* Safari */
		transform: skewX(0deg);	
	}
	.header-menu-left ul li ul li{
		padding:10px 0;
		background: #fff;
	}
	.header-menu-left ul li ul li a{
		color: #333;
	}
	.header-menu-right{
		margin-top: -30px;
		padding: 3px;
		position: absolute;
		right: 4%;
	}
	.header-cart-info a{
		font-size: 12px;
	}
	.header-cart-info span{
		font-size: 12px;
	}
	header{
		padding-top: 140px;
	}
	.header-slogan {
		padding-top: 73px;
	}
	.slide-text h3{
		font-size: 20px;
	}
	.slide-text h2{
		font-size: 20px;
	}
	.year{
		padding: 0;
		font-size: 20px;
	}
	.shop-text p{
		font-size: 12px;
	}
	.fashion-left-img p{
		font-size: 32px;
		left: -30%;
	}
	.fashion-right-text p{
		font-size: 14px;
	}
	.shop-now{
		left: -27%;
		padding: 5px 10px;
		top: 35px;
	}
	.shop-now a{
		font-size: 14px;
	}
	.shop-text{
		width: 280px;
		top: 25px;
	}
	.slide-text-bot{
		padding-top: 0;
		padding-left: 0;
	}
	.content-fashion-shop span a{
		padding: 5px 15px;
	}
	.content-fashion-shop label{
		font-size: 30px
	}
	.header-menu-home-fashion .header-menu{
		margin-top: -125px;
	}
}
@media screen and (max-width: 360px) {
	.header-menu-home-fashion .header-menu{
		margin-top: -100px;
	}
	.header-menu-home-fashion .header-slogan{
		padding-top: 87px;
	}
	.header-menu-home-fashion .header-slogan img{
		padding:0;
	}
}
@media screen and (max-width: 320px) {
	.shop-text{
		width: 268px;
	}
	.header-slogan img{
		padding: 15px 0;
	}
	.header-menu-home-fashion .header-slogan{
		padding-top: 93px;
	}
	.header-menu-home-fashion .header-slogan img{
		padding:0;
	}
}
