.header-fashion{
    background: #000;
}
.header-menu-home-fashion{
    margin-top: -136px;
    position: relative;
}
.header-menu-home-fashion .header-slogan img{
    padding: 30px 0;
}
.header-menu-home-fashion .header-menu{
    border-top: 5px rgba(0,0,0,0.7) solid;
    border-bottom: 5px rgba(0,0,0,0.7) solid;
    background: #2d2d2d;
}
.header-menu-home-fashion .header-menu-left > ul > li.active{
    background: #a50002;
}
.header-menu-home-fashion .header-menu-left > ul > li:hover{
    background: #a50002;
}
.header-menu-home-fashion .header-menu-left ul li ul li{
    background: #a50002;
}
.header-menu-home-fashion .header-menu-right{
    background: #989898;
}
.header-menu-home-fashion .header-menu-right::before, .header-menu-home-fashion .header-menu-right::after{
    border-top: 12px solid #616161;
}
.content-product-fashion .nav-tabs > li.active{
    background: #a50002;
}
.content-product-fashion .nav-tabs > li.active > a, .content-product-fashion .nav-tabs > li.active > a:focus{
    background: #a50002;
}
.content-product-fashion .content-product-items-top a:hover{
    background: #a50002;
}
.content-blog-fashion h3 label, .footer-bottom-fashion{
    background: #a50002
}