@import "../fonts/stylesheet.css";
body{
	font-family:"utm_swiss_condensedregular";
    font-size: 13px;
}
a:hover{
	text-decoration:none;
}
.clear{
	clear:both;
}
/*------------------------------------Header-top--------------------------------------*/
.header-top{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    top: 0;
}
.header-top-right{
    float: right;
    padding: 7px 0 12px;
}
.account{
    display: inline-block;
    border-right: 1px #fff solid;
    height: 13px;
    line-height: 10px;
}
.price-header{
    display: inline-block;
    color: #fff;
    padding-right: 10px;
}
.language{
    display: inline-block;
}
.account a{
    font-size: 12.24px;
    color: #fff;
    text-transform: capitalize;
    font-family: "utm_swiss_condensedregular";
    padding-right: 10px;
}
.price-header a{
    color: #fff;
    text-transform: uppercase;
    padding: 0px 10px;
    font-size: 14.28px;
}
.language a{
    color: #fff;
    text-transform: uppercase;
}
/*-------------------------------------Header-slider-------------------------------------*/
.slide-text{
    position: absolute;
    top: 10%;
    color: #fff;
}
.slide-text h3{
    font-family: "utm_nyalaregular";
    font-size: 60px;
    text-transform: uppercase;
    margin: 0px;
}
.slide-text h2{
    font-family: "utm_nyalaregular";
    font-size: 74px;
    text-transform: uppercase;
    text-indent: 85px;
    margin: 0px;
}
.slide-text-bot{
    padding-top: 15px;
}
.year{
    font-family: "utm_nyalaregular";
    font-size: 113.85px;
    display: inline-block;
    border-right: 1px #fff solid;
    height: 100px;
    line-height: 65px;
    padding-right: 20px;
}
.shop-text{
    display: inline-block;
    max-width: 340px;
    position: relative;
    top: 12px;
}
.shop-text p{
    font-family: 'robotothin';
    font-size: 14px;
    padding: 0px 20px;
}
.shop-now{
    display: inline-block;
    background: #8b898a;
    padding: 15px 25px;
    border: 3px #fff solid;
    border-radius: 5px 5px;
    position: relative;
    top: -20px;
}
.shop-now a{
    font-family: 'robotoblack';
    font-size: 18px;
    font-weight: bold;
    color: #111;
    text-transform: uppercase;
}
.shop-now:hover{
    background: #523c22;
}
.shop-now:hover a{
    color: #fff;
}
.header-slide{
    position: relative;
    margin-bottom: -2px;
}
.home-slide{
    position: absolute;
    bottom: 250px;
    left: 0;
    right: 0;
}
.home-slide ul li img{
    border: 2px #fff solid;
    border-radius: 2px;
}
.home-slide > .container > .flexslider{
    width: 720px;
}
.home-slide .test{
    padding: 10px;
}
.home-slide > .container > .flexslider > .flex-viewport > ul{
    padding-left: 5px;
}
/*--------------------------------------------Header-Menu------------------------------------------*/
.header-menu-home{
    position: absolute;
    margin-top: -215px;
    left: 0;
    right: 0;
    z-index: 888;
}
.header-menu{
    background: #967751;
    border-top: 5px #715c43 solid;
    border-bottom: 5px #715c43 solid;
}
.header-menu-left a#pull{
    display: none;
    font-size: 30px;
    font-family: 'robotomedium';
    text-transform: uppercase;
    color: #fff;
    padding:10px 0px;
}
.header-menu-left ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.header-menu-left ul li{
    padding: 30px 25px;
    float: left;
    position: relative;
}
.header-menu-left ul li a{
    color: #fff;
    font-size: 18px;
    font-family: 'robotomedium';
    text-transform: uppercase;
}
.header-menu-left ul li ul{
    display: none;
    left: -10px;
    padding-top: 34px;
    position: absolute;
    width: 200px;
    -ms-transform: skewX(-10deg); /* IE 9 */
    -webkit-transform: skewX(-10deg); /* Safari */
    transform: skewX(-10deg);
}
.header-menu-left ul li:hover ul{
    display: block;
}
.header-menu-left ul li ul li{
    float: left;
    width: 100%;
    background: #967751;
    padding: 15px 10px;
}
.header-menu-left ul li ul li:hover{
    background: #523c22;
}
.header-menu-left ul li ul li:hover a{
    color: #fff;
}
.header-menu-left > ul > li.active{
    background: #523c22;
    position: relative;
    -ms-transform: skewX(10deg); /* IE 9 */
    -webkit-transform: skewX(10deg); /* Safari */
    transform: skewX(10deg);
}
.header-menu-left > ul > li.active > a{
    -ms-transform: skewX(-10deg); /* IE 9 */
    -webkit-transform: skewX(-10deg); /* Safari */
    transform: skewX(-10deg);
    display: block;
}
.header-menu-left > ul > li:hover{
    background: #523c22;
    position: relative;
    -ms-transform: skewX(10deg); /* IE 9 */
    -webkit-transform: skewX(10deg); /* Safari */
    transform: skewX(10deg);
}
.header-menu-left > ul > li:hover a{
    -ms-transform: skewX(-10deg); /* IE 9 */
    -webkit-transform: skewX(-10deg); /* Safari */
    transform: skewX(-10deg);
    display: block;
}
.header-menu-right{
    background: #b19777;
    float: right;
    margin-top: -20px;
    padding: 39px 10px;
    position: absolute;
    right: 8%;
}
.header-menu-right::after{
    border-left: 12px solid transparent;
    border-top: 12px solid #6a5c4b;
    border-bottom-width: 12px;
    bottom: 0;
    content: "";
    height: 0;
    left: -12px;
    position: absolute;
    width: 0;
}
.header-menu-right::before{
    border-right: 12px solid transparent;
    border-top: 12px solid #6a5c4b;
    border-bottom-width: 12px;
    bottom: 0;
    content: "";
    height: 0;
    right: -12px;
    position: absolute;
    width: 0;
}
.header-cart-total{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
}
.header-cart-total span{
    background: #c5c5c5;
    padding: 1px 8px;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    left: 20px;
}
.header-cart-info{
    display: inline-block;
    color: #fff;
}
.header-cart-info a{
    font-family: 'robotomedium';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
    color: #fff;
}
.header-cart-info a:hover{
    color: #333;
}
.header-cart-info span{
    font-family: 'robotomedium';
    font-size: 14px;
}
.header-slogan img{
    padding-top: 25px;
    padding-left: 12%;
}
/*------------------------------------Content-fashion------------------------------------*/
.content-fashion-left{
    width: 39%;
    float: left;
    padding-right: 30px;
    overflow: hidden;
}
.content-fashion-right{
    width: 61%;
    float: right;
    position: relative;
    overflow: hidden;
}
.content-fashion{
    background: url('../img/bg-home-color.png')repeat;
    padding: 30px 0px;
    border-top: 5px #c6c6c6 solid;
}
.content-fashion-left img{
    width: 100%;
    height:auto;
}
.fashion-left-img{
    margin: 0;
    padding: 0;
    position: relative;
    width:50%;
    float: left;
}
.fashion-left-img img{
    width: 100%;
    height: auto;
    max-width: 
}
.fashion-left-img i.fa-angle-right{
    background: rgba(255,255,255,0.1) none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    position: absolute;
    right: 10%;
    text-align: center;
    top: 5%;
    width: 20px;
    z-index: 777;
}
.fashion-left-img i.fa-angle-right:hover{
    border: 2px solid #551f2f;
    color: #551f2f;
}
.fashion-left-img p{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg); /* Standard syntax */
    position: absolute;
    color: #fff;
    font-size: 38px;
    bottom: 18%;
    font-family: "pristina";
    left: -20%;
}
.fashion-right-img{
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}
.fashion-right-img img{
    width: 100%;
    height: auto;
}
.fashion-right-text{
    position: relative;
}
.fashion-right-text i.fa-angle-right{
    background: rgba(255,255,255,0.1) none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    position: absolute;
    right: 50%;
    text-align: center;
    bottom: 10%;
    width: 20px;
    z-index: 777;
}
.fashion-right-text i.fa-angle-right:hover{
    border: 2px solid #551f2f;
    color: #551f2f;
}
.fashion-right-text p{
    position: absolute;
    color: #fff;
    font-size: 23px;
    bottom: 15%;
    font-family: "robotothin";
    left: 16px;
    text-transform: uppercase;
    text-shadow: 1px 1px #333;
}
.content-fashion-right img{
    width: 100%;
    height: auto;
}
.content-fashion-right{
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 777;
}
.content-fashion-right::before{
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    width: 100%;
}
.content-fashion-right-boder::before{
    border: 1px solid #fff;
    transform: scale(0,1);
    -ms-transform: scale(0,1); /* IE 9 */
    -webkit-transform: scale(0.1); /* Safari */
}
.content-fashion-right-boder::before, .content-fashion-right-boder::after{
    bottom: 15px;
    content: " ";
    left: 15px;
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.content-fashion-right-boder::after{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: scale(0, 1);
    -ms-transform: scale(0,1); /* IE 9 */
    -webkit-transform: scale(0,1); /* Safari */
}
.content-fashion-right-boder{
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
}
.content-fashion-right-boder:hover::before, .content-fashion-right-boder:hover::after{
    opacity: 1;
    transform: scale(1);
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
}
.content-fashion-shop{
    bottom: 5%;
    position: absolute;
    right: 5%;
}
.content-fashion-shop label{
    font-family: 'robotomedium';
    font-size: 43px;
    color: #fff;
    text-transform: capitalize;
    padding-right: 40px;
}
.content-fashion-shop span a{
    font-family: 'robotoblack';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background: rgba(255,255,255,0.3) none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 25px;
    position: relative;
    top: -7px;
}
.content-fashion-shop span a:hover{
    background: #523c22;
}
/*------------------------------------------Product--------------------------------------*/
.nav-tabs{
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
    background: #523c22;
    color: #fff;
    -ms-transform: skewX(-10deg); /* IE 9 */
    -webkit-transform: skewX(-10deg); /* Safari */
    transform: skewX(-10deg);
    margin: 0px 5px;
}
.nav-tabs > li > a{
    background: #a19587;
    color: #333;
    -ms-transform: skewX(-10deg); /* IE 9 */
    -webkit-transform: skewX(-10deg); /* Safari */
    transform: skewX(-10deg);
    margin: 0px 5px;
}
.nav-tabs > li, .nav > li{
    background: #a19587;
    color: #333;
    -ms-transform: skewX(10deg); /* IE 9 */
    -webkit-transform: skewX(10deg); /* Safari */
    transform: skewX(10deg);
    margin: 0px 1px;
}
.nav-tabs > li:hover, .nav > li:hover{
    background: #cfcfd0;
}
.nav-tabs > li:hover a, .nav > li:hover a{
    color: #333;
}
.nav-tabs > li.active{
    -ms-transform: skewX(10deg); /* IE 9 */
    -webkit-transform: skewX(10deg); /* Safari */
    transform: skewX(10deg);
    background: #523c22;
}

.content-product-items{
    position: relative;
    overflow: hidden;
}
.content-product-items a img{
    width: 100%;
}
.content-product-items-top{
    background: #cfcfd0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}
.content-product-items-top a{
    background: #cfcfd0;
    color: #787878;
    display: block;
    float: left;
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    width: 33.33%;
}
.content-product-items:hover .content-product-items-top{
    height: 50px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    background: #cfcfd0;
}
.content-product-items-top a:hover{
    background: #967751;
    color: #fff;
}
.content-product-items-bottom{
    text-align: center;
}
.content-product-items-bottom h3{
    margin-top: 10px;
}
.content-product-items-bottom h3 a{
    color: #555;
    font-size: 14px;
}
.content-product-items-bottom h3 a:hover{
    color: #111;
}
.content-product-items-bottom strong{
    font-size: 24px;
    color: #523C22;
    padding-right: 5px;
    font-weight: normal;
}
.content-product-items-bottom span{
    font-size: 14px;
    text-decoration: line-through;
}
.content-product-home{
    margin-bottom: 60px;
}
/*---------------------------------------Blog-List----------------------------------*/
.content-blog{
    background: url('../img/bg-home-color.png') repeat;
    padding: 30px 0 40px 0;
}
.blog-list-top h3 label{
    font-size: 16px;
    text-transform: uppercase;
    background: #523C22;
    padding:10px 15px;
    -ms-transform: skewX(10deg); /* IE 9 */
    -webkit-transform: skewX(10deg); /* Safari */
    transform: skewX(10deg);
    margin: 0px;
}
.blog-list-top h3 label a{
    color: #fff;
    -ms-transform: skewX(-10deg); /* IE 9 */
    -webkit-transform: skewX(-10deg); /* Safari */
    transform: skewX(-10deg);
    font-weight: normal;
    display: block;
}
.blog-list-top h3 span{
    float: right;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    font-family: 'robotolight';
}
.blog-list-top h3 span a i.fa-angle-right{
   background: rgba(255,255,255,0.1) none repeat scroll 0 0;
   border: 2px solid #551f2f;
   border-radius: 10px;
   color: #551f2f;
   font-size: 17px;
   text-align: center;
   width: 20px;
   margin-left:10px; 
}
.blog-list-top{
    border-bottom: 1px #999 solid;
}
.blog-list-top h3{
    padding: 0px;
    margin: 0px;
}
.blog-list-side{
    margin-top: 30px;
    overflow: hidden;
}
.blog-list-side-left{
    position: relative;
    margin-bottom: 15px;
}
.bloglist-side-left img{
    width: 100%;
}
.blog-list-side-left h3{
    background: rgba(0,0,0,0.8);
    bottom: -10px;
    position: absolute;
    padding: 15px 20px;
    width: 100%;
}
.blog-list-side-left h3 a{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'robotolight';
}
.blog-list-side-left h3 i.fa-angle-right{
    background: rgba(255,255,255,0.1) none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 13px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 4%;
    text-align: center;
    width: 23px;
}
.blog-list-side-right{
    margin: 0 0 20px;
    padding: 0;
}
.blog-list-side-right img{
    float: left;
    margin-right: 10px;
    max-width: 165px;
    height: auto;
}
.blog-list-side-right img:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transition:all 500ms linear;
    -moz-transition:all 500ms linear;
    -o-transition:all 500ms linear;
    transition:all 500ms linear;
}
.blog-list-side-right-text h3{
    margin:0px;
}
.blog-list-side-right-text h3 a{
    font-size: 14px;
    font-family: 'robotomedium';
    color: #111;
}
.blog-list-side-right-text h3 a:hover{
    color: #337ab7;
}
.blog-list-side-right-text p{
    font-size: 12px;
    font-family: 'robotolight';
    color: #333;
    margin-top: 10px;
}
.blog-list-side-right-text p span{
    font-size: 12px;
    font-family: 'robotomedium';
    color: #4AA3DF;
    float: right;
    cursor: pointer;
}
/*-------------------------------------------Footer------------------------------------------*/
.footer-slider{
    border-bottom: 1px #999 solid;
    margin-bottom: 30px;
    padding: 60px 0px;
}
.flexslider-home > .flex-viewport > ul{
    padding-left: 15px;
}
.flexslider-home > .flex-viewport > ul > li{
    height: 100px;
    padding: 0px 20px;
    position: relative;
}
.flexslider-home > .flex-viewport > ul > li > img{
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.flexslider-home ol{
    display: none;
}
.footer-menu-top h3{
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px #333 solid;
    padding-bottom: 10px;
}
.footer-menu-top ul{
    float: left;
    list-style: none;
    padding: 0px;
}
.footer-menu-top ul li{
    padding: 5px 0px;
}
.footer-menu-top ul li a{
    font-size: 12px;
    font-family: arial;
    color: #333;
    margin-left: 10px;
}
.footer-menu-top ul li a:hover{
    color: #337ab7;
}
form#search{
    text-align: center;
    padding-top: 10px;
}
.txt-input{
    height: 40px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 10px;
}
.txt-button{
    background: #785d3d;
    color: #fff;
    font-size: 15px;
    padding: 5px 15px;
    text-transform: uppercase;
    border: none;
}
.txt-button:hover{
    background: #444;
}
.footer-menu-top img{
    padding: 5px 0px;
}
.footer-bottom{
    background: #8b6e4a;
    color: #fff;
    text-align: center;
    padding:20px 0px;
    font-size: 12px;
    font-family: arial;
    margin-top: 20px;
}
.footer-bottom i.fa{
    color: #fff;
}