#contact-map {
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
}

.wpcf7-form {
	.wpcf7-form-control-wrap {
		display: inherit;
		width: 100%;
		float: left;
		margin-bottom: 10px;
		font-style: italic;
		color: $grey-light;
		input {
			height: 50px;
			line-height: 50px;
			padding: 6px 0px;
			width: 100%;
			&.wpcf7-form-control {
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom: 1px solid #ccc;
				box-shadow: none;
			}
			&:focus {
				border-color: $blue;
			}
		}
		textarea {
			border-top: none;
			border-left: none;
			border-right: none;
			box-shadow: none;
			padding: 6px 0px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ccc;
			width: 100%;
			height: 100px;
			&:focus {
				border-color: $blue;
			}
		}
	}
	
}
.bg-maps {	
	padding: 15px 0px 0px 22px;
	background: url("img/icon-map.png") left top no-repeat;
}
.bg-address {
	padding: 15px 0px 0px 22px;
	background: url("img/icon-phone.png") left top no-repeat;
}

.bg-maps,
.bg-address {
	h4 {
		font-size: 20px;
		color: #7b7b7b;
		font-weight: bold;
	}
}

.input-group {
	display: block;
	text-align: left;
}