.portfolio-item {
    margin-bottom: 20px;
}

.gallery {
	margin-bottom: 50px;
	.service-logo {
		margin-bottom: 30px;
		text-align: center;
		img {
			cursor: pointer;
		}
		h1 {
			cursor: pointer;
			display: inline-block;
		}
	}
	.gallery-tab {
		text-align: center;
		margin-bottom: 30px;
		font-size: 0;
		a {
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
			padding: 10px;
			font-size: 14px;
			font-family: $font-open;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				height: 1px;
				width: 100%;
				left: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: background .25s ease, height .25s ease;
				   -moz-transition: background .25s ease, height .25s ease;
				    -ms-transition: background .25s ease, height .25s ease;
				     -o-transition: background .25s ease, height .25s ease;
				        transition: background .25s ease, height .25s ease;
			}
			&.active {
				&:after {
					background-color: $golden;
					height: 3px;
				}
			}
		}
	}
}