
#header {
	padding-bottom: 30px;
	background-color: #fff;
}

.top-bar {
	text-align: right;
	background-color: #f8f8f8;
	padding-top: 10px;
	font-family: $font-open;
	font-size: 14px;
	margin-bottom: 30px;
	.fa {
		font-size: 16px;
	}
	.fa-envelope {
		color: #5fb5c2;
	}
	.fa-youtube {
		color: #c8312a;
	}
	.fa-facebook {
		color: #5b72a6;
	}
	.fa-google-plus {
		color: #D73D32;
	}
	.fa-twitter {
		color: #55ACEE;
	}
	span {
		padding-right: 10px;
		border-right: 1px solid #ccc;
	}
}

.fb-link {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

.qtranxs_language_chooser {
	display: inline-block;
	margin-left: 15px;
	/*margin-left: 25px;
	li {
		display: block;
		float: none;
		margin-right: 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 22px;
		right: 0;
		min-width: 95px;
		@extend %transition-display;
		&.active {
			top: 0;
			opacity: 1;
			visibility: visible;
			a {
				position: relative;
				&:after {
					content: "\f107";
					font: normal normal normal 14px/1 FontAwesome;
					font-size: 16px;
				}
			}
		}
	}*/
	a {
		text-transform: none;
		font-weight:  normal;
	}
	span {
		margin-right: 5px;
	}
	&.open {
		li {
			opacity: 1;
			visibility: visible;
		}
	}
	li {
		display: inline-block;
	}
}

#main-nav {
	float: right;
	margin-top: 22px;
	position: relative;
	ul {
		float: left;
		li {
			float: left;
			margin-right: 35px;
			a {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 14px;
				white-space: nowrap;
				font-family: $font-open;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.main-slider {
	img {
		width: 100%;
		display: block;
	}
	.owl-controls {
		position: absolute;
		bottom: 35px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		   -moz-transform: translate(-50%, 0);
		    -ms-transform: translate(-50%, 0);
		     -o-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
		.owl-page {
			margin: 0 12px;
			span {
				width: 10px;
				height: 10px;
				opacity: 1 !important;
				background-color: #d9dbd3;
				margin: 2px;
			}
			&.active {
				border: 1px solid #d9dbd3;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				vertical-align: text-top;
				margin-top: -3px;
			}
		}
	}
}

.main-video {
	img {
		width: 100%;
		height: auto;
	}
}

.home {
	#main-body {
		margin-top: -95px;
		position: relative;
	}
}

.feature-box {
	padding: 30px;
	background-image: url(img/ft-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 32px;
	img {
		float: left;
		display: block;
	}
	article {
		overflow: hidden;
		text-align: center;
		padding-left: 30px;
		padding-top: 50px;
		h1 {
			font-weight: bold;
			text-transform: uppercase;
			color: $dark;
			position: relative;
			margin-bottom: 75px;
			span {
				display: block;
				font-family: "Open sans", sans-serif;
				font-size: 40px;
				color: $golden;
				line-height: 120%;
				text-transform: none;
				font-weight: normal;
			}
			&:before {
				display: none;
			}
			&:after {
				content: '';
				width: 12px;
				height: 32px;
				display: inline-block;
				position: absolute;
				left: 50%;
				margin-left: -6px;
				bottom: -50px;
				background: url(img/break.png) no-repeat;			
			}
		}
		p {
			font-size: 18px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

.services-list {
	.col-sm-4 {
		figure {
			position: relative;
		}
	}
	figure {
		margin-bottom: 30px;
		position: relative;
		img {
			width: 100%;
			display: block;
		}
		h4 {
			position: absolute;
			width: 100%;
			text-align: center;
			bottom: 32px;
			margin-bottom: 0;
			a {
				color: #fff;
			}			
		}
	}
}

.hr,
hr {
	height: 1px;
	border-top: 1px solid #ccc;
	margin-top: 30px;
	margin-bottom: 30px;
}

.service-home {
	margin-bottom: 50px;
	.service-logo {
		text-align: center;
		img {
			cursor: pointer;
		}
		h1 {
			cursor: pointer;
			display: inline-block;
			position: relative;
		}
	}
	.service-tab {
		text-align: center;
		margin-bottom: 30px;
		font-size: 0;
		a {
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
			padding: 10px;
			font-size: 14px;
			font-family: $font-open;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				height: 1px;
				width: 100%;
				left: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: background .25s ease, height .25s ease;
				   -moz-transition: background .25s ease, height .25s ease;
				    -ms-transition: background .25s ease, height .25s ease;
				     -o-transition: background .25s ease, height .25s ease;
				        transition: background .25s ease, height .25s ease;
			}
			&.active {
				&:after {
					background-color: $golden;
					height: 3px;
				}
			}
		}
	}
}

.service-content {
	article {
		position: relative;
		display: none;
		.container {
			position: relative;
			.service-intro {
			    position: absolute;
			    right: 0;
			    bottom: -1px;
			    background: #fff url(img/ft-bg.jpg) no-repeat;
			    padding-left: 30px;
			    padding-right: 30px;
				.btn {
					position: absolute;
				    bottom: 100%;
				    right: 0;
				}
				h3 {
					color: $dark;
				}
			}
		}
		&.active {
			display: block;
		}
	}
}

.news-home {
	article {
		margin-bottom: 50px;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		figure {
			position: relative;
			margin-bottom: 25px;
		}
		figcaption {
			position: absolute;
			left: 0;
			top: 0;
			width: 70px;
			height: 95px;
			background-color: #f8f8f8;
			text-align: center;
			font-style: italic;
			font-size: 20px;
			color: $grey-light;
			text-transform: uppercase;
			span {
				margin-top: 15px;
				margin-bottom: 5px;
				font-size: 30px;
				font-weight: bold;
				display: inline-block;
				line-height: 110%;
				border-bottom: 1px solid #ccc;
			}
		}
		p {
			color: $grey-light;
		}
	}
}

.more {
	font-style: italic;
	.fa {
		margin-left: 15px;
	}
}

#footer {
	background: url(img/footer-bg.png);
	ul {
		display: inline-block;
	}
	a {
		margin-top: 50px;
		display: inline-block;
	}
	li {
		display: inline-block;
		padding: 0 20px;
		font-family: $font-open;
		font-size: 14px;
		text-transform: uppercase;
		.fa {
			font-size: 16px;
			color: $grey-light;
			&:hover {
				color: $golden;
			}
		}
	}
	.logo-footer {
		margin-top: 45px;
		margin-bottom: 20px;
	}
	.copyright {
		color: $grey-light;
		font-family: $font-open;
		font-size: 14px;
	}
}

.content-hidden {
	display: none;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
}

.modal-wrapper {
	width: 750px;
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -375px;
	background-image: url(img/ft-bg.jpg);
	background-size: cover;
	background-repeat: none;
	padding: 30px;
	.modal-close {
		position: absolute;
		top: 20px;
		left: 30px;
		font-style: italic;
	}
}

.modal-overlay,
.modal-wrapper {
	opacity: 0;
	visibility: hidden;
	@extend %transition-display;
}

.service-hidden {
	text-align: center;
	.btn {
		background-color: $golden;
		&:hover {
			background-color: #dcb766;
		}
	}
}