.news-category article figcaption {
    position: relative !important;
    height: auto;
    margin: 15px 0px;
    padding: 10px 0px;
    width: 100%;
}

.wp-pagenavi {
	a {
		background: none !important;
		border: none;
		color: #333333;
	    margin: 0px 4px;
	    padding: 8px;
	    font-style: italic;
		&:hover,
		&.current {
			color: #156fc4 !important;
		}
	}

	.nextpostslink,
	.previouspostslink {	
		background-color: #666666 !important;
		color: #fff;
		border-radius: 0px !important;
	    padding: 8px 20px;
	    @extend %transition-bg;
	    &:hover {
    	    color: #23527c;
		    background-color: #eee !important;
		    border-color: #ddd;
	    }
	}
	.nextpostslink .fa {
		margin-left: 10px;
	}
	.previouspostslink .fa {
		margin-right: 10px;
	}
}
.mg-bt-50 {
	margin-bottom: 50px;
}

.news-detail {
	.figcaption {
	    height: auto;
	    // margin: 15px 0px;
	    // padding: 10px 0px;
	    width: 100%;
	    height: 95px;
	    background-color: #f8f8f8;
	    text-align: center;
	    font-style: italic;
	    font-size: 20px;
	    color: #999;
	    text-transform: uppercase;
	    span {
	    	margin-top: 15px;
		    margin-bottom: 5px;
		    font-size: 30px;
		    font-weight: bold;
		    display: inline-block;
		    line-height: 110%;
		    border-bottom: 1px solid #ccc;
	    }
	}
	.news-detail-title {
		margin-top: 30px;
	}
}
.news-detail-img {
	width: 100%;
	margin-bottom: 10px;
}
#news-detail-images, #news-detail-gallery {
	width: 100%;
	.ul-list-img {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			margin-right: 10px;
		}
	}
}
.news-detail-info {
	width: 100%;
	margin-bottom: 30px;
	.fa {
		color: $grey-light;
		font-style: normal !important;
	}
	#news-detail-info {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			span {				
				fa { font-style: italic; }
			}
			display: inline-block;
			padding:0px 15px;
			border-right: 1px solid #989898;
		    line-height: 12px;
		    &:first-child {
				padding-left: 0;
				a {
					font-weight: bold;
					font-style: normal;
				}
		    }
		    &:last-child {
		    	border: none;
		    }
			a {
				font-style: italic;
				font-size: 14px;
			}
		}
	}
	h6 {
		color: #666666;
		margin-bottom: 15px;
	}
}

.news-detail-content {
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid #cccccc;
}

.news-detail-right {
	width: 100%;
	float: left;
	background: #f8f8f8;
	padding: 15px;
	h3 {
		//margin: 0;
		font-size: 25px;
	}
	.news-detail-border {
		width: 100%;
		float: left;
		margin: 30px 0px 10px 0px;
		height: 1px;
		border-bottom: 1px solid #dfdfdf;
	}
	article {
		margin-bottom: 20px;
	}
	.news-detail-thum {
		margin-bottom: 0;
	}
}
.blog-search {
	input.form-control {
		border-right: none;
		box-shadow: none;
		border-radius: 0;
		height: 41px;
		line-height: 41px;
		&:focus {
		   border: 1px solid #ccc;
		   border-right: none;
		}
	}
	button {
		min-width: inherit;
		height: 41px;
		line-height: 41px;
		background: none;
		border-radius: 0px;
		border-left: none;
		box-shadow: none !important;
		color: #999999;
		padding: 0px 10px;
		outline: none;
		background-color: #fff;
		&:hover {
			background-color: #fff;
			color: #999999;
			border-color: #ccc !important;
		}
		&:active, &:target, &:focus {
			background-color: #fff !important;
			border: 0 !important;
			color: #999999 !important;
		}
		i {
			margin-left:0px !important;
		}
	}
}

#news-detail-gallery {
	li {
		width: 105px;
		margin:0px 6px 6px 0px !important;
		float: left;
		img {
			width: 100%;
			display: block;
		}
		&.last {
			margin-right: 0px !important;
		}
	}
}

.post-slide {
	margin-bottom: 10px;
	img {
		width: 100%;
	}
}

.post-slide-thumb {
	margin-bottom: 30px;
	.item {
		margin-right: 10px;
		cursor: pointer;
	}
}

.page-content,
.news-detail-content {
	> p:first-of-type {
		&:first-letter {
			font-size: 48px;
			font-style: normal;
			float: left;
			margin-right: 15px;
			margin-top: 18px;
		}
	}
	a {
		color: $blue;
		&:hover {
			color: $golden;
		}
	}
}

.stButton {
	.sharethis {
		background-image: none !important;
		font-size: 0 !important;
		padding-left: 0 !important;
		margin-right: 15px;
		&:before {
			content: "\f1e0";
			font-family: "FontAwesome";
			font-size: 16px;
			color: $grey-light;
		}
	}
	.facebook {
		background-image: none !important;
		font-size: 0 !important;
		padding-left: 0 !important;
		&:before {
			content: "\f09a";
			font-family: "FontAwesome";
			font-size: 16px;
			color: $grey;
		}
	}
	.twitter {
		background-image: none !important;
		font-size: 0 !important;
		padding-left: 0 !important;
		&:before {
			content: "\f099";
			font-family: "FontAwesome";
			font-size: 16px;
			color: $grey;
		}
	}
	.googleplus {
		background-image: none !important;
		font-size: 0 !important;
		padding-left: 0 !important;
		&:before {
			content: "\f0d5";
			font-family: "FontAwesome";
			font-size: 16px;
			color: $grey;
		}
	}
}

.widget-area {
	padding: 1px 20px;
	background-color: #f8f8f8;
	padding-bottom: 20px;
}
.sidebar-widget {
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.rpwe-block {
	.rpwe-ul {
		margin-bottom: 0 !important;
	}
	
	li {
		border-bottom: 1px solid #ddd !important;
		&:last-child {
			border-bottom: 0 !important;
		}
	}
	.rpwe-img img {
		display: block !important;
		float: left;
		width: 40%;
		margin-right: 20px;
		height: auto;
		border: 0 !important;
		margin-bottom: 15px;
		margin-top: -3px;
	}

	.rpwe-title,
	.rpwe-summary {
		overflow: hidden;
	}

	h3 {
		a {
			font-size: 14px;
			margin-bottom: 10px;
    		display: inline-block !important;
    		font-weight: normal;
    		line-height: 150%;
		}
	}

	.rpwe-summary {
		display: none;
	}

	li:first-child {
		h3 {
			a {
				font-size: 18px;
				margin-bottom: 10px;
	    		display: inline-block !important;
	    		font-weight: bold;
			}
		}
		.rpwe-img img {
			float: none !important;
			width: 100% !important;
		}

		.rpwe-summary {
			font-size: 16px;
			color: $grey-light;
		}

		.more-link {
			display: block !important;
			text-align: right;
			position: relative;
			padding-right: 25px;
			font-style: italic;
			&:after {
				content: "\f178";
				position: absolute;
				right: 0;
				top: 0;
				font-family: "FontAwesome";
			}
		}
		.rpwe-summary {
			display: block;
		}
	}
}

.search-form {
	position: relative;
	label {
		display: block;
	}
	.screen-reader-text {
		display: none;
	}
	input[type="search"] {
		border: 1px solid #d6d6d6;
		padding: 5px;
		height: 40px;
		line-height: 40px;
		color: #666;
		font-weight: normal;
		width: 100%;
		display: inline-block;
		padding-right: 45px;
	}
	.search-submit {
		background: url(img/search-btn.png);
		border: 0;
		font-size: 0;
		width: 40px;
		height: 40px;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.gallery-list {
	list-style: none !important;
	margin-left: 0 !important;
	li {
		float: left;
		width: 33.333333%;
		img {
			padding: 5px;
		}
	}
}