.mobile-menu, .logged-as {
    display: none;
}

#wrapper:before {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.4);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    content: '';
    z-index: -1;
}
.menu-active {
    #wrapper:before {
        opacity: 1;
        z-index: 9998;
    }
}

.nav-wrap,
.mentor-expand {
    display: none;
}
.nav-wrap {
        width: 268px;
        transform: translate3d(-268px, 0, 0);
        -webkit-transform: translate3d(-268px, 0, 0);        
}	

@include screen(768px, 1024px) {
	.services-list {
		.col-sm-4 {
			width: 50%;
		}
		.col-md-4 {
			height: 260px;
			overflow: hidden;
			width: 100%;
		}
	}

	.gallery-container {
		.port-shuffle {
			.col-md-4 {
				width: 50%;
			}
		}
	}
}

@include max-screen(1024px) {
    body {
        min-width: 720px;
    }

    h1, h1 a {
	    font-size: 25px;
	}
	h2, h2 a {font-size: 22px; }
	h3, h3 a {font-size: 20px; }
	h4, h4 a {font-size: 16px; line-height: 150%; }
	h5, h5 a {font-size: 14px; line-height: 150%; }
	h6, h6 a {font-size: 13px; line-height: 150%; }
	.feature-box {
		padding: 20px;
	}
	.feature-box article {
		padding-left: 0;
		padding-top: 0;
		h1 {
			margin-bottom: 45px;
			&:after {
				bottom: -40px;
			}
		}
		p {
			font-size: 16px;
		}
	}

	.feature-box article h1 span {
		font-size: 30px;
	}

	.inline-list.sf-menu{
		display: none;
	}
	.mobile-menu {
        display: inline-block !important;
        color: #f00 !important;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        //line-height: 50px;
        position: absolute;
        right: 10px;
        //padding-left: 20px;
        float: left;
    }

    .nav-wrap {
        position: fixed;
        height: 100%;
        overflow-y: auto;
        top: 0;
        left: 0;
        width: 270px;
        background-color: #333;
        z-index: 9999;
        display: block;
        transform: translate3d(-380px, 0, 0);
        -webkit-transform: translate3d(-380px, 0, 0);

        .nav-head {
            position: relative;
            height: 85px;
            line-height: 85px;
            background-color: #444;
            padding-left: 15px;
            color: #fff;
            font-size: 16px;
            i {
                color: #bd9b51;
                font-size: 20px;
                margin-right: 5px;
                vertical-align: text-top;
            }
        }

        .nav-content {
            padding-left: 15px;
            padding-top: 20px;
            .nav-logo {
                margin-bottom: 10px;
                display: inline-block;
                img {
                    width: 230px;
                }
            }
            ul {
                margin-bottom: 30px;
                li {
                    a {
                        color: #fff;
                        font-size: 15px;
                        //font-weight: bold;
                        text-transform: uppercase;
                        font-family: "Open Sans",sans-serif;
                        line-height: 210%;
                        &:hover {
                            color: #bd9b51;
                        }
                    }
                }
            }
        }

        .nav-close {
            position: absolute;
            top: 0;
            right: 25px;
            i {
                color: #fff;
                -webkit-transition: all .3s ease;
                   -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                     -o-transition: all .3s ease;
                        transition: all .3s ease;
            }            
            &:hover {
                i {
                    color: #bd9b51;
                }                
            }
        }
        .nav-social {
            font-size: 30px;
            color: #fff;
            &:hover {
                color: #bd9b51;
            }
        }

        -webkit-transition: transform 0.5s ease 0s;
        transition: transform 0.5s ease 0s;
    }
    .menu-active {
        .nav-wrap {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
        }

    }

    .service-content {
    	.row {
    		position: relative;
    	}
		article {
			.container {
				.service-intro {
					position: relative;
					bottom: -1px;
					right: 0;
					padding-bottom: 1px;
					padding-top: 1px;
					margin: 0;
					width: 100%;
				}
			}
		}
	}

    .mobile-menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    /*.qtranxs_language_chooser {
        position: absolute;
        right: -15px;
        bottom: 12px;
    }
    .qtranxs_language_chooser {
    }*/
    #main-nav .fb-link {
        margin-top: 25px;
    }
    
}

@include max-screen(767px) {
    body {
        min-width: 320px;
    }
    .modal-wrapper {
    	width: 90%;
    	margin-left: -45%;
    }

    #main-body {
    	padding-bottom: 30px;
    }
    .services-list figure {
        &.big {
            overflow: hidden;
        }
    }      

    #footer {
    	position: static;
    	height: auto;
        li {
            display: block;
            float: none;
        }
    	a {
    		display: block;
    		text-align: center;
    		margin-top: 15px;
    	}
    }
    .main-slider .owl-controls {
        bottom: 5px;
    }
    .home .main-slider,
    .service-content {
        img {
            min-height: 250px;
            max-height: 250px;
            width: auto;
            max-width: inherit;
        }
    }
    .home #main-body {
        margin-top: -35px;
    }
    .feature-box img {
        float: none;
        width: 100%;
    }

    #footer {
        .fb-link {
            display: none;
        }
        .logo-footer {
            margin-top: 15px;
        }
    }

}

@include max-screen(640px) {
	.gallery-container {
		.port-shuffle {
			.col-md-4 {
				width: 50%;
			}
		}
	}
	.feature-box {
		article,
		img {
			width: 100%;
		}
	}
}

@include max-screen(580px) {
    .logo {
        img {
            max-width: 200px !important;
        }
    }
    .top-bar {
        margin-bottom: 15px;
    }
}
@include max-screen(480px) {
	.gallery-container {
		.port-shuffle {
			.col-md-4 {
				width: 100%;
			}
		}
		.fancybox img{
			width: 100%;
		}
	}
    
    #main-nav .fb-link {
        padding: 0px 10px !important;
        margin-right: 10px;
    }

    .top-bar {
        text-align: center;
        span {
            display: block;
            border: 0;
            margin-bottom: 15px;
        }
    }
}

@include max-screen(320px) {
	.nav-wrap {
		width: 270px;
	}
	.nav-wrap {
		.nav-head,
		.nav-content {
			padding-left: 40px;
		}
	}
	.nav-logo {
		max-width: 200px;
	}
	.services-list figure.big img {
		height: 118px !important;
	}
}