
/*--------------------------------------------------------------
	CSS OVERVIEW
----------------------------------------------------------------
		1. Reset
		2. Typography
		3. Elements
		4. Forms
		5. Layout system
		6. WordPress Recommended Classes

--------------------------------------------------------------*/

/* 1. Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-x: hidden; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body,
button,
input,
select,
textarea {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	line-height: 1.625;
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
table, th, td {
	border: 1px solid;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}
th, td {
	padding: 6px;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
}
td {
	border-width: 0 1px 1px 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
q:before {
	content: none;
}
blockquote,
address,
q {
	border-left: 3px solid #f45245;
	padding-left: 15px;
	font-size: 13px;
}
/* 2. Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
h1 {
	font-size: 3.6rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.4rem;
}
h6 {
	font-size: 1.2rem;
}
p {
	margin-bottom: 1em;
}
b,
strong {
	font-weight: 600;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 20px !important;
	font-family: Consolas,"Andale Mono","Lucida Console","Lucida Sans Typewriter",Monaco,"Courier New",monospace;
	font-size: 12px !important;
}
address {
	margin: 0 0 1.5em;
	font-style: italic;
	font-family: Geogria;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}

/* 3. Elements */
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul,
ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
a, .transit {
	color: inherit;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
a:hover,
a:focus,
a:active {
	outline: 0;
}

/* 4. Forms */
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	border: 0;
	font-size: 1.2rem;
	height: 38px;
	line-height: 38px;
	padding: 0 20px
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #058df2;
	color: #fff;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #a0978d;
	border: 1px solid #e8e6e2;
	height: 38px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #191919;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 5px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/* 5. Layout system */

/* 5.1 Float layout */

/* 5.1.1 sidebar - content -sidebar */
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .sidebar-primary {
	float: left;
}
.sidebar-content-sidebar .sidebar-secondary,
.sidebar-content-sidebar .content {
	float: right;
}
/* 5.1.2 sidebar - sidebar - content */
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}
.sidebar-sidebar-content .sidebar {
	float: left;
}
.sidebar-sidebar-content .content {
	float: right;
}
/* 5.1.3 content - sidebar - sidebar */
.content-sidebar-sidebar .content-sidebar-wrap,
.content-sidebar-sidebar .content {
	float: left;
}
.content-sidebar-sidebar .sidebar-secondary,
.content-sidebar-sidebar .sidebar-primary {
	float: right;
}
/* 5.1.4 content - sidebar */
.content-sidebar .content {
	float: left;
}
.content-sidebar .sidebar {
	float: right;
}
/* 5.1.5 sidebar - content */
.sidebar-content .content {
	float: right;
}
.sidebar-content .sidebar {
	float: left;
}
.content-sidebar .content-sidebar-wrap:after,
.sidebar-content .content-sidebar-wrap:after {
	display: table;
	content: "";
	clear: both;
}
/* 5.1.6 Full content */
.full-width-content .content {
	width: 100%;
	float: none;
}

/* 5.2 Width layout */

/* 5.2.1 sidebar - content -sidebar */
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap,
.content-sidebar-sidebar .content-sidebar-wrap {
	width: 776px;
}
.sidebar-content-sidebar .sidebar,
.sidebar-sidebar-content .sidebar,
.content-sidebar-sidebar .sidebar {
	width: 194px;
}
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content,
.content-sidebar-sidebar .content {
	width: 582px;
}
.sidebar-content-sidebar .sidebar-primary {
	padding-right: 5px;
}
.sidebar-content-sidebar .sidebar-secondary {
	padding-left: 5px;
}
/* 5.2.2 sidebar - sidebar - content */
.sidebar-sidebar-content .sidebar {
	padding-right: 5px;
}
/* 5.2.3 content - sidebar - sidebar */
.content-sidebar-sidebar .content {
	padding-right: 10px;
}
.content-sidebar-sidebar .sidebar-primary {
	padding-right: 5px;
}
.content-sidebar-sidebar .sidebar-secondary {
	padding-left: 5px;
}
/* 5.2.4 content - sidebar */
.content-sidebar .content,
.sidebar-content .content {
	width: 75%;
}
.content-sidebar .sidebar,
.sidebar-content .sidebar {
	width: 25%;
}
.content-sidebar .content {
	padding-right: 5px;
}
.content-sidebar .sidebar {
	padding-left: 5px;
}
/* 5.2.5 sidebar - content */
.sidebar-content .content {
	padding-left: 5px;
}
.sidebar-content .sidebar {
	padding-right: 5px;
}

/* 6. WordPress Recommended Classes */
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.textup {
	text-transform: uppercase;
}
.textline {
	text-decoration: line-through;
}
.textbold {
	font-weight: bold;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	text-align: right;
	margin-bottom: 1em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 1em auto;
	text-align: center;
}

/*
 * Carousel CSS
*/

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
}

/* Shortcodes */
.product-list.column-2 .product-item {
	width: 50%;
}
.product-list.column-3 .product-item {
	width: 33.3%;
}
.product-list.column-4 .product-item {
	width: 25%;
}
.product-list.column-5 .product-item {
	width: 20%;
}
.product-list.pro-slide .product-item {
	width: auto;
}

/*  [ Social bar ]
- - - - - - - - - - - - - - - - - - - - */
.social-bar a {
	color: #8c8c8c;
	background: #ebebeb;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: relative;
	font-size: 14px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.social-bar a:hover,
.social-bar.line-icon a span,
.social-bar.dark-icon a,
.social-bar.colors-icon a,
.social-bar.colors-icon a:hover {
	color: #fff;
}
.social-bar a.facebook:hover,
.social-bar.colors-icon a.facebook {
	background: #6078aa;
}
.social-bar a.twitter:hover,
.social-bar.colors-icon a.twitter {
	background: #00abf0;
}
.social-bar a.gplus:hover,
.social-bar.colors-icon a.gplus {
	background: #d95232;
}
.social-bar a.linkedin:hover,
.social-bar.colors-icon a.linkedin {
	background: #0073b2;
}
.social-bar a.instagram:hover,
.social-bar.colors-icon a.instagram {
	background: #474135;
}
.social-bar a.skype:hover,
.social-bar.colors-icon a.skype {
	background: #03a8e9;
}
.social-bar a.pinterest:hover,
.social-bar.colors-icon a.pinterest {
	background: #db2828;
}
.social-bar a.github:hover,
.social-bar.colors-icon a.github {
	background: #353533;
}
.social-bar a.foursquare:hover,
.social-bar.colors-icon a.foursquare {
	background: #35c6ff;
}
.social-bar a.dribbble:hover,
.social-bar.colors-icon a.dribbble {
	background: #fa77b4;
}
.social-bar a.youtube:hover,
.social-bar.colors-icon a.youtube {
	background: #db2828;
}
.social-bar a.rss:hover,
.social-bar.colors-icon a.rss {
	background: #ff9000;
}
.social-bar a:hover span {
	opacity: 1;
	bottom: 40px;
}
.social-bar a span {
	width: 76px;
	height: auto;
	line-height: 20px;
	padding: 3px 6px;
	left: 50%;
	margin-left: -35px;
	font-size: 11px;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	text-indent: 0px;
	position: absolute;
	pointer-events: none;
	bottom: 10px;
	opacity: 0;
	z-index: 999;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition:    all .3s ease-in-out;
	transition:         all .3s ease-in-out;
}
.social-bar a span:after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -4px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(0, 0, 0, 0.1);
}
.social-bar a span:after {
	bottom: -5px;
	margin-left: -5px;
	border-top: 5px solid rgba(0, 0, 0, 0.7);
}
/* Large icon */
.social-bar.large-icon a {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 45px;
}
.social-bar.large-icon a:hover span {
	bottom: 60px;
}
/* Dark icon */
.social-bar.dark-icon a {
	background-color: #353533;
}
/* Colors icon */
.social-bar.colors-icon a:hover {
	background: #353533;
}
/* Line style */
.social-bar.line-icon a {
	background: none !important;
	border: 2px solid;
}
.social-bar.line-icon a:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	-ms-box-shadow:     none;
	box-shadow:         none;
}
.social-bar.line-icon a.facebook {
	color: #6078aa;
}
.social-bar.line-icon a.twitter {
	color: #00abf0;
}
.social-bar.line-icon a.gplus {
	color: #d95232;
}
.social-bar.line-icon a.linkedin {
	color: #0073b2;
}
.social-bar.line-icon a.instagram {
	color: #474135;
}
.social-bar.line-icon a.skype {
	color: #03a8e9;
}
.social-bar.line-icon a.pinterest {
	color: #db2828;
}
.social-bar.line-icon a.github {
	color: #353533;
}
.social-bar.line-icon a.foursquare {
	color: #35c6ff;
}
.social-bar.line-icon a.dribbble {
	color: #fa77b4;
}
.social-bar.line-icon a.youtube {
	color: #db2828;
}
.social-bar.line-icon a.rss {
	color: #ff9000;
}
.social-bar.line-icon a:hover {
	color: #353533;
	border-color: #353533;
}