.header-style1 .header{
	background-color:#fff;
}
.sidebar-top-header .top-search{
	display:none;
}

.sidebar-top .widget{
	margin-bottom:0;
}
.phone-icon-menu, .phone-icon-login, .phone-icon-cart, .phone-icon-search{
	display:none;
	position:relative;
}
.block-popup-login {
	margin-top: 170px;
	width: 600px;
	padding: 0px 20px 0px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	form.login,form.register {
	  border: 0px;
	  padding: 0px;
	  margin: 0;
	  text-align: left;
	  border-radius: 0px;
	}
	.tt_popup_login {
		height: 42px;
		background-color: @color;
		margin: 0 -20px;
		padding:0 10px;
		strong {
			line-height: 42px;
			display: inline-block;
			padding-left: 55px;
			text-transform: uppercase;
			font-family:'TitilliumWebRegular' !important;
			font-size: 15px;
			color: #fff;
			background-image: url(../assets/img/icon-login-popup.png);
			background-repeat: no-repeat;
			background-position: 10px center;
			position: relative;
			padding-right: 10px;
			background-color: @color;
			font-family:''
		}
	}
	.block-content {
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight: normal;
		.col-reg {
			width: 50%;
			float: left;
			min-height: 188px;
			&.registered-account {
				padding-right: 30px;
				border-right: 1px solid #d0d0d0;
				.submit-login{
					position:relative;
					float:left;
					.btn-submit-login{
						background-repeat: no-repeat;
						padding: 0 25px 0px 48px;
						height: 42px;
						font-size: 11px;
						font-weight: bold;
						white-space: nowrap;
						text-transform: uppercase;
						color: #666;
						.border-radius(0);
						border:1px solid #e1e1e1;
						&:hover{
						   background-color:@color;
						   color:#fff;
						}
					}
					&:before{
						background: url(../assets/img/icon-btn-login.png) no-repeat left center;
						content:'';
						display:block;
						width:15px;
						height:18px;
						position:absolute;
						top:10px;
						left:20px;
					}
					&:hover{
						&:before{
							background: url(../assets/img/icon-btn-login-hover.png) no-repeat left center;
						}
					}
				}
			}
			&.login-customer{
				padding-left: 30px;
				  color: #444;
				h2{
					font-size: 15px;
					font-weight: bold;
					margin-bottom:15px;
					font-family:'TitilliumWebRegular' !important;
				 }
			}
		}
		.note-reg {
			margin:0;
		}
		.list-log li {
			padding: 2px 0px 2px 14px;
			font-style: italic;
			position: relative;
			border-left: none;
			line-height:22px;			
			&:before {
				content: "";
				display: inline-block;
				width: 5px;
				height: 5px;
				background-color: #666666;
				position: absolute;
				left: 0px;
				top: 10px;
			}
		}
		.btn-reg-popup {
			height: 42px;
			line-height: 42px;
			padding: 0px 42px;
			text-transform: uppercase;
			display: inline-block;
			font-size: 11px;
			margin-top: 15px;
			color: #fff;
			font-weight: bold;
			background-color:@color;
		}
	}
	.email-input {
		 position: relative;
		&:before {
			background: url(../assets/img/icon-username.png) no-repeat center center #ababab;
			content: "";
			display: inline-block;
			width: 43px;
			height: 40px;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}
	.pass-input{
		position: relative;
		&:before {
			background: url(../assets/img/icon-pass.png) no-repeat center center #ababab;
			content: "";
			display: inline-block;
			width: 43px;
			height: 40px;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}
	.input-text {
		border: none;
		margin-bottom: 14px;
		width: 100%;
		padding: 0 5px 0px 52px;
		height: 40px;
		font-size: 108.33%;
		border: 1px solid #d1d1d1;
		.border-radius(0);
	}	
	.ft-link-p{
		margin-bottom:19px;
		a {
		   color:#444;
		   padding:0;
		   border:0;
		   &:hover{ color:@color;}
		}
	}						
	 
}
.close-login{
	display: inline-block;
	background: url(../assets/img/btn-close-login.png) no-repeat top left;
	width: 26px;
	height: 26px;
	overflow: hidden;
	text-indent: -9999px;
	right: 7px;
	top: 7px;
	position: absolute;
	opacity: 1;
}
/*Register form style*/
.top-login .div-login .modal-dialog.register-form-width{
	width:360px;
	.modal-content .modal-body{
		padding:0 30px 20px 20px;
	}
}
.register-form .register{
	.input-group{
		span.input-group-addon{
			display:none;
		}
		input[type="email"], input[type="password"]{
			border:1px solid #e2e2e2;
			margin-bottom:20px;
			border-radius:3px;
			font-size:12px;
			color:#999;
			box-shadow:none;
			height:30px;
			margin-bottom:10px;
			width:300px;
		}
	}
	.form-row{
		.button{
			font-size:14px;
			line-height:21px;
			color:#fff;
			padding:6px 42px;
			background-color:@color;
			border:0;
			border-radius:0;
			text-transform:none;
			font-weight:normal;
			&:hover{
				background-color:darken(@color, 10%);
			}
		}
	}
}

.header-msg{
	border-bottom:1px solid #ddd;
}
//widget_icl_lang_sel_widget
.widget_icl_lang_sel_widget{
	float: right;
	background-color:#fff;
	color:#333;
	.rtl &{
		float:left;
	}
	#lang_sel{		
		a, a:visited{
			border: 0 none;
			height: 40px;
			padding: 0;
		}
		a.lang_sel_sel{
			line-height: 38px;
			padding:0 0 0 15px;
			color:#666;
			.rtl &{
				padding:0 15px 0 0;
			}
			&:after{
				content: "\f107";
				font-family: FontAwesome;
				display: inline-block;
				font-size: 14px;
				margin-left:5px;
				.rtl &{
					margin-right:5px;
					margin-left:0;
				}
			}
			&:hover, &:focus{
				color:@color;
				background-color:#fff;
			}
		}
		img.iclflag{
			display: inline-block;
			vertical-align: middle;
			margin:-3px 5px 0 0;
			.rtl &{
				margin:-3px 0 0 5px;
			}
		}
		ul{				
			list-style: none;
			margin:0;
			li{				
				float: right;
				position: relative;
				width: 100%;
				a{
					color: #fff;
					font-size: 12px;
					span{
						display:inline-block;
					}
					&:before{
						display:inline-block;
						content:'';
						height:5px;
						width:100%;
						position:absolute;
						bottom:-5px;
					}
				}
				ul{
					margin:0;
					border: 0px;
					right: 0;
					z-index: 9999;
					top: 42px;
					position: absolute;
					display: none;
					background: #fff;
					.box-shadow(0 0 2px #999);
					li{
						background: #fff;						
						a{
							color: #333;
							background-color:#fff;
							padding: 5px 13px;
							display: block;
							height: auto;
							&:hover{
								color: @color;
								//background-color:#333;
							}
						}
					}
				}
			}
		}
	}
}
//widget_currency_converter
.widget_currency_converter{
	width: 45px;
	height:40px;
	float: right;
	text-align: center;
	margin-left:15px;
	.header-style3 &{
		margin:0 0 0 20px;
		.logged-in &{
			margin:0 0 0 7px;
		}
		.rtl.logged-in &{
			margin:0 7px 0 0;
		}
	}
	.rtl &{
		margin-left:0;
		margin-right:15px;
	}
	.rtl &{
		float:left;
	}
	.currency_w{
		color: @body-color;
		margin:0;
		>li{
			list-style: none;
			a{
				line-height: 21px;
				display: inline-block;
				background-color:#fff;
				color:#666;
				width:100%;
				padding: 9px 0;
				.header-style3 &{
					background-color:#eee;
					padding: 10px 0 9px;
				}
				&:after{
					content: "\f107";
					font-family: FontAwesome;
					display: inline-block;
					margin-left: 10px;
					font-size: 14px;
					.header-style3 &{
						content:"\f155";
						margin-left:5px;
					}
					.rtl &{
						margin-right:5px;
						margin-left:0;
					}
				}
				&:hover{
					color:@color;
				}
			}
			.currency_switcher{
				margin:0;
				border: 0px;
				display: none;
				background: #fff;
				margin:1px -15px 0;
				border:1px solid #e1e1e1;
				.header-style2 &{
					margin:0;
				}
				.header-style3 &{
					margin:0 -15px 0;
				}
				li {
					display: inline-block;
					background: none repeat scroll 0 0 #fff;
					width: 68px;
					margin: 0px;
					background-color:#fff;
					color:#333;
					a{
						background: none;
						border: 0px;
						border-radius: 0px;
						padding: 0px;
						width: 68px;
						line-height:24px;
						padding-right:7px;
						color:#333;
						&:hover{
							color:@color;
						}
						.rtl &{
							padding-left:7px;
							padding-right:0;
						}
						&:after{
							content: "";
						}
					}
				}
			}
		}
		
		&:hover{
			.currency_switcher{
				display: inline-block;
				z-index: 9999;
				height: auto;
				position: relative;				
				li{
					display: block;
				}
			}
		
		}
	}
}
///********  top header menu *************/		 
 ul#menu-menu-top-header{
	margin: 0;
	line-height: 40px;
	> li{
	  float:left;
	  position:relative;
	  cursor:pointer;
	  margin-right:5px;
	  .rtl &{
		margin-left:5px;
		margin-right:0;
		float:right;
	  }
	  &.dropdown{
		> a{
			&:after {
				content: "\f107";
				margin: 0 10px;
				font-family: FontAwesome;
				display: inline-block;
				font-size:14px;
			}
		}
	  }
	  &:hover{
		background-color:#fff;
		> a{
			color:@color;
			span.fa{
				color:@color;
			}
		}
			> ul.dropdown-menu{
				 opacity: 100;
				filter: alpha(opacity=10000);
				-webkit-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}
	  }
	  > a{
		padding: 0 !important;
		border: 0;
		font-size:12px;
		color:#666;
		span.fa{
			color:#666;
			margin-right:10px;
			.rtl &{
				margin-left:10px;
				margin-right:0;
			}
		}
		}
	  > ul.dropdown-menu{
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			min-width: 120px;
			display: block;
			opacity: 0;
			filter: alpha(opacity=0);
			-webkit-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
			.transition(all 0.5s ease-in);
			-ms-transform-origin: left top;
			-webkit-transform-origin: left top;
			transform-origin: left top;
			width: 129px;
			position: absolute;
			left: -1px;
			right:auto;
			top: 41px;
			border: 1px solid #ddd;
			background-color: #fff;
			z-index: 8888;
			margin:0;
			padding:0;
			.rtl &{
				right:-1px;
				left:auto;
			}
			li {
				a {
				   font-size:12px;
				   display: block;
				   padding: 8px 10px 8px 30px;
				   border-bottom:none;
				   line-height: 20px;
				   color:#666;
				   position:relative;
				   .rtl &{
						padding:8px 30px 8px 10px;
						&:before{
							right:18px;
							left:auto;
						}
				   }
				   &:before{
						position:absolute;
						top:16px;
						left:18px;
						content:'';
						width:5px;
						height:5px;
						background-color:#333;
						.border-radius(50%);
				   }
				   &:hover {
					 color:@color;
					// background-color:@color;
					 &:before{
						background-color:@color;
					 }
				   }
				}
			}
	  }
	}
 }
 //top login
 .top-login{
	line-height:40px;
	.div-logined > a{ 
		line-height:40px;
	}
	.div-login{
		> a{
			color:@color;
		}
		.modal-dialog{
			width:700px;
			margin-top:10%;
			.modal-content{
				padding:0;
				.modal-header{
					border:0;
					h4.modal-title{
						font-size:16px;
						font-weight:bold;
						color:#444;
					}
					.close:hover, .close:focus{
						color:@color;
					}
				}
				.modal-body{
					padding:0 30px 40px 20px; 
					.rtl &{
						padding:0 20px 40px 30px;
					}
					.login .block-content{
						.col-reg{
							float:left;
							.rtl &{
								float:right;
							}
							&.registered-account{
								padding-right:45px;
								.rtl &{
									padding-left:45px;
									padding-right:0;
								}
								width:59%;
								input[type="text"], input[type="password"]{
									border:1px solid #e2e2e2;
									margin-bottom:20px;
									border-radius:3px;
									font-size:12px;
									color:#999;
									box-shadow:none;
									height:30px;
								}
								.actions{
									float:left;
									margin-right:20px;
									.rtl &{
										float:right;
										margin-left:20px;
										margin-right:0;
									}
									input{
										font-size:14px;
										line-height:21px;
										color:#fff;
										padding:6px 42px;
										background-color:@color;
										border:0;
										border-radius:0;
										text-transform:none;
										font-weight:normal;
										&:hover{
											background-color:darken(@color, 10%);
										}
									}
								}
								.ft-link-p a{
									font-size:12px;
									color:#999;
									&:hover{
										color:@color;
									}
								}
							}
							&.login-customer{
								background: url(../assets/img/bg-login.png) no-repeat left center;
								padding-left:65px;
								.rtl &{
									padding-right:65px;
									padding-left:0;
									background: url(../assets/img/bg-login.png) no-repeat right center;
								}
								.note-reg{
									font-size:11px;
									margin-bottom:10px;
									line-height:25px;
									a{
										color:@color;
									}
								}
								ul.list-log{
									margin-left:10px;
									list-style:none;
									li{
										line-height:normal;
										a{
											display:inline-block;
											width:176px;
											height:30px;
											margin-bottom:5px;
											&.facebook-connect{
												background: url(../assets/img/fb-connect.png) no-repeat center center;
											}
											&.twitter-connect{
												background: url(../assets/img/twitter-connect.png) no-repeat center center;
											}
											&.google-plus-connect{
												background: url(../assets/img/goo-connect.png) no-repeat center center;
											}
											&:hover{
												.opacity(0.8);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.rtl &{
		border-right:0;
	}
	ul{
		margin:0;
	}
 }
 /*top*/
 .top{
	.header-style3 &{
		background-color:#fff;
	}
	.top-header{
		min-height:79px;
		.header-fixed &{
			min-height:60px;
		}
		.ya-logo{
			padding:20px 0;
			.header-fixed &{
				padding:14px 0;
				width:170px;
			}
			.header-style3 &{
				padding:32px 0;
			}
		}
	}
	.sidebar-top-menu{
		float:right;
		.rtl &{
			float:left;
		}
	}
 }
 .sidebar-top-header .home-search{
	float:right;
	line-height:77px;
	display:block;
	margin:0 0 0 35px;
	&:hover:before{
		color:@color;
	}
	.rtl &{
		float:left;
		margin: 0 35px 0 0;
	}
	.header-style2 &{
		&:before{
			color:#fff;
		}
		&:hover:before{
			color:@color;
		}
	}
	&:before{
		font-size:18px;
		content:'\f002';
		font-family:FontAwesome;
		color:#999;
	}
	&.close-search{
		&:hover:before{
			color:@color;
		}
		&:before{
			font-size:18px;
			content:'\f00d';
			font-family:FontAwesome;
			color:#999;
		}
			.header-style2 &{
				&:before{
					color:#fff;
				}
				&:hover:before{
					color:@color;
				}
		}
	}
	.header-style2 &{
		color:#fff;
		margin-right:0 0 0 34px; 
	}
}
.header-style2 .header-fixed .sidebar-top-header .home-search{
	line-height:58px;
}
.sidebar-top-header .ya_top{
	width:75%;
		.top-form{
			&.top-search{
				width:100%;
				display:none;
				position:relative;
					.cat-wrapper{
						display:none;
					}
					.topsearch-entry{
						position:relative;
						form{
							position:absolute;
							top:20px;
							width:100%;
							.header-style2 &{
								input[type="text"]{
									background:transparent none repeat scroll 0 0;
									border:1px solid #fff;
									color:#fff !important;
								}
								button.form-button{
									background:transparent none repeat scroll 0 0;
									border:1px solid #fff;
									border-left:0;
									&:before{
										color:#fff;
									}
								}
							}
							input[type="text"]{
								border:1px solid #ebebeb;
								width:100%;
								height:40px;
								.border-radius(3px);
								line-height:40px;
								margin-bottom:0;
								padding:0 10px;
							}
						button.form-button{
							border:1px solid #ebebeb;
							border-left:0;
							height:40px;
							background-color:#fff;
							padding:15px;
							position:relative;
							margin:0;
							position:absolute;
							top:0;
							right:0;
							left:auto;
							border-top-left-radius:0;
							border-bottom-left-radius:0;
							.rtl &{
								left:0;
								right:auto;
								border-top-right-radius:0;
								border-bottom-right-radius:0;
								border-top-left-radius:3px;
								border-bottom-left-radius:3px;
								border-left:1px solid #ebebeb;
								border-right:0;
							}
							&:hover{
								&:before{
									color:@color;
								}
							}
							&:before{
								content:'\f002';
								position:absolute;
								top:-2px;
								left:-2px;
								right:0;
								bottom:0;
								font-family:FontAwesome;
								font-size:18px;
								color:#999;
								text-align:center;
								line-height:40px;
							}
						}
					}
				}
			}
		}
	}
 /*Mini Cart*/
.header-style2 .header.header-fixed .top-form.top-form-minicart .top-minicart-icon > a::before{
	line-height:59px;
}
.top-form{
	position: relative;  
	float: right;
	&.top-form-minicart{
		cursor: pointer;
		font-size: 13px;
		position:relative;
		.top-minicart-icon{
			> a{
				position:relative;
				span.minicart-number{
					color:#fff;
					font-weight:bold;
					font-size:12px;
					display:inline-block;
					width:25px;
					height:20px;
					line-height:21px;
					top:-3px;
					text-align:center;
					background-color:@color;
					position:relative;
					border-radius:3px;
					&:before{
						content:'';
						position:absolute;
						left:-5px;
						top:5px;
						height:0;
						width:0;
						border-top: 4px solid transparent;
						border-bottom: 4px solid transparent; 
						border-right:5px solid @color; 
						.rtl &{
							right:-5px;
							left:auto;
							border-left:5px solid @color; 
							border-right:0;
						}
					}
					.header-style2 &{
						top:-13px;
						left:-2px;
						width:20px;
						height:20px;
						font-size:11px;
						color:#f5f5f5;
						border:1px solid #fff;
						border-radius:10px;
						&:before{
							border:0;
						}
					}
				}
				&:before{
					content:'\f07a';
					font-family:FontAwesome;
					font-size:20px;
					color:#999;
					margin: 0 15px 0 10px;     
					line-height:79px;
					.header-style2 &{
						margin:0 0 0 10px;
						color:#fff;
						.rtl &{
							margin:0 10px 0 0;
						}
					}
				}
			}
		}
	}
	.wrapp-minicart{
		opacity: 0;
		.transform_origin(right, top);
		.transition(all 0.3s ease-out);
		.scale(0);
		background: none repeat scroll 0 0 #fff;
		position: absolute;
		right: -1px;
		left:auto;
		top: 79px;
		width: 370px;
		z-index: 9999;
		border-top:2px solid @color;
		padding:20px;
		.rtl &{
			left:-1px;
			right:auto;
			padding:15px 20px 15px 10px;
		}
		h2{
			color:#666;
			font-size:13px;
			text-transform:none;
		}
		.minicart-padding{
			background: #fff;
			.minicart-number{
				color:@color;
			}
			ul{
				margin-left:0;
				max-height:365px;
				overflow:auto;
				list-style:none;
			   li{
				   padding: 20px 0;
				   border-bottom: 1px dashed #e6e6e6;
				   position: relative;
				   overflow:hidden;
				   list-style:none;
				   &:first-child{
						 border-top: 1px dashed #e6e6e6;
				   }
				   .product-image{
						width: 80px;
						display: inline-block;
						float: left;
						.rtl &{
							float:right;
						}
						img{
							border:1px solid #ebebeb;
						}
						&:hover{
							img{ .opacity(0.8);}
						}
				   }
				   .detail-item {
						.product-details {
							margin-left: 100px;
							position: relative;
							line-height:18px;
							.product-title{
								padding-right:40px;
								.rtl &{
									padding-left:40px;
									padding-right:0;
								}
							}
							.rtl &{
								margin-right:100px;
								margin-left:0;
							}
							.rating-container {
							   white-space: nowrap;
							   margin-bottom:5px;
							   .ratings{
									float:left;
									margin-right:10px;
									.rtl &{
										float:right;
										margin-left:10px;
										margin-right:0;
									}
								}
								.item-number-rating{
									font-size:12px;
									color:#999;
								}
							}
							a {
								font-size: 14px;
								position:relative;
								top:-4px;
								text-transform:none;
								color:#444;
								font-weight:bold;
								&:hover{
									color:@color;
								}
							}							
							.product-action{
								position:absolute;
								top:-5px;
								right:-5px;
								left:auto;
								.rtl &{
									left:-5px;
									right:auto;
								}
								a.btn-remove span {
									background: url(../assets/img/minicart-del.png) no-repeat;
									width: 13px;
									height: 13px;
									display:inline-block;
									margin:0 5px;
								}
								a.btn-edit span {
									background: url(../assets/img/minicart-edit.png) no-repeat;
									width: 13px;
									height: 13px;
									display:inline-block;
								}
							}
						}
						.product-price{
							color:#f53b54;
							font-size:14px;
							height:25px;
							line-height:25px;
							margin-right:20px;
							.rtl &{
								margin-left:20px;
								margin-right:0;
							}
						}
						.product-price,.qty{
							display: inline-block;
							vertical-align:top;
						}
						.qty{
							color:#444;
							font-size:12px;
							.qty-label{
								padding-right:10px;
								text-align:left;
								text-transform:none;
								vertical-align:text-bottom;
							}
							.qty-number{
								display:inline-block;
								font-size:12px;
								border:1px solid #cccccc;
								height:25px;
								width:40px;
								line-height:25px;
								text-align:center;
								background:none repeat scroll 0 0 #fff;
								border-radius:3px;
							}
						}
					}
				}
			}
		}
	.cart-checkout{
		.cart-links{
			display:block;
			text-align:center;
			padding:10px 0 0;
			.cart-link,.checkout-link{
				display: inline-block;
				background-color: #ebebeb;
				margin:0 5px;
				float:left;
				.rtl &{
					float:right;
				}
				a {
				   font-size: 14px;
				   line-height:21px;
				   color:#444;
				   padding: 7px 35px;
				   display:block;
				   &:hover{
						background-color: @color;
						color:#fff;
						}
					}
				}
			}
		}
	}
	&:hover{
		.wrapp-minicart{
			.scale(1);
			opacity: 1;
		}
	}
}
/*======================header style2==============================*/
.page-template-page-home2 .header-style2 .header{
	position:absolute;
	top:0;
	left:0;
	z-index:1040;
	background:transparent none repeat scroll 0 0;
	border-bottom:1px solid rgba(255, 255, 255, 0.4);
}
.header-style2{
	position:relative;
	.header{
		background:rgba(0, 0, 0, 0.7) repeat scroll 0 0;
		border:none;
		width:100%;
		&.header-fixed{
			position:fixed !important;
			background-color:rgba(0, 0, 0, 0.8) !important;
			border:none;
			top:0;
			.transition(0.3s);
			z-index:1040;
			.logged-in &{
				top:32px;
			}
			.sidebar-top-header{
				.home-menu-verticle:before{
					line-height:60px;
				}
				 .ya_top .top-form.top-search .topsearch-entry form{
					top:10px;
				 }
			}
			.top-form .wrapp-minicart{
				top:60px;
			}
		}
		.header-msg{
				 -moz-transform: translateX(280px);
				-ms-transform: translateX(280px);
				-webkit-transform: translateX(280px);
				transform: translateX(280px);
				-moz-transition: -moz-transform 200ms ease-out;
				-o-transition: -o-transform 200ms ease-out;
				-webkit-transition: -webkit-transform 200ms ease-out;
				transition: transform 200ms ease-out;
				display: block !important;
				opacity:1 !important;
				position:fixed;
				right:0;
				z-index:9999;
				width:270px;
				height:100%;
				background-color:#fff;
				.rtl &{
					left:0;
					right:auto;
					 -moz-transform: translateX(-280px);
					-ms-transform: translateX(-280px);
					-webkit-transform: translateX(-280px);
					transform: translateX(-280px);
				}
				&.open{
					-moz-transform: translateX(0);
					-ms-transform: translateX(0);
					-webkit-transform: translateX(0);
					transform: translateX(0);
			}
			.menu-closes{
				cursor:pointer;
				display:block;
				position:absolute;
				right:20px;
				&:before{
					content:'\f00d';
					font-size:18px;
					color:#f05656;
					font-family:FontAwesome;;
				}
				.rtl &{
					left:0;
					right:auto;
				}
			}
			.sidebar-top{
				padding:40px 20px 0;
				.widget_nav_menu{
					ul.menu{
						margin:0;
						> li a{
							font-size:14px;
							padding:8px 0;
							color:#666;
							border-top:1px solid #ededed;
							border-bottom:0;
							&:hover{
								color:@color;
							}
							span.fa{
								margin:0 10px 0 0;
								.rtl &{
									margin:0 0 0 10px;
								}
							}
						}
					}
				}
				.top-login{
					float:left !important;
					width:100%;
					border-top:1px solid #ededed;
					border-bottom:1px solid #ededed;
					.rtl &{
						border-left:0;
					}
					.div-login{
						> a{
							display:inline-block;
							width:100%;
							font-size:14px;
							color:#666;
							&:hover{
								color:@color;
							}
							&:first-child{
								&:before{
									margin-right:10px;
									content:'\f023';
									font-family:FontAwesome;
								}
								.rtl &{
									&:after{
										margin-left:10px;
										content:'\f023';
										font-family:FontAwesome;
									}
									&:before{
										content:'';
									}
								}
							}
							&:first-child + a{
								&:before{
									margin-right:10px;
									content:'\f044';
									font-family:FontAwesome;
								}
								.rtl &{
									&:after{
										margin-left:10px;
										content:'\f044';
										font-family:FontAwesome;
									}
									&:before{
										content:'';
									}
								}
							}
						}
						.modal-dialog{
							width:250px;
							 .modal-content .modal-body{
								padding:0 20px 20px;
								 .login .block-content{
									.col-reg.registered-account{
										padding:0;
										width:100%;
										.actions{
											margin:0;
											text-align:center;
											float:none;
										}
										.ft-link-p{
											text-align:center;
										}
									}
									.col-reg.login-customer{
										background:none;
										padding:0;
										.note-reg{
											line-height:20px;
											text-align:center;
										}
									}
								 }
								 .register-form .register{
									.input-group{
										input[type="email"], input[type="password"]{
											width:100%;
										}
									}
									.form-row{
										text-align:center;
									}
								 }
							}
						}
					}
					.div-logined > a{
					}
				}
				.widget_icl_lang_sel_widget2{
					float:left;
					width:100%;
					padding:20px 0;
					border-bottom:1px solid #ebebeb;
					h3{
						font-size:14px;
						color:#666;
						margin-bottom:10px;
					}
					#lang_sel{
						ul{
						 ul > li{
								float:left;
								padding:5px 10px !important;
								margin-right:10px !important;
								border:1px solid #ededed;
								.rtl &{
									float:right;
									margin-left:10px !important;
									margin-right:0 !important;
								}
								&:hover{
									border:1px solid @color;
								}
							}
						}
					}
				}
				.widget_currency_converter{
					padding-top:20px;
					width:100%;
					h3{
						font-size:14px;
						color:#666;
						margin-bottom:10px;
						text-align:left;
						.rtl &{
							text-align:right;
						}
					}
					.currency_converter .currency_w{
						> li{
							> a{
								display:none;
							}
							> .currency_switcher{
								display:block !important;
								border:0;
								> li{
									float:left;
									margin-right:10px;
									width:auto;
									.rtl &{
										float:right;
									}
									&.active a{
										border:1px solid @color;
									}
									&:hover a{
										border:1px solid @color;
									}
									> a{
										border:1px solid #ebebeb;
										display:block;
										padding:5px 10px;
										width:auto;
										line-height:18px;
										color:#666;
										&:after{
											margin:0;
										}
										&.active{
											border:1px solid @color;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.sidebar-top-header{
			.home-menu-verticle{
				float:right;
				margin-left:10px;
				.rtl &{
					float:left;
					margin-right:10px;
					margin-left:0;
				}
				&:before{
					content:'\f0c9';
					font-family:FontAwesome;
					font-size:22px;
					color:#fff;
					line-height:79px;
					display:inline-block;
					font-style:normal;
					font-weight:normal;
					text-align:center;
				}
			}
		}
	}
}
.header-style1 .header{
	position:relative;
	.header-shortcode{
		background-color:#293340;
		height:40px;
		position:relative;
		overflow:hidden;
		.transition(0.1s);
		&.close-cd{
			height:0;
			overflow:hidden;
		}
		.top-countdown{
			.item-content{
				text-align:center;
				.item a{
					display:inline-block;
					.item-title{
						background: url(../assets/img/bg-cd-header.png) right 0 center no-repeat;
						line-height:20px;
						padding:10px 20px;
						margin-right:40px;
						font-size:14px;
						color:#fff;
						float:left;
						&:hover{
							color:@color;
							background: url(@{url}/bg-cd-header.png) right 0 center no-repeat;
						}
						.rtl &{
							background: url(@{url}/bg-cd-header.png) left 0 center no-repeat;
							float:right;
							margin-left:40px;
							margin-right:0;
							&:hover{
								background: url(@{url}/bg-cd-header.png) left 0 center no-repeat;
							}
						}
						span:after{
							content:'';
						}
					}
					.product-countdown{
						float:left;
						color:#fff;
						font-size:12px;
						line-height:16px;
						margin:8px 0;
						.rtl &{
							float:right;
								span.c-time{
								margin-left:5px;
								margin-right:0;
							}
						}
						span.c-time{
							display:inline-block;
							padding:4px 15px;
							border-radius:10px;
							background-color:#191f26;
							margin-right:5px;
						}
					}
				}
			}
		}
	}
	.button-countdown{
		position:absolute;
		z-index:3;
		top:0;
		right:0;
		color:#fff;
		height:40px;
		width:40px;
		line-height:40px;
		background-color:#191f26;
		color:#fff;
		text-align:center;
		&:before{
			display:inline-block;
			content:'\f106';
			font-size:26px;
			font-family:FontAwesome;
		}
		&:hover{
			background-color:@color;
		}
		&.btn-close{
			&:before{
			content:'\f107';
			}
		}
	}
}
.header-style1 .sticky-menu{
	background-color:#fff;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
}
.header-style3{
	.header-top{
		background-color:#fff;
		border-top:2px solid @color;
		min-height:42px;
		position:relative;
		&:after{
			position:absolute;
			content:'';
			width:100%;
			height:1px;
			bottom:0;
			left:0;
			background-color:#ddd;
		}
		.widget.widget_text{
			margin:0;
		}
		#lang_sel ul{
			margin:0;
			> li{
				line-height:40px;
				float:left;
				.rtl &{
					float:right;
				}
				a{
					display:inline-block;
					padding: 0 14px 0 14px;
					font-size:13px;
					color:#444;
					font-family:'LatoRegular';
					img{
						margin-right:5px;
						.rtl &{
							margin-left:5px;
							margin-right:0;
						}
					}
				}
				&:hover{
					background-color:@color;
					a{
						color:#fff;
					}
				}
			}
		}
	}
	.top{
		.header-right{
			height:40px;
			margin:31px 0;
			.rtl &{
				float:left;
			}
			.content-wrap{
				background-color:#eee;
				padding:0 15px;
				display:inline-block;
				float:right;
				border-radius:3px;
				.rtl &{
					float:left;
					.sidebar-top .ya_top{
						float:right;
					}
				}
				.top-login{
					display:inline-block;
					margin-right:5px;
					.rtl &{
						margin:0 0 0 5px;
					}
					.div-login{
						position:relative;
						margin-right:10px;
						&:before{
							content:'\f007';
							font-size:14px;
							color:#999;
							font-family:FontAwesome;
							margin:0 5px 0 5px;
						}
						.rtl &{
							margin-left:10px;
							margin-right:0;
							&:after{
								content:'\f007';
								font-size:14px;
								color:#999;
								font-family:FontAwesome;
								margin:0 5px 0 5px;
							}
							&:before{
								content:'';
								margin:0;
							}
						}
					}
					a{
						color:#444;
						&:hover{
							color:@color;
						}
					}
				}
				.widget_nav_menu{
					ul.menu{
						margin:0;
						> li > a{
							border-bottom:0;
							padding:9px 0 8px;
						}
					}
				}
			}
		}
	}
	.header-bottom{
		min-height:62px;
		background-color:@color;
		position:relative;
		.vertical_megamenu-header{
			position:relative;
			margin:10px 0 0 0 !important;
			padding:0;
			min-width:270px;
			width:270px;
			.vc_wp_custommenu{
				margin:0;
			}
			.vertical-megamenu{
				position:absolute;
				width:100%;
				z-index:1001;
				background-color:#fff;
			}
		}
		.top-form.top-form-minicart{
			.top-minicart-icon{
				display:inline-block;
				background-color:@color - #2b1b14;
				padding:12px 17px 12px 44px;
				color:#fff;
				font-family:'LatoRegular';
				font-size:13px;
				position:relative;
				.rtl &{
					direction:ltr;
					padding:12px 44px 13px 17px;
				}
				&:before{
					content:'';
					background: url(@{url}/cart-pro.png) center center no-repeat transparent;
					position:absolute;
					left:0px;
					bottom:auto;
					top:15px;
					width:34px;
					height:34px;
					display:inline-block;
					z-index:7;
					.rtl &{
						right:0;
						left:auto;
					}
				}
				&:after{
					content:'';
					position:absolute;
					left:0px;
					top:0;
					width:0;
					height:0;
					display:inline-block;
					border-top:62px solid @color;
					border-right:40px solid transparent;
					.rtl &{
						right:0;
						left:auto;
						border-left:40px solid transparent;
						border-right:0;
					}
				}
				.cart-contents{
					font-size:14px;
					font-family:'LatoBold';
					color:#fff;
					background-color:@color - #2b1b14;
					text-transform:uppercase;
					display:block;
					line-height:20px;
					&:before{
						content:'';
						margin:0;
						line-height:0;
						
					}
				}
			}
			.wrapp-minicart{
				top:62px;
			}
		}
		.top-form{
			&.top-search{
				width:95%;
				background-color:#fff;
				display:inline-block;
				position:relative;
				border:0;
				margin:10px 0;;
				.rtl &{
					margin-left:0;
					float:left;
				}
				.cat-wrapper{
					position:absolute;
					height:42px;
					top:0;
					left:0px;
					right:auto;
					border-radius:0 !important;
					&:hover{
						cursor:pointer;
					}
					.rtl &{
						right:0;
						left:auto;
						&:before{
							left:15px;
							right:auto;
						}
						select{
							border:0;
						}
					}
					.label-search{
						display:block;
						margin-bottom:0;
						&:before{
							content: "\f0dd";
							font-family: fontawesome;
							font-size: 14px;
							position: absolute;
							top: 7px;
							right: 15px;
							left:auto;
							pointer-events:none;
							.rtl &{
								left:15px;
								right:auto;
							}
						}
						&:after{
							content:'';
							position:absolute;
							top:8px;
							right:-5px;
							width:1px;
							height:26px;
							background-color:#ddd;
							.rtl &{
								left:-5px;
								right:auto;
							}
						}
					}
				  select{
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
					   border: none;
					   border-radius:0 !important;
					   border:0;
					   padding: 10px;
					   height: 42px;
					   width:170px;
					   background-color:#fff;
					   &:hover{
							cursor:pointer;
					   }
					   option{
						hover{
							cursor:pointer;
						}
					   }
					   &:focus{
						  outline: none;
					   }
					}
				}
				input{
					width:560px;
					height:42px;
					.border-radius(0);
					border:none;
					line-height:42px;
					margin-bottom:0;												
				}
				#searchform_special input{
					padding-left:185px;
					.rtl &{
						padding-right:185px;
						padding-left:0;
					}
				}
				button.form-button{
					height:42px;
					background:#fff;
					padding:10px 15px;
					position:relative;
					.border-radius(0);
					border:0;
					margin:0;
					width:42px;
					position:absolute;
					top:0;
					right:-23px;
					left:auto;
					.rtl &{
						left:-23px;
						right:auto;
					}
					&:hover{
						background:#fff;
						&:before{
							color:@color;
						}
					}
					&:before{
						content:'\f002';
						position:absolute;
						top:0;
						left:0;
						right:0;
						bottom:0;
						font-family:FontAwesome;
						font-size:20px;
						color:#999;
						text-align:center;
						line-height:42px;
					}
				}
			}
		}		
	}
	.rtl &{
		.sidebar-top-menu{
			float:left;
		}
	}
}