/**
* Cpanel
*/
#cpanel-form {
	position: fixed;
	right: -350px;
	top: 40px;
	width: 350px;
	float: right;
	z-index: 8000;
	text-align: left;
	direction:ltr;
	.cpanel-inner{
		 -moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background: none repeat scroll 0 0 #e5e5e5;
		border-color: #f3f3f3;
	/*	-moz-use-text-color #f3f3f3 #f3f3f3;
		border-image: none;
		border-style: solid none solid solid;
		border-width: 1px medium 1px 1px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);*/
		color: #555;		
		font-size: 11px;
		padding: 8px;
		position: relative;
		top: 40px;
		z-index: 999;
	
	}
	.cpanel-title{
		background: #666;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
		color: #fff;
		float: left;
		font-size: 14px;
		font-weight: bold;
		padding: 3px 10px 0;
		width: 282px;
			h4{
				float: left;
				margin-top: 5px;
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
				i {
					color: #dfdfdf;
				}
			}
	}
	.ytcpanel_accordion{
		float: left;
		margin-bottom: 0;
		margin-top: 10px;
		width: 100%;
	}
	.cpannel-button{
		.btn{
			background:#a1a1a1;
			.gradientBar(#a1a1a1, #969696 );
			border-radius: 0px;
			margin-left:10px;
			margin-bottom:15px;
			margin-top:15px;
			font-size:14px;
			color:#fff;
			&:hover{
				.gradientBar(#969696, #a1a1a1 );
			}
		}
	}
	.accordion-group{
		background: #fff;
		border-color: #c8c8c8;
		border-radius: 2px;
		margin-bottom: 5px;
		margin-left:10px;
		margin-right:10px;
		border-radius:5px;
		.accordion-heading {
			.gradientBar(#fff, #f6f6f6 );
			text-shadow: none;
			border-radius:5px;
			//border-bottom:solid 1px #e5e5e5;
			.accordion-toggle{
				color:#909090;
				font-size:12px;
				position:relative;
				img{
					margin-right:10px;
					opacity:0.2;
					width:20px;
				}
				&:after{
					content:'\F078';
					font-family:'FontAwesome';
					position:absolute;
					right:10px;
				}
			}
			
			i {
				color: #909090;
			}
		}
		.accordion-body{
			max-height:190px;
			overflow-y:auto;
		}
		.control-group{
			margin-bottom: 10px;
		}
	}
	/*.active{
		.accordion-heading{
			.gradientBar(#a2a2a2, #797979 );
			.accordion-toggle{
				color:#fff;
				}
		}
	}
	
	a.cpanel-control{
		top: 20%;
		position: absolute;
		left: -40px;
		height: 30px;
		width: 40px;
		line-height: 30px;
		background-color: #707070;
		background-image: url("../assets/img/settings.png");
		background-repeat: no-repeat;
		text-indent: -5000px;
		background-position: 50% 50%;
		padding: 0 0 5px 5px;
		.border-radius(5px 0 0 5px);
		.box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
		border:solid 1px #fff;
		z-index:10;
		&.active{
			background-image: url("../assets/img/settings.png");
		}
	}*/
	
	label {
		float: none;
		width:100%;
		padding: 5px 0;
		text-align: left;
		font-size:12px;
		&.ya-radio-img-selected {
			box-shadow:0 0 0 2px rgba(173, 35, 35, 1) inset;
		}
	}
	.controls{
		margin-left:0;
		label{
			float:left;
			width:auto;
			padding:2px;
		}
		select{
			font-size:12px;
		}
	}
	

	.ya-radio-img {
		input[type="radio"], span {
		    display: none;
		}	
		img{
			width: 33px;
			cursor: pointer;
			.lt-ie9 & {
				width: auto;
			}
		}
	}
}
#cpanel-form {
	position: fixed;
	right: -300px;
	top: 40px;
	width: 300px;
	float: right;
	z-index: 8000;
	text-align: left;
	direction:ltr;
	img{
		display: inline-block;
	}
	

	/*.cpannel-button{
		.btn{
			background:#a1a1a1;
			.gradientBar(#a1a1a1, #969696 );
			//background-image:none;
			margin-left:10px;
			margin-bottom:15px;
			margin-top:15px;
			font-size:14px;
			color:#fff;
			&:hover{
				.gradientBar(#969696, #a1a1a1 );
			}
		}
	}*/
	.panel, .panel-default{
		border: 1px solid #bcbcbc;
		margin-bottom: 5px;
		.border-radius(0px);
		.panel-heading {
			.gradientBar(#fff, #f6f6f6 );
			clear: both;
			padding: 0 !important;
			text-shadow: none;
			//border-bottom:solid 1px #e5e5e5;
			.accordion-toggle{
				color:#909090;
				font-size:12px;
				position:relative;
				display: block;
				padding: 8px 15px;
				img{
					margin-right:10px;
					opacity:0.2;
					width:20px;
					display: inline-block;
				}
				&:after{
					content:'\F078';
					font-family:'FontAwesome';
					position:absolute;
					right:10px;
				}
			}
			
			i {
				color: #909090;
			}
		}
		.panel-collapse{
			max-height:190px;
			overflow-y:auto;
			.accordion-inner {
				border-top: 1px solid #E5E5E5;
				padding: 9px 15px;
			}
		}
		.control-group{
			margin-bottom: 10px;
		}
	}	
	a.cpanel-control{
		&:before{
			content: "\f0a5";
			color: #fff;
			display: inline;
			font-family: "FontAwesome";
			font-size: 20px;
		}
		background-color: #707070;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		border: 1px solid #fff;
		border-radius: 5px 0 0 5px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
		height: 40px;
		left: -40px;
		line-height: 36px;
		padding: 0 0 5px 10px;
		position: absolute;
		top: 20%;
		width: 40px;
		z-index: 10;
		&.active{
			&:before{
				content: "\f0a4";
				font-family:"FontAwesome";
				font-size: 20px;
			}
		}
	}
	
	label {
		float: left;
		width:50%;
		padding: 5px 0;
		text-align: left;
		font-size:12px;
		&.ya-radio-img-selected {
			box-shadow:0 0 0 2px rgba(173, 35, 35, 1) inset;
		}
	}
	.controls{
		margin-left:0;
		label{
			float:left;
			width:auto;
			padding:2px;
		}
		select{
			font-size:12px;
		}
	}
	

	.ya-radio-img {
		input[type="radio"], span {
		    display: none;
		}	
		img{
			width: 33px;
			cursor: pointer;
			.lt-ie9 & {
				width: auto;
			}
		}
	}
	input, textarea, .uneditable-input {
		width: 206px;
		border: 1px solid #ddd;
		background: #fff;
	}
	select {
		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;
		width: 220px;
	}
	select, input {
		height: 20px;
		line-height: 30px;
		padding: 4px 6px;
		.border-radius(4px);
	}
}
#cpanel-form select, #cpanel-form input{
	border-radius: 0px;
	height: 30px;
}		
#cpanel-form {
     fieldset{
       width:100%;
    }
    input[type="checkbox"] {
	   width:20px;
	   height:20px;
	}
}

/**
* Widget Custom Menu
**/

.ya_posts.widget,.sw_post_slider.widget {
	h3{
	    .page-template-page-homemagazine-php &{
		.magazine-title();
		color:@color;
		}
		.salamy-title();
		font-weight:400;
		margin-bottom: 30px;
	}
}
.nav-copyright{
	padding-top: 40px;
	ul.menu{
		float: right;
		li{
			float: left;
			padding-left: 10px;
			a{
				color:#ccc;
			}
			&:hover{
				color:@color;
			}
		}
	}
}
.widget{
	margin-bottom: 20px;
	img{
		display: initial;
	}
	ul{
		margin-left: 0;
		list-style: none;
	}
	&.widget_search, &.widget_text, &.widget_tag_cloud, &.widget_calendar{
		h3{
			margin-bottom: 20px;
		}
	}
	&.widget_search{
		.searchform{
			margin-top: 20px;
			.screen-reader-text{
				display: block;
			}
			> div{
				position: relative;
				min-height: 60px;
				input{
					position: absolute;
					left: 0;
					top: 30px;
					width: 100%;
					border: 1px solid #c9c9c9;
					.border-radius(0);
					padding: 7px 60px 7px 7px;
					.rtl &{
						padding: 7px 7px 7px 60px;
					}
					background: #fff;					
					&#searchsubmit{
						background: @body-color;
						padding: 7px;
						right: 0;
						width: 60px;
						left: auto;
						color: #fff;
						&:hover{
							background: @color;
						}
						.rtl &{
							right: auto;
							left: 0;
						}
					}
				}
			}
		}
	}
	&.widget_calendar{
		.calendar_wrap{
			width: 100%;
			table{
				width: 100%;
				max-width: 50%;			
				th{
					text-align: center;
				}
				tbody tr td{
					padding: 10px;
				}
			}
		}
	}
	&.widget_archive, &.widget_categories{
		select{
			margin-top: 20px;
			width: 100%;
		}
	}
	&.widget_archive ul > li{ 
		margin-bottom:10px;
			&:last-child{ margin:0;}
		}
	select{
		max-width: 100%;
		padding: 8px;
	}
	&.widget_nav_menu{
		ul.menu{
			li{
				border: 0;
			}
			> li{
				> a{
					display: block !important;
					border-bottom: 1px dashed #c9c9c9;
					padding: 10px 0;
					color: @body-color;
					&:hover{
						color: @color;
					}
				}
				.dropdown-menu{
					display: block;
					position: static;
					float: none;
					.box-shadow(none);
					.border-radius(0);
					border: 0;
					margin-left: 15px;
					.rtl &{
						margin-left: 0;
						margin-right: 15px;
					}
					> li > a{
						display: block;						
						padding: 10px 0;	
						&:hover, &:focus{
							background: none;
						}
					}
					> li{
						.dropdown-sub{
							margin-left: 10px;
							> li{
								border-top: 1px dashed #ccc;
							}
							.rtl &{
								margin-left: 0;
								margin-right: 10px;
							}
						}
					}
				}
			}
			li.ya-menu-custom  .dropdown-menu > li > a{
				padding:0 20px;
			}
		}
		ul.dropdown-menu{
			background:none;
			> li{
				a{
					&:hover{
						color:@color;
					}
				}
				&.active > a{
					color:#333;
				}
			}
		}
	}
	&.non-margin{
		margin-bottom: 0;
	}
}

/**
* Widget default
**/
.widget_categories, .widget_pages, .widget_meta, .widget_recent_comments, .widget_rss, .widget_archive, .widget_recent_entries{
	ul{
		margin-left: 0;
		list-style: none;
		.rtl &{
			margin-right: 0;
			margin-left: 0;
		}	
		li{
			color: @body-color;
			list-style: none;
			border-bottom: 1px dashed #c9c9c9;
			a{				
				color: @body-color;
			}			
			&:hover {				
				a{
					color: @color;
				}
			}
			ul.children{
				margin-left: 15px;
				> li{
					list-style: inside;
				}
				.rtl &{
					margin-left: 0;
					margin-right: 15px;
				}
			}
		}
	}
}
.sidebar {
    
	.widget {
		margin: 0 0 30px 0;		
		.widget-inner{
          position:relative;
		  .widget-photobox-gallery,.tagcloud{
		   margin-top:30px;
		  }
        }
		&.ya_tabber{
		margin:0 0 20px 0;
		}
		&.sw_twitter_slider_content{
		margin-bottom: 6px;
		}
		&.widget_calendar{
			.calendar_wrap{
				width: 100%;
				#wp-calendar{
					width: 100%;
					max-width: none;
                    font-family:Roboto Condensed !important;
                    position:relative;
                  caption{
                   background: none repeat scroll 0% 0% #272727;
                   padding: 10px;
                   font-size: 14px;
                   text-transform: uppercase;
                   color: #fff;
                   margin-bottom: 10px;
				   }
                tfoot{
                   position:absolute;
                   top:8px;
              #prev{
                 padding-left: 10px;
               a{
                 font-size:16px;
                 color: rgba(0, 0, 0, 0);
                 }
                }
                }
				}
			}
		}
		&:last-child{
			margin-bottom:40px;
		}
	}
	div.widget_recent_comments{
		.widget-inner > ul {
			li {  
				padding: 10px 0;
				a {
					display: initial;
					padding: 0;
				}
			}
		}
	}
	div.widget_rss{
		.widget-inner > ul {
			li {  
				padding: 10px 0;
				a {				
					padding: 0;
					&.rsswidget{
						display: block;
					}
				}
			}
		}
	}
}
/*Widget category*/
.widget_tag_cloud{
	.block-title-widget{
		.title;
		margin-bottom:15px;
	}
	.tagcloud{
		margin:0 !important;
		a{
			display:inline-block;
			font-size:13px !important;
			color:#333;
			padding:10px;
			border:1px solid #e1e1e1;
			padding:6px 9px;
			margin:5px 2px;
			.border-radius(3px);
			&:hover{
				border:1px solid @color;
				background-color:@color;
				color:#fff;
			}
		}
	}
}
/*Widget category*/
.widget_archive{
	.block-title-widget{
		.title;
	}
	ul > li{
		border:0;
		font-size:13px;
		a{
			color:#666;
		}
	}
}
/*Widget category*/
.widget_categories{
	ul > li {
			&:last-child{
				a:before{
					width:15px !important;
					height:15px !important;
			}
		}
	}
}
/*Best seller Product*/
.ya_best_seller_product .sw-best-seller-product{
	padding:20px;
	background-color:#fff;
	ul{
		margin-bottom:0;
		> li{
			margin-bottom:20px;
			.item-img{
				float:left;
				border:1px solid #e3e1e1;
				.rtl &{
					float:right;
				}
				&:hover a img{
					.opacity(0.8);
				}
			}
			.item-content{
				margin-left:90px;
				.rtl &{
					margin-right:90px;
					margin-left:0;
				}
				h4{
					margin-bottom:5px;
					a{
						font-size:13px;
						font-weight:bold;
						text-transform:capitalize;
					}
				}
			}
			&:last-child{
				margin-bottom:0;
			}
		}
	}
}
/*Widget SW Woo Slider*/
.sw_woo_slider_content{
	margin-bottom:40px;
}
.sw-woo-container-slider{
	&.related-products{
		background-color:#fff;
		.box-slider-title h2{
			background-color: #fff;
			border-bottom: 1px solid #ededed;
			border-top: 2px solid @color;
			color: #444;
			font-size: 18px;
			font-weight: bold;
			margin: 0;
			padding: 20px;
			text-transform: uppercase;
		}
		.slider{
			.slick-list{
				margin:0;
				.item{
					margin:0;
					padding:0;
					.item-wrap{
						border-right:1px solid #ededed;
						.item-detail{
							position:relative;
							z-index:1;
							.products-thumb .product-thumb-button{
								margin-left:-83px;
							}
							.item-content{
								text-align:center;
								padding-bottom:15px;
								h4{
									margin: 0 0 3px;
									a{
										font-size:14px;
										color:#444;
										font-weight:bold;
										text-transform:capitalize;
										&:hover{
											color:@color;
										}
									}
								}
							}
							.sale-off{
								font-size:12px;
								position:absolute;
								z-index:2;
								top:10px;
								left:-5px;
								display:inline-block;
								width:40px;
								height:40px;
								.border-radius(50%);
								color:#fff;
								background:#f53b54;
								font-weight:bold;
								text-align:center;
								line-height:40px;
								.rtl &{
									right:-5px;
									left:auto;
								}
							}
						}
					}
				}
			}
		}
		.res-button{
			.button-style1;
		}
		&:hover .res-button{
			&.slick-prev{
				right:50px;
				left:auto;
				.rtl &{
					left:50px;
					right:auto;
				}
			}
			&.slick-next{
				right:20px;
				left:auto;
				.rtl &{
					left:20px;
					right:auto;
				}
			}
		}
	}
}
/*Widget Categories*/
.widget_categories{
	background-color:#fff;
	ul{
		> li{
			border-bottom:1px solid #ededed;
			padding:0 20px;
			margin:0;
			a{
				color:#444;
				line-height:18px;
				padding:12px 0;
				position:relative;
				display:inline-block;
			}
			&:last-child{
				border:0;
			}
		}
	}
}


