// TODO: css for shortcodes.

.shortcodes{
	margin-bottom: @baseLineHeight;
	.carousel .item img{
		width: 100%;
	}
	h3 {
		padding-top: 30px;
	}
}
/* Countdown */
.comming-soon{
	text-align: center;
	.ClassyCountdown-wrapper > div {
		display: inline-block;
		position: relative;
		width: 140px;
		height: 140px;
		font-size: 16px;
		margin: 10px 30px;
	}
	.ClassyCountdown-wrapper .ClassyCountdown-value {
		width: 100%;
		position: absolute;
		font-size:16px!important;
		top: 0;
		text-align: center;
		left: 0;
		display: block;
		font-family: inherit;
		top:50%;
		>div{
			font-size: 36px;
			font-weight:bold;
			color:#01b494;
		}
		>span{
			font-size: 16px;
			text-transform:uppercase;
		}
	}
}
/* Icon */
[class^="icon-"], [class*=" icon-"]{
	margin: 5px;
}
.googlemap .map_canvas {
    height: 100%;
    width: 100%;
}

.shortcode-slideshow {
	   img{
		   width: 100%;
		}
	.carousel-control {
	   top:45.5%;
	}	
}
.carousel-control {
	top: 50%;	
	 width:42px !important;
	 height:42px !important;
}
// Gallery
ul.thumbnails{
	margin-left: -1%;
	.rtl &{
		margin-right: -1% !important;
		margin-left: 0;
	}
}
.gallery {
	padding: 0;
	overflow: hidden;
	.rtl &{
		margin-right: 0 !important;
	}
	li{
		margin-left: 1%;
		margin-right: 0;
		margin-bottom: 20px;
		text-align: center;
		float: left;
		list-style: none;
		.rtl &{
			float: right;
			margin: 0 1% 20px 0;
		}
	}
	.thumbnail{
		display: block;
		.border-radius(0);
		background: #FFF;
		padding: 5px;
		position: relative;
		.transition(all 0.3s ease);
		overflow: hidden;
		&:after{
			position: absolute;
			border-color: transparent #FFFFFF #FFFFFF transparent;
		    border-style: solid;
		    border-width: 45px;
			content: "";
			opacity: 0;
			filter: alpha( opacity = 0 );
			right: -45px;
			bottom: 0;
			transition: all 0.3s ease 0.2s;
			z-index: 4;
		}
		
		&:before{
			content: "\f0a9";
			font-family: FontAwesome;
			position: absolute;
			bottom: 20px;
			right: 0;
			color: #FFF;
			font-size: 20px;
			opacity: 0;
			filter: alpha( opacity = 0 );
			transition: all 0.2s ease 0.3s;
			transform: rotate(0deg);
			z-index: 5;
		}
		
		&:hover{
			background: @color;
			border-color: #ddd;		
			&:after{
			    bottom: 0;
			    right: 0;
				opacity: 0.3;
				filter: alpha( opacity = 30 );
			}
			&:before{
				right: 20px;
				opacity: 1;
				filter: alpha( opacity = 100 );
				transform: rotate(360deg);
			}
		}
	}
	img{
		width: 100%;
	}
	.caption {
		overflow: hidden;
	    padding-top: 12px;
		font-size:14px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
		h4{
		   font-size:14px;
		}
	}
}
//FlexGallery
.gallery-images{
  float: none;
  margin:0 -15px 30px;
  .flex-direction-nav{
    li a{
	height: 30px;
    width: 29px;
    text-indent: -9999px;
    display: block;
    text-align: left;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-indent: inherit !important;
	&.flex-next{
	&:hover{
	background:@color;
    border: 1px solid @color;
    color: #fff;
	}
	 &:before{
	color: #ddd;
    content: "\f054";
    font-family: "fontawesome";
    font-size: 11px;
    margin: 9px 0 0 -5px;
	}
	}
	&.flex-prev{
	&:hover{
	background:@color;
    border: 1px solid @color;
    color: #fff;
	}
	&:before{
	color: #ddd;
    content: "\f053";
    font-family: "fontawesome";
    font-size: 11px;
    margin: 9px 0 0 -5px;
	}
	}
	}
  }
}
// Pricing table
.header,.plan{
   .pricing-tab-firts &{
      background:#4cbf8d;
	  &:before{
	   background:#4cbf8d;
	  }
     }
   .pricing-tab-two &{
      background:#e74847;
	  &:before{
	   background:#e74847;
	  }
   }
   .pricing-tab-three &{
      background:#50c1e9;
	  &:before{
	   background:#50c1e9;
	  }
   }
}

.pricing-table {
    text-align: center;
    &.style1{
	    border-radius:5px;
	    border:solid 2px #d8d8d8;
	    margin:7px;
	    z-index:5;
	    position:relative;
	    padding:10px 0;
	    clear:both;
	    margin-bottom:70px;
	    background:#fff;
	    &:before{
		   content:'';
		   position:absolute;
		   left:-9px;
		   right:-9px;
		   bottom:-9px;
		   top:-9px;
		   display:block !important;
		   border-radius:10px;
		   border:solid 7px #f4f3f3;
	    }
		.pricing {  
	        background: #fff;      
	        color: #333;
	        padding: 0 10px;
	        width: 20%; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
	        float: left;
	        position: relative;
			 border-left:solid 1px #ededed;
	     &.pricing-one-first{
		   border-left:none;
	      }
		  &.most-popular {
	         z-index: 2;
	         margin-top: -35px;
             margin-bottom: -18px;
	         padding: 35px 10px;
	          .border-radius(5px);
	          position:relative;
			  background:#2f2f2f;
	         .header{
		       color:@color;
	           }
			 ul{
			    li{
			      border-bottom: 1px solid #3e3e3e;
				  &:first-child{
				    border-top:1px solid #3e3e3e;
				  }
			    }
			 }
	         .signup:before{
		        background:@color;
	           }
			  
	          &:after{
		          content:'';
		          position:absolute;
		          background:url(../assets/img/ribon.png);
		          background-repeat:no-repeat;
		          display:block;
		          width:70px;
		          height:70px;
		          right:-5px;
		          top:-5px;
		
	            }
	        }
	    .header{
		   border:none;
		   font-size:24px;
		   font-weight:bold;
		   color:#686868;
		   box-shadow:none;
		   margin-bottom:20px;
		   text-align:center;
	     }
	     .price{
		     font-size:14px;
             color:#9d9d9d;
			 font-weight:700;
	        }
         ul {
              margin: 20px 0 10px 0;
	          padding: 0;
	          list-style: none;
			  li{		     
	             border-bottom: 1px solid #ededed;
	             padding: 5px 24px;
	             text-align:left;
	             font-size:14px;
	             color:#888;
	              .rtl &{
		             text-align:right;
	                }
	              &:first-child{
		             border-top:1px solid #ededed;
	               }
				   &:before{
		              content: '\F111';
                      font-family: 'FontAwesome';
                      color: #909090;
                      display: block;
                      float: left;
                      margin-right: 10px;
                      margin-top: 5px;
                      font-size: 8px;
		         .rtl &{
			            float:right;
			            margin-left:10px;
			            margin-right:0;
		               }
	                }
			  }
            }
			.signup {
	                 position: relative;
	                 padding: 12px 20px;
	                 margin: 20px 0 0 0;  
	                 color: #727272;
	                 font: bold 14px Arial, Helvetica;
	                 text-transform: uppercase;
	                 text-decoration: none;
	                 display: inline-block;       
	                 background-color: #ededed;
	                 background-image: -moz-linear-gradient(#fff, #ededed);
	                 background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed)); 
	                 background-image: -webkit-linear-gradient(#fff, #ededed);
	                 background-image: -o-linear-gradient(#fff, #ededed);
	                 background-image: -ms-linear-gradient(#fff, #ededed);
	                 background-image: linear-gradient(#fff, #ededed);
	                 -moz-border-radius: 5px;
	                 -webkit-border-radius: 5px;
	                 border-radius: 3px;     
	                 text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	                 .box-shadow(1px 1px #eee);
	                  border:solid 1px #ddd;
	                  margin-bottom:20px;
	            &:before{
		             content:'\f054';
		             font-family:'FontAwesome';
		             color:#fff;
		             background:#7dacda;
		             border-radius:50%;
		             width:25px;
		             height:25px;
		             line-height:27px;
		             text-align:center;
		             font-size:15px;
		             top:8px;
		             left:-12px;
		             position:absolute;
		         .rtl &{
			         right:-12px;
			         left:auto;
			         content:'\f053';
		            }
	}
}
		}
	}
		&.style2{
		   margin-left:18%;
		   .pricing {
			 width:25%;
			 float:left;
			 margin-right: 10px;
			 box-shadow: 1px 6px 15px 4px #cecece;
			 border-radius: 5px;
			 
				 .header{
					padding: 20px 0;
					background: #4cbf8d;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					color: #fff;
					h3{
					   margin:0;
					   font-size:30px;
					}
				 }
				 .pricing-content {
					margin-bottom: 28px;
					ul{
					   margin:0 8px;
					   border-bottom-left-radius: 5px;
					   border-bottom-right-radius:5px;
					   border: 1px solid #e4e4e4;
					   border-top:none;
					   list-style:none;
					   li{
						   font-size:14px;
						   padding:18px 0;
						   border-top:1px solid #e4e4e4;
						   background:#f2f2f2;
						   + li {
							  border-bottom:none;
						   }
					   }
					}
				 }
				 .price{
					 [class*="span"]{
						 width: 100%;
						 margin:0;
						 p {
							display: inline-block;
							margin: 0px;
							font-size:30px;
							top: -8px;
							position: relative;
						 }
					 }
					 .span-1{
						font-size:60px;
						line-height:30px;
					 }
					 .span-2{
						font-size:14px;
						margin-bottom:20px;
					 }
				 }
				 .plan{
					display: inline-block;
					padding: 0px 57px;
					background: #4CBF8D;
					font-size: 20px;
					font-weight: 700;
					border-radius:5px;
					line-height: 50px;
					margin-bottom: 10px;
					a {
					   color:#fff;
					}
				 }
		   }
		}
		&.style3{
		    margin-left:10%;
		    .pricing {
			   color:#fff;
			   float:left;
			   margin-right:5%;
			   width: 26.3%;
			   background:#e74847;
			   border-radius:4px;
			   border:1px solid #d4d4d4;
			   .header{
			       font-size:18px;
				   border-bottom:1px solid #cb2827;
				   line-height:50px;
				   font-weight:700px;
			   }
			   .price{
			        display: inline-block;
					padding: 10px 32px;
					margin: 30px;
					background: #cb2827;
					border-radius: 30px;
					font-size:20px;
			   }
			   .pricing-content{
			       ul{
				       list-style:none;
					   margin:0;
				       li{
					       line-height:50px;
						   color:#666666;
						   font-size:14px;
						   &:nth-child(2n+0){
						      background:#d4d4d4;
						   }
						   &:nth-child(2n+1){
						      background:#fff;
						   }
					   }
				   }
			   }
			   .signup{
			        line-height: 50px;
					color: #fff;
					font-size: 14px;
					font-weight: 700;
			   }
			}
		}
		&.basic{
		    .pricing{
			    width:8.8%;
				display:inline-block;
				background:#ebebeb;
				padding-top: 20px;
				margin-right: 2%;
			&.most-popular{
			  position:relative;
			  top:8px;
			  padding-top:25px;
			  .price .span-2{
			      margin-bottom:36px;
			  }
			}
				.price{
				   [class*="span"]{
				      width:100%;
					  margin:0;
					  p{
					     display:inline-block;
						 font-size:24px;
						 margin:0;
					  }
				   }
				   .span-1{
				      font-size:36px;
				   }
				   .span-2{
				      font-size: 11px;
                      color: #909090;
					  margin-bottom: 25px;
				   }
			}
			.plan{
				        display: inline-block;
						width: 100%;
						padding: 11px 0;
						font-size: 14px;
						position: relative;
						a{
						  color:#fff;
						}
						&:before{
						    content: "";
							width: 12px;
							height: 12px;
							left: 50%;
							margin-left:-6px;
							display: block;
							position: absolute;
							transform:rotate(135deg);
							top: -6px;
						}
				   }
				}
		}
		
}

/* Latest News */
.sw-latestnews:before, .sw-latestnews:after {
    content: "";
    display: table;
    line-height: 0;
}
.sw-latestnews:after {
    clear: both;
}

.sw-latestnews{
	margin-bottom: 0; 
	display: block;
	text-align: center;
	overflow: hidden;
	text-align: left;
}
.rtl .sw-latestnews{
	text-align:right;
}
.sw-latest-news h3{
	margin-bottom:20px;
}
.sw-latest-news .widget-title-sidebar h3{
	margin-bottom:10px;
	white-space:nowrap;
}
.sw-latestnews .sw-meta{
	border-bottom: 1px dashed #C8C8C8;
    color: #A8A8A8;
    display: inline-block;
    font-size: 11px;
    line-height: 30px;
    width: 100%;
    margin-bottom: 10px;
}
.sw-latestnews .sw-thumb a{
	display: block;
}
.sw-latestnews .sw-thumb a:after{
	border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 8px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter:Alpha(opacity=0); /* IE8 and earlier */
    z-index: 5;
    
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
}
.sw-latestnews .sw-thumb:hover a:after{
	opacity: 1;
	filter:Alpha(opacity=1); /* IE8 and earlier */
}
.sw-latestnews .sw-meta > div{
	float: left;
	margin-right: 20px;
}
.rtl .sw-latestnews .sw-meta > div{
	float:right;
	margin-right:0;
}
.sw-latestnews .sw-content{
	font-size: 12px;
	a{
		color: @color;
		&:hover{
			color: darken(@color, 10);
		}
	}
}
.sw-latestnews div.sw-widget-item{
	display: block;
	text-align: left;
	margin-bottom: 40px !important;
}
.latest-blog div.sw-widget-item +div{
	margin-bottom: 0;
}
.rtl .sw-latestnews .sw-widget-item{
	text-align:right;
}
.sw-latestnews .sw-item-inner{
	display: inline-block;
	width: 100%;
}
.sw-latestnews .sw-widget-item:first-child{
	margin-left: 0;
}

.sw-latestnews h4 {
	margin: 0;
	font-weight:normal;
	color:#686868;
	line-height: 15px;
}
.sw-latestnews h4 a{
	color:#686868;
}
.sw-latestnews .sw-thumb{
	float: left;
	width: 300px;
	overflow: hidden;
	margin: 0 20px 0 0;
	position: relative;
}
.latest-blog .sw-thumb {
    margin-bottom: 15px;
}
.rtl .sw-latestnews .sw-thumb{
	float:right;
	margin-right:0;
	margin-left: 20px;
}
.sw-latestnews .sw-caption{
	overflow: hidden;
}
.sw-latestnews .sw-thumb img {
	width: 100%;
	position: relative;
	z-index:1;
	.transition(all 0.3s ease);
	.scale(1);
}
.sw-latestnews .sw-thumb:hover img{
	z-index:2;
	.scale(1.1);
}
/* End Latest News */
.latest-blog{
	padding:0;
	overflow:visible;
	.sw-widget-item{
		margin-bottom:0
	}
	.carousel-indicators{
		background:@white;
		top:-47px;
		right:0;
		left: auto;
		bottom: auto;
		width: auto;
		margin: 0;
		.rtl &{
			left:0;
			right:auto;
		}
		.active{
			background:@color;
		}
		li{
			width:16px;
			height:16px;
			display:inline-block;
			border-radius:50%;
			background:#e9e9e9;
			margin-left:3px;
			margin-right:0px;
			border: 2px solid #fff;
		}
	}
	.carousel{
		padding:0;
		margin-bottom:0;
	}
	.sw-thumb{
		width:100%;
		margin-right:0;
		a{
			display:block;
			position:relative;
			&:hover{
				img{
					.opacity(40);
				}
				&:after{
					top:50%;
					margin-top:-20px;
					.transition(all 0.4s linear);
					opacity:1;
					.rotate(360deg);
				}
			}
			
			&:after{
				content:'\f002';
				font-family:'FontAwesome';
				color:#fff;
				background:#686868;
				border:solid 7px rgba(255,255,255,0.4);
				background-clip:padding-box;
				border-radius:50%;
				display:block;
				width:40px;
				height:40px;
				text-align:center;
				line-height: 40px;
				font-size:24px;
				left:50%;
				margin-left:-28px;
				top:10px;
				position:absolute;
				z-index:6;
				opacity:0;
				.transition(all 0.4s linear);
				box-sizing: content-box;
				-moz-box-sizing: content-box;
				.rtl &{
					left:auto;
					right:50%;
					margin-right:-20px;
					margin-left:0;
				}
			}
		}
	}
	h4{
		font-weight:normal;
		a{
			color:#686868;
			&:hover{
				color:@color;
			}
		}
	}
	.sw-caption{
		width:100%;
	}
	.sw-content{
		line-height:18px;
	}
}
/* tab */
.tabs-below > .nav-tabs {
    border-top: 1px solid #DDDDDD;
	border-bottom: none;
}
.tabs-below > .nav-tabs > li {
    margin-bottom: 0;
    margin-top: -1px;
}
.tabs-below > .nav-tabs > li > a {
    border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: #DDDDDD;
}
.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover, .tabs-below > .nav-tabs > .active > a:focus {
    border-color: rgba(0, 0, 0, 0) #DDDDDD #DDDDDD;
}
.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    float: none;
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    margin-bottom: 3px;
    margin-right: 0;
    min-width: 74px;
}
.tabs-left > .nav-tabs {
    border-right: 1px solid #DDDDDD;
    float: left;
    margin-right: 19px;
}
.tabs-left > .nav-tabs > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: -1px;
}
.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus {
    border-color: #EEEEEE #DDDDDD #EEEEEE #EEEEEE;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    border-color: #DDDDDD rgba(0, 0, 0, 0) #DDDDDD #DDDDDD;
}
.tabs-right > .nav-tabs {
    border-left: 1px solid #DDDDDD;
    float: right;
    margin-left: 19px;
}
.tabs-right > .nav-tabs > li > a {
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
}
.tabs-right > .nav-tabs > li > a:hover, .tabs-right > .nav-tabs > li > a:focus {
    border-color: #EEEEEE #EEEEEE #EEEEEE #DDDDDD;
}
.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover, .tabs-right > .nav-tabs .active > a:focus {
    border-color: #DDDDDD #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
}
/*** Alert ***/
.alert {
   border-radius:0;
}
.alert-bg-red{
    background-color: #e74847;
}
.alert-bg-blue{
   background-color: #3f9dd3;
}
.alert-bg-orange{
   background-color:#fb9220;
}
.alert-bg-green{
   background-color:#8dbe3f;
}
.alert-bg-violet{
    background-color:#a44ec4;
 }
 .alert-none-border{
   padding:15px 0;
 }
 /*** button ***/
.btn {
  border-radius:0;
}
.btn-red-border{
   border:4px solid #e74847;
   color:#e74847;
   &:hover{
     background:#e74847;
	 color:#fff;
   }
}
.btn-blue-border{
   border:4px solid #3f9dd3;
   color:#3f9dd3;
   &:hover{
      background:#3f9dd3;
	  color:#fff;
   }
}
.btn-orange-border{
   border:4px solid #fb9220;
   color:#fb9220;
   &:hover{
     background:#fb9220;
	 color:#fff;
   }
}
.btn-green-border{
   border:4px solid #8dbe3f;
   color:#8dbe3f;
   &:hover{
     background:#8dbe3f;
	 color:#fff;
   }
}
.btn-violet-border{
   border:4px solid #a44ec4;
   color:#a44ec4;
   &:hover{
     background:#a44ec4;
	 color:#fff;
   }
}
/*** Video ***/
iframe{
  border:none;
  //max-width:100%;
}
/** Post Slide ***/
#yt_post_slide{
   .carousel-inner{
      .item{
		 .carousel-caption{
		     background: rgba(0,0,0,0.5);
			 text-align:left;
			 text-shadow:none;
		     &.carousel-caption-bottom{
               left: 0;
               right:0;
	           bottom:0;
	           width:100%;
               padding: 15px 20px;
            }
			 &.carousel-caption-right{
			    right: 0;
                width: 33.333%;
                height: 100%;
                left: auto;
                top: 0;
                padding: 30px 10px;
			 }
			 &.carousel-caption-left{
			    left: 0;
                width: 33.333%;
                height: 100%;
                top: 0;
                padding: 30px 10px;
  		 	}
			&.carousel-caption-out{
			   background: none;
               width: 100%;
               left: 0;
               bottom: 0px;
               position: relative;
               color:#666;
			   .carousel-caption-inner{
			      a{
				     color:#444;
					 font-size:14px;
					 font-weight:600;
					 &:hover{
					   color:@color;
					 }
				  }
			   }
			}
			 .carousel-caption-inner{
	            a {
		           font-size:20px;
		           color:#fff;
				   &:hover{
				      color:@color;
				   }
		          }
		        .item-description{
		          margin-top:10px;
		            }
	             }
		 }
		 a img {
		    width:100%;
		 }
	  }
   }
   .carousel-cl{
     .carousel-control{
	 width:42px;
	 height:42px;
	 top: 43%;
	  &.left{
	   background: url(../assets/img/short-left.png) no-repeat center -1px rgba(0,0,0,0.5);
	  }
	  &.right{
	  background: url(../assets/img/short-right.png) no-repeat center -1px rgba(0,0,0,0.5);
	  }
	 }
	 &.carousel-cl-right{
	     .carousel-control.right{
		    right:33.33%;
		 }
	  }
	  &.carousel-cl-left{
	      .carousel-control.left{
		     left:33.33%;
		  }
	  }
	 &.carousel-cl-out{
	    .carousel-control{
		   top:29%;
		}
	 }
   }
}
/*** lightbox and frames ***/

   a img {
     
	  .lightbox &{
	   margin-bottom: 20px;
	  }
      .lightbox-border1 &{
	    border:8px solid @color;
	  }
	  .lightbox-border2 &{
	  border:1px solid #e2e2e2;
	  padding:8px;
	  background:#fff;
	  }
	  .lightbox-border3 &{
	   border-radius:10px;
	  }
	  .lightbox-circle-normal &{
	  border-radius: 50%;
      width: 210px;
      height: 210px;
	  }
	  .lightbox-circle-border1 &{
	  border-radius: 50%;
      width: 210px;
      height: 210px;
	  border:5px solid @color;
	  }
	  .lightbox-circle-border2 &{
	  border-radius: 50%;
      width: 210px;
      height: 210px;
	  border:1px solid #e2e2e2;
	  padding:10px;
	  background:#fff;
	  }
   }
/*** Heading tags  ***/
  .with-icon{
  font-size:18px;
    [class^="icon-"], [class*=" icon-"]{
	margin:5px 13px 5px 0px;
	}
  }
  .with-bg{
  font-size:18px;
  padding:13px 35px;
  }
  /*** Testimonial ***/
  .testimonial-slider{
     .carousel-inner{
		color:#666;
	    .client-comment{
		    font-style: italic;
			margin-bottom:20px;
		}
	    .client-say-info {
			.image-client {
				width: 65px;
				float: left;
			}
			.name-client {
				margin-left: 78px;
				padding-top: 10px;
				 h2 {
				     font-size:14px;
					 font-weight: 700;
					 margin:0;
					    a {
							font-weight: bold;
							color: #ea3a3c;
							display: inline-block;
							padding: 5px 0px;
					    }
					}
			}
		}
		.item {
		   //padding:20px 0;
		   .item-inner{ padding:0;}
		}
	 }
	 .carousel-indicators{
	    //background-color: #eeeeee;
		//margin: 0px -18px 0;
		padding: 5px 0px;
		position: relative;
		text-align: center;
		li{
		   width: 10px;
           height: 10px;
		   margin: 0 2px;
		   border: 0;
		   background-color: #999;
		   &:hover{
			background-color:@color;
		   }
		}
		.active {
		   background-color: @color;
		   border: 0;
		}
	 }
  }
  .testimonial_style2{
    text-align:center;
	padding:42px 133px 15px;
	border-top:1px solid #dedede;
	border-bottom:1px solid #dedede;
    }
	.testimonial_bg {
	text-align:center;
	padding: 35px 75px 77px;
	color:#fff;
	max-height: 350px;
	&:before{
	content: '';
    background: url(../assets/img/bgt.png);
    top: 0;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    position: absolute;
    z-index: -9999;

	}
	img {
	 border-radius:50%;
	  width:90px;
	  height:90px;
	  padding:5px;
	  background:#fff;
	  display: inline-block;
	}
	.testimonial_content{
	   padding: 82px 22px 15px;
	}
}
 .testimonial_content {
    padding:15px 22px;
    position:relative;
	font-style: italic;
    .testimonial_style1 &{
	    padding: 15px 39px;
        background: #f0f0f0;
        margin-bottom: 20px;
        
		border-radius:5px;
		 &:after{
		 content: "aaaa";
         width: 27px;
         top: 31px;
         left: 48px;
         color: rgba(0,0,0,0);
         height: 17px;
         position: relative;
         background: url(../assets/img/arrowt.png);
		}
	}
	
   .icon-quote-left,.icon-quote-right{
    color:#c4c4c4;
	position: absolute;
    font-size: 16px;
    left: 10px;
    top: 7px;
   }
   .icon-quote-right{
    right: 0px;
    top: 13px;
    left: auto;
   }
 }
 
 .testimonial_meta{
     padding: 0 30px;
   img {
       
      border-radius:50%;
	  width:90px;
	  height:90px;
	  padding:5px;
	  background:#ededed;
	  display: inline-block; 
   } 
 }
 .testimonial_info{
    .testimonial_style1 &{
	vertical-align: middle;
    display: inline-block;
	  ul{
	    margin-left:22px;
		li:first-child{
		  font-size: 16px;
		  padding-bottom: 5px;
		}
	  }
	}
	.testimonial_style2 &{
	    ul {
		    li{
			   color:@color;
			}
		}
	}
	ul{
	  list-style:none;
	  margin-bottom: 0;
	}
 }
 
    .widget-testimonial{
        .title-testimonial{
			margin:0 0 20px;
			&.title1{
					.title;
				}
			&.title2{
					.header-style1;
				}
			}
                .item{
					.item-inner{
						display:inline-block;
						margin-bottom:20px;
						&:last-child{
							margin:0;
						}
						.item-content{
							.item-desc{ 
								border: 1px solid #e1e1e1;
								margin-bottom: 10px;
								padding: 16px 10px 16px 40px;
								position: relative;
								.rtl &{
									padding: 16px 40px 16px 10px;
								}
								&:before{
									content: "";
									background: url('../assets/img/icon-quote.png') no-repeat;
									position:absolute;
									top:20px;
									left:10px;
									right:auto;
									width: 17px;
									height: 13px;
									.rtl &{
										background: url('../assets/img/icon-quote-right.png') no-repeat;
										right:10px;
										left:auto;
									}
								}
								&:after{
									content:'';
									background: url('../assets/img/mc-des.png') no-repeat;
									width:8px;
									height:8px;
									position:absolute;
									left:20px;
									right:auto;
									bottom:-8px;
									.rtl &{
										right:20px;
										left:auto;
									}
								}
							}
						}
						.item-info{
							.item-image{
								float:left;
								margin-right:10px;
								border: 2px solid #e1e1e1;
								border-radius: 50%;
								overflow: hidden;
								width: 66px;
								&:hover{
									border: 2px solid @color;
								}
								.rtl &{
									float:right;
									margin-left:10px;
									margin-right:0;
								}
							}
							.item-bottom{
								padding-top:10px;
								h4{
									margin-bottom:0;		
									.client-name{
										font-size:13px;
										color:@color;
										font-weight:bold;
									}
								}
								.client-job{
									color:#000;
									font-size:13px;
								}
							}
						}
						&:nth-child(2){
							.item-content{
								.item-desc{
										&:after{
										right:20px;
										left:auto;
										transform:rotateY(-180deg);
									}
								}
							}
							.item-info{
								.item-image{
									float:right;
									margin-left:10px;
									margin-right:0;
								}
								.item-bottom{
									text-align:right;
								}
							}
						}
					}					
                }
            .carousel-cl{
                position:absolute;
                top:-53px;
                right:-3px;
                padding:0 20px;
                width:60px;
                background:#fff;
				.rtl &{
					left:-3px;
					right:auto;
				}
                a {
                    display:block;
                    width:24px !important;
                    height:24px !important;
					filter:none;
                    margin:0 3px;
					.border-radius(3px);
                    border:2px solid #e1e1e1;
                    background:#fff;
                    color:#666;
                    text-shadow:none;
                    position: absolute;
                    top: 0px;
                    opacity: 1;
                    &:hover {
                        color:#fff;
						background-color:@color;
						border:2px solid @color;;
                    }
                }
                .left{
                    &:before{
                        content:"\f104";
                        font-family:FontAwesome;
						font-size:16px;
						position:absolute;
						right:7px;
						top:-2px;
                    }
                    &:hover{
                        &:before{ color:#fff;}
                    }
                }
                .right{
                    &:before{
                        content:"\f105";
                        font-family:FontAwesome;
						font-size:16px;
						position:absolute;
						right:7px;
						top:-2px;
                    }
                    &:hover{
                        &:before{ color:#fff;}
                }
            }
        }
		&.slide2{
			.testimonial-slider .item
			{
				padding: 0;
				.item-inner{
					padding:0;
				}
			}
			.carousel-cl{
				width:73px;
				top:-63px;
				a{
					width:30px!important;
					height:30px!important;
					border:1px solid #e1e1e1;
					filter:none;
					&:before{
						font-size:20px;
						line-height:26px;
						color:#999;
						position:initial !important;
						vertical-align:top;
					}
					&:hover{
						border:1px solid @color;
					}
				}
			}
		}
		&.style2{
				.title-testimonial h2{
					text-align:center;
					font-family:'TitilliumWebRegular' !important;
					font-size:20px;
					font-weight:bold;
					color:#333;
			}
		}
    }
/*** Personnel ***/
.personnel_style1,.personnel_style2{
   text-align:center;
   position: relative;
   display: inline-block;
 
} 
.personnel_img{
   position:relative;
   display: inline-block;
   margin-bottom: 7px;
     .personnel_style2 &{
		   width:90px;
		   height:90px;
		   position:absolute;
		   left:34%;
		   img {
		   height:100%;
		   border-radius:50%;
		   padding:6px;
		   background:#ededed;
		   &:hover{
		   
		   }
		   }
		}
 
    ul{
	   position:absolute;
       bottom: 10px;
       left: 30%;
	   list-style:none;
       transform: scale(0);
       -webkit-transform: scale(0);
       -ms-transform: scale(0);
       transition: all 0.3s ease-in-out 0s; 
       -webkit-transition: all 0.3s ease-in-out 0s;
       -o-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
	   li{
	        float:left;
            padding-right:7px;
	   }
	}
   &:hover {
       ul{
	      transform: scale(1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
	   }
   } 
}
.personnel_meta{
  .personnel_style2 &{
      display: inline-block;
     margin-top: 42px;
     padding-top: 57px;
	 padding-bottom: 10px;
     background: #ededed;
	 float: left;
  }
  ul{
    list-style:none;
	
	li{
	   &:first-child{
	  font-size:16px;
	  color:@color;
	 }
	 &:nth-child(2){
	  font-weight:bold;
	 }
	}
    
  }
}
.social {
  .personnel_style2 & {
     ul {
	    li {
		   display: inline-block;
		   margin-right:7px;
		}
	 }
  }
}
/*** Divider ***/
.rpl-title-wrapper{
    text-align:center;
   h4{
      background: #fff;
      padding: 0 5px;
      position: relative;
      display: inline-block;
   }
}
/*** Divider ***/
table {
   text-align: center;
   }
 tbody {
       tr {
	       border-bottom:1px solid #adadad;
		   .table-style2 & {
		          border:none;
			      &:nth-child(2n+0){
				    background-color:#e6e6e6;
				  }
				  &:nth-child(2n+1){
				  background-color:#f2f2f2;
				  }
			   }
		   td {
		      padding:15px;
			  font-size:14px;
			   
		   }
	      &.th {
	      background-color:@color !important;
		  border-bottom:none;
		  td{
		     padding: 16px 54px;
             font-size: 16px;
             color: #fff;
		  }
	   }
	   }  
   }
  /** Skillbars - 1.3 **/
  .yt-skillbar{
     position: relative; 
	 display: block; 
	 margin-bottom: 15px; 
	 width: 100%; 
	 background: #a1a1a1; 
	 height: 32px; 
	  .transition(0.4s linear); 
	 -webkit-transition-property: width, background-color;
	 -moz-transition-property: width, background-color; 
	 -ms-transition-property: width, background-color; 
	 -o-transition-property: width, background-color; 
	 transition-property: width, background-color;
	 &.small{
	   display:inline-block;
	   height:8px;
	   margin-top:14px;
	   margin-bottom:15px;
	   }
  }
 .our-skill{
	margin-top:92px;
	.block-title{
		margin-bottom:10px;
	}
  }
.yt-skillbar-title{
    position: absolute;
	top: 0; 
	left: 0; 
	font-weight: bold; 
	font-size: 13px; 
	color: #fff; 
	span{
	   display: block; 
	   padding: 0 10px;
	   height: 32px; 
	   line-height: 32px;
		font-size:14px;
		color:#444;
	}
	&.small{
	  position: relative;
      display: inline-block;
      float: left;
     margin-right: 20px;
	 .rtl &{
		float:right;
		margin-left:20px;
		margin-right:0;
	 }
	   span {
	        height: 12px;
            line-height: 12px;
            color: #666;
			font-size: 14px;
            font-weight: 400;
			padding: 0;
	   }
	  
	}
} 
.yt-skillbar-bar { 
       height: 32px; 
	   width: 0px; 
	   background:@color; 
	    .small &{
	      height:8px;
	   }
	   }
.yt-skill-bar-percent { 
      position: absolute; 
	  right: 10px; 
	  top: 0; 
	  font-size: 14px; 
	  font-weight:normal;
	  height: 32px; 
	  line-height: 32px; 
	  color: #fff; 
	    .small &{
		   height:12px;
		   height: 12px;
           top: -34px;
           right: 0px;
		   color:#666;
		   .rtl &{
				left:0;
				right:auto;
		   }
		}
	  }
/**** circle skill ****/
.circliful {
    position: relative; 
	display:inline-block;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
	font-weight: bold;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}
/****  quote ****/
.quote-full {
 font-style:italic;
}
.quote-bg{
   padding: 20px;
background: #e1e1e1;
width: 100%;
font-style: italic;
}
.quote-border{
border:1px solid #c3c3c3;
padding:20px;
}
.quote-left{
float:left;
width:50%;
}
/***   Tooltip ***/
a.tooltips { 
     position: relative; 
	 color:@color666;
	 font-size:14px;
		font-weight:bold;
	 p {
	    
		padding: 0 0 100px;
		
	 }
     strong {
         line-height: 30px; 
		  width: 218px;
          margin: -10px -10px 10px;
          padding: 0px 10px 0px;
		  float:left;
		   color:#666;
		 }
	 &:hover span{
	    opacity: 1; 
        text-decoration: none;
        visibility: visible;
        overflow: visible;
        margin-top: 50px;
        display: inline;
        margin-left: 10px;
		 &.right{
	    margin-left:60px;
		margin-top:116px;
	    }
		&.left {
		   margin-left:-36px;
		   margin-top:116px;
		}
	 }
     span {
	         background:#fff;
			 font-weight:400;
			 font-family:arial;
			 color:#666;
             border:1px solid #bdbdbd;	  
             width: 220px; 
	         top:-147px;
	         left:60px;
             padding: 10px;
             margin-top: 0;
             margin-left: 85px; 
             opacity: 0; 
             visibility: hidden; 
             z-index: 10;
             position: absolute; 
             font-size: 12px;
            .border-radius(3px); 
            -webkit-transition-property: opacity, margin-top, visibility, margin-left;
            -webkit-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s; 
            -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out; 
            transition-property: opacity, margin-top, visibility, margin-left; 
            transition-duration: 0.4s, 0.3s, 0.4s, 0.3s; 
            transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out; 
			 &.tooltip-style2,&.tooltip-style2 b{
			 background:#e0e0e0;
			 }
			 &.tooltip-style3{
			   strong {
               border-bottom:1px solid #bdbdbd;
			   }
			 }
			 &.tooltip-style4{
			    strong{
				color:#fff;
				background:@color;
				}
			 }
			  &.tooltip-style5,&.tooltip-style5 b{
			    background:@color;
				color:#fff;
			    strong{
				background:#fff;
				}
			 }
	         &.right b{
			    margin-left: -18px;
                margin-top: -30px;
				 -webkit-transform: rotate(-135deg); 
                 -moz-transform: rotate(-135deg); 
                 -o-transform: rotate(-135deg); 
                 transform: rotate(-135deg); 
			 }
			 &.left b{
			    margin-left: 201px;
                margin-top: -30px;
				 -webkit-transform: rotate(45deg); 
                 -moz-transform: rotate(45deg); 
                 -o-transform: rotate(45deg); 
                 transform: rotate(45deg); 
			 }
	        b {
             width: 15px;
             height: 15px;
             margin-left: 85px;
             margin-top: 3px;
             display: block;
             position: absolute; 
             -webkit-transform: rotate(135deg); 
             -moz-transform: rotate(135deg); 
             -o-transform: rotate(135deg); 
             transform: rotate(135deg); 
			 background:#fff;
			 border-top: 1px solid #bdbdbd;
             border-right: 1px solid #bdbdbd; 
			 
			 }
		}
 }  
/*** counter box ***/
ul {
    .counter-border &,.counter-bg &{
	  list-style:none;
	  float:left;
	  width:100%;
	  text-align:center;
	  max-width: 170px;
      padding: 28px 0px 22px;
	  li{
	     &.counterbox-number{
		  font-size:36px;
		  font-weight:700;
		  
		 }
	  }
	}
    .counter-border &{
	   border: 1px solid #bdbdbd;
	   li{
      &.counterbox-number{
		color:@color;
		[class^="icon-"], [class*=" icon-"] {
		   color:#444;
		  }
	   }
       }
	}
	.counter-bg &{
	    background:@color;
	  li{
	    &.counterbox-number,&.type{
		color:#fff;
		}
	  }
	}
   
}
/*** socials ***/
#socials {
     width: 34px;
     height: 34px;
	 line-height:34px;
	 display: inline-block;
     font-size: 19px;
	 margin-right:10px;
	 text-align: center;
	 transform: translateZ(0);
	 transition-duration: 0.3s;
	 transition-property: color, background-color;
   &.socials-style1,&.socials-style3,&.socials-style5{
     border: 1px solid #bdbdbd;
	
	 &:hover{
	  background-color: #a3a3a3;
	     a{
		     color: white;
		 }
	 }
	  a{
	     color:#a3a3a3;
		 
	  }
   }
   &.socials-style2,&.socials-style4,&.socials-style6{
      &:hover{
	   background:@color !important;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
	  }
	  
      a{
	     color:#fff;
	  }
   }
    &.socials-style3,&.socials-style4{
	  border-radius:50%;
	}
	&.socials-style5,&.socials-style6{
	  border-radius:3px;
	}
}
/*** tabs ***/
.tabbable {
    &.tabs-icon {
	   .nav.nav-tabs > li > a {
	      padding: 0 10px;
	   }
	   .nav.nav-tabs > li.active a:before{
	      margin-left: 84%;
		  left: 11%;
	   }
	}
    .nav{
	   &.nav-tabs{
	       background: #fff;
		   margin-left:0;
		   > li {
		          margin-bottom:0px;
		       > a{
			        margin-right: 0px;
					font-size:16px;
					font-weight: 700;
					padding: 0 20px;
					
			   }
		   }
		   li{
		        margin-right:0px;
				position:relative;
				border-right:1px solid #ddd;
				border-top:1px solid #ddd;
				&:first-child{border-left:1px solid #ddd};
				&.active {
				   a {
				       background:@color;
					   color:#fff;
				   }
				   &:first-child{border-left:1px solid @color};
				}
		        a{
				   .border-radius(0px);
				   line-height:40px;
				   background:#fff;
				}
		    }
	   }
	}
}
.tabs-left {
   .nav {
      &.nav-tabs{
	     border:1px solid @color;
		 > li{
		     margin-bottom: -3px;
			 border-right:none;
			 &:first-child{
			    border:none;
			 }
			 &.active {
			   a {
			      &:before{
				     margin-left: 73%;
                     margin-top: 13px;
					 left: 22%;
				  }
			    }
			 }
		 }
	  }
   }
}
/****** Accordion ******/
.panel-group{
    display: block;
    //float: left;
   &.collapses-style2{
       .panel {
	        display: block;
            float: left;
	       border-bottom:1px solid #ddd;
		   border-left:none;
		   border-right:none;
		   border-top:none;
		   background: #eee;
		   width:100%;
		   &:last-child{
		     border-bottom:none;
		   }
		   .collapsed .panel-default-box {
				  background-color: #fff;
		   }
		   .panel-default-box {
		        display: inline-block;
				  float: left;
				  margin: 0;
				  padding: 0;
				  background-color: #eee;
				  width: 100%;
		   }
		  a{
					   span{
						   background:url(../assets/img/minut.png) center center no-repeat ;
						   float:left;
					   }
						.panel-heading{
					  background:#eee !important;
					  color:#444; 
					  font-size:12px;
					  font-weight:700;
						margin: 0;
						float:left;
					  }
					  &:hover {
						 .panel-heading{
							  color:@color; 
							}
					  }
				   }
		   .panel-collapse.in{
		     background:#eee;
		   }
		   .panel-body{
			    padding: 0px 10px 10px 40px;
				color:#666;
				  display: block
			 }
		    p{
			   display:none;
			}
	   }
       .panel + .panel{
	      margin-top: 0px;
	   }
   }
   &.collapses-style3{
         .panel{
		        margin-bottom:30px;
               a{
			       span{
				       float:left;
				   }
			      &.collapsed{
				       .panel-heading{
				     background:#f2f2f2 !important;
				        }
				  }
			     
			   }
		 }
   }
   .panel{
      box-shadow:none;
      border-radius:0!important;
	  a{
	     span{
			    background: url(../assets/img/minus.png) center center no-repeat;
			    display: block;
				float: right;
				padding: 10px;
				margin: 10px;
			}
	     &.collapsed {
					 span{
							  background: url(../assets/img/plus.png) center center no-repeat;
						   }
					 .panel-heading {
					   color:#666;
					   background:#fff !important;
					 }
	    }
	  }
   }
}
.panel-heading {
           background-color:@color !important;
			border-radius:0 !important;
			border-color:#e7e7e7;
			color:#fff;
			font-size:16px;
			padding: 12px 0px ;
}
/*************    slider *********/
.ya-slider{
    &.carousel-style2 {
	    .carousel-control{
		   top: 59%;
		 }
	}
	&.carousel-style3{
	     .box-recommend-title{
		    position: relative;
			left: 50%;
			display: inline-block;
			margin-left: -110px;
				.carousel-control{
							top:0px;
							width:30px;
							height:30px;
							border-radius:3px;
							position: relative;
							display: inline-block;
							padding: 0px 7px;
				} 
				h3 {
					display: inline-block;
					&:after{
					   margin-left: 33%;
						}
				}
		}
		.testimonial_meta{
		    margin-bottom:30px;
		}
	    
	}
	&.carousel-style4{
	    .box-recommend-title{
			position: absolute;
			top: -5px;
			padding: 10px;
			background: @color;
			color: #fff;
			left: 50%;
			margin-left:-85px;
			z-index: 6969;
		h3 {
		   margin-bottom:0;
		   &:after{
		       margin-top: 0px;
		   }
		}
	}
	.carousel-indicators{
	    top: 50px;
        left: 50%;
		margin-left:-16px;
		position:absolute;
	}
	}
	&.carousel-style5{
	    .box-recommend-title{
		    position: absolute;
			top: 155px;
			left: 50%;
			margin-left: -115px;
			h3{
			  margin-bottom:0;
			  color:#fff;
			  &:after{
			    margin-top:0;
				border:none;
			  }
			}
		}
		.carousel-indicators{
		    position: absolute;
			top: 188px;
			left: 50%;
			margin-left: -19px;
			li{
			   background:#fff !important;
			}
			.active{
			   border:1px solid #fff;
			   background:rgba(255,255,255,0) !important;
			}
		}
	    .carousel-inner {
		     overflow: visible;
		}
	}
    .carousel-control{
	   width:38px;
	   height:38px;
	   .border-radius(50%);
	   text-shadow:none;
	   border:1px solid #dcdcdc;
	   background:#fff;
	   opacity:1;
	   top:28%;
	   z-index:6969;
	   i {
	      &:before {
		     color:#dcdcdc;
		  }
	   }
	   &.left {
	     left:-18px;
		 padding: 4px 0px;
	   }
	   &.right{
	     right:-18px;
		 padding: 4px 11px;
	   }
	   &:hover{
	      background:@color;
		  i {
		     &:before {
			    color:#fff;
			 }
		  }
	   }
	}
}
/*****************
fontawesome
*****************/
.icon-3x{
  font-size:40px;
}
.circle-icon{
     display:inline-block;
	  background:#333;
	  text-align:center;
	   border-radius:50%;
   &.icon-3x{
			  width:70px;
			  height:70px;
			  line-height:70px;
			 
    }
  &.icon-2x{
              width:35px;
			  height:35px;
			  line-height:35px;
			  font-size:18px;
  }
  &.icon-1x{
             width: 18px;
			 height: 18px;
			 line-height: 18px;
			 font-size: 10px;
  }
}
/***********************************************************************************************************************
* Best Sale, Related product
************************************************************************************************************************/

/***********************************************************************************************************************
* Vertical mega menu
************************************************************************************************************************/
.wrapper_vertical_menu{
    display: block;
	position: relative;
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 30px;
}
/* header style 1*/
.header-style1(){
	h2{
		font-size:18px;
		font-weight:bold;
		color:@color;
		text-transform:uppercase;
		padding:20px;
		border-top:2px solid @color;
		border-bottom:1px solid #ebebeb;
		margin:0;
	}
}
/* header style 2*/
.header-style2(){
	border-bottom:1px solid #ddd;
	margin-bottom:30px;
	h2{
		position:relative;
		display:inline-block;
		font-size:18px;
		font-weight:bold;
		color:#444;
		text-transform:uppercase;
		padding:0 0 10px;
		border-bottom:1px solid #ebebeb;
		margin:0;
		&:before{
			display:block;
			content:'';
			height:2px;
			width:100%;
			background-color:@color;
			position:absolute;
			bottom:-2px;
		}
	}
}
/*button style 1*/
.button-style1(){
		background-color:#cccccc;
		height:25px;
		width:25px;
		.border-radius(2px);
		border:0 !important;
		line-height:25px !important;
		top:20px;
		right:0;
		left:auto;
		color:#fff;
		.opacity(1);
		text-align:center;
		.box-shadow(none);
		.rtl &{
			left:0;
			right:auto;
		}
		&:hover{
			background-color:@color;
		}
		&.slick-prev{
			right:50px;
			left:auto;
			&:before{
				display:inline-block;
				content:'\f104';
				font-size:16px;
				font-family:'FontAwesome';
				.rtl &{
					content:'\f105';
				}
			}
			.rtl &{
				left:50px;
				right:auto;
			}
		}
		&.slick-next{
			right:20px;
			left:auto;
			.rtl &{
				left:20px;
				right:auto;
			}
			&:before{
				display:inline-block;
				content:'\f105';
				font-size:16px;
				font-family:'FontAwesome';;
				.rtl &{
					content:'\f104';
				}
			}
		}
}
/*button style 1*/
.button-style2(){
		background-color:none;
		.border-radius(2px);
		border:0 !important;
		top:0;
		right:0;
		left:auto;
		line-height:25px;
		color:#ccc;
		.box-shadow(none);
		text-align:right;
		height:auto;
		width:auto;
		.opacity(1);
		
		&:hover{
			&:before{
				color:@color;
			}
		}
		&.slick-prev:before{
			content:'\f104';
			font-size:20px;
			font-family:'FontAwesome';
			.rtl &{
				content:'\f105';
			}
		}
		&.slick-next:before{
			content:'\f105';
			font-size:20px;
			font-family:'FontAwesome';
			.rtl &{
				content:'\f104';
			}
		}
}
/*Best sellers product*/
.best-seller-products{
	background-color:#fff;
	margin-bottom:30px;
	.box-slider-title{
		.header-style1;
	}
	.slider{
		margin:0;
		.slick-list{
			margin:0 4px 0 0;
			.rtl &{
				margin:0 0 0 4px;
			}
		}
		.item{
			margin:0;
			padding:0;
			.item-wrap{
				padding:0 !important;
				border-right:1px solid #ebebeb;
				.item-detail{
					position:relative;
					z-index:1;
					.item-content{
						text-align:center;
						padding-bottom:18px;
						h4{
							margin:0;
							a{
								font-size:14px;
								color:#444;
								font-weight:bold;
								text-transform:capitalize;
								&:hover{
									color:@color;
								}
							}
						}
						.reviews-content{ padding:3px 0 2px;}
					}
					.sale-off{
						font-size:12px;
						position:absolute;
						z-index:2;
						top:10px;
						left:10px;
						display:inline-block;
						width:40px;
						height:40px;
						.border-radius(50%);
						color:#fff;
						background:#f53b54;
						font-weight:bold;
						text-align:center;
						line-height:40px;
					}
				}
			}
		}
	}
	.res-button{
		.button-style1;
	}
	&:hover .res-button{
		&.slick-prev{
			right:50px;
			left:auto;
			.rtl &{
				left:50px;
				right:auto;
			}
		}
		&.slick-next{
			right:20px;
			left:auto;
			.rtl &{
				left:20px;
				right:auto;
			}
		}
	}
	&.style2{
		.res-button{
			background:none;
			left:auto !important;
			top:18px !important;
			.button-style2;
			&.slick-prev{
				right:35px;
				.rtl &{
					left:35px !important;
					right:auto;
				}
			}
			&.slick-next{
				right:20px;
				.rtl &{
					left:20px !important;
					right:auto;
				}
		}
	}
	}
}
/*Partner Home*/
.responsive-slider.sw-partner-container-slider{
 .slider .slick-list{
	margin:0 -45px; 
	.item{
		margin:0;
			.item-wrap .item-img{
				text-align:center;
				a{
					display:inline-block;
				}
			}
			img{
				width:auto !important;
			}
		}
	}
	.res-button{
		display:none !important;
	}
}
.sw-partner-container{
	position:relative;
	.container{
		padding:0 15px;
	}
	.widget-content{
		ul{
			margin:0;
			list-style:none;
			> li{
				float:left;
				padding-right:93px;
				.rtl &{
					padding-left:93px;
					padding-right:0;
					&:first-child{
						padding-left:0;
					}
				}
				a{
					display:inline-block;
					img{
						.transition(0.2s);
					}
				}
				a img:hover{
					.opacity(0.8);
				}
				&:last-child{
					padding-right:0;
				}
			}
		}
	}
}
/*Responsive slider home1*/
.responsive-post-slider2{
	padding:32px 0 30px;
	background-color:#fff;
	.box-slider-title{
		.header-style2;
	}
	.slider .item{
		margin:0;
		padding:0;
		.widget-post .item-detail{
			.item-date{
				float:left;
				.rtl &{
					float:right;
				}
				.day-post{
					font-size:46px;
					line-height:48px;
					margin-top:-5px;
					color:@color;
					font-weight:bold;
				}
				.month-post{
					text-transform:uppercase;
				}
				.month-post,.years-post{
					font-size:14px;
					color:@color;
					font-weight:bold;
					text-align:right;
					margin-right:10px;
				}
			}
			.item-content{
				margin-left:75px;
				border-left:1px solid #ebebeb;
				padding-left:30px;
				.rtl &{
					border-left:0;
					border-right:1px solid #ebebeb;
					margin-left:0;
					margin-right:75px;
					padding-left:0;
					padding-right:30px;
				}
				.content-meta{
					font-size:12px;
					color:#999;
					margin-bottom:10px;
					a{
						color:#999;
						&:hover{
							color:@color;
						}
					}
					span.author{
						&:after{
							content:'';
							background:#999;
							width:1px;
							height:10px;
							display:inline-block;
							margin:0 10px;
						}
					}
				}
				.image-thumbnail a{
					margin-bottom:9px;
					display:inline-block;
					position:relative;
					img{
						.transition(0.3s);
					}
					&:hover img{
						.opacity(0.8);
					}
				}
				h4{
					margin-bottom:5px;
					a{
						font-weight:bold;
						font-size:16px;
						color:#444;
						text-transform:capitalize;
						&:hover{ color:@color;}
					}
				}
				.description{
					color:#666;
					font-size:13px;
				}
				.readmore a{
					display:inline-block;
					margin-top:20px;
					color:#999;
					font-size:13px;
					padding:7px 28px;
					border:1px solid #ddd;
					.border-radius(3px);
					&:hover{
						color:#fff;
						background-color:@color;
						border:1px solid @color;
					}
				}
			}
		}
	}
	.res-button{
		.button-style1;
		top:28px !important;
		&.slick-prev{
			right:30px !important;
			left:auto;
			.rtl &{
				left:30px !important;
				right:auto !important;
			}
		}
		&.slick-next{
			right:0px !important;
			left:auto;
			.rtl &{
				left:0px !important;
				right:auto !important;
			}
		}
	}
	&:hover .res-button{
		&.slick-prev{
			right:30px !important;
			left:auto;
			.rtl &{
				left:30px !important;
				right:auto !important;
			}
		}
		&.slick-next{
			right:0px !important;
			left:auto;
			.rtl &{
				left:0px !important;
				right:auto !important; 
			}
		}
	}
}
/*Responsive slider index2*/
.responsive-post-slider{
	margin-bottom:30px;
	.box-slider-title{
			h2{
				font-size:16px;
				color:#fff;
				line-height:30px;
				padding:10px 20px;
				background-color:@color;
				font-weight:bold;
				text-transform:uppercase;
				margin:0;
			}
		}
		.slider{
			padding:20px;
			background-color:#fff;
			.item{
				padding:0;
				margin:0;
				.item-inner .widget-thumbnail{
					.img_over{
						img{
							.transition(0.2s);
						}
						&:hover img{
							.opacity(0.8);
						}
					}
					.entry-content{
						.widget-title h4{
							margin:15px 0 5px;
							a{
								font-size:14px;
								color:#444;
								font-weight:bold;
								text-transform:capitalize;
								&:hover{
									color:@color;
								}
							}
						}
						.entry-meta{
							color:#999;
							font-size:12px;
							a{
								text-transform:capitalize;
								color:#999;
								&:hover{
									color:@color;
								}
							}
							i{
								margin:0 10px 0 0;
								.rtl &{
									margin:0 0 0 10px;
								}
							}
							.author{
								margin-right:20px;
								.rtl &{
									margin-left:20px;
									margin-right:0;
								}
							}
						}
						.description{
							font-size:13px;
							color:#666;
							margin-top:12px;
						}
					}
				}
			}
		}
		.res-button{
			background:@color;
			left:auto !important;
			.button-style2;
			color:@color + #56244f;
			right:20px;
			&:hover:before{
				color:#fff;
			}
			&.slick-prev{
				right:35px;
				top:12px;
				.rtl &{
					left:35px !important;
					right:auto;
				}
				&:before{
					font-size:16px;
				}
			}
			&.slick-next{
				right:20px;
				top:12px;
				.rtl &{
					left:20px !important;
					right:auto;
				}
				&:before{
					font-size:16px;
				}
			}
		}
		&:hover{
			.res-button.slick-next{
				right:20px;
				.rtl &{
					right:auto;
				}
			}
		}
	}
/*Counter box home*/
.counter-box{
	background: url(@{url}/bg-counterbox.jpg) no-repeat  center center;	
	padding-top:40px;
	padding-bottom:40px;
	margin-bottom:0;
	.counter-home{
		float:left;
		width:25%;
		text-align:center;
		ul{
			margin:0;
			list-style:none;
			> li{
				&.icon-count{
					height:100px;
					width:100px;
					display:block;
					margin:0 auto 15px auto;
				}
				&.counterbox-number{
					font-size:36px;
					color:#fff;
					margin-bottom:10px;
					line-height:36px;
				}
				&.type{
					font-size:14px;
					color:#fff;
				}
			}
		}
		&.customers .icon-count{
			background: url(@{url}/icon-user.png) no-repeat center center;	
		}
		&.items .icon-count{
			background: url(@{url}/icon-items.png) no-repeat center center;	
		}
		&.views .icon-count{
			background: url(@{url}/icon-view.png) no-repeat center center;	
		}
		&.sales .icon-count{
			background: url(@{url}/icon-sales.png) no-repeat center center;	
		}
	}
}
/*Countdown slider*/
.countdown-slider{
	&.style1{
		&:hover{
			.res-button.slick-next{
				right:10px !important;
				.rtl &{
					right:auto !important;
					left:10px !important;
				}
			}
		}
		.res-button{
			top:-61px !important;
			height:30px;
			width:30px;
			background-color:#999;
			border-radius:50px;
			line-height:30px;
			text-align:center;
			&.slick-prev{
				right:45px;
				.rtl &{
					left:45px !important;
					right:auto;
				}
			}
			&.slick-next{
				right:10px;
				.rtl &{
					left:10px !important;
					right:auto;
				}
			}
			&:before{
				color:#fff;
				font-size:16px;
			}
			&:hover{
				background-color:@color;
				&:before{
					color:#fff;
				}
			}
		}
		.resp-slider-container{
			.box-slider-title{
				display:none;
			}
			.slick-slider .slick-list{
				margin:0 -15px;
				.item-countdown{
					.item-wrap{
						border:0;
						padding:0 15px 8px;
						margin-bottom:22px;
						overflow:hidden;
						.item-detail{
							border:1px solid #ddd;
							padding:20px 18px 25px 10px;
							.transition(all 0.3s ease-in 0s);
							.rtl &{
								padding:20px 10px 25px 18px;
							}
							&:hover{
								.box-shadow(8px 9px 0 #eee);
								border:1px solid @color;
								.item-content .product-countdown .c-time .date-time .text{
									background-color:@color;
								}
							}
							.products-thumb{
								float:left;
								width:50%;
								.rtl &{
									float:right;
								}
								.product-thumb-button{
									display:none;
								}
								.button-bottom-thumb{
									display:block;
									.button-cart a{
										margin:0 0 5px -4px;
										.rtl &{
											margin:0 -4px 5px 0;
										}
									}
								}
							}
							.item-content{
								text-align:left;
								.rtl &{
									text-align:right;
								}
								h4{
									a{
										font-size:15px;
										font-family:'LatoBold';
										text-transform:none;
									}
								}
								.reviews-content{
									padding:5px 0 0;
								}
								.item-price{						
									span{
										color:#e32020;
										font-size:19px;
										font-family:'LatoBold';
										del{
											display:none;
										}
										ins{
											span{
												color:#e32020;
												font-size:19px;
												font-family:'LatoBold';
											}
										}
									}
								}
								.product-countdown{
									background-color:#fff;
									color:#444;
									padding:8px 0;
									&:before{
										content:'';
										margin:0;
									}
									.c-time{
										display:inline-block;
										margin-right:5px;
										text-align:center;
										font-family:'LatoBold';
										.rtl &{
											margin-right:4px;
											&:after{
												content:'';
												margin:0;
											}
											.date-time{
												width:52px;
											}
											&:last-child{
												margin:0 4px 0 0;
											}
										}
										&:after{
											content:'';
											margin:0;
										}
										&:first-child{
											display:none;
										}
										&:last-child{
											margin:0;
										}
										.date-time{
											display:inline-block;
											font-size:17px;
											font-weight:bold;
											background-color:#eee;
											width:53px;
											padding-top:4px;
											.text{
												font-size:12px;
												color:#fff;
												padding:8px 7px;
												background-color:#999;
												display:block;
											}
										}
									}
								}
							}
							.sale-off{
								display:none;
							}
						}
					}
				}
			}
		}
	}
	.box-slider-title h2{
		font-size:18px;
		font-weight:bold;
		text-transform:uppercase;
		padding:20px;
		background-color:#fff;
		margin:0;
		position:relative;
		border-top:2px solid @color;
	}
	.slider{
		overflow:hidden;
		.slick-list{
			margin:0 -3px 0 0;
		.item-countdown{
			padding:0;
			margin:0;
			.item-wrap{
				padding:0;
				border-right:1px solid #ededed;
				border-top:1px solid #ededed;
				.item-detail{
					background-color:#fff;
					text-align:center;
					position:relative;
					z-index:1;
					.products-thumb .button-bottom-thumb{
						display:none;
					}
					.item-content{
						h4 {
							margin-bottom:5px;
							a{
								font-weight:bold;
								font-size:14px;
								color:#444;
								text-transform:capitalize;
								&:hover{
									color:@color;
								}
							}
						}
						.product-countdown{
							margin-top:15px;
							background-color:@color;
							color:#fff;
							font-size:12px;
							padding:8px 5px;
							span.c-time{
								&:after{
									content:'|';
									height:10px;
									display:inline-block;
									color:#ccc;
									opacity:0.7;
									margin:0 3px 0 5px;
								}
								&:last-child{
									&:after{
										content:'';
										height:0;
										margin:0;
									}
								}
							}
							&:before{
								content:'\f017';
								font-family:FontAwesome;
								margin:0 8px 0 0;
								font-size:16px;
							}
						}
					}
					.sale-off{
						position:absolute;
						top:10px;
						left:10px;
						z-index:2;
						width:40px;
						height:40px;
						text-align:center;
						line-height:40px;
						background-color:#f53b54;
						.border-radius(50%);
						font-size:12px;
						color:#fff;
						font-weight:bold;
						.rtl &{
							right:10px;
							left:auto;
						}
					}
				}
			}
		}
	}
	}
	.res-button{
		background:none;
		left:auto !important;
		top:18px !important;
		.button-style2;
		&.slick-prev{
			right:35px;
			.rtl &{
				left:35px !important;
				right:auto;
			}
		}
		&.slick-next{
			right:20px;
			.rtl &{
				left:20px !important;
				right:auto;
			}
		}
	}
	&:hover{
		.res-button.slick-next{
			right:20px !important;
			.rtl &{
				left:20px !important;
				right:auto !important;
			}
		}
	}
}
/*Contdown style 2*/
.countdown-slide.carousel{
	.carousel-inner{
		.item{
			min-height:422px;
			background-size:cover;
			padding:35px 0;
			.item-inner{
				text-align:center;
				color:#fff;
				h3{
					margin-bottom:25px;
					padding-bottom:15px;
					position:relative;
					&:before{
						background-color: #fff;
						bottom: 0;
						content: "";
						display: inline-block;
						height: 1px;
						left: 50%;
						margin-left: -40px;
						position: absolute;
						width: 80px;
					}
					a{
						font-family:'ChivoBlack';
						font-size:36px;
						color:#fff;
						text-transform:uppercase;
					}
				}
				.description{
					width:75%;
					margin:0 auto;
				}
				.product-countdown{
					margin:30px 0;
					text-align:center;
					.cd-time{
						display:inline-block;
						border:2px solid #fff;
						padding:3px;
						width:80px;
						height:80px;
						margin:0 10px;
						.border-radius(2px);
						.c-time{
							display:inline-block;
							background-color:#f5f5f5;
							.border-radius(3px);
							color:@color;
							font-size:24px;
							font-weight:bold;
							padding-top:12px;
							height:70px;
							width:70px;
							span.cd{
								margin-top:-7px;
								font-size:14px;
								display:block;
								font-weight:normal;
							}
						}
					}
				}
				.item-shop{
					border: 1px solid #fff;
					border-radius: 3px;
					color: #fff;
					display: inline-block;
					font-size: 16px;
					height: 40px;
					padding: 7px 42px;
					.transition(0.3s);
					&:hover{
						background-color:@color;
						border:1px solid @color;
					}
				}
			}
		}
	}
	.carousel-indicators{
		bottom:30px;
		> li{
			border:0;
			margin:0 5px;
			display:inline-block;
			width:20px;
			height:5px;
			border-radius:10px;
			background-color:#f5f5f5;
			&:hover{
				background-color:@color;
			}
		}
		li.active{
			background-color:@color;
		}
	}
}
/* tabs countdown slide */
.vc_tta.vc_tta-tabs{
	.vc_tta-tabs-container{
		margin:0;
		position:unset;
		.vc_tta-tabs-list{
			background-color:#444;
			color:#fff;
			.vc_tta-tab{
				border:0;
				border-radius:0;
				margin:0;
				.rtl &{
					float:right;
					> a{
						position:relative;
						padding-right:50px;					
						i{
							position:absolute;
							right:10px;
							top:20px;
						}
					}
					&:last-child > a > i{
						right:20px;
					}
				}
				> a{
					border:0;
					background-color:#444;
					font-size:17px;
					color:#fff;
					text-transform:uppercase;
					border-radius:0;
					position:relative;
					font-family:'QuicksandBold';
					.vc_tta-title-text{
						margin-left:4px;
					}
				}
				&.vc_active > a{
					background-color:@color;
					&:before{
						border-bottom: 50px solid transparent;
						border-left: 20px solid transparent;
						content: "";
						display: inline-block;
						height: 0;
						position: absolute;
						left: -20px;
						top: 0;
						width: 0;
						z-index:3;
						 .rtl &{
							 border-top: 50px solid transparent;
							 border-left: 20px solid transparent;
							 border-bottom:0;
						 }
					}
					&:after{
						content:'';
						position:absolute;
						right:-20px;
						top:0;
						width:0;
						height:0;
						display:inline-block;
						border-top:50px solid @color;
						border-right:20px solid transparent;
						z-index:3;
						.rtl &{
							left:-20px;
							right:auto;
							border-left:20px solid transparent;
							border-right:0;
						}
					}
					&:hover{
						&:before{
						border-bottom: 50px solid transparent;
						border-left: 20px solid transparent;
						content: "";
						display: inline-block;
						height: 0;
						position: absolute;
						left: -20px;
						top: 0;
						width: 0;
						z-index:3;
						 .rtl &{
							 border-top: 50px solid transparent;
							 border-left: 20px solid transparent;
							 border-bottom:0;
							}
						}
						&:after{
						content:'';
						position:absolute;
						right:-20px;
						top:0;
						width:0;
						height:0;
						display:inline-block;
						border-top:50px solid @color;
						border-right:20px solid transparent;
						z-index:3;
						.rtl &{
							left:-20px;
							right:auto;
							border-left:20px solid transparent;
							border-right:0;
							}
						}
					}
				}
			}
		}
	}
	.vc_tta-panels-container{
		.vc_tta-panels .vc_tta-panel{
			display: block !important;
			overflow: hidden !important;
			height: 0 !important;
			&.vc_active{
				height: auto !important;
				overflow: visible !important;
			}
			.vc_tta-panel-body{
				padding:20px 0 0;
				background-color:#fff;
				overflow:unset;
				border:0;
				display: block !important;
			}
		}
	}
}
.vc_tta-container{
	margin:0;
}
/*Testimonial slider*/
.testimonial-slider{
	background-color:#fff;
	.block-title{
		h2{
			font-size:16px;
			color:#fff;
			line-height:30px;
			padding:10px 20px;
			background-color:@color;
			font-weight:bold;
			text-transform:uppercase;
			margin:0;
		}
	}
	.carousel-inner{
		margin:16px 20px 20px;
		width:auto;
		text-align:center;
		.item .item-inner{
			.client-comment{
				font-style:normal;
				margin-bottom:5px;
				&:before{
					content:'';
					width:8px;
					height:8px;
					margin-right:12px;
					display:inline-block;
					background: url("../assets/img/quote1.png") no-repeat left top;
					.rtl &{
						background: url("../assets/img/quote2.png") no-repeat left top;
						margin-left:12px;
						margin-right:0;
					}
				}
				&:after{
					content:'';
					width:8px;
					height:8px;
					margin-left:12px;
					display:inline-block;
					background: url("../assets/img/quote2.png") no-repeat right bottom;
					.rtl &{
						background: url("../assets/img/quote1.png") no-repeat right bottom;
						margin-right:12px;
						margin-left:0;
					}
				}
			}
			.client-say-info .name-client{
				margin:0;
				padding-top:12px;
				a{
					font-weight:bold;
					color:#444;
					span.info{
						color:#666;
						font-weight:normal;
					}
				}
			}
		}
		
	}
	.image-client.images-indicators{
		text-align:center;
		padding-bottom:15px;
		.img-indicator{
			display:inline-block;
			a{
			display:inline-block;
			margin:0 10px;
			position:relative;
			border:3px solid #ccc;
			border-radius:50%;
			.transition(0.2s);
			&:after{
				background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
				border-radius: 50%;
				content: "";
				height: 100%;
				position: absolute;
				width: 100%;
				top:0;
				left:0;
				bottom:0;
				right:0;
			}
				img{
					border-radius:100%;
					width:58px;
					height:58px;
					.transition(0.3s);
				}
			}
			&.active a{
				border:3px solid @color;
				img{
					width:58px;
					height:58px;
				}
				&:after{
					background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
				}
				&:before{
					position:absolute;
					content:'';
					z-index:3;
					top:-8px;
					left:50%;
					margin-left:-6%;;
					width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 6px solid @color;
				}
			}
			&:hover a{
				border:3px solid @color;
			}
		}
	}
	&.indicators_up5{
		.carousel-inner{
			margin:0;
			.item .item-inner{
				.item-left{
					float:left;
					margin-right:15px;
					.rtl &{
						float:right;
						margin-left:15px;
						margin-right:0;
					}
					.img-indicator a{
						border-radius:50%;
						border:2px solid @color;
						display:inline-block;
						img{
							border-radius:100%;
						}
					}
					.client-say-info .name-client{
						padding-top:5px;
					}
				}
				.client-comment{
					padding:20px 20px;
					color:#fff;
					border-radius:5px;
					background-color:@color;
					float:left;
					width:72%;
					position:relative;
					.rtl &{
						float:right;
						&:before{
							border-left: 5px solid @color;
							border-right:0;
							right:-5px;
							left:auto;
						}
					}
					&:before{
						background:none;
						content:'';
						position:absolute;
						left:-5px;
						top:35px;
						width: 0; 
						height: 0; 
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-right: 5px solid @color;
					}
					&:after{
						background:none;
					}
				}
			}
		}
	}
	.carousel-indicators{
		top:-40px;
		position:absolute;
		right:0;
		left:auto;
		width:12%;
		.rtl &{
			left:0;
			right:auto;
		}
		li{
			background-color:#cdcdcd;
			&:hover{
				background-color:@color;
			}
			&.active{
				background-color:@color;
			}
		}
	}
}
/*Gallery Slider*/
.slider-gallery{
	position:relative;
	margin-bottom:30px;
	.block-title h2{
		font-size:16px;
		color:#fff;
		font-weight:bold;
		background-color:@color;
		margin:0;
		padding:10px 20px;
		line-height:30px;
		text-transform:uppercase;
	}
	.gallery-images-container{
		background-color:#fff;
		padding:20px;
		.gallery-responsive{
			overflow:visible;
			.slick-list{
				//overflow:visible;
				a{
					padding:0;
					opacity: 1 !important;
					img{
						display:block !important;
					}
				}
			}
			.slick-prev, .slick-next{
				position:absolute;
				top:-52px;
				right:0;
				left:auto;
				box-shadow:none;
				border:0;
				text-indent:-9999px;
				border-radius:0;
				width:8px;
				height:15px;
				text-align:center;
				color:@color + #56244f;
				background:none;
				line-height:15px;
				padding:0;
				.rtl &{
					left:0;
					right:auto;
				}
				&:before{
					font-size:16px;
					text-indent:0;
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:100%;
					text-align:center;
					display:inline-block;
				}
				&:hover{
					color:#fff;
				}
			}
			.slick-prev{
				right:12px;
				.rtl &{
					left:12px;
					right:auto;
					&:before{
						content:'\f105';
					}
				}
				&:before{
					content:'\f104';
					font-family:FontAwesome;
				}
			}
			.slick-next{
				&:before{
					content:'\f105';
					font-family:FontAwesome;
				}
				.rtl &{
					&:before{
						content:'\f104';
					}
				}
			}
		}
		.gallery-thumbnail-responsive{
			padding-top:10px;
			.slick-list{
				margin:0 -4px;
				.item-thumb{
					cursor:pointer;
					padding:0 5px;
					img{
						.transition(0.2s);
					}
					&:hover img{
						.opacity(0.8);
					}
				}
			}
		}
	}
}
/*Revo silder*/
.rev_slider_wrapper .rev_slider{
	ul > li{
		.tp-caption{ 
			white-space:nowrap !important;
			.item-text{
				font-size:16px;
				line-height:21px;
				color:#fff;
				font-weight:bold;
				&:before{
					content:'\f00c';
					font-family:FontAwesome;
					font-size:16px;
					color:#fff;
					margin-right:20px;
				}
				&.text-slide2{
					padding:7px 20px 7px 10px;
					background-color:@color;	
					margin-bottom:20px;
					border-right:1px solid #b5ae6b;
					display:inline-block;
				}
				&.text-slide3{
					padding:7px 20px 7px 10px;
					background-color:#666;
					border-right:1px solid #c4c1bc;
				}
			}
			.text-index2{
				color:#fff;
				font-size:14px !important;
				line-height:20px !important;
				text-align:center;
			}
			a{
				display:inline-block;
				font-size:16px;
				color:#fff;
				border-radius:3px;
				border:1px solid #fff;
				line-height:20px;
				padding:10px 28px;
				&:hover{
					background-color:@color;
					border:1px solid @color;
				}
			}
			.text-topindex2{
				font-size:16px;
				text-transform:uppercase;
				color:#fff;
				font-weight:bold;
				position:relative;
				font-family:'Roboto';;
				&:before{
					content:'';
					position:absolute;
					width:20px;
					top:-17px;
					left:0;
					height:2px;
					background-color:#fff;
				}
			}
		}
	}
}
/*Woo slider child cat*/
.woo-slider-default{
	background-color:#fff;
	.block-title{
		.header-style1;
		h2{
			border-bottom:0;
		}
	}
	.childcat-slider-content{
		//border-top:1px solid transparent;
		.childcat-content{
			float:left;
			width:195px;
			border-top:1px solid #ebebeb;
			.rtl &{
				float:right;
			}
			ul{
				margin:0;
				> li{
					list-style:none;
					line-height:40px;
					a{
						font-size:14px;
						line-height:22px;
						color:#444;
						display:block;
						padding:9px 20px;
						border-bottom:1px solid #ededed;
						&:hover{
							background-color:@color;
							color:#fff;
							border-bottom:1px solid @color;
						}
					}
				}
			}
		}
		.resp-slider-container{
			margin-left:195px;
			border-left:1px solid #ededed;
			.rtl &{
				margin-right:195px;
				margin-left:0;
				border-right:1px solid #ededed;
				border-left:0;
			}		
			.slider{
				.slick-list{
					margin:0;
				}
				.slick-slide{
					margin:0;
					padding:0;
					&.item-3columns{
						.item-wrap{
							width: 60%;
						}
					}
					&.item-5columns{
						.item-wrap{
							width: 25%;
							&.first-item{
								width:50%;
							}
						}
					}
					&.item-7columns{
						.item-wrap{
							width: 20%;
						}
					}
					&.item-9columns{
						.item-wrap{
							width: 15%;
						}
					}
					.item-wrap{
						padding:0;
						float: left;
						&.first-item{
							clear: both;
							width: 40%;
							.rtl &{
								float:right;
							}
							.item-detail{
								border-left: 0;
								h4{
									margin:0 !important;
								}
								.item-content .reviews-content{
									display:block;
									padding:0 0 1px;
								}
								.rtl &{
									border-right: 0;
								}
							}
						}
						.item-detail{
							position:relative;
							border-left:1px solid #ededed;
							border-right:none;
							//border-top:1px solid #ededed;
							position:relative;
							&:before{
								position:absolute;
								top:0px;
								background-color:#ededed;
								left:0;
								width:100%;
								content:'';
								height:1px;
								z-index:2;
							}
							.rtl &{
								border-right:1px solid #ededed;
								border-left:0
							}
							.item-content{
								text-align:center;
								padding-bottom:12px;
								h4{
									margin-bottom:5px;
									a{
										font-size:14px;
										font-weight:bold;
										text-transform:capitalize;
									}
								}
								.item-cart{
									display:none;
								}
								.item-price{
									margin-bottom:2px;
								}
								.reviews-content{
									display:none;
								}
							}
							.sale-off{
								font-size:12px;
								position:absolute;
								z-index:2;
								top:10px;
								left:10px;
								display:inline-block;
								width:40px;
								height:40px;
								.border-radius(50%);
								color:#fff;
								background:#f53b54;
								font-weight:bold;
								text-align:center;
								line-height:40px;
								.rtl &{
									right:10px;
									left:auto;
								}
							}
						}
					}
				}
			}
		}
	}
	.res-button{
		.button-style1;
	}
	&:hover .res-button{
		&.slick-prev{
			right:50px;
			left:auto;
			.rtl &{
				left:50px;
				right:auto;
			}
		}
		&.slick-next{
			right:20px;
			left:auto;
			.rtl &{
				left:20px;
				right:auto;
			}
		}
	}
	&.style2{
		margin-bottom:27px;
		position:relative;
		&:before{
			content:'';
			width:100%;
			height:2px;
			display:inline-block;
			background-color:@color;
			position:absolute;
			top:38px;
		}
		&:after{
			content:'';
			width:100%;
			height:2px;
			display:inline-block;
			background-color:#f5f5f5;
			position:absolute;
			bottom:0px;
			z-index:5;
		}
		.block-title{
			background-color:#f5f5f5;
			h2{
				border:0;
				font-size:18px;
				font-weight:bold;
				color:#fff;
				text-transform:uppercase;
				float:left;
				background-color:@color;
				padding:10px 20px;
				position:relative;
				.rtl &{
					float:right;
					&:before{
						left:-20px;
						border-left:20px solid transparent;
						right:auto;
						border-right:0;
					}
				}
				&:before{
					border-bottom:39px solid @color;
					border-right:20px solid transparent;
					content:'';
					display:inline-block;
					position:absolute;
					right:-20px;
					top:0;
					width:0;
				}
			}
		}
		.childcat-slider-content{
			position:relative;
			z-index:1;
			.childcat-content{
				position:absolute;
				right:70px;
				top:-40px;
				float:none;
				width:auto;
				border:0;
				.rtl &{
					left:70px;
					right:auto;
				}
				ul {
					 li{
						float:left;
						line-height:25px;
						.rtl &{
							float:right;
						}
						a{
							padding:0;
							font-size:13px;
							line-height:19px;
							padding:3px 15px;
							border:0;
							color:#444;
							border-radius:3px;
							position:relative;
								&:before{
									content:'';
									position:absolute;
									left:50%;
									height:0;
									width:0;
									bottom:-14px;
									border-bottom:5px solid @color;
									border-left:5px solid transparent;
									border-right:5px solid transparent;
									.opacity(0);
									margin-left:-5%;
								}
							&:hover{
								background-color:@color;
								color:#fff;
								&:before{
									.opacity(1);
								}
							}
						}
					}
				}
			}
			.resp-slider-container{
				margin:0;
				border:0;
				.slider .slick-slide .item-wrap .item-detail{
					&:before{
						top:-1px;
					}
				}
				.first-item{
					float:left;
					width:50%;
					.rtl &{
						float:right;
					}
				}
				.resp-slider-container{
					float:left;
					width:50%;
					.rtl &{
						float:right;
					}
				}
			}
		}
		.res-button{
			right:0px;
			.button-style2;
			background-color:#f5f5f5;
			color:#ccc;
			.rtl &{
				left:0px;
				right:auto;
			}
			&.slick-prev{
				right:15px;
				top:0;;
				.rtl &{
					left:15px;
					right:auto;
				}
			}
			&.slick-next{
				right:0;
				top:0;;
				.rtl &{
					left:0;
					right:auto;
				}
			}
		}
	}
}
/*Twitter slide bar*/
.sw-twitter-slider{
	margin-bottom:30px;
	.box-slider-title h2{
		font-size:16px;
		color:#fff;
		font-weight:bold;
		background-color:@color;
		margin:0;
		padding:10px 20px;
		line-height:30px;
		text-transform:uppercase;
	}
	a.carousel-control{
		display:none;
	}
	.carousel-inner{
		background-color:#fff;
		padding:0 20px 20px;
		.item-img{
			display:block;
			margin-top:20px;
			img{
				margin-right:10px;
				.rtl &{
					margin-left:10px;
					margin-right:0;
				}
			}
			.item-img-right{
				h4{
					font-size:14px;
					font-weight:bold;
					color:#444;
					text-transform:uppercase;
					margin-bottom:5px;
				}
				a{
					color:#999;
					&:hover{
						color:@color;
					}
				}
			}
		}
		.tweet-text{
			font-size:13px;
			color:#666;
			display:inline-block;
			margin:10px 0 12px;
			a{
				color:@color;
			}
		}
		.tweet-btn{
			padding-bottom:15px;
			border-bottom:1px solid #ededed;
			&:last-child{
				padding-bottom:0;
				border-bottom:0;
			}
			a{
				margin-right:20px;
				color:#999;
				.rtl &{
					margin-left:15px;
					margin-right:0;
					display:inline-block;
				}
				&:hover{
					color:@color;
				}
				&.reply-tweet{
					&:before{
						content:'\f064';
						font-family:FontAwesome;
						font-size:12px;
						margin-right:5px;
					}
				}
				&.retweet{
					&:before{
						content:'\f079';
						font-family:FontAwesome;
						font-size:12px;
						margin-right:5px;	
					}
				}
				&.favorite-tweet{
					&:before{
						content:'\f005';
						font-family:FontAwesome;
						font-size:12px;
						margin-right:5px;
					}
				}
			}
		}
	}
}
/* Banner slideshow index3 */
.banner-slideshow{
	&:hover{
		.carousel-control{
			.opacity(1);
			&.left{
				transform:translate3d(0,0,0);
			}
			&.right{
				transform:translate3d(0,0,0);
			}
		}
	}
	.carousel-indicators{
		bottom:-5px;
		> li{
			height:10px;
			width:10px;
			background-color:#fff;
			border:0;
			.transition(0.2s);
			border:1px solid transparent;
			margin:0 4px;
			&.active{
				height:10px;
				width:10px;
				background-color:@color;
				border:1px solid @color;
			}
		}
	}
	.carousel-control{
		color:#fff;
		background-color:none;
		opacity:1;
		text-shadow:none;
		margin-top:-2%;
		.transition(0.2s);
		.opacity(0);
		&:hover{
			&:before{
				color:@color;
			}
		}
		&:before{
			font-family:'FontAwesome';
			font-size:32px;
			color:#fff;
			&:hover{
				color:@color;
			}
		}
		&.left{
			left:10px;
			transform:translate3d(-30px,0,0);
			&:before{
				content:'\f053';
			}
			background-image:none;
		}
		&.right{
			right:10px;
			left:auto;
			transform:translate3d(30px,0,0);
			&:before{
				content:'\f054';
			}
			background-image:none;
		}
	}
}
/*=====================SW Woo tabs slider=============================================*/
.sw-woo-tab{
	margin-bottom:40px;
	&.style2{
		.top-tab-slider .order-title{
			&:before{
				background: url(@{url}/bg-cat-2.png) center center no-repeat transparent;
			}
		}
		.category-slider-content{
			.childcat-slider{
				float:right;
				.rtl &{
					float:left;
				}
			}
			 .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list .item .item-wrap .item-detail{
				border-left:1px solid #ddd;
				border-right:0;
				.rtl &{
					border-right:1px solid #ddd;
					border-left:0;
				}
			 }
		}
	}
	&.style3{
		.top-tab-slider .order-title{
			&:before{
				background: url(@{url}/bg-cat-3.png) center center no-repeat transparent;
			}
		}
	}
	&.style4{
		.top-tab-slider .order-title{
			&:before{
				background: url(@{url}/bg-cat-4.png) center center no-repeat transparent;
			}
		}
		.category-slider-content{
			.childcat-slider{
				float:right;
				.rtl &{
					float:left;
				}
			}
			 .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list .item .item-wrap .item-detail{
				border-left:1px solid #ddd;
				border-right:0;
				.rtl &{
					border-right:1px solid #ddd;
					border-left:0;
				}
			 }
		}
	}
	.top-tab-slider{
		background-color:#444;
		margin-bottom:20px;
		.order-title{ 
			float:left;
			min-width:260px;
			position:relative;
			background-color:@color;
			.rtl &{
				float:right;
			}
			&:before{
				content:'';
				background: url(@{url}/bg-cat-1.png) center center no-repeat transparent;
				position:absolute;
				right:-30px;
				bottom:auto;
				top:5px;
				width:40px;
				height:40px;
				display:inline-block;
				z-index:5;
				.rtl &{
					left:-30px;
					right:auto;
				}
			}
			&:after{
					content:'';
					position:absolute;
					right:-20px;
					top:0;
					width:0;
					height:0;
					display:inline-block;
					border-top:50px solid @color;
					border-right:20px solid transparent;
					z-index:3;
					.rtl &{
						left:-20px;
						right:auto;
						border-left:20px solid transparent;
						border-right:0;
					}
				}
			h2{
				font-size:17px;
				font-family:'QuicksandBold' !important;
				text-transform:uppercase;
				color:#fff;
				margin:0;
				line-height:50px;
				padding:0 25px;
			}
		}
		.nav.nav-tabs{
			float:right;
			border:0;
			margin:0;
			.rtl &{
				float:left;
			}
			> li{
				  display: inline-block;
				  cursor: pointer;
				  position: relative;
				  margin:0;
				  .rtl &{
					float:right;
				  }
				  &:after{
					content:'/';
					color:#ccc;
					position:absolute;
					font-size:16px;
					top:13px;
					right:5px;
					z-index:1;
					.rtl &{
						content:'';
					}
				  }
				> a{
					border:0;
					.border-radius(0);
					color:#eee;
					margin:0;
					padding: 0 8px;
					margin-right:20px;
				    line-height: 50px;
					background:none repeat scroll 0 0 transparent;
					text-transform:capitalize;
					font-size:13px;
					font-family:'LatoRegular';
					.rtl &{
						margin-left:20px;
						margin-right:0;
					}
					&:before{
						border-bottom: 50px solid transparent;
						border-left: 20px solid transparent;
						content: "";
						display: inline-block;
						height: 0;
						position: absolute;
						left: -20px;
						top: 0;
						width: 0;
						z-index:3;
						 .rtl &{
							 border-top: 50px solid transparent;
							 border-left: 20px solid transparent;
							 border-bottom:0;
						 }
					}
					&:after{
						border-top: 50px solid transparent;
						border-right: 20px solid transparent;
						content: "";
						display: inline-block;
						height: 0;
						position: absolute;
						right: -20px;
						top: 0;
						width: 0;
						z-index:3;
						.rtl &{
							border-right:20px solid transparent;
							border-bottom:50px solid transparent;
							border-top:0;
						}
					}
					&:hover{
						color:@color;
						background-color:#fff;
					}
				}
				&:last-child{
					&:after{
						content:'';
					}
				}
				&.active{
					&:after{
						right:7px;
					}
					a{
						color:#fff;
						background-color:@color;
						&:before{
							border-bottom-color:@color;
						}
						&:after{
							border-top-color:@color;
						}
						&:hover{
							background-color:@color;
							color:#fff;
							&:before{
								border-bottom-color:@color;
							}
							&:after{
								border-top-color:@color;
							}
						}
						.rtl &{
							&:after{
								border-bottom-color:@color;
							}
							&:before{
								border-top-color:@color;
							}
							&:hover{
								&:after{
									border-bottom-color:@color;
								}
								&:before{
									border-top-color:@color;
								}
							}
						}
					}
					.rtl &{
						// &:first-child a{
							// &:before{
								// border:0;
							// }
						// }
					}
				}
				&:hover{
					&:after{
						right:7px;
					}
					> a{
						background-color:@color;
						color:#fff;
						&:before{
							border-bottom-color:@color;
						}
						&:after{
							border-top-color:@color;
						}
						.rtl &{
							&:before{
								border-top-color:@color;
							}
							&:after{
								border-bottom-color:@color;
							}
						}
					}
					.rtl &{
						// &:first-child a{
							// &:before{
								// border:0;
							// }
						// }
					}
				}
				.rtl &{
					// &:first-child{
						// a{ margin:0;}
					// }
				}
			}
		}
	}
	.category-slider-content{
		.childcat-slider{
			float:left;
			position:relative;
			.childcat-thumb img{
				margin:0;
			}
			.rtl &{
				float:right;
			}
			.childcat-content{
				position: absolute; 
				top: 25px; 
				text-align: center; 
				width: 100%; 
				z-index: 5;
				ul{
					margin:0;
					list-style:none;
					li{
						line-height:40px;
						a{
							padding:10px 35px;
							background-color:none;
							font-size:15px;
							color:#fff;
							font-family:'LatoBold';
							&:hover{
								background-color:#eef5f6;
								color:@color;
							}
						}
					}
				}
			}
		}
		.tab-content{
			overflow:hidden;
			.tab-pane{
				display:block;
				height:0;
				overflow:hidden;
				.transition(all 0.5s ease 0s);
				.woo-tab-container-slider{
					.res-button{
						display:none !important;
					}
					.slick-slider{
							border-bottom:1px solid #ddd;
						.slick-list{
							margin:0;
							.item{
								margin:0;
								.item-wrap .item-detail{
									border:1px solid #ddd; 
									border-left:0;
									border-bottom:0;
									padding-bottom:21px;
									.rtl &{
										padding-bottom:21px;
									}
									.rtl &{
										border-right:0;
										border-left:1px solid #ddd;
									}
									.products-thumb{
										span.onsale{
											position:absolute;
											display:inline-block;
											height:26px;
											line-height:26px;
											width:58px;;
											padding:0 5px 0 15px;
											right:10px;
											top:10px;
											font-family:'LatoBold';
											font-size:12px;
											color:#fff;
											text-transform:uppercase;
											border-radius:0;
											text-align:center;
											background: url("../assets/img/bg-sale.png") no-repeat scroll center center;
											
											
										}
										.product-thumb-button{
											display:none;
										}
									}
									.item-content{
										text-align:center;
										h4 a{
											color:#444;
											font-size:15px;
											text-transform:none;
											font-family:'LatoBold';
											&:hover{
												color:@color;
											}
										}
										.item-price{
											span.amount{
												font-size:19px;
												color:#e32020;
												font-family:'LatoBold';
											}
											del{
												span.amount{
													font-size:16px;
													color:#909090;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				&.active{
					height:auto;
					overflow:visible;
				}
			}
		}
	}
}


