/*************** woocommerce page *************************/
.yith-wcwl-add-to-wishlist .yith-wcwl-add-button.hide, .yith-wcwl-add-to-wishlist .yith-wcwl-add-button{
	display:block !important;
	position:relative;
}
.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse, .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse{
	display:none !important;
}
.woocommerce, .woocommerce-page {
.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse, .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse{
	display:none!important;
}
/*Product nav*/
	span.onsale{
	height:40px;
	width:40px;
	line-height:39px;
	text-align:center;
	.border-radius(50%);
	background-color:#6dcff6;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	position:absolute;
	top:10px;
	right:10px;
}
	nav.woocommerce-pagination{
		float:right; 
	.products-page{ display:none;}
	ul.page-numbers{
		border: none !important;
		display: -moz-box !important;
		margin: 0px !important;
		li{
			margin-right:5px;
			border-right: none !important;
			.page-numbers{
				background-color:#fff;
				color:#666;
				width:25px;
				height:25px;
				border:1px solid #ededed;
				line-height:25px;
				padding:0;
				&.current{
					background:none repeat scroll 0 0 @color;
					color:#fff;
					border:1px solid @color;
					line-height:25px;
				}
				&:hover{
					background-color:@color;
					color:#fff;
					border:1px solid @color;
				}
			}
			a{
				padding:0;
				color:#666;
				&.next, &.prev{
					padding: 6px 11px;
					text-indent:-9999px;
					position:relative;
					z-index:1;
				}
				&.next{
					&:before{
						text-indent:0;
						position:absolute;
						z-index:3;
						top:-2px;
						left:10px;
						right:auto;
						content:'\f105';
						font-family:FontAwesome;
						font-size:14px;
						color:#999;
					}
					&:hover{
						&:before{
							color:#fff;
						}
					}
				}
				&.prev{
					&:before{
						text-indent:0;
						position:absolute;
						z-index:3;
						top:-2px;
						left:10px;
						right:auto;
						content:'\f104';
						font-family:FontAwesome;
						font-size:16px;
						color:#999;
					}
					&:hover{
						&:before{
							color:#fff;
						}
					}
				}
			}
		}
	}
}
	#respond input#submit.alt,button.button.alt,input.button.alt{
		  background:@color;
		}
		.box-layout{
		    .widget_price_filter {
			   .price_slider_amount {
			       #min_price,#max_price {
				     width:30%;
				   }
			   }
			}
		}
		/*********************** button quantity *************/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.quantity{
   margin: 0 auto;
   overflow: hidden;
   zoom: 1;
   display: inline-block;
   position:relative;
   input.qty{
      border: 1px solid #ebebeb;
      .border-radius(0px);
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      text-align: center !important;
      font-weight: 700;
      -moz-appearance: textfield;
	  color:#999;
   } 
   .plus,.minus {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 1.387em;
    height: 20px;
    text-decoration: none;
    overflow: visible;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color: #999;
    border:0;
    text-shadow: none;
    line-height: 15px;
    background-image: none;
    &:hover{ background-color: @color;}
   }
   .plus{ 
       top: 0;
       right: 0;
       border-bottom: 0;
       border-radius: 0px; 
   }
   .minus {
         bottom: 0;
      right: 0;
      border-radius: 0px;
   }
   
  }
/************price filter **********/
    .widget_price_filter {
        form{
		      padding: 20px;
			  background-color:#fff;
		}	
	    h3 {
		     font-size:14px;
			 text-transform: uppercase;
			 margin-bottom:20px;
		}
	    .price_slider_wrapper .ui-widget-content {
		   background:@color;
		   margin-bottom:20px;
		}
	    .ui-slider {
			.ui-slider-range {
				  background-color: #cccccc;
			}
			.ui-slider-handle {
				  width: 12px;
				  height: 12px;
				  background:@color;
				  top: -3px;
				  border-radius:0;
				  &.ui-state-hover {
					border:0;
				  }
			}
		}
		.price_slider_amount {
		   #min_price,#max_price {
		      display:inline-block!important;
			  width:31%;
			  float:left;
			  height:28px;
			  line-height:28px;
			  margin-right:10px;
			  margin-bottom:0;
			   .border-radius(0);
			   margin-top:3px;
			   color:#666;
		   }
		   .button {
			  margin-top:20px;
		      font-size:12px;
			  text-transform:capitalize;
			  background:@color;
			  padding:7px 36px;
			  height:35px;
			  font-size:14px;
			  font-weight:bold;
			  line-height:21px;
			  color:#fff;
			  .border-radius(3px);
			  &:hover{
				 color:#fff;
				 background:none repeat scroll 0 0 @color;
			  }
			  &:hover{
				background:none repeat scroll 0 0  darken(@color, 10%);
			  }
		   }
		   .price_label{
		      display:none!important;
		   }
		  
		   
		}
	}
    .cart-collaterals{
            .cart_totals{
                width: 48%;
                float: left;
                margin-right: 2%;
                h2{
                    border-bottom: 1px solid #eee;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                }
                table{
                    width: 100%;
                    .border-radius(0);
                    border: 1px solid #eee;
					background-color:#fff;
                    tr{
                        border: 0;                      
                        th, td{
                            border: 0;
                            padding: 10px;
                        }
                        td{
                            text-align: right;
							 .shipping_calculator{
							   display:none;
							 }
                        }
                        &.order-total{
                            th, td{
                                border-top: 1px solid #eee;
                                .amount{
                                    font-size: 18px;
                                    font-weight: normal;
                                    color: @color;
                                }
                            }
                        }
                    }
                }
                .wc-proceed-to-checkout{
                    .checkout-button{
						background: @color;
                        display: inline-block;
                        text-shadow: none;
                        font-weight: normal;
                        font-size: 11px;
                        padding: 7px 15px;
						line-height:20px;
						color:#fff;
                        &:hover{
							color:#fff;
                            background: none repeat scroll 0 0 darken(@color, 10);
                        }
                    }
                }
            }
            .shipping_calculator{
                float: left;
                margin-left: 2%;
                width: 48%;
                h2{
                    border-bottom: 1px solid #eee;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    a:after{
                        content: "";
                    }
                }
                .shipping-calculator-form{
                    .form-row{
                        padding: 5px 0;
                        .input-text{
                            .border-radius(0);
                        }                       
                    }
                    .button{
                        background: @color;
                        color: #fff;
                        border-color: @color;
                        width: auto;
                        display: inline-block;
                        .box-shadow(none);
                        text-shadow: none;
                        font-weight: normal;
                        &:hover{
                            background: darken(@color, 10);
                        }
                    }
                }
            }
    } 
	#reviews #review_form_wrapper #review_form .comment-form .form-submit input {
	  background: none repeat scroll 0 0 #ccc;
	  border: 0 none;
	  border-radius: 0;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  color: #fff;
	  cursor: pointer;
	  display: inline-block;
	  font-family: inherit;
	  font-size: 100%;
	  font-weight: normal;
	  left: auto;
	  line-height: 1em;
	  margin: 0;
	  overflow: visible;
	  padding: 10px;
	  position: relative;
	  text-decoration: none;
	  text-shadow: none;
	  white-space: nowrap;
	  color:#666;
	  &:hover {
		 background:@color;
		 color:#fff;
	  }
	}
}
/*Product nav*/
.products-nav {
	background-color:#fff;
	margin-bottom: 25px;
	display: inline-block;
	width: 100%;
	height:50px;
	padding:12px 10px;
	&:last-child{
		margin-bottom:5px;
	}
	.view-mode-wrap{
		margin-right: 10px;
		float:left;
		.rtl &{
			float:right;
			margin-left:10px;
			margin-right:0;
		}
		.view-mode {
		   a {
				float: left;
				overflow: hidden;
				background-repeat: no-repeat;
				.transition(0.2s);
				display:inline-block;;
				width:25px;
				height:25px;
				margin-right:10px;
				&:hover{
					transform:rotate(180deg);
					-ms-transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
				}
				.rtl &{
					float:right;
					margin-left:10px;
					margin-right:0;
				}
				> span{
					display:none;;
				}
				     &.grid-view{
						background: url(../assets/img/bg-grid.png) no-repeat 0 0;
						&:hover{
							background: url(@{url}/bg-grid-active.png) no-repeat center center;
						}
							&.active {
							background: url(@{url}/bg-grid-active.png) no-repeat center center;
						}
					}
					&.list-view{
						background: url(../assets/img/bg-list.png) no-repeat 0 0;
						&:hover{
							background: url(@{url}/bg-list-active.png) no-repeat center center;
						}
					&.active {
						background: url(@{url}/bg-list-active.png) no-repeat center center;
					}
				}

		   }
		}
	}
    ul {
      list-style: none;
      margin: 0;
    }
    .catalog-ordering {
      float: left;
      border-right: 1px solid #fff;
	  .rtl &{
		float:right;
		border-left:1px solid #fff;
		border-right:0;
	  }
      .orderby-order-container {
        display: inline-block;
		span.sort{
			float:left;
			line-height:25px;
			font-size:12px;
			.rtl &{
				float:right;
			}
		}
        ul {
          li {
            list-style: none;
            display: block;
            line-height: 25px;
            span.current-li {
              background: @colorfff;
              display: block;
              padding: 0 10px;
              border: 1px solid #dfdfdf;
			  position:relative;
			  .rtl &{
				padding:0;
			  }
			  &:before{
				position:absolute;
				top:-3px;
				right:15px;
				content:'\f0dd';
				font-size:14px;
				color:#999;
				font-family:FontAwesome;
				.rtl &{
					left:15px;
					right:auto;
				}
			  }
			  &:after{
					content:'';
					position:absolute;
					width:1px;
					height:100%;
					right:40px;
					top:0;
				.rtl &{
					left:40px;
					right:auto;
				}
			  }
            }
            a {
              font-size: 12px;
              padding: 0 15px 0 0;
              color: #999;
              display: block;
			  white-space: nowrap;
              strong {
                font-weight: normal;
              }
              &:hover {
                cursor: pointer;
              }
            }
            ul {
              width: 85px;
			  border: 1px solid #ccc;
              position: absolute;
              z-index: 9868;
			  background-color:#fff;
              //background: @colorfff;   
			  display: none;
              li {
                list-style: none;
                width: 100%;
                clear: both;
                &:last-child a {
                  border: none !important;
                }
                a {
				  font-weight: bold;
                  width: 100%;
                  border: none;
                  background: none;
                  padding: 0 10px;
                  font-weight: normal;
                  border-bottom: 1px dashed #ddd;
                  &:hover {
                    .transition-duration(0.3s);
                    background-color: @color;
                    color: #fff;
                  }

                }
              }
            }
          }
        }
        ul.order-dropdown {
          display: inline-block;
        }
        ul.orderby{
		  float:left;
		  margin:0 10px;
		  width: 85px;
		  .rtl &{
			float:right;
		  }
        }
		ul.order{
			float:left;
			.rtl &{
				float:right;
			}
			li{
				background: url(../assets/img/icon-desc.png) no-repeat center center;
				a{
					display:inline-block;
					width:6px;
					height:100%;
					padding:0;
				}
			}
		}
      }
    }
	.count-per-page{
		float:right;
		margin-right:30px;
		line-height:27px;
		> span{
			font-size:12px;
			.rtl &{
				float:right;
			}
		}
		span.per-page{
			font-size:12px;
			.rtl &{
				float:left;
			}
		}
		.rtl &{
			float:left;
			margin-left:30px;
			margin-right:0;
		}
		ul {
			display:inline-block;
			width:65px;
			margin:0 10px;
          li {
            list-style: none;
            display: block;
            line-height: 25px;
            span.current-li {
              background: @colorfff;
              display: block;
              padding: 0 10px;
              border: 1px solid #ededed;
			  position:relative;
			  .rtl &{
				padding:0;
			  }
			  &:before{
				position:absolute;
				top:-3px;
				right:15px;
				content:'\f0dd';
				font-size:14px;
				color:#999;
				font-family:FontAwesome;
				.rtl &{
					left:15px;
					right:auto;
				}
			  }
			  &:after{
					content:'';
					position:absolute;
					width:1px;
					height:100%;
					right:40px;
					top:0;
				.rtl &{
					left:40px;
					right:auto;
				}
			  }
            }
            a {
              font-size: 12px;
              padding: 0 15px 0 0;
              color: #999;
              display: block;
			  white-space: nowrap;
              strong {
                font-weight: normal;
              }
              &:hover {
                cursor: pointer;
              }
            }
            ul {
              width: 65px;
			  border: 1px solid #ededed;
              position: absolute;
			  margin:0;
              z-index: 9868;
			  background-color:#fff;
			  display: none;
              li {
                list-style: none;
                width: 100%;
                clear: both;
                &:last-child a {
                  border: none !important;
                }
                a {
				  font-weight: bold;
                  width: 100%;
                  border: none;
                  background: none;
                  padding: 0 10px;
                  font-weight: normal;
                  border-bottom: 1px dashed #ddd;
                  &:hover {
                    .transition-duration(0.3s);
                    background-color: @color;
                    color: #fff;
                  }

                }
              }
            }
          }
        }
	}
  }
// price
.price,.item-price,.item_price, .product-price{
			font-weight:bold;
			font-size:14px;
			span.amount{
				color:#f53b54;
			}
			del{
				margin-right:5px;
				font-size:12px;
				font-weight:normal;
				.rtl &{
					margin-left:5px;
					margin-right:0;
				}
				span.amount{
					color:#909090;
				}
			}
			ins{
				text-decoration:none;
				font-size:14px;
				span.amount{
					color:#f53b54;
				}
		}
}
//add to cart
.product_type_grouped,.product_type_external, .woocommerce a.add_to_cart_button, a.add_to_cart_button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
}
 .woocommerce a.add_to_cart_button, a.add_to_cart_button{
	&.loading{
			background: url(../assets/img/loadingp.gif) no-repeat center center @color !important;
			color:#fff !important;
			border:1px solid @color !important;
			.opacity(0.5);
		&:before{
			content:'';
			background:none !important;
		}
	}
	&.added{
		background: url(../assets/img/added.png) no-repeat left 5px top 5px  @color !important;
		color:#fff !important;
		border:1px solid @color !important;
		padding:7px 10px 7px 30px !important;
		&:after{
			content:'' !important;
		}
	}
 }

// reivew
div.star{
	background: url(../assets/img/star.png) 0 0 repeat-x;
	display: inline-block;
	height: 12px;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 70px;
		span{
			float: left;
			left: 0;
			overflow: hidden;
			padding-top: 1.5em;
			position: absolute;
			top: 0;
			background: url(../assets/img/star-active3.png) 0 0 repeat-x;
		}
}
.reviews-content{
	display:block;
	padding:0 0 5px;
		.star{
            background: url(../assets/img/star.png) 0 0 repeat-x;
            display: inline-block;
		    height: 12px;
            margin: 0;
            overflow: hidden;
            position: relative;
            width: 70px;
                span{
                    float: left;
					left: 0;
					overflow: hidden;
					padding-top: 1.5em;
					position: absolute;
					top: 0;
                    background: url(../assets/img/star-active.png) 0 0 repeat-x;
          }

	}
	.star2{
		 background: url(../assets/img/star-3.png) 0 0 repeat-x;
		display: inline-block;
		height: 15px;
		margin: 0;
		overflow: hidden;
		position: relative;
		width: 85px;
			span{
				float: left;
				left: 0;
				overflow: hidden;
				padding-top: 1.5em;
				position: absolute;
				top: 0;
				background: url(../assets/img/star-active3.png) 0 0 repeat-x;
	  }
	}
	.woocommerce-review-link{
		font-size:11px;
		color:#999;
		font-family:'Arial';
	}
}

// onsale
span.onsale{
	height:40px;
	width:40px;
	line-height:39px;
	text-align:center;
	.border-radius(50%);
	background-color:#6dcff6;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
}
/*Product thumbnail*/
.products-thumb{
	position:relative;
	z-index:1;
		span.onsale{
		display:none;
	}
	.product-thumb-button{
		position:absolute;
		top:40%;
		left:50%;
		.opacity(0);
		.transition(0.3s);
		margin-top:-18px;
		margin-left:-83px;
		a{
			background-color:#999;
			float:left;
			height:40px;
			width:40px;
			text-align:center;
			margin:0 1px;
			position:relative;
			text-indent:-9999em;
			.border-radius(0);
			border:0 !important;
			padding:0;
			color:#fff;
			font-weight:normal;
			&:hover{
				background-color:@color;
				color:#fff;
			}
			&:before{
				font-size:14px;
				position:absolute;
				line-height:40px;
				left:0;
				top:0;
				display:inline-block;
				width:100%;
				height:100%;
				z-index:3;
				text-indent:0;
			}
			.rtl &{
				float:right;
			}
		}
		.added_to_cart.wc-forward{
			display:none;
		}
		.add_to_cart_button,.product_type_grouped, .product_type_external{
			&:before{
				content:'\f07a';
				font-family:FontAwesome;
			}
		}
		.compare-button{
			float:left;
			.rtl &{
				float:right;
			}
			.compare{
				&:before{
					content:'\f074';
					font-family:FontAwesome;
				}
			}
		}
		.yith-wcwl-add-to-wishlist{
			float:left;
			margin:0;
			position:relative;
			.rtl &{
				float:right;
			}
			.yith-wcwl-add-button{
				display:block!important;
				a.add_to_wishlist{
						&:before{
							content:'\f004';
							font-family:FontAwesome;
						}
					}
				
				img.ajax-loading{ 
					position:absolute;
					top:10px;
					left:8px;
				}
			}
			.yith-wcwl-wishlistexistsbrowse{
					span.feedback, a{
						display:none!important;
					}
			}
		}
		a.fancybox{
			&:before{
				content:'\f06e';
				font-family:FontAwesome;
			}
		}
	}
	.button-bottom-thumb{
		position:absolute;
		top:40%;
		left:50%;
		.transition(0.3s);
		margin-top:-18px;
		margin-left:-60px;
		.button-cart{
			.opacity(0);
			.transition(0.3s);
			transform: translate3d(0, -30px, 0);
			a{
				display:inline-block;
				height:35px;
				line-height:35px;
				padding: 0 5px;
				background-color:#444;
				font-size:12px;
				color:#fff;
				text-transform:uppercase;
				margin-bottom:6px;
				border-radius:2px;
				font-family:'LatoBold';
				border:0;
				width:115px;
				text-align:center;
				&:before{
					content:'\f07a';
					font-family:FontAwesome;
					font-size:14px;
					color:#fff;
					margin:0 5px 0 0;
				}
				.rtl &{
					&:after{
						content:'\f07a';
						font-family:FontAwesome;
						font-size:14px;
						color:#fff;
						margin:0 0 0 5px;
					}
					&:before{
						content:'';
						margin:0;
					}
				}
				&:hover{
					background-color:@color;
				}
				&.added_to_cart.wc-forward{
					display:none;
				}
				&.added{
					border:0 !important;
					padding:0 !important;
				}
			}
		}
		.button-bottom{
			.opacity(0);
			.transition(0.3s);
			transform: translate3d(0, 30px, 0);
			a{
			background-color:#444;
			float:left;
			height:35px;
			width:35px;
			text-align:center;
			margin:0 5px 0 0;
			position:relative;
			text-indent:-9999em;
			.border-radius(0);
			border:0 !important;
			padding:0;
			color:#fff;
			font-weight:normal;
			border-radius:2px;
			.rtl &{
				margin:0 0 0 5px;
			}
			&:hover{
				background-color:@color;
				color:#fff;
			}
			&:before{
				font-size:14px;
				position:absolute;
				line-height:35px;
				left:0;
				top:0;
				display:inline-block;
				width:100%;
				height:100%;
				z-index:3;
				text-indent:0;
			}
			.rtl &{
				float:right;
			}
		}
		.compare-button{
			float:left;
			.rtl &{
				float:right;
			}
			.compare{
				&:before{
					content:'\f074';
					font-family:FontAwesome;
				}
			}
		}
		.yith-wcwl-add-to-wishlist{
			float:left;
			margin:0;
			position:relative;
			.rtl &{
				float:right;
			}
			.yith-wcwl-add-button{
				display:block!important;
				a.add_to_wishlist{
						&:before{
							content:'\f08a';
							font-family:FontAwesome;
						}
					}
				
				img.ajax-loading{ 
					position:absolute;
					top:10px;
					left:8px;
				}
			}
			.yith-wcwl-wishlistexistsbrowse{
					span.feedback, a{
						display:none!important;
					}
			}
		}
		a.fancybox{
			&:before{
				content:'\f002';
				font-family:FontAwesome;
				}
			}
		}
	}
	&:hover{
		.product-thumb-button{
			.opacity(1);
			top:50%;
		}
		.button-bottom-thumb{
			.button-bottom{
				.opacity(1);
				transform: translate3d(0, 0, 0);
			}
			.button-cart{
				.opacity(1);
				transform: translate3d(0, 0, 0);
			}
		}
	}
}
@-moz-document url-prefix() { 
  .sw-woo-tab .category-slider-content .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list .item .item-wrap .item-detail{
	padding-bottom:20px !important;
	.rtl &{
		padding-bottom:19px !important;
	}
  }
}
/*Remove printer*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*Quick view*/
.quickview-container{
	background-color:#fff;
	padding:20px 10px;
}


.bottom-single-product{
		float:left;
		width:100%;
	}
/*==============================================Page Woocommerce=====================================================*/
/*----------------------------------Cart----------------------------------*/

table.shop_table {
	background-color:#fff;
  tr {
    td {
      vertical-align: middle;
    }
	.product-name a{
		text-transform:capitalize;
	}
  }
  .coupon {
    width: auto;
    float: left;
    label {
      vertical-align: middle;
      padding-top: 5px;
    }
    input#coupon_code {
      width: 30%;
      height: 32px !important;
      padding: 2px 6px;
	  text-align:center;
    }
    input {
      display: inline-block;
      vertical-align: top;
    }
	input.button{
		float:left !important;
		margin-left:20px;
		.rtl &{
			float:right !important;
			margin-right:20px;
			margin-left:0;
		}
	}
  }
  .box-chekout {
    display: inline-block;
  }
}
.form-row input {
  padding: 10px;
  &.button{
	padding: 10px 25px;
	background: @color;
	box-shadow: none;
	color: #fff;
	text-shadow: none;
	border: 1px solid #fff;
	&:hover{
		background: #fff;
		border: 1px solid @body-color;
		color: @color;
	}
  }
}

form.checkout{
	margin-bottom:50px;
	h3{margin-bottom:30px;}
 }
 .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message{
	border-top: 3px solid @color !important;
	&:before{
		height: auto !important;
		background: @color !important;
	}
 }
.woocommerce-page, .post{
	#contents{
		margin-bottom: 30px;
	}
}
 .woocommerce table.shop_table, .woocommerce-page table.shop_table{
	td.actions{
		padding: 15px 10px !important;
		input{
			margin-bottom: 0;
		}
		.button{
			background:@color;
			color: #fff;
			text-shadow: none;
			font-weight: normal;
			&:hover{
				background: darken(@color, 10%);
				color: #fff;
			}
		}
		.checkout-button{
			background: @color;
			box-shadow: none;
			color: #fff;
			text-shadow: none;
			&:hover{
				background: #fff;
				color: @color;
			}
		}
	}
 }
 .woocommerce #reviews h3, .woocommerce-page #reviews h3{
	margin-bottom: 20px !important;
 }
 .woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, 
 .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button,
 .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, 
 .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, 
 .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button,
 .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input{
	width:auto;
 }
 .woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon,
 .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon{
	float:left;
 }
.woocommerce, .woocommerce-page{
	#customer_login{
		h2{
			border-bottom: 1px solid #f1f1f1;
			padding-bottom: 15px;
			margin-bottom: 20px;
		}
		form.login, form.register{
			border: 0;
			padding: 0;
			.form-row{
				.input-text{
					.border-radius(0);
					background: #f1f1f1;
					border: 0;
				}
				input.button{
					border: 0;
					.border-radius(0);
					margin-bottom: 10px;
					&:hover{
						background: darken(@color, 10);
						color: #fff;
					}
				}
			}
		}
	}
	form.lost_reset_password{
		.form-row{
			width: 300px;
			.input-text{
				.border-radius(0);
				background: #f1f1f1;
				border: 0;
			}
			input.button{
				border: 0;
				.border-radius(0);
				margin-bottom: 10px;
				&:hover{
					background: darken(@color, 10);
					color: #fff;
				}
			}
		}
	}
	.entry-content form.login{
		border: 0;
		padding: 0;
		.form-row-first, .form-row-last{
			float: left;
			width: 48.5%;
			padding: 0;
			margin-bottom: 15px;
			.input-text{
				.border-radius(0);
				background: #f1f1f1;
				border: 0;
			}
		}
		.form-row-last{
			margin-left: 3%;
		}
		.form-row{
			label.inline{
				clear: both;
				display: block;
			}
			input.button{
				border: 0;
				.border-radius(0);
				margin-bottom: 10px;
				&:hover{
					background: darken(@color, 10);
					color: #fff;
				}
			}
		}
		.lost_password a{
			color: @color;
			&:hover{
				color: darken(@color, 15);
			}
		}
	}
	.entry-content .checkout_coupon{
		padding: 0;
		border: 0;
		.form-row{
			width: 180px;
			float: left;
			padding: 0;
			.input-text{
				.border-radius(0);
				background: #f1f1f1;
				border: 0;
				height:33px;
			}
			input.button{
				border: 0;
				.border-radius(0);
				line-height: initial;
				height:33px;
				&:hover{
					background: darken(@color, 10);
					color: #fff;
				}
			}
		}
	}
	.checkout{
		.col2-set{
			.col-1, .col-2{
				float: left;
				width: 50%;
				h3{
					border-bottom: 1px solid #f1f1f1;
					padding-bottom: 10px;
					margin-bottom: 20px;
				}
				.chosen-container-single .chosen-single{
					.border-radius(3px);
				}
				input, textarea{
					background: #f1f1f1;
					.border-radius(0);
					border: 0;
				}
				textarea{
					padding: 10px;
					min-height: 80px;
				}
			}
			.col-1{
				.woocommerce-billing-fields{
					padding-right: 15px;
				}
			}
			.col-2{
				.woocommerce-shipping-fields{
					padding-left: 15px;
					h3#ship-to-different-address{					
						padding: 0 0 10px;
						width: 100%;
						> label{
							padding: 0;
							margin: 0;
							font-weight: normal;
							vertical-align: initial;
						}
					}
				}
			}
		}
		#order_review{
			table.shop_table{				
				.border-radius(0);	
				border: 0;
				td, tfoot th{
					border-top: 1px solid #fff;
					padding: 10px 15px;
				}
				tr{
					background: #f1f1f1;
					&:hover{
						background: darken(#f1f1f1, 10);
						cursor: pointer;
					}
				}
			}
		}
		#payment{
			.border-radius(0);
			#place_order{
				width: auto;
				border: 0;
				background: @color;
				color: #fff;
				text-shadow: none;
				.border-radius(3px);
				&:hover{
					background: darken(@color, 15);
				}
			}
		}
	}
	#content .cart{
	    input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
		  display:none;
		}
			
		.single_add_to_cart_button{
			margin-left: 5px;
		}
	}
	.wishlist_table td.product-add-to-cart a{ margin:0; line-height:18px;}
	#yith-wcwl-form{
		table.shop_table{				
			.border-radius(0);	
			border: 0;
			background:#fff;
			margin-bottom:40px;
			td, tfoot th{
				border-top: 1px solid #fff;
				padding: 10px 15px;
				text-align: start;
			}
			tr{
				//background: #f1f1f1;
				// &:hover{
					// background: darken(#f1f1f1, 10);
					// cursor: pointer;
				// }
				.product-name, .product-stock-stauts{
					font-size:14px;
				}
				td{
					&.product-add-to-cart{
						.add_to_cart{
							background: #868686;
							.border-radius(3px);
							.box-shadow(none);
							border: 0;
							text-shadow: none;
							 &:hover{
								 background: @color;
							 }
						}	
					}
					.yith-wcwl-share{
						text-align:center;
					}
				}
			}
		}
	}
	 form .form-row, form .form-row{
		label{
			#rememberme{
				float: left;
				margin: 4px 5px 0 0;
			}
		}
	}
	form .lost_password a{
		color: @body-color;
		&:hover{
			color: @color;
		}
	}
}
.woocommerce-wishlist  .page header, .woocommerce-checkout .page header, .woocommerce-account .page header{
	margin-bottom:15px;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message, 
.woocommerce-page .woocommerce-error, 
.woocommerce-page .woocommerce-info, 
.woocommerce-page .woocommerce-message{
	border-top-color: @color !important;
	&:before{
		height: 2.5em !important;
		background: @color !important;
	}
}
 .shipping-calculator-form{
	select, input, button{
		width: auto !important;
		min-width: 280px;
	}
	select{
		padding: 5px !important;
	}
	.button{
		color: #fff !important;
		background: @color !important;
		text-shadow: none !important;
		width: auto !important;
		min-width: initial;
		&:hover{
			background: #fff !important;
			color: @color !important;
		}
	}
 }
 .woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after{
   display:none;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{
   background:@color;
}
.woocommerce-checkout .woocommerce, .woocommerce-account .woocommerce{
	background:#fff;
	padding:15px 15px 0;
	 #payment ul.payment_methods{
		border:0;
	}
	.woocommerce-checkout-payment .place-order{
		background:#fff;
	}
}
.number-spin-btn-container{
   display:none!important;
}
/*Product Grid*/
.products-wrapper{
	overflow:hidden;
	.listing-title h1{
		font-size:18px;
		font-weight:bold;
		color:#444;
		text-transform:uppercase;
		margin:7px 0 15px;
	}
	.products-loop{
		list-style:none;
		margin:0 0 30px;
		&.grid{
			margin-right:-1px;
			position:relative;
			.rtl &{
				margin-left:-1px;
				margin-right:0;
			}
			> li{
				border-right:1px solid #ededed;
				border-bottom:1px solid #ededed;
				background-color:#fff;
				.products-entry {
					.products-thumb{
					
					}
					.products-content{
						padding-bottom:15px;
						text-align:center;
						h4 a{
							font-size:14px;
							color:#444;
							font-weight:bold;
							text-transform:capitalize;
							&:hover{
								color:@color;
							}
						}
						.item-desc, .item-cart{
							display:none;
						}
					}
				}
			}
		}
		&.list{
			> li{
				float:left;
				margin-bottom:30px;
				background-color:#fff;
				width:100%;
				padding:20px;
				.products-entry {
					.products-thumb{
						float:left;
						margin-right:20px;
						border:1px solid #ededed;
						max-width:245px;
						.rtl &{
							float:right;
							margin-left:20px;
							margin-right:0;
						}
						.product-thumb-button{
							left:50%;
							top:50%;
							margin-top:-20px;
							margin-left:-27px;
							.add_to_cart_button, .compare, .yith-wcwl-add-to-wishlist  .add_to_wishlist{
								display:none;
							}
							a.fancybox{
								height:36px;
								width:56px;
								text-align:center;
								font-weight:normal;
								&:before{
									display:inline-block;
									top:0;
									left:0;
									width:100%;
									height:100%;
									text-align:center;
									line-height:36px;
								}
							}
						}
					}
					.products-content{
						text-align:left;
						.rtl &{
							text-align:right;
						}
						h4{
							margin-bottom:5px;
							a{
								font-size:14px;
								color:#444;
								font-weight:bold;
								text-transform:capitalize;
								&:hover{
									color:@color;
								}
							}
						}
						.item-desc{
							padding:10px 0 20px;
						}
						.item-desc, .item-cart{
							display:block;
						}
						.item-cart{
							.add_to_cart_button, .product_type_grouped, .product_type_external{
								float:left;
								margin-right:5px;
								text-transform:none;
								height:36px;
								background-color:#999;
								color:#fff;
								font-size:14px;
								display:inline-block;
								padding:8px 25px;
								height:36px;
								border-radius:0;
								font-weight:normal;
								line-height:20px;
								.rtl &{
									float:right;
									margin-left:5px;
									margin-right:0;
								}
								&:hover{
									background-color:@color;
									color:#fff;
								}
							}
							 .compare{
								float:left;
								margin-right:5px;
								height:36px;
								width:56px;
								text-indent:-9999px;
								padding:10px 20px;
								background-color:#999;
								color:#fff;
								border-radius:0;
								padding:0;
								text-align:center;
								font-weight:normal;
								.rtl &{
									float:right;
									margin-left:5px;
									margin-right:0;
								}
								&:before{
									line-height:36px;
									left:0;
									top:0;
									display:inline-block;
									height:100%;
									width:100%;
									position:absolute;;
									text-align:center;
									text-indent:0;
									content:'\f074';
									font-family:FontAwesome;
									font-size:14px;
								}
								&:hover{
									background-color:@color;
									color:#fff;
								}
							}
							.yith-wcwl-add-to-wishlist{
								float:left;
								display:inline-block;
								margin:0;
								.rtl &{
									float:right;
								}
								.add_to_wishlist{
									height:36px;
									width:56px;
									text-indent:-9999px;
									display:inline-block;
									padding:13px 20px;
									background-color:#999;
									color:#fff;
									border-radius:0;
									padding:0;
									text-align:center;
									font-weight:normal;
									&:before{
										line-height:36px;
										left:0;
										top:0;
										display:inline-block;
										height:100%;
										width:100%;
										position:absolute;;
										text-align:center;
										text-indent:0;
										content:'\f004';
										font-family:FontAwesome;
										font-size:14px;
									}
									&:hover{
										background-color:@color;
										color:#fff;
									}
								}
								.ajax-loading{
									left: 50%;
									margin-left: -15%;
									margin-top: -15%;
									position: absolute;
									top: 50%;
								}
							}
						}
					}
				}
				&:last-child{
					margin-bottom:0;
				}
			}
		}
	}
}
/*Color tooltip*/
.tooltip.top > .tooltip-arrow {
  border-top-color: @color;
}
.tooltip > .tooltip-inner {
  background-color: @color;
}
/*Single product*/
.single-product{
	.product-type-external .product_detail .content_product_detail{
		.cart .single_add_to_cart_button{
			line-height:25px;
			padding:7px 20px;
			&:hover{
				background:darken(@color , 10%);
			}
		}
		.product-summary-bottom{
			float:left;
			.rtl &{
				float:right;
			}
			.yith-wcwl-add-to-wishlist{
				float:left;
				display:inline-block;
				margin:0 5px 0 0;
				.rtl &{
					float:right;
					margin:0 0 0 5px;
				}
				.add_to_wishlist{
					width:50px;
					height:40px;
					text-indent:-9999px;
					background-color:#999;
					color:#fff;
					display:inline-block;
					border-radius:0;
					position:rel;
					text-align:center;
					&:before{
						font-size:14px;
						position:absolute;
						line-height:40px;
						left:0;
						right:0;
						bottom:0;
						top:0;
						width:100%;
						height:100%;
						text-align:center;
						z-index:3;
						text-indent:0;
						font-family:FontAwesome;
						content:'\f004';
					}
					&:hover{
						background-color:@color;
						color:#fff;
					}
				}
				.ajax-loading{
					left: 50%;
					margin-left: -15%;
					margin-top: -15%;
					position: absolute;
					top: 50%;
				}
			}
			.compare-button{
				float:left;
				margin-right:5px;
				margin-top:-3px;
				.rtl &{
					float:right;
					margin-left:5px;
					margin-right:0;
				}
				.compare{
					width:50px;
					height:40px;
					text-indent:-9999px;
					background-color:#999;
					color:#fff;
					border-radius:0;
					padding:0;
					position:relative;
					text-align:center;
					&:before{
						font-size:14px;
						position:absolute;
						line-height:40px;
						left:0;
						right:0;
						bottom:0;
						top:0;
						width:100%;
						height:100%;
						text-align:center;
						z-index:3;
						text-indent:0;
						font-family:FontAwesome;
						content:'\f074';
					}
					&:hover{
						background-color:@color;
						color:#fff;
					}
				}
			}
			.clear{
				display:none;
			}
		}
	}
	.product_detail{
		background-color:#fff;
		padding:20px 0 3px;
		.slider_img_productd .product-images-container{
			.slider{
				&.product-responsive{ 
					border: 1px solid #ebebeb;
						.item-img-slider .images .sale-off{
							position:absolute;
							top:10px;
							left:10px;
							z-index:2;
							width:40px;
							height:40px;
							text-align:center;
							line-height:40px;
							background-color:#f53b54;
							.border-radius(50%);
							font-size:12px;
							color:#fff;
							font-weight:bold;
							.rtl &{
								right:10px;
								left:auto;
							}
						}
					} 
				.slick-list .item-img-slider{
					padding:0;
				}
				.images{
					margin-bottom:0;
					span.onsale{
						right:20px;
						top:20px;
						left:auto;
					}
				}
				&.product-responsive-thumbnail{
					overflow:visible;
					padding:10px 0;
					position:relative;
					.slick-list{
						margin:0 25px;
						.item-thumbnail-product{
							padding: 0 5px;
							cursor:pointer;
							img{
								border:1px solid #ebebeb;
								&:hover{
									border:1px solid @color;
								}
							}
						}
					}
					button{
						.border-radius(0);
						height: 79px;
						line-height:79px;
						position: absolute;
						text-indent: -9999px;
						text-shadow: none;
						opacity: 0;
						top: 10px;
						width: 20px;
						background:none repeat scroll 0 0 #cccccc;
						cursor: pointer;
						.transition(0.2s);
						opacity: 1;
						transition: opacity 0.35s, transform 0.35s;
						text-align:center;
						&:before{
							line-height:80px;
							position:absolute;
							font-family:FontAwesome;
							top:0;
							right:0;
							left:0;
							bottom:0;
							z-index:3;
							font-size:20px;
							color:#fff;
							text-indent:0;
							display:inline-block;
						}
					}
					.slick-prev{
						left:0;
						&:before{
							content:'\f104';	
						}
						&:hover{
							background-color:@color;
							border:1px solid @color;
							&:before{
								color:#fff;
							}
						}
					}
					.slick-next{
						right:0;
						&:before{
							content:'\f105';
						}
						&:hover{
							background-color:@color;
							border:1px solid @color;
							&:before{
								color:#fff;
							}
						}
					}
					&:hover button{
						.opacity(1);
					}
				}
			}
			&.thumbnail-left{
				position: relative;
				.slider.product-responsive-thumbnail{
					float: left;
					width: 95px;
					.slick-list{
					margin:15px 0 25px;
						.item-thumbnail-product{
							padding: 0;
							border: 0;
							margin:0;
							.thumbnail-wrapper{							
								margin: 5px 0 5px 5px;
								//padding: 10px;
							}
						}
					}
					button{
						width:30px;
						height:25px;
						&:before{
							top:auto;
							left:auto;
							bottom:auto;
							right:auto;
						}
						&.slick-prev{
							top:0px;
							right:0;
							left:auto;
							bottom:auto;
							width:90px;
							height:20px;
							&:before{
								content:'\f106';
								line-height:16px;
								right:50%;
								margin-right:-8%;
							}
						}
						&.slick-next{
							width:90px;
							height:20px;
							bottom: 0px;
							right:0;
							left:auto;
							top: auto;
							&:before{
								content: "\f107";
								line-height:16px;
								left:50%;
								margin-left:-7%;
							}
						}
					}
				}
				.product-responsive{
					width: auto;
					position: absolute;
					left: 105px;
					top: 0;
					//bottom: 0;
					right: 0;
					.item-img-slider{
						border: 0;						
						text-align: center;
						img{
							display: inline-block;
							max-width: 100%;
							width: auto;
						}
					}
				}
			}
		}
		.content_product_detail{
			h1.product_title{
				font-size:16px;
				font-weight:bold;
				color:#444;
				text-transform:capitalize;
			}
			.reviews-content .star{
				margin-right:5px;
			}
			.product-stock.in-stock{
				span.stock-text{
					color:@color;
					background: url(@{url}/bg-stock.png) right center no-repeat;
					padding-right:21px;
					.rtl &{
						background: url(@{url}/bg-stock.png) left center no-repeat;
						padding-left:21px;
						padding-right:0;
					}
				}
			}
			.product-description{
				margin:10px 0;
				color:#666;
			}
			.variations_form{
				 .variations{
					text-align:left;
					.rtl &{
						text-align:right;
					}
					tr{
						float:left;
						width:50%;
						border:0;
						.rtl &{
							padding-left:35px;
						}
						td select{
							height:36px;
							padding:8px;
							color:#666;
							border:1px solid #ccc;
							> option{
								padding:10px;
								&:focus{
									background-color:#fafafa;
									color:#000;
								}
								&:hover{
									background-color:#fafafa;
									color:#000;
								}
							}
						}
						.label label{
							font-size:13px;
							color:#000;
							font-weight:normal;
						}
						.reset_variations{
							display:inline-block;
							margin-top:10px;
							.rtl &{
								float:left;
							}
						}
						// &:last-child{
							// width:100%;
						// }
					}
				}
				.single_variation_wrap{
					margin-bottom:10px;

					.single_variation .price{
							display:block;
							margin-bottom:8px;
					}
				}
			}
			.price{
				del{
					margin-right:15px;
					color:#666;
					.opacity(1);
					.rtl &{
						margin-right:0;
						margin-left:15px;
					}
					span.amount{
						font-size:26px;
						color:#666;
						font-weight:normal;
					}
				}
				span.amount{
					font-size:26px;
					font-weight:bold;
					color:@color;
				}
			}
			.clear{
				display:none;
			}
			.cart{
				float:left;
				.group_table tbody tr{
					border-bottom:0
				}
				.rtl &{
					float:right;
				}
				.quantity{
					position:relative;
					z-index:1;
					&:before{
						content:'Qty:';
						margin-right:10px;
						color:#444;
						font-size:14px;
						font-weight:bold;
						.rtl &{
							margin-left:10px;
							margin-right:0;
						}
					}
				}
				.single_add_to_cart_button{
					display:inline-block;
					height:40px;
					font-size:16px;
					font-weight:bold;
					text-transform:none;
					color:#fff;
					padding:7px 30px;
					border-radius:0;
					background-color:@color;
					margin-right:5px;
					.rtl &{
						float:right;
					}
				}
				.product-summary-bottom{
					float:left;
					.rtl &{
						float:right;
					}
					.yith-wcwl-add-to-wishlist{
						float:left;
						display:inline-block;
						margin:0 5px 0 0;
						.rtl &{
							float:right;
							margin:0 0 0 5px;
						}
						.add_to_wishlist{
							width:50px;
							height:40px;
							text-indent:-9999px;
							background-color:#999;
							color:#fff;
							display:inline-block;
							border-radius:0;
							position:rel;
							text-align:center;
							&:before{
								font-size:14px;
								position:absolute;
								line-height:40px;
								left:0;
								right:0;
								bottom:0;
								top:0;
								width:100%;
								height:100%;
								text-align:center;
								z-index:3;
								text-indent:0;
								font-family:FontAwesome;
								content:'\f004';
							}
							&:hover{
								background-color:@color;
								color:#fff;
							}
						}
						.ajax-loading{
							left: 50%;
							margin-left: -15%;
							margin-top: -15%;
							position: absolute;
							top: 50%;
						}
					}
					.compare-button{
						float:left;
						margin-right:5px;
						.rtl &{
							float:right;
							margin-left:5px;
							margin-right:0;
						}
						.compare{
							width:50px;
							height:40px;
							text-indent:-9999px;
							background-color:#999;
							color:#fff;
							border-radius:0;
							padding:0;
							position:relative;
							text-align:center;
							&:before{
								font-size:14px;
								position:absolute;
								line-height:40px;
								left:0;
								right:0;
								bottom:0;
								top:0;
								width:100%;
								height:100%;
								text-align:center;
								z-index:3;
								text-indent:0;
								font-family:FontAwesome;
								content:'\f074';
							}
							&:hover{
								background-color:@color;
								color:#fff;
							}
						}
					}
					.clear{
						display:none;
					}
				}
			}
			.yith-wcwl-add-to-wishlist{
				display:none;
			}
			.share{
				position:relative;
				cursor:pointer;
				float:left;
				display:inline-block;
				width:50px;
				height:40px;
				text-indent:-9999px;
				background-color:#999;
				color:#fff;
				border-radius:0;
				padding:0;
				.rtl &{
					float:right;
				}
				&:before{
					font-size:14px;
					position:absolute;
					line-height:40px;
					left:0;
					right:0;
					bottom:0;
					top:0;
					width:100%;
					height:100%;
					text-align:center;
					z-index:3;
					text-indent:0;
					font-family:FontAwesome;
					content:'\f1e0';
				}
				&:hover{
					background-color:@color;
					color:#fff;
				}
			}
			.social-share{
				float:left;
				display:none;
				.transition(all 0.8s ease-in-out 0.3s);
				.rtl &{
					float:right;
				}
				.social-share-item{
					float:left;
					.rtl &{
						float:right;
					}
				}
			}
		}
	}
	.tabs{
		float:left;
		padding:25px 20px 0;
		width:100%;
		background-color:#fff;
		margin-bottom:30px;
		ul.nav-tabs{
			border:0;
			> li{
				margin-left:5px;
				border-top-left-radius:3px;
				border-top-right-radius:3px;
				border:1px solid #ebebeb;
				.rtl &{
					margin-right:5px;
					margin-left:0;
					float:right;
				}
				&:first-child{
					margin-left:0;
					border:1px solid #ebebeb;
					.rtl &{
						margin-right:0;
					}
				}
				> a{
					border:0;
					font-size:14px;
					text-transform:none;
					font-weight:normal;
				}
				&.active{
					background-color:@color;
					color:#fff;
					border:1px solid @color;
					&:first-child{
						border-left:0;
					}
					> a:focus, a:hover{
						border:0;
					}
				}
				&:hover{
					background-color:@color;
					color:#fff;
					border:1px solid @color;
					a {
						font-weight:normal;
						color:#fff;
						background-color:@color;
					}
				}
			}
		}
		.tab-content{
			border-top:2px solid @color;
			padding: 18px 0px 20px;
			.tab-pane ul{
				margin-left:5px;
				> li{
					list-style:none;
					&:first-child{
						.rtl &{
							direction:ltr;
						}
					}
					&:before{
						content:'\f00c';
						font-family:FontAwesome;
						font-size:14px;
						color:@color;
						margin-right:20px;
						.rtl &{
							content:'';
							margin:0;
						}
					}
					.rtl &{
						&:after{
							content:'\f00c';
							font-family:FontAwesome;
							font-size:14px;
							color:@color;
							margin-left:20px;
						}
					}
				}
				.rtl &{
					margin-right:5px;
					margin-left:0;
				}
			}
			#tab-reviews{
				#comments{
					h2{
						font-size:18px;
						color:#666;
					}
					.commentlist > li {
						img.avatar{
							width:80px;
							border:0;
							background:none;
							.rtl &{
								right:0;
								left:auto;
							}
						}
						.comment-text{
							margin: 0 0 0 100px;
							border-radius:0;
							.rtl &{
								margin:0 100px 0 0;
							}
							.meta{
								time{
									float:left;
									margin-right:20px;
									.rtl &{
										float:right;
										margin-left:20px;
										margin-right:0;
									}
									&:before{
										content:'\f017';
										font-family:FontAwesome;
										font-size:14px;
										color:#999;
										margin-right:5px;
									}
								}
								strong{
									&:before{
										content:'\f007';
										font-family:FontAwesome;
										font-size:14px;
										color:#999;
										margin-right:5px;
									}
								}
							}
						}
					}
				}
				#review_form_wrapper{
					input[type="text"],input[type="email"]{
						border-radius:0;
						padding:3px;
					}
					input[type="email"]{
						margin-left:4px;
					}
					h3.comment-reply-title{
						font-size:16px;
						color:#666;
						margin-bottom:15px;
					}
					
					label{
						color:#666;
						margin-bottom:15px;
						font-weight:normal;
					}
					.comment-form-comment textarea{
						.border-radius(0);
					}
					.form-submit input.submit{
						background: none repeat scroll 0 0 @color !important;
						border:1px solid @color;
						color:#fff !important;
						&:hover{
							background: none repeat scroll 0 0 darken(@color, 10%) !important;
							border:1px solid @color;
						}
					}
				}
			}
		}
	}
}
.woocommerce table.wishlist_table thead th, .woocommerce table.wishlist_table tbody td{
	border-color:#fff;
}
.product-type-variable .content_product_detail .share{
	display:none !important;
}
.woocommerce a.added_to_cart{
	display:none;
}
.woocommerce form.login{
	border:0;
	margin:0;
	padding:0;
	border-radius:0;
}
.woocommerce td.product-name dl.variation{
	dt{
		clear:none;
	}
	dd{
		margin:0 10px;
	}
}
.woocommerce-account .woocommerce .my_account_orders .order-actions a.button{
	font-size:14px;
	background-color:@color;
	border-radius:0;
	height:35px;
	font-weight:normal;;
	padding:11px 15px;
	border:0;
	color:#fff;
	&:hover{
		background:darken(@color, 10%);
	}
	
}
/*Quickview*/
.quickview-container.woocommerce{
	.single-product .product_detail .slider_img_productd .product-images-container .slider.product-responsive-thumbnail button{
		height:85px;
		&:before{
			line-height:85px;
		}
	}
	.single-product .product_detail .content_product_detail .cart{
		.single_add_to_cart_button{
			padding:7px 15px;
		}
		.product-summary-bottom{
			 .yith-wcwl-add-to-wishlist .add_to_wishlist{
				width:40px;
			 }
			.compare-button .compare{
				width:40px;
			}	
		}
		.share{
			width:40px;
		}
	}
}