/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0; 
	background: #fff; 
	position: relative; 
	-webkit-border-radius: 4px 4px 0 0; 
	-moz-border-radius: 4px 4px 0 0; 
	-o-border-radius: 4px 4px 0 0; 
	border-radius: 4px 4px 0 0; 

	zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}

/* Direction Nav */

/* Flex Direction nav styles (e.g. Next & Prev) */
.flex-direction-nav a {
    width: 36px;
    height: 39px;
    margin: -20px 0 0;
    display: block;
    background: url(../images/bg_direction_arrows_trans.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease; 
    -o-transition: all .3s ease; 
    transition: all .3s ease;
    z-index:102;
}

.flex-prev {
    left: -36px;
}

.flex-next {
    background-position: 0 -39px !important; 
    right: -36px;
}

.flexslider:hover .flex-next {
    opacity: 1; 
    right: 0;
    background-color: #0B0B0B;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    background-color: #EF9516;  
}

.flexslider:hover .flex-prev {
    opacity: 1; 
    left: 0;
    background-color: #0B0B0B;
}

/* Control nav styles (e.g. 1,2,3...) */
.flex-control-nav {
    position: absolute;
    bottom: 30px;
    right: 40px;
    z-index: 102;
}

#showcaseimg .nivo-controlNav {
    display: none;
}

/* Control Nav */
.flex-control-nav {position: absolute; bottom: 30px; right: 40px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #dedede; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px;}
.flex-control-paging li a.flex-active {
    background: #EF9516;
}
.flex-control-paging li a:hover {background: #a4a4a4;}
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}