/*
Default Layout styless
*/

/*-------------------------------------------------------------------------------------------

AT A GLANCE GUIDE TO LAYOUT.CSS - (CSS organisation is strongly influenced by the wonderful people over at woothemes.com - tip of the hat folks!)

1. THEME SETUP (boilerplate.css handles a HTML reset and a good few other sensible defaults)
-1.1 Theme specfic defaults and some globals
-1.2 Links

2. THEME LAYOUT & APPEARANCE
-2.1 Containers & Columnsjsc
-2.2 Navigation
  -2.2.1 Drop-down menus
  -2.2.2 Top Navigation (optional)
-2.3 Header
-2.4 Content
-2.5 Sidebar
-2.6 Footer
-2.7 Breadcrumbs
-2.8 Homepage

3. POSTS
-3.1 Typographic Elements
-3.2 Images
-3.3 Pagination / WP-Pagenavi / Woo-Pagination
-3.4 Single Post Author
-3.5 Entry Tables
-3.6 Post Formats

4. WIDGETS
-4.1 Generic Widgets
-4.2 Specific Widgets

5. COMMENTS
-5.1 Comments
-5.2 Pingbacks / Trackbacks
-5.3 Comments Form

6. MISC
-6.1 Portfolio
  -6.8.1 Isotope stuff

7. WOOCOMMERCE CAROUSELS AND DROPDOWNS

8. RESPONSIVE

9. SKINS  

-------------------------------------------------------------------------------------------*/

/* preloader for Flexslider on Homepage */

.preloading {
    min-height: 347px; 
    background: url('../images/ajax-load.gif') no-repeat center center !important;
}

/*-------------------------------------------------------------------------------------------*/
/* 1. THEME SETUP */
/*-------------------------------------------------------------------------------------------*/


@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.social-icons a {
    font-family: 'socialicoregular'; 
    font-size:30px; color:#fff; 
    -moz-opacity:0.75; 
    -khtml-opacity: 0.75;
    opacity: 0.75;  
    text-decoration:none; 
    margin:0px; 
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.20);
}

/* 

1.1 Defaults 
Don't forget! boilerplate.css
*/

body {
    background-color: #F3F3F3;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
}

body, select, input, textarea {
    color: #626262;
    font-family: 'Open Sans', Helvetica, Arial;
}

h1, h2, h3, h4, h5, h6  { 
    font-family: 'Open Sans', Helvetica, Arial;
    margin: 0; 
    color: #0B0B0B; 
    font-weight: normal; 
}

.content h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
}

h1  {font-size: 2em } h2  {font-size: 1.8em;} h3  {font-size: 1.6em;} h4  {font-size: 1.2em;} h5  {font-size: 1em;} h6  {font-size: 0.8em;}

.col-left {
    float: left;
}

.col-right {
    float: right;
}

.col-full {
    margin: 0 auto;
    width: 960px;
}

.hidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Clear Floats  */
.col-full:after {content:".";display:block;height:0;clear:both;visibility:hidden;}

.fix {clear:both;height:1px;overflow:hidden;margin:-1px 0 0;}

html body * span.clear,html body * div.clear,html body * li.clear,html body * dd.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;list-style:none;overflow:hidden;visibility:hidden;width:0;height:0;margin:0;padding:0;}

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 100%;
}

cite, em, i {
    font-style: italic;
}

dt {
    font-weight: bold;
}

code, pre {
    display: block;
    padding: 20px;
    margin: 0 0 9px;
    font-size: 12.025px;
    line-height: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
}

/* Assistive text */
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

#access a.assistive-text:active,
#access a.assistive-text:focus {
    background: #eee;
    border-bottom: 1px solid #ddd;
    color: #1982d1;
    clip: auto !important;
    font-size: 12px;
    position: absolute;
    text-decoration: underline;
    top: 0;
    left: 7.6%;
}

/* 1.2 Links */

a {
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    -ms-transition: color 0.4s linear;
    transition: color 0.4s linear;
}

a, a:active, a:visited { color: #0B0B0B; text-decoration:none; }

a:hover { color: #DA590F; } 

/* placeholder: all; */
::-webkit-input-placeholder  { color: #5B5D5F; }
input:-moz-placeholder { color: #5B5D5F; }

/*-------------------------------------------------------------------------------------------*/
/* 2. THEME LAYOUT & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/

/* 2.1 Containers & Columns */

.boxed #wrap_all {
}

#main, #sidebar { 
    position:relative; 
}

#main {
    width: 640px;
    padding: 0 20px;
    margin: 0 0 20px 0;
}

.hpslider {
    margin: 30px 0px 30px 0px;
    padding: 0;
    position: relative;
}

#main .content {
    width: 640px;
    overflow: hidden;
}

#sidebar {
    padding: 0 20px;
    margin: 0 0 20px 0;
}

#sidebar-left {
    padding: 0;
    margin: 0;
}

#sidebar_content {
    min-height: 100px;
    overflow: hidden;
    padding-left: 0px;
}

#sidebar_bottom {
    clear: both;
    height: 50px;
}

/* 2.2 Navigation
  -2.2.1 Drop-down menus
  -2.2.2 Top Navigation (optional)
  all moved to nav.css
*/

#hpshop {
    background: #f8f8f8;
}

.hpdark {
    background: #333; 
}

.hpleft {
    padding: 0 0 0 0;
}

.hpright {
    padding: 0 0 0 0;
}

.hpnanoscroll {
    padding: 0 0 0 0;
}

.hpnanoscroll h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 30px 0 30px 0;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px black;
    font-weight: 800;
    margin-bottom: 0;
}

/* 2.3 Header */

header#top {
    position: relative;
    width: 100%;
}

header h1 {
    text-transform: uppercase;
    font-size: 28px;
    color: #fff;
    padding: 20px 0 3px 0;
}

header h1 a:link, header h1 a:visited {
    color: #fff;
}

header h1 a:hover {
    color: #DFDFDF;
}

header p {
    color: #fff;
}

#toplinks {
    width: 100%;
    background-color: #25272A;
    border-bottom: 1px solid #444;
    font-size: 11px;
}

#toplinks a {
    color: #A1A1A1;
    font-weight: 800;
}

#toplinks a:hover {
    color: #fff;
}

#vtoplinks {
    color: #A1A1A1;
}

#vtoplinks #slogan {
    padding-top: 4px;
}

#vtoplinks #slogan i {
    -webkit-transition: color .5s; 
    -moz-transition: color .5s; 
    -o-transition: color .5s; 
    transition: color .5s; 
    font-size: 18px; 
    overflow: hidden; 
    padding-top: 2px;
}

#vtoplinks #slogan a {
    padding-right: 12px;
    font-weight: normal;
}

#vtoplinks #slogan a:hover i {
    color: #EF9516;
}

#toptop {
    padding: 0;
    font-size: 11px;
}

#toptop a {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 30px;
}

#toptop a:hover {
    color: #EF9516;
}

#toptop #slogan a:hover, #toptop .sub_menu a:hover {
    color: #B94CF5;
}

#toptop #slogan > a:before {
    padding: 0 4px;
    font-weight: normal;
}

#logosearch {
    padding-top: 0px;
}

.headerwrap {
    position: relative;
    height: 85px;
}

.headerwrap-img {
    line-height: 120px;
}

.headerwrap-img img {
    vertical-align: middle;
}

#topbar {
    width: 100%;
    line-height: 80px;

background: rgb(51,54,59); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzYzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzM2M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(51,54,59,1) 0%, rgba(51,54,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,54,59,1)), color-stop(100%,rgba(51,54,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(51,54,59,1) 0%,rgba(51,54,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(51,54,59,1) 0%,rgba(51,54,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(51,54,59,1) 0%,rgba(51,54,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(51,54,59,1) 0%,rgba(51,54,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33363b', endColorstr='#33363b',GradientType=0 ); /* IE6-8 */


    box-shadow: 0 4px 15px -5px #555;
    -ms-box-shadow: 0 4px 15px -5px #555;
    -moz-box-shadow: 0 4px 15px -5px #555;
    -o-box-shadow: 0 4px 15px -5px #555;
    -webkit-box-shadow: 0 4px 15px -5px #555;   
}

.navwrap {
    width: 100%;
}

.navbg {
    padding: 0 20px;
    background: #363a3f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2M2EzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTI3MmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #363a3f 0%, #25272a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363a3f), color-stop(100%,#25272a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #363a3f 0%,#25272a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #363a3f 0%,#25272a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #363a3f 0%,#25272a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #363a3f 0%,#25272a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363a3f', endColorstr='#25272a',GradientType=0 ); /* IE6-8 */
    -ms-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.logosearchout {
    float: left;
    width: 940px;
}

#logospot {
    height: 100%;
    padding: 0
}

#slogan {
    position: relative;
    float: left;
}

/* WooCommerce Account Links that appear in the Header */

/*first level*/

.sub_menu {
    position: relative;
    font-size: 11px;
    float: right;
    height: 40px; 
    color: #929292;
}

.sub_menu a, .sub_menu a:visited {
    color: #929292;
}

.sub_menu a:hover {
    color: #B94CF5;
}

.sub_menu>ul{
    position: relative;
    top:15px;
}

.sub_menu li{
    float:left;
    position: relative;
    padding:0 10px;
    border-right-style: solid;
    border-right-width: 1px;
    line-height: 10px;
    list-style: none;
}

.sub_menu>ul>li:last-child, .sub_menu>div>ul>li:last-child{
    border:none;
    padding-right: 0;
}

.sub_menu>ul>li>a, .sub_menu>div>ul>li>a{
}

/*second level*/

/* override overflow hidden from skeleton */

.one_third.header-widget {
    overflow: visible;
}

.header-widget {
    line-height: 120px;
}

.sub_menu li ul{
    display: none;
    position: absolute;
    width:170px;
    padding:16px 0 0 0;
    -moz-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    left:0;
    border:none;
    margin: 0;
    font-size: 11px;
}

.sub_menu li:hover ul{
    display: block;
    z-index: 999;
}

.sub_menu ul li:hover a{
    text-decoration: none;
}

.sub_menu li li{
    float: none;
    line-height: 20px;
    border: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #2C2C2C;
}

.sub_menu li li a{
    display:block;
    text-decoration: none;
    padding:7px 9px;
    border-top: none;
}

/*third level and deeper*/
    .sub_menu li li ul{
    top:-1px;
    left:169px;
    background: none;
    padding: 0;
}

/* Search Form */

.header-widget .widget_search, .header-widget .widget_product_search {
    float: right;
}

#searchform input[type=text], #searchform textarea {
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #614074;
}

#searchform .field {
}

#searchform input[type=text]:focus, #searchform textarea:focus {
}

#searchform textarea {
    padding-left: 3px;
    width: 98%;
}

#searchform input[type=text] {
}

#searchform {
    text-align: center;
}

#searchform div {
    margin: 0;
}

#searchform #s {
    background: #fff url(../images/search.png) no-repeat 5px 6px;
    font-size: 12px;
    height: 22px;
    padding: 4px 10px 4px 28px;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    width: 465px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

#searchform #s:focus {
    background-color: #f9f9f9;
    width: 485px;
}

#headersearchsubmit, #searchsubmit {
    display: none;
}

.only-search #searchform {
    top: 5px;
}

.only-search #s {
    background-color: #666;
    border-color: #000;
    color: #0B0B0B;
}

.only-search #s:focus {
    background-color: #bbb;
}

.with-image #searchform {
    top: auto;
    bottom: -27px;
}

#sidebar_content #searchform #s, #content #searchform #s {
    background: #fff url(../images/search.png) no-repeat 5px 6px;
}

#sidebar_content #searchform input[type=text], #sidebar_content #searchform textarea, #content #searchform input[type=text], #content #searchform textarea  {
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #f8f8f8;
    color: #626262;
    margin-top: 5px;
    width: 165px;
}

#sidebar_content #searchform #s:focus, #content #searchform #s:focus {
    border: 1px solid #CFC5C5;
}

/* 2.4 Content */

.rsidebar {
}

.innergut {
    margin: 0 10px;
    background: #fff;
}

.pgtitle {
    padding: 0 0 35px 0;    
}

.pgtitle h1 {
    margin-top: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #E4DEDE;
}

/* 2.5 Sidebar */

#sidebar .widget {
    margin: 20px 0 20px 0;
}

/* 2.6 Footer */

#site-footer {
    background: #333;
    padding: 30px 0 0 0;
    margin: 0;
    margin-top: 40px;
    color: #A1A1A1;
    font-size: 11px;
    border-top: 3px solid #ccc;
}

#site-footer .tf_flickr_widget a, #site-footer .tf_flickr_widget a: link {
    border-bottom: none;
} 

#site-footer a:hover {
    color: #4C4FA0;
}

.first-footer-widget {
    float: left;
}

.second-footer-widget {
    float: left;
}

.third-footer-widget {
    float: left;
}

#site-footer .widget-title {
    color: #CEC5C5;
    font-size: 12px;
    text-transform: uppercase;
    margin: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 800;
}

.widget_product_categories, .widget_mailchimpsf_widget {
    margin-bottom: 20px;
}

#site-footer .first-footer-widget .widget_product_categories, #site-footer .first-footer-widget .widget_mailchimpsf_widget {
    background: #2E2C2C;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
}

#site-footer .first-footer-widget .widget_product_categories .widget-title, #site-footer .first-footer-widget .widget_mailchimpsf_widget .widget-title {
    color: #fff;
    text-transform: none;
    font-size: 16px;
    letter-spacing: normal;
    margin: 0;
    padding: 20px;
}

#mc_signup {
    padding: 0 20px 20px 20px;
}

#mc_signup_form {
    padding: 0 !important;
}

#mc_subheader {
    margin-bottom: 10px;
    line-height: 14px;
}

#mc_signup_form .mc_input {
    margin: 5px 0;
    width: 90%;
}

.mc_signup_submit {
    text-align: left !important;
    font-size: 10px;
}

#mc_signup_submit {
    margin: 5px 5px 5px 0;
    font-style: 10px !important;
}

.mc_var_label {
    padding-right: 5px;
}

.mc_form_inside .updated {
    padding: 5px 0;
}

#site-footer h4.strap {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-weight: 700;
    border-bottom: 1px solid #3D3737;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#site-footer h4.strap strong {
    color: #EF9516;
}

#footer-nav {
    list-style: none;
    margin: 0 0 18px 0;
}

#footer-nav li {
    display: inline;
    margin-right: 15px;
}

.bottomnav {
    background: #000;
    color: #fff;
}

.bottomnav a {
    text-shadow: 1px 1px 1px black;
    color: #fff;
    font-weight: bold;
}

.bottomnav a:hover {
    color: #EF9516;
}

.botwrap {
    padding: 20px 0 30px 0;
    text-transform: uppercase;
    font-size: 10px;
}

.bottextright {
    float: right;
    text-align: right;
}

/* 2.7 Breadcrumbs */

#crumbs {
    font-size: 11px;
    padding: 0;
}

#crumbs a {
    color: #0B0B0B;
}

#crumbs a:hover {
    color: #4C4FA0;
}

/* 2.8 Homepage */

/* 2.8.1 Home Slider */

.home-banner-wrap {
    margin: 0px auto 0 auto;
    position: relative;
}

.home-banner-sub-content-full {
    margin: 0;
    float: left;
}

.home-bnr-jquery {position:relative;}

.hpslides { 
    position: absolute; 
    top: 95px;
    margin-left: 70px; 
    overflow: hidden;
    padding: 25px; 
    width: auto; 
    margin-right: 300px;
    border-radius: 4px;
}

.hpslides h2 { 
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 38px;
    line-height: 38px;
    color: #fff; 
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    display: inline-block;
}

.hpslides p {
    color: #fff; 
    text-transform: uppercase;
    font-size: 14px;
    margin: 5px 0 0 0; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    padding: 0;
    font-weight: 800;
}       
                          
.hpslides a { 
    -webkit-transition: color 0.15s linear;
    -moz-transition: color 0.15s linear;
    -ms-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear;
    color: #fff;
}

.hpslides h2 a:hover {
    color: #F0EAEA;
}

.hpslides2 { 
    position: absolute; 
    top: 249px;
    margin-left: 70px; 
    overflow: hidden;
    padding: 10px 25px 10px 25px; 
    width: 400px; 
    height: 15px;
    background: url(../images/hpslider2_bg.png) repeat top left;
}

.hpslides2 p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #000; 
    text-transform: uppercase;
    margin-bottom: 0; 
}

.hpslides2 a {  
    letter-spacing: .125em;
    color: #000;  
}

.hpslides2 a:hover {
    text-decoration: underline;
}

.hpslide_pricewrap {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 5px 0 0 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    padding: 0;
    font-weight: 800;
}

.slide {
    display: none;
}

.sliderbutton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.sliderbutton:hover {
    text-decoration: none;
}

.sliderbutton:active {
    position: relative;
    top: 1px;
}

.hpslider-pager {
    width: 200px;
    text-align: left;
    position: absolute;
    right: 20px;
    bottom: 32px;
}

.hpslider-pager a {
    text-align: left;
    background: url(../images/bg-pager.png) no-repeat 0 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 1px;
    outline-style: none;
    text-indent: -9999px;
}

.hpslider-pager .activeSlide {
    background: url(../images/bg-pager.png) no-repeat 0 -64px;
}

.home-banner-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.home-banner-wrap li.jqslider{
    display: none;
}

.home #content {
    padding-top: 20px;
}

/* 2.8.2 Center Widgets Top */

.featprodmidwrap {
    float: left;
    max-width: 100%;
}

.featprodmidimg {
    float: left;
    width: 20%;
    margin-right: 10px;
}

.featprodmidesc {
    float: left;
    width: 75%;
}

.centertoptitle {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    padding: 0 0 5px 0;
}

.centertoptitle a {
    color: #000;
}

.centertopdesc {
    padding: 0;
}

/* 2.8.3 Center Top Homepage Features */

li.widget {
    list-style: none;
    margin: 0;
}

.widget-area ul {
    margin:  0;
}

.featuredctrbtm, .featuredctrbtm2 {
    border-bottom: 1px dotted #CCC;
    width: 450px;
    height: 5px;
    margin: 10px 0 25px;
    float: left;
}

.featuredctrbtm2 {
    width: 460px;
}

.featuredctrbtm h3, .featuredctrbtm2 h3 {
    position: relative;
    background: white;
    line-height: 10px;
    white-space: nowrap;
    padding: 0 10px 5px 0;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #000;
}

.featuredctrbtm2 h3 {
    padding-left: 10px;
}

/* 2.8.4 Center Middle Homepage Features */

#hpbanner .widget-title {
    font-size: 14px;
}

/* 2.8.5 Center Bottom Homepage Features */

#center-bottom-widget-area-wrapper {
}

.widget_jcarousel_recent_products .carousel-wrap {
    border-bottom: none;
}

#content .widget-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 0 15px 0;
}

/* 2.8.6 Center Widgets Bottom - Showcase */

.showcase-widget {
    float: left;
    width: 217px;
    margin: 0px 10px 20px 10px;
}

.hp-showcase img {
    background: #F8F7F7;
    border: 1px solid #E5E5E5;
    padding: 4px;
    -webkit-transition: -webkit-box-shadow 0.2s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.hp-showcase:hover img {
    border-color: #1c8ef0;
    -webkit-box-shadow: 0 0 5px rgb(81, 203, 238);
}

.hp-showcase:hover a  {
    color: #0B0B0B;
}

.hp-showcase p {
    padding: 0 0 0 4px;
}

.showcase-widget p {
    color: #626262;
}

.showcase-widget h4 a {
    color: #0997D5;
}

.showcase-widget a {
    color: #626262;
}

#widget_latest_cpt h4 {
    font-size: 13px;
    margin: 10px 0 10px 0;
    padding: 0 0 0 4px;
}

/* 2.8.7 - Deals */

#hpmiddle.container {
    border-top: 0;
    margin-bottom: 30px;
}

.deals {
    position: relative;
}

.deals-widget-title .icon-money {
    padding-right: 10px;
}

.icon-fire, .icon-gift {
    padding-right: 5px;
}

.dealwidgethead {
    background: #F2F2F2;
    position: relative;
}

.dealwidgethead.tbrdr {
    border-top: 1px solid #E1E1E1;
}

.dealwidgethead h3 {
    background: none repeat scroll 0 0 #E7E7E7;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial;
    text-shadow: 0 1px 0 white;
    color: #666; 
    margin-bottom: 30px;
}

.dealwidgethead span {
    background: none repeat scroll 0 0 #F3F3F3;
    padding: 0 30px 1px 0;
}

.dthumbnail {
    display: block;
    position: relative;
}

.dealspiel {
    background: #2B2828;
    background: rgba(10, 10, 10, 0.82);
    height: 99%;
    left: 0;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    width: 100%;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.dealspiel .thespiel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dealspiel:hover {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.thespiel {
    height: 100%;
    width: 100%;
    padding: 30px;
}

.thespiel h3 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px black;
    font-weight: 700;
}

.thespiel p {
    color: #A1A1A1;
    font-size: 11px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px black;
    font-weight: 800;
}

/* 2.8.8 - Homepage Carousels */

.carousel-wrap {
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E1E1E1;
}

/* 2.8.9 - Nanoscroll Sidebar */

.nano { 
    z-index: 1;
    /*background: #333;*/ 
    width: 100%; min-height: 730px; 
}

.nano .content { 
    border-top: 1px solid #242424;
    padding: 0; 
}

.nano .pane   { 
    background: #333;
    width: 8px;
    margin-right: 2px;
 }
 
.nano .slider { background: #111; }

.top-shadow {
    position: absolute;
    width: 100%;
    background: transparent;
    left: 0;
    top: 0;
    box-shadow: 0 -4px 12px 3px rgba(0, 0, 0, .9);
}

/*-------------------------------------------------------------------------------------------*/
/* 3. POSTS */
/*-------------------------------------------------------------------------------------------*/

.entry-title {
    font-size: 20px;
    color: #0B0B0B;
    margin: 0 0 5px 0;
    font-weight: 600;

}

.product_title {
    font-size: 30px;
    padding: 30px 0 30px 30px;
}

.entry-title a {
    color:  #0B0B0B;
}

.entry-title a:hover {
    color: #DA590F;
}

.entry-meta {
    border-bottom: 1px dashed #efefef;
    line-height: 28px;
    margin: 0 0 15px 0;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    padding-bottom: 8px;
}

.entry-fr {
    float: right;
}

.entry-content, .profile-content, .showcasecontent, #showcasecontent, #showcasedetails {
    line-height: 1.8;
}

.entry-content {
    clear: both;
}

.sc-entry-content {
    line-height: 1.5em;
}

.sc-entry-content a {
    color: #626262;
}

.entry-content p {
    margin: 0 0 10px 0;
}

.thecontent {
}

.entry-summary {
    line-height: 1.8em;
    clear: both;
}

.entry-utility {
    width: 100%;
    float: left;
    font-size: 13px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #EFEFEF;
    padding-top: 5px;
    padding-bottom: 15px;
}
.posttags, .posttags-single {
    text-transform: uppercase;
    font-size: 11px;
}

.posttags, .posttags-single {
    color: #999;
    line-height: 1.5em;
}

.posttags .icon-tags, .posttags-single .icon-tags {
    font-size: 13px;
    padding-right: 3px;
}

.posttags-single {
    margin-bottom: 10px;
}

.postcomments {
    text-transform: uppercase;
    font-size: 11px;
    color: #999;
    padding-left: 20px;
    line-height: 1.5em;
}

.postcomments .icon-comments {
    font-size: 13px;
    padding-right: 3px;
}

.wp-caption a {
    border-bottom: none;
}

.posttags {
    float: left;
}

.postcomments {
    float: right;
}

/* 3.1 Some other Post Typographic Elements */

.entry-content blockquote  { 
    background:url(../images/blockquote.png) no-repeat 0 12px; 
    padding: 10px 20px 10px 50px; 
    color: #444;  
}

.entry-content blockquote p  { 
    font-style: italic;
}

/* 3.2 Images */

.home-banner-sub-full img {
    border: 0;
    padding: 0;
}

#first-center-top-widget:hover img, #second-center-top-widget:hover img, #third-center-top-widget:hover img, #fourth-center-top-widget:hover img {
    border-color: #1c8ef0;
    -webkit-box-shadow: 0 0 5px rgb(81, 203, 238);
}

#first-center-top-widget:hover .centertoptitle a, #second-center-top-widget:hover .centertoptitle a, #third-center-top-widget:hover .centertoptitle a, #fourth-center-top-widget:hover .centertoptitle a {
    color: #4C4FA0;
}

ul.recent-news li img.wp-post-image { 
    height: auto; 
    margin: 0 0 20px 0;
}
    
.home .post-thumb img { 
    -moz-border-radius: 40px; 
    -webkit-border-radius: 40px; 
    border-radius: 40px; 
    width: 60px !important; 
    height: auto !important; 
    float: left; 
}

.home .post-thumb img {
    margin-bottom: 15px;
}

.post-thumb img { 
    height: auto !important; 
    float: left; 
}

.post-thumb img {
    margin-bottom: 15px;
}

.post-thumb img {
    border-bottom: 5px solid #DA590F;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

#sclist-wrap .post-thumb img {
    border-bottom: none;
}

.post-thumb:hover img {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

img.wp-smiley  { padding: 0; border: none; }

.alignleft  { 
    float: left; 
    height: auto; 
    margin: 0px 20px 10px 0; 
}

.alignright  { 
    float: right; 
    height: auto; 
    margin: 0px 0 10px 20px; 
}

.aligncenter  { 
    text-align: center; 
    margin-bottom: 15px;
}

img.aligncenter  { 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
}

/* 3.3 Pagination / WP-Pagenavi / Woo-Pagination */

.pagination {
    clear: both;
    padding: 0 0 40px 0;
    position: relative;
    font-size: 11px;
    line-height: 13px;
}

.pagination span, .pagination a {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #fff;
    background: #EF9516;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
}

.pagination a:hover{
    color: #fff;
    background: #2D2E36;
}

.pagination .current{
    padding: 6px 9px 5px 9px;
    background: #2D2E36;
    color: #fff;
}

#nav-below a {
    padding-right: 10px;
}

/* 3.4 Single Post Author */
#post-author { 
    background: #FBFDFE;
    border-color: #DCE0E4 #D7DBDE #D7DBDE; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    border-style: solid;
    border-width: 1px; 
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09); 
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09); 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09); 
    margin: 20px 0 20px; 
    padding: 15px; 
    clear:both; 
}

.archive #post-author {
    margin-top: 0;
}

#post-author .authortitle { 
    margin-bottom: 10px; 
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

#post-author .profile-image { 
    float: left; 
    margin: 0 15px 5px 0; 
    padding: 5px 5px 0 5px; 
    border: 1px solid #c2c5ca; 
    background: #fff; 
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); 
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); 
}

#post-author .profile-content {
    margin-left: 100px;
}

#post-author .profile-link { 
    margin: 10px 0 0 0;
}

/* 3.5 Entry Tables */
.entry-content table  { 
    width: 100%; 
    border: 1px solid #e6e6e6; 
    margin-bottom: 1.2em; 
}

.entry-content table tr.alt-table-row  { 
    background: #f9f9f9; 
}

.entry-content table th  { 
    padding: 10px 0 10px 0; 
    background: #EEEEEE; 
    border: 1px solid #e6e6e6; 
    text-shadow: 1px 1px 0 #fff; 
    box-shadow: inset 0 0 1px #fff; 
    -moz-box-shadow: inset 0 0 1px #fff; 
    -webkit-box-shadow: inset 0 0 1px #fff;
    text-align: left;
    padding-left: 15px; 
}

.entry-content table td  { 
    padding: 10px 0 6px 15px; 
    border-top: 1px solid #e6e6e6; 
    vertical-align: middle;
}

/* 3.6 Post Formats */

/* general */

#content article {
    margin-bottom: 20px;
}

.article-sticky {
    margin-top: 60px;
}

.article-link {
}

.article-aside {
    margin-top: 60px;
}

.article-image {
    margin-top: 60px;
}

.article-gallery {
    margin-top: 60px;
}

.img-title {
    text-transform: uppercase;
    font-size: 18px;
}

.entry-content img {
    background: white;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h3.aside {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: url(../images/post_aside.png) no-repeat top left;
    padding-left: 20px;
    line-height: 1.5em;
}

h3.featured {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: url(../images/post_featured.png) no-repeat top left;
    padding-left: 20px;
    line-height: 1.5em;
}

h3.link {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: url(../images/post_link.png) no-repeat top left;
    padding-left: 20px;
    line-height: 1.5em;
}

h3.image {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: url(../images/post_image.png) no-repeat top left;
    padding-left: 25px;
    line-height: 1.5em;
}

h3.gallery {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: url(../images/post_gallery.png) no-repeat top left;
    padding-left: 25px;
    line-height: 1.5em;
}

.hentry {
    position: relative;
}

.entry-format {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    top: -35px;
    left: 2px;
    color: #000;
}

.aside-content {
    margin-left: 20px;
    font-style: italic;
}

.entry-format span {
    background: none repeat scroll 0 0 white;
    padding: 0 8px 1px 0;
}

/* Aside */

.format-aside .entry-title,
.format-aside .entry-header .comments-link {
    display: none;
}

.singular .format-aside .entry-title {
    display: block;
}

.format-aside .entry-content {
    padding: 0;
}

.singular .format-aside .entry-content {
    padding: 1.625em 0 0;
}

/* Image */

.entry-img-date {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -10px;
}

/* Gallery */

.format-gallery .gallery-thumb {
    float: left;
    display: block;
    margin: .375em 1.625em 0 0;
}

.gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 33%;
}

#content .gallery .gallery-icon img {
    border: 1px solid #DDD;
    padding: 6px;
}

#content .gallery .gallery-icon a:focus img, #content .gallery .gallery-icon a:hover img, #content .gallery .gallery-icon a:active img {
    background: #EEE;
    border-color: #BBB;
}

#content .gallery .gallery-icon img {
    border: 1px solid #DDD;
    padding: 6px;
}

.imgctr {
    margin: 20px 0 10px 0;
    text-align: center;
}

.galnav {
}


/*-------------------------------------------------------------------------------------------*/
/* 4. WIDGETS */
/*-------------------------------------------------------------------------------------------*/

/* Blog Widget & Twitter Widget */

#sidebar .widget-title, #sidebar-left .widget-title, #sidebar-right .widget-title, .wooside .widget-title  {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 0 18px 0;
    font-family: 'Open Sans', Helvetica, Arial;
    color: #0B0B0B;
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 1px solid #E4DEDE;
    letter-spacing: 1px;
}

#sidebar_content .widget {
    margin-bottom: 30px;
}

#sidebar_content .textwidget {
    margin-bottom: 30px;
}

#sidebar_content #searchform {
    margin-bottom: 30px;
}

#sidebar_content > div {
    margin-bottom: 30px;
}

#sidebar .textwidget {
    line-height: 1.8;
}

#sidebar li {
    line-height: 1.625;
}

#sidebar .tf-blog-widget .detail {
    width: 60%;
}

#sidebar .entry-title {
    font-size: 12px;
}

#sidebar .entry-meta {
    font-size: 11px;
    text-transform: none;
    line-height: 0;
}

#sidebar .centertoptitle {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .1em;
    margin: 5px 0 5px 0;
}

.tf-blog-widget {
    margin: 0px 0 10px 0;
}

.tf_blog_widget h3 {
    padding: 15px 20px;
}

#sidebar .tf_blog_widget h3 {
    color: #1882A6;
}

.tf-blog-widget ul {
    margin: 0 0 10px 0;
    padding: 0; 
    list-style: none;
}

.cotton-area .tf-blog-widget ul {
    border-bottom: none;
}

.tf-blog-widget li {
    padding: 15px 0 15px 15px;
    min-height: 58px;
}

.cotton-area .tf-blog-widget li {
    border-bottom: 1px solid #121212;
    border-top: 1px solid #2c2c2c;
}

.cotton-area .tf-blog-widget li:last-child {
    border-bottom: none;
}

.tf-blog-widget li:first-child {
    padding-top: 0;
    border-top: none;
}

.tf-blog-widget .post-thumb {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    border: 8px solid #E8E8E8;
    padding: 0;
    margin: 5px 15px 0 0;
}

.tfblogitem:hover .post-thumb {
    border: 8px solid #EBD0FF;
}

.tfblogitem:hover .entry-title a {
    color: #4C4FA0;
}

.tf-blog-widget .entry-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    padding: 5px 0 0 0;
    margin: 0 0 5px 0;
}

.tf-blog-widget .intro {
    padding-bottom: 5px;
}

.tf-blog-widget .detail {
    float: left;
    width: 79%;
}

.cotton-area .tf-blog-widget .entry-title,
.cotton-area .tf-blog-widget .entry-title a {
    color: #f1eee5;
}

.cotton-area a:hover {
    color: #fff;
}

.tf-blog-widget .entry-meta {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 11px;
}

/* Featured Content in Sidebar */

#sidebar .centertoptitle, #sidebar .centertopdesc {
    padding: 0;
}

/* Footer Widget */

#site-footer .textwidget {
    line-height: 1.5em;
    font-size: 11px;
}

/* Footer Recent Blog items widget */

#site-footer .widget_recent_entries ul {
    margin-left: 0;
}

#site-footer .widget_recent_entries li {
    list-style: none;
    padding-left: 20px;
    background: url(../images/cd.png) no-repeat 1px 0;
    margin-bottom: 10px;
}

#site-footer .widget_recent_entries li a, #site-footer .widget_recent_entries li a:link, #site-footer .widget_recent_entries li a:visited {
    color: #525252;
    border-bottom: 1px dotted;
} 

#site-footer .widget_recent_entries li a:hover {
    border-bottom: none;
}

/* Flickr Widget ------------------------------------------*/

.flickr_badge_image {
    float: left;
    margin: 0 11px 15px 0;
    height: 40px;
    width: 40px;
}

.flickr_badge_image a:hover { 
    background-color: transparent;
}

.flickr_badge_image img {
    background: #fff;
    border: 3px solid #4C4FA0;
    height: 40px;
    width: 40px;
}

.flickr_badge_image img:hover { 
    border-color: #DFDFDF ; 
}

/* Twitter Widget -----------------------------------*/

.tf_tweet_widget {
    margin-bottom: 20px;
}

.tf_tweet_widget ul, #site-footer .tf_tweet_widget ul {
    margin: 0 0 10px 0;
    list-style-type: none;
    padding: 0 10px 0 10px;
}

.tf_tweet_widget ul li, #site-footer .tf_tweet_widget ul li { 
    padding: 0;
    font-weight: 800;
    padding-bottom: 1.9em;
}

.tf_tweet_widget ul li, #site-footer .tf_tweet_widget ul li span {
    line-height: 18px;
}

.tf_tweet_widget ul li > a, #site-footer .tf_tweet_widget ul li > a {
    margin-top: 5px;
    color: #b2b2b6;
    display: block;
}

#site-footer .tf_tweet_widget a {
    color: #A1A1A1;
    border-bottom: none;
}

#site-footer .tf_tweet_widget a:hover {
    color: #fff;
    border-bottom: none;
}

.tf_tweet_widget ul li > a:hover, #site-footer .tf_tweet_widget ul li > a:hover {
    background-color: transparent;
    color: #fff;
}

.tf_tweet_widget ul li span a, #site-footer .tf_tweet_widget ul li span a { 
    border-bottom: 1px dotted #A1A1A1;
    color: #A1A1A1;
}

.tf_tweet_widget ul li span a:hover, #site-footer .tf_tweet_widget ul li span a:hover { border-bottom: none; }

a.twitter-link {
    padding: 2px 4px;
    margin: -2px -4px;
    padding-left: 15px;
}

.tf_cards {
    padding: 5px 10px 0 10px;
}

/* Sidebar Showcase Widget */

.tf-recent-showcases-widget p {
    margin-left: 10px;
}

.tf_recent_showcases_widget ul {
    margin: 10px 0 0 10px;
}

.tf_recent_showcases_widget li {
    list-style: none;
}

.scaseitem img {
    background: #F8F7F7;
    border: 1px solid #E5E5E5;
    padding: 4px;
    -webkit-transition: -webkit-box-shadow 0.2s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.scaseitem h2.entry-title {
    margin-top: -5px;
    margin-left: 5px;
}

.scaseitem h2.entry-title a {
    font-size: 14px;
    color: #0B0B0B;
}

.scaseitem:hover img {
    border-color: #1c8ef0;
    -webkit-box-shadow: 0 0 5px rgb(81, 203, 238);
}

.scaseitem:hover h2.entry-title a  {
    color: #DA590F;
}

.tf-recent-showcases p {
    padding: 0 0 0 4px;
}

.tf-recent-showcases p {
    color: #626262;
}

.tf-recent-showcases h4 a {
    color: #0997D5;
}

.tf-recent-showcases a {
    color: #626262;
} 

/*-------------------------------------------------------------------------------------------*/
/* 5. COMMENTS - Hat tip for Twenty Eleven (3.2 Dev trunk) for nice HTML5 implementation */
/*-------------------------------------------------------------------------------------------*/

/* Comments link */


#comments-title, .pingtrackhead {
    /*background: url(../images/comments-title.png) no-repeat left top;*/
    color: #000;
    font-size: 16px;
    padding: 0 0 15px 0;
}

.nocomments {
    color: #aaa;
    font-size: 16px;    
    font-weight: 100;
    margin: 26px 0;
    text-align: center;
}

.commentlist {
    list-style: none;
    margin: 0;
}

.commentlist > li.comment {
    background: #f2efef;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto 1.625em;
    padding: 1.625em;
    position: relative;
}

.commentlist .pingback {
    margin: 0 auto 1.625em;
    padding: 0 1.625em;
}

.commentlist .children {
    list-style: none;
    margin: 0;
}

.commentlist .children li.comment {
    background: #fff;
    border-left: 1px solid #ddd;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    margin: 1.625em 0 0;
    padding: 1.625em;
    position: relative;
}

.commentlist .children li.comment .fn {
    display: block;
}

.commentheader {
    float: left;
}

.comment-meta .fn {
    display: block;
    font-style: normal;
}

.comment-meta {
    color: #666;
    font-size: 12px;
}

.comment-meta a {
    font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}

.commentavatar {
    float: left;
    padding: 0 5px 0 0;
}

.comment-author {
    float: left;
    width: 100%;
}

.commentmadeat {
    padding: 5px 0 0 0;
    float: left;
}

.comment-content {
    clear: both;
    margin: 10px 0 10px 0;
    line-height: 1.8;
}

.commentlist .avatar, .commentlist .children .avatar {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    left: 2.2em;
    padding: 0;
    top: 2.2em;
}

.avatarmug {
    float: left;
    margin: 2px 8px 8px 8px;
}
a.comment-reply-link {
    font-size: 12px;
    font-weight: bold;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
    background: #f9f9f7;
    border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
    background: #f9f9f7;
    border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
    margin-left: 102px;
    width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
    width: auto;
}

#comments .navigation {
    margin: 10px 0;
}

/* Comment Form */
                
/* `Respond form
---------------------------------------------------------------*/
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {cursor:pointer;}

#respond form  {margin:1em 0;}

.form-right {float:right;width:64%;padding:0 5px;margin-left:.625em;}
.form-logged-in {float:left;width:64%;padding:0;}

.form-left {float:left;width:29%;position:relative;}

#respond p {
    margin:.9em 0;
}

#respond fieldset {
    padding:1em 0;
}

#respond legend {
    font-size: 1.2em;
}

#respond label {
    padding:0;
    margin:0;
    color:#666;
}

#respond .accesskey {
    text-decoration: underline;
    margin:0;
    padding:0;
}

#respond input, #respond textarea, input#submit, .wpcf7-submit {
    width: 50%;
    font-size:.9275em;
    margin:0;
    padding:.5em;
    color:#333;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #D9D8D3;
    border-left: 1px solid #D9D8D3;
    background: #EDEBE7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#respond textarea {
    height:13em;
}

#respond input:focus, #respond textarea:focus, .wpcf7-submit:focus {
    background:#fff;
}

#respond p.tecken {
    color:#555;
    font-size:0.825em; 
    padding-top: 1em;
}

#reply-title {
    margin: 10px 0 10px 0;
}

#respond input#submit, .wpcf7-submit#submit {
  border: none;
  background: #EF9516;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  padding: 10px 0;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  cursor: pointer; 
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;      
}

#respond input#submit:hover, .wpcf7-submit#submit:hover {
    background: #0B0B0B;
}

h3#reply-title small a {
    display: block; 
    text-transform: uppercase;
    font-size: 11px;
    margin: 10px 0 5px 0;
}
  
#commentform small {
    padding: 0 5px 0 5px;
}

#comment-nav-above {
    padding-bottom: 10px;
}

#comment-nav-below {
    margin-top: -10px;
}

.nav-previous {
    float: left;
    margin: 10px 0;
}

.nav-next {
    float: right;
    margin: 10px 0;
}

/*-------------------------------------------------------------------------------------------*/
/* 6. PAGE TEMPLATES */
/*-------------------------------------------------------------------------------------------*/
  
/* 6.1 Showcase/Portfolio */

.tf_showcase:hover img {
}

.tf_showcase:hover a  {
    color: #DA590F;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.overlay:hover {
    opacity: 1;
}

.tf_showcase {
    float: left;
    margin: 0 38px 0 0;
    width: 204px;
}

.twocol .tf_showcase {
    float: left;
    width: 446px;
    margin: 0 38px 0 0;
}

.twocol.tf_showcase {
    float: left;
    width: 446px;
    margin: 0 38px 0 0;
}

.threecol .tf_showcase {
    float: left;
    width: 284px;
    margin: 0 39px 0 0;
}

.threecol.tf_showcase {
    float: left;
    width: 284px;
    margin: 0 39px 0 0;
}

#showcase {
    margin: 20px 0 0 0;
}

#showcase-wrap { 
    position: relative;
    overflow: hidden;
    min-height: 500px; 
    margin-right: -38px;
}

#showcase-wrap.twocolwrap { 
    margin-right: -38px;
}

#showcase-wrap.threecolwrap { 
    position: relative;
    overflow: hidden;
    min-height: 500px; 
    margin-right: -39px;
}

#showcase-wrap p { margin-bottom: 10px; }

#sclist-wrap {
    margin: 0;
}

.image-grid-one:after,
.image-grid-two:after,
.image-grid-three:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.image-grid-one li { 
    width: 696px;
    margin-bottom: 60px;
}

.image-grid-two li {
    width: 330px;
    max-height: 360px;
    float: left;
    margin-right: 36px;
}

.image-grid-one h2.entry-title,
.image-grid-one h2.entry-title a {
    font-size: 14px; 
    margin-bottom: 3px;
    padding-top: 10px;
}

.image-grid-two h2.entry-title,
.image-grid-two h2.entry-title a {
    font-size: 13px; 
    margin-bottom: 0;
}

.image-grid-three h2.entry-title,
.image-grid-three h2.entry-title a { 
    font-size: 12px; 
}

#showcase-wrap .post-thumb,
#related-wrap .post-thumb { 
    margin-top: 0;
}

.plus { float: right; }

#showcase-wrap .plus span,
#related-wrap .plus span {
    margin-left: -25px;
    margin-top: -10px;
}

.plus span {
    background: url(images/sprite.png) 63px 120px;
    width: 34px;
    height: 34px;
    position: absolute;
    cursor: pointer;
    text-indent: -9999px;
}

#portfolio_nav,
#line_wrap {
    width: 100%;
    float: right;
}

#portfolio_nav {
    position: relative;
    margin-top: 15px;
    margin-bottom: 50px;
}

#line_wrap {
    position: relative;
}

#line {
    position: absolute;
    width: 613px;
    border-bottom: 1px dashed #d5d3ce;
    margin: 35px 0 0 45px;
}

#circles,
#arrows {
    float: left;
    width: 700px;
}

#arrows { height: 28px }

#circles ul {
    float: left;
    left: 50%;
    margin: 16px auto 0px;
    max-width: 700px;
    position: relative;
}

#circles li {
    float: left;
    padding: 0 2px 0 2px;
    background: url(images/body_bg.gif) repeat;
    position: relative;
    right: 50%;
}

#circles li:first-child { padding: 0 2px 0 12px }

#circles li:last-child { padding: 0 10px 0 2px }

#circles a {
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 10px;
    border: none;
    background: url(images/sprite.png) 108px 106px;
}

#circles a:hover,
#circles li.current a { background: url(images/sprite.png) 118px 106px }

.tax-list {
    margin: 15px 0 20px -10px;
}

.tax-list li span {
    display: block;
    float: left;
    font-size: 11px;
    padding: 2px 10px 2px 10px;
    color: #666;
    background: #faf9f7;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.tax-list li {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

/* Showcase Categories */

.scasetop {
    margin: 0 -30px 35px -30px;
    border-bottom: 1px solid #efefef;
    overflow: auto;
}
.scase-pgtitle {
    float: left;
    padding: 0 30px 30px 30px;  
}

#showcase_cats {
    /*position: absolute;
    top: 18px;
    right: 0;*/
    float: right;
    line-height: 35px;
    margin: 0;
    padding: 0 30px 0 0;
}

#showcase_cats h2 {
    display: block;
    float: left;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
}

.scase {
    margin-top: -15px;
}

#scasewrap {
    width: 100%;
    border-bottom: 1px solid #EEE;
    padding: 0 0 13px 0;
    margin: 0;
    font-size: 11px;
}

#scasenav {
}

#scasenav .nav-previous, #scasenav .nav-next {
margin: 0;
}

#scasenav .nav-next {
}

#scasenav .nav-previous a {
    display:block;
    width:30px;
    height:30px;
    background: url(../images/button-arrows-grey.png) no-repeat 0 0;
    text-indent: -9999px;
    float: right;
    border:1px solid #cccccc;
    opacity: 0.5;
    background-color: #fff;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

#scasenav .nav-next a {
    display:block;
    width:30px;
    height:30px;
    background: url(../images/button-arrows-grey.png) no-repeat 0 0;
    background-position: 0 -30px !important; 
    text-indent: -9999px;
    float: right;
    margin-left:5px;
    border:1px solid #cccccc;
    opacity: 0.5;
}

#scasenav .nav-previous a:hover, #scasenav .nav-next a:hover{
    background-color: #efefef;
}


#sort-by {
    display: block;
    float: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    font-family: 'Open Sans', Helvetica, Arial;
}

#sort-by a:hover {
    border-bottom: 1px dotted;
}

#sort-by a.active {
    border-bottom: 1px dotted;
    color: #DA590F;
}

.showcasecontent {
}

.showcasecontent p {
    margin: 0 10px 15px 10px;
}

.scwebsite a {
}

.scwebsite a:hover {
}

#scwebsite li a.current {
}

.scwebsite .icon-external-link {
    padding-right: 5px;
}

#showcase_cats li {
    list-style: none;
    display: inline;
    padding: 0 10px;
}

.sc-entry-title {
    clear: both;
    font-size: 11px;
    margin-bottom: 20px; 
    text-transform: uppercase;   
}

.tf_showcase .post_thumb img {
    margin-bottom: 10px;
}

#showcaseimg {
    margin-bottom: 20px;
}

#showcaseimg #slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

#showcasecontent {  
    margin: 0 0 20px 0;
}

#showcasecontent h4, #showcasedetails h4 {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.scwebsite {
    display: block;
    margin: 0 0 10px 0;
}

.media-right .pullquote {
    border-left: 1px solid #DDD;
}

.pullquote {
    padding: 10px 20px; 
    font-size: 1.2em;
    font-family: 'DroidSerifItalic';
    color: black;
}

#testimonial {
    background: url(../images/blockquote.png) no-repeat 0 12px;
    padding: 10px 20px 10px 50px;
    color: #444;
    margin: 20px 0 20px 0;
}

#testimonial p {
    clear: both;
    float: left;
    font-style: italic;
    margin: 0 0 10px 0;
}

#testimonial cite {
    clear: both;
    display: block;
    float: left;
    margin: 0 0 0 20px;
}

#postterms {
    clear: both;
    float: left;
}

#postterms h5 {
    font-size: 14px;
    margin-bottom: 10px;
}

/* 6.1.1 Isotope css */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/* disabling Isotope CSS3 transitions ----------------------------*/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

/* -------------------------------------------------- */
/*  7. WOOCOMMERCE CAROUSELS AND DROPDOWNS
/* -------------------------------------------------- */

.woohpwidgets-main {
    float: left;
    width: 710px;
}

.woohpwidgets-main-wide {
    float: none !important;
    width: 100% !important; 
}

.woohpwidgets-side {
    float: right;
    width: 220px;
}

.widgethead {
    background: #F2F2F2;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    margin: 0 0 20px 0;
    position: relative;
    height: 75px;
}

.widgethead.tbrdr {
    border-top: 1px solid #E1E1E1;
}

.widgethead h3 {
    padding: 20px 20px 0 20px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial;
    text-shadow: 0 1px 0 white;
    color: #666; 
    margin-bottom: 0;
}

.hpfeatstrap {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #999;
    padding: 0 20px 0 20px;
}

.widget_jcarousel_featured_products h3 {
    text-transform: uppercase;
    padding: 20px 0 0 0;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Open Sans', Helvetica, Arial;
    color: #666; 
}

.products-carousel .entrybrdr, .entrybrdr {
    border: 1px solid #EFEFEF;
}

.products-carousel .entryout, .entryout {
    border: 1px solid white;
    background: #fff;
    padding: 8px;
    position: relative;
}

.products-carousel .entryin, .entryin {
    background: #fff;
}

.products-carousel .entry .prodtitle  {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
}

.products-carousel .entry .prodtitle:hover {
    color: #000;
}

.products-carousel .entry .prodpricewrap {
    margin: 0 0 0 0;
}

.products-carousel .entry .prodprice {
    display: block;
    padding: 5px 5px 0 0;
}

.products-carousel .entry .prodprice .from {
    display: none;
}

.products-carousel .entry .prodprice ins {
    margin-left: 5px;
    font-size: 12px;
}

.products-carousel .entry .prodprice .amount {
    font-size: 14px;
    color: #C63E22;
    font-weight: bold;
}

.products-carousel .entry .prodprice del {
    color: #626262;
}

.products-carousel .entry .prodprice del .amount {
    font-size: 14px;
    color: #B4B2B2;
}

.woolearnmore {
    font-size: 11px;
    color: #fffcff;
    padding: 4px 9px;
    background: #ef9516; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOTUxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNjNlMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ef9516 0%, #c63e22 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef9516), color-stop(100%,#c63e22)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ef9516 0%,#c63e22 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ef9516 0%,#c63e22 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ef9516 0%,#c63e22 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ef9516 0%,#c63e22 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9516', endColorstr='#c63e22',GradientType=0 ); /* IE6-8 */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #f5570e;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: bold;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    display: block;
    margin-top: 10px;
}

.products-carousel a:hover .woolearnmore {
    border: 1px solid #5b5b5b;
    background: #5b5b5b; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViNWI1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #5b5b5b 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5b5b5b 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5b5b5b 0%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5b5b5b 0%,#333333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5b5b5b 0%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
}

.no-js .products-carousel, .no-js .post-carousel {
    border-top: 1px solid #efefef;
    margin: 15px -20px 60px 0;
    padding: 25px 0 0;
}
        
.products-carousel > li, .post-carousel > li, #portfolio-items > article {
    float: left;
    list-style: none;
    margin: 0 30px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* product details carousel */

.images .jcarousel-prev {
    position: absolute;
    left: 5px;
    top: 32px;
    width: 19px;
    font-size: 0em;
}

.images .jcarousel-next {
    position: absolute;
    right: 5px;
    top: 32px;
    width: 19px;
    font-size: 0em;
}

.images .jcarousel-container {
    border-top: none;
    margin: 15px 0 7px 0;
    padding: 0 55px;
}

.prodthumbs-carousel > li {
    float: left;
    list-style: none;
    margin: 0 20px 0 0;
    overflow: hidden;
    position: relative;    
}

.prodthumbs-carousel img {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

/* end product details carousel */

        
.products-carousel > li, .post-carousel > li { width: 184px; }

.no-js .post-carousel > li {
    display: inline-block;
    float: none;
}

.no-js .products-carousel > li, .no-js #portfolio-items > article { margin-bottom: 40px; }

.products-carousel a:hover {
    color: #000;
}

.products-carousel a, #portfolio-items article a {
    display: block;
    text-align: center;
}

#portfolio-items article a, #portfolio-items article .audio-player , #portfolio-items article .video-player { margin: 0 0 5px; }

.products-carousel img, #portfolio-items article img {
    background-color: #fff;
    margin: 0 0 -5px;
}

.products-carousel img { 
    margin-bottom: 5px; 
    /*max-width: 99%;*/
}

.products-carousel img:hover {
    /*filter: alpha(opacity=70);*/
    /*opacity: 0.7;*/
}

.products-carousel .title, #portfolio-items > article .title {
    font-weight: 400;
    margin-bottom: 0;
}

.products-carousel > li .categories, #portfolio-items > article .categories {
    color: #aeaeae;
    display: block;
    font-style: italic;
    margin: -1px 0 20px;
}

.products-carousel a {
    /*border-bottom: 1px solid #fff;*/
}   

.products-carousel a:hover, #portfolio-items > article:hover {
    /*background: #f8f8f8;
    border-bottom: 1px solid #efefef;*/
}

.not-ie .products-carousel a:hover:after, .not-ie #portfolio-items > article:hover:after {
    background: #f15a23;
    bottom: -2.5px;
    content: '';
    left: 50%;
    display: block;
    height: 5px;
    margin: 0 0 0 -2.5px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    width: 5px;
}

.products-carousel img {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.products-carousel a:hover img, #portfolio-items > article:hover img {
    filter: alpha(opacity=70); /* Fallback for old IE */
    opacity: 0.8;
}

.products-carousel a:hover .title, #portfolio-items > article:hover .title { color: #f15a23; }

.jcarousel-clip {
    overflow: hidden;
    width: 100%;
}

.jcarousel-item {
    margin: 0 20px 0 0;
    width: 220px;
}

.prodthumbs-carousel .jcarousel-item {
    width: 97px;
}

.jcarousel-next, .jcarousel-prev {
    cursor: pointer;
    height: 19px;
    position: absolute;
    right: 0;
    top: -40px;
    width: 19px;
}

.jcarousel-prev {
    width:19px;
    height:19px;
    background: #cccccc url(../images/small-prev.png) no-repeat 7px 6px;
    right: 20px;
}

.jcarousel-next {
    width:19px;
    height:19px;
    background: #cccccc url(../images/small-next.png) no-repeat 7px 6px;
    right: 0px;            
}

.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active,
.jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active {
    background-color: #EF9516;
}

/* FlexSlider Sidebar Widget */

.sidefeatproduct .flexslider {margin: 0 0 20px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 0 0;}


.sidefeatproduct {
    text-align: center;
}

.sidefeatproduct h3 {
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Open Sans', Helvetica, Arial;
    font-weight: bold;
}

.sidefeatproduct .flex-direction-nav a {
    top: 40%;
}

/* Homepage Featured Widget */

#feature1 {
    margin-bottom: 20px;
}

#feature1 .jcarousel-prev, #feature1 .jcarousel-next {
    cursor: pointer;
    height: 19px;
    position: absolute;
    right: 0;
    top: -80px;
    width: 19px;
}

#feature1 .jcarousel-prev {
    width: 15px;
    height: 40px;
    right: 40px;
}

#feature1 .jcarousel-next {
    width: 15px;
    height: 40px;
    right: 20px;
}

#feature1 span.nextarrow, #feature1 span.prevarrow {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    color: #666;
}

#feature1 span.nextarrow:hover, #feature1 span.prevarrow:hover {
    color: #EF9516;
}

#feature1 .jcarousel-next, #feature1 .jcarousel-prev {
    background: none !important;
}

.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-next-disabled:focus, .jcarousel-next-disabled:active, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover, .jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active {
    background-color: none !important;
    cursor: pointer;
}

#feature1 .products-carousel > li, #feature1 .post-carousel > li {
    width: 209px;
}

#feature1 .products-carousel > li, #feature1 .post-carousel > li, #feature1 #portfolio-items > article {
    margin: 0 0 0 20px;
}

#feature2 {
    margin-bottom: 20px;
}

#feature2 .jcarousel-prev, #feature2 .jcarousel-next {
    cursor: pointer;
    height: 19px;
    position: absolute;
    right: 0;
    top: -80px;
    width: 19px;
}

#feature2 .jcarousel-prev {
    width: 15px;
    height: 40px;
    right: 40px;
}

#feature2 .jcarousel-next {
    width: 15px;
    height: 40px;
    right: 20px;
}

#feature2 span.nextarrow, #feature2 span.prevarrow {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    color: #666;
}

#feature2 span.nextarrow:hover, #feature2 span.prevarrow:hover {
    color: #EF9516;
}

#feature2 .jcarousel-next, #feature2 .jcarousel-prev {
    background: none !important;
}

#feature2 .products-carousel > li, #feature2 .post-carousel > li {
    width: 209px;
}

#feature2 .products-carousel > li, #feature2 .post-carousel > li, #feature2 #portfolio-items > article {
    margin: 0 0 0 20px;
}

/* Cart dropdown */

span.cart_itemstotal {
    padding: 0 0 0 20px;
}

ul.mini-cart {
    position: relative;
    float: right;
    margin: 0;
    margin-left: 20px;
    line-height: 40px;
}

ul.mini-cart li {
    list-style: none;
}

ul.mini-cart li .cart_dropdown_link {
    padding: 0 15px 0 25px;
}

ul.mini-cart li:hover {
    position: static;
    background: #25272A;
}

ul.mini-cart li:hover ul.cart_list {
    left: auto;
    right: 0;
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

ul.mini-cart li {
    width: auto;
}

ul.mini-cart li a {
    border-bottom: 0 none;
    border-right: 0 none;
    font-weight: 800;
}

ul.mini-cart li:last-child {
    border-bottom: 0 none;
    width: auto;
}

ul.mini-cart li ul.cart_list {
    z-index: 9999;
    background: none repeat scroll 0 0 #25272A;
    display: block;
    left: -999em;
    margin: -3px 0 0 -1px;
    padding: 10px 15px;
    position: absolute;
    width: 210px;
}

ul.mini-cart li ul.cart_list li.empty {
    border: medium none;
    padding: 15px 0 10px;
}

ul.mini-cart li ul.cart_list li {
    line-height: 1.1;
    padding: 7px 0;
    text-align: right;
}

ul.mini-cart li ul.cart_list li.cart-title {
    border: 0 none;
    padding: 0;
    text-align: right;
}

ul.mini-cart li ul.cart_list li.cart-title h3 {
    font-family: 'Open Sans', Helvetica, Arial;
    border-bottom: 1px solid #2C2C2C;
    color: #A1A1A1;
    font-size: 11px;
    margin: 0;
    padding: 6px 0 10px;
    text-transform: uppercase;
    font-weight: 800;
}

ul.mini-cart li ul.cart_list li.cart_list_product {
    clear: left;
    overflow: hidden;
    padding: 11px 0 7px;
}

ul.mini-cart li ul.cart_list li.cart_list_product:first-child {
    border-top: 0 none;
}

ul.mini-cart li ul.cart_list li.cart_list_product img {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 32px;
    height: 32px;
    float: left;
    margin: -4px 0.27em 0.27em 0;
    padding: 0.27em;
}

ul.mini-cart li ul.cart_list li.cart_list_product a {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
    font-size: 1em;
    font-weight: bold;
    margin: 3px 0;
    padding: 0;
    text-decoration: none !important;
}

ul.mini-cart li ul.cart_list li.cart_list_product a:hover {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
    padding: 0;
}

ul.mini-cart li ul.cart_list li.cart_list_product dl.variation {
    margin-bottom: 0;
    opacity: 0.7;
    overflow: hidden;
}

ul.mini-cart li ul.cart_list li.cart_list_product dl.variation dt {
    clear: left;
    float: left;
    font-weight: 700;
}

ul.mini-cart li ul.cart_list li.cart_list_product .quantities {
    float: none;
    display: block;
    margin: 5px 0 0 0;
    margin-right: 0 !important;
}

ul.mini-cart li ul.cart_list li.total {
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    border-top: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    line-height: 1;
    padding: 10px 0;
}

ul.mini-cart li ul.cart_list li.buttons {
    border-bottom: medium none;
    margin: 0 0 -8px;
    padding: 1em 0 0.5em;
}

ul.mini-cart li ul.cart_list li.buttons .button{
    border: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    background: #EF9516;
    color: #fff !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 10px;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer; 
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;  
}

ul.mini-cart li ul.cart_list li.buttons .button:hover {
    background: #0B0B0B;
}

ul.mini-cart li ul.cart_list li.buttons .button {
    float: left;
    width: 47%;
}

ul.mini-cart li ul.cart_list li.buttons .button.checkout {
    float: right;
    width: 47%;
}

.cart_list {
    margin-left: 0;
    padding: 20px 20px 0 20px;
}

div .dropdown_widget .cart_list li{
    border-top:none;
    font-size: 11px;
    list-style: none;
    padding: 15px 0;
    margin: 8px 0;
    clear: both;
}

.dropdown_widget .cart_list li.empty{
    border-bottom: none;
    text-align: center;
    font-weight: bold;
}

.dropdown_widget .cart_list li:nth-child(even){
}

.dropdown_widget ul.cart_list li a{
    display: block;
    font-weight: bold;  
}

#top .dropdown_widget a {
    text-decoration: none;
}

#top .dropdown_widget li a:hover{
    text-decoration: underline;
}

.dropdown_widget ul.cart_list li a img{
    float:right;
    display: block;
    padding:2px;
    margin:0;
    width:32px;
    height: 32px;
}

.dropdown_widget .quantity {
    clear: left;
    float: left;
    overflow: hidden;
}

#top .dropdown_widget .total{
    clear: both;
    padding:0 20px 0 20px;
    border:none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin: 25px 15px 0 15px;
    padding: 5px 0;
}

.dropdown_widget .buttons{
    clear: both;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
}

.dropdown_widget .buttons .button {
    border: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    background: #4C4FA0;
    color: #fff !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 10px;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer; 
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;      
}

.dropdown_widget .buttons .button:hover {
    background: #0B0B0B;
}

#top .dropdown_widget .buttons .button, #top .prev_image_container .widget_shopping_cart .buttons .button{
    width: 47%;
    float: left;
}

#top .dropdown_widget .buttons .button.checkout, #top .prev_image_container .widget_shopping_cart .buttons .button.checkout{
    float: right;
}

#top .update_succes{
    margin: 0px 10px;
}

dl.variation {
    float: left;
    padding:0;
    margin:0;
}

dl.variation dt {
    float: left;
    clear: left;
    padding: 0;
    margin: 0;
}

dl.variation dd {
    float: left;
    padding: 0;
    margin: 0 0 0 3px;
    font-weight: bold;
}

#top div.product .woocommerce_tabs ul.tabs li.active a, .cart_dropdown .dropdown_widget,  #top .sub_menu li ul a{
    background-color: #1F1F24;
}

.arrow_box {
    margin-bottom: 15px;
    text-align: center;
}

.arrow_box {
    position: relative;
    background: #1F1F24;
    border: 1px solid #efefef;
}

.arrow_box:after, .arrow_box:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-top-color: #303030;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}

.arrow_box:before {
    border-top-color: #efefef;
    border-width: 12px;
    left: 50%;
    margin-left: -12px;
}

/*-------------------------------------------------------------------------------------------*/
/* 8. RESPONSIVE
/*-------------------------------------------------------------------------------------------*/

.dropdown-menu {
    display: none;
}

/* Note: Design for a width of 768px, Gutter: 30px, Unit: 34px */

@media only screen and (min-width: 768px) and (max-width: 989px) {

    .sub_menu {
        display: none;
    }

    .nivo-caption {
        top: 60px !important;
        margin-right: 150px !important;
    }

    /* ---------------------------------------- */
    /*  Products Carousel
    /* ---------------------------------------- */

    .products-carousel > li, .post-carousel > li { width: 211px !important; }

    /* ---------------------------------------- */
    /*  Post Carousel
    /* ---------------------------------------- */
                
    .post-carousel .entry-body { width: 255px; }

    .hpslides {
        top: 30px;
    }

    .hpslides2 {
        top: 200px;
    }

    #breadcrumb {
        margin: 20px 0 0 0 !important;
    }

    .scase-pgtitle {
        padding: 0 30px 0 30px;
    }

    #showcase_cats {
        float: left;
        padding: 0 30px 30px 30px;
    }

    .woohpwidgets-main {
        float: none !important;
        width: 100% !important;   
    } 

    .woohpwidgets-side {
        display: none;
    }

    #searchform #s {

        width: 365px;
    }

    #searchform #s:focus {
        width: 385px;
    }

    .tf-product-price {
        padding-right: 20px !important;
    }

}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

    .product_title {
        text-align: center !important;
        padding-right: 30px !important;
    }

    .tf-product-price {
        text-align: center !important;
        padding: 0 0 20px 0 !important;
    }

    #toptop, #logospot {
        text-align: center;
    }    

    .sub_menu {
        display: none;
    }

    .headerwrap-img {
        line-height: 0;
        margin: 20px 0;
    }

    .header-widget {
        line-height: 0;
        margin-bottom: 20px;
    }      

    #searchform #s {
        width: 180px;
    }

    #searchform #s:focus {
        width: 190px;
    }   

    nav#access {
        margin: 0 0;
    }

    .menu-main-menu-container {
        text-align: center;
    }

    .dropdown-menu { 
        display: inline-block; 
        margin: 10px 0px;
        width: 218px;
        background: #f6f6f6;
        color: #666666;
        padding: 5px;
        font-size: 12px;
        line-height:21px;
        border: 1px solid #ccc;
    }

    #navigation { display: none; }
    
    .bottextright { text-align: center; }

    .hpslides, .hpslides2 {
        display: none;
    }

    .hpslider {
        margin: 30px 0 20px 0;
    }

    div.product div.images, div.product div.summary {
        float: none !important;
        width: 100% !important;
    }

    .woohpwidgets-main {
        float: none !important;
        width: 100% !important;   
    } 

    .woohpwidgets-side {
        display: none;
    }

    .entry-meta .entry-fr {
        display: none;
    }

    .form-allowed-tags {
        display: none;
    }

    #showcase-wrap {
        text-align: center;
    }

    .post-thumb img {
        float: none;
    }

    .pgtitle {
        padding: 0 0 0 0;
    }

    .pgtitle h1 {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
    }

    .entry-title {
        margin-top: 20px;
    }

    #footer-nav {
        text-align: center;
    }

    .bottextright {
        margin-bottom: 20px;
    }

    .hpslides, .hpslides2, .flex-control-nav {
        display: none;
    }

    .header-widget .widget_search, .header-widget .widget_product_search  {
        float: none;
        text-align: center;
    }

    .entry-content table td  { 
        padding: 10px 0 6px 5px; 
        border-top: 1px solid #e6e6e6; 
        vertical-align: middle;
    }    

    .product-thumbnail {
        display: none;
    }

    #breadcrumb {
        margin: 20px 0 0 0 !important;
    }

    .scase-pgtitle {
        padding: 0 30px 0 30px;
    }

    #showcase_cats {
        float: left;
        padding: 0 30px 30px 30px;
    }

}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

@media only screen and (min-width: 768px) and (max-width: 989px) {

    nav#access {
        margin: 0 0px;
    }

    .tf_showcase {
        float: left;
        margin: 0 25px 0 0;
        width: 160px;
    }

    .tf_showcase {
        float: left;
        margin: 0 25px 0 0;
        width: 160px;
    }

    .twocol .tf_showcase {
        float: left;
        width: 342px;
        margin: 0 30px 0 0;
    }

    .twocol.tf_showcase {
        float: left;
        width: 342px;
        margin: 0 30px 0 0;
    }

    .threecol .tf_showcase {
        float: left;
        width: 218px;
        margin: 0 30px 0 0;
    }

    .threecol.tf_showcase {
        float: left;
        width: 218px;
        margin: 0 30px 0 0;
    }

    .scase-pgtitle {
        padding: 0 30px 0 30px;
    }

    #showcase_cats {
        float: left;
        padding: 0 30px 30px 30px;
    }

    #breadcrumb {
        margin: 20px 0 0 0 !important;
    }
}

/*  #Mobile (Portrait) */
/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

    .tf_showcase {
        float: left;
        margin: 0 25px 0 0;
        width: 258px;
    } 

    .twocol .tf_showcase {
        float: left;
        width: 258px;
        margin: 0 25px 0 0;
    }

    .twocol.tf_showcase {
        float: left;
        width: 258px;
        margin: 0 25px 0 0;
    }

    .threecol .tf_showcase {
        float: left;
        width: 258px;
        margin: 0 25px 0 0;
    }

    .threecol.tf_showcase {
        float: left;
        width: 258px;
        margin: 0 25px 0 0;
    }

    #showcase-wrap { 
    } 

    .scase-pgtitle {
        padding: 0 30px 20px 30px;
    }

    #showcase_cats {
        float: none;
        text-align: center;
        padding: 30px 30px 30px 30px;
    }

    .single-tf_showcase #showcase_cats {
        padding: 0 30px 30px 30px;
    }

    #showcase_cats h2 {
        float: none;
    }

    #sort-by {
        margin-left: 0;
    }

}

/* #Mobile (Landscape)
/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .tf-product-price {
        text-align: center !important;
        padding: 0 0 30px 0 !important;
        float: none !important;
    }

    .product_title {
        padding-bottom: 0 !important;
        text-align: center !important;
    }

    #toptop, #logospot {
        text-align: center;
    }

    .headerwrap-img {
        line-height: 0;
        margin: 20px 0;
    }

    .header-widget {
        line-height: 0;
        margin-bottom: 20px;
    }

    .header-widget .widget_search, .header-widget .widget_product_search {
        float: none;
        text-align: center;
    }

    .one_third.header-widget {
        padding-top: 0px;
    }

    nav#access {
        margin: 0 0;
    }

    .sub_menu {
        display: none;
    }

    .menu-main-menu-container {
        text-align: center;
    }

    .dropdown-menu { 
        display: inline-block; 
        margin: 10px 0px;
        width: 378px;
        background: #f6f6f6;
        color: #666666;
        padding: 5px;
        font-size: 12px;
        line-height: 21px;
        border: 1px solid #ccc;
    }

    #navigation { display: none; }

    .nivo-caption {
        display: none !important;
    }

    .bottextright { text-align: center; }

    /* ---------------------------------------- */
    /*  Products Carousel & Post Carousel
    /* ---------------------------------------- */

    .products-carousel > li, .post-carousel > li { width: 179px !important; }

    /* ---------------------------------------- */
    /*  Post Carousel
    /* ---------------------------------------- */
        
    .post-carousel .entry-body { width: 155px !important; }

    .hpslides, .hpslides2, .flex-control-nav {
        display: none;
    }

    .tf_showcase {
        float: left;
        margin: 0 25px 0 0;
        width: 418px;
    } 

    .twocol .tf_showcase {
        float: left;
        width: 418px;
        margin: 0 25px 0 0;
    }

    .twocol.tf_showcase {
        float: left;
        width: 418px;
        margin: 0 25px 0 0;
    }

    .threecol .tf_showcase {
        float: left;
        width: 418px;
        margin: 0 25px 0 0;
    }

    .threecol.tf_showcase {
        float: left;
        width: 418px;
        margin: 0 25px 0 0;
    }

    #showcase-wrap { 
    } 

    .scase-pgtitle {
        padding: 0 30px 0 30px;
    }

    #showcase_cats {
        float: left;
        padding: 20px 30px 30px 30px;
    }

    .single-tf_showcase #showcase_cats {
        padding: 0 0 30px 0;
    }

    #breadcrumb {
        margin: 20px 0 0 0 !important;
    }
}

@media only screen and (max-width: 479px) { 

    /* ---------------------------------------- */
    /*  Products Carousel
    /* ---------------------------------------- */

    .products-carousel > li, .post-carousel > li { width: 218px !important; }

    /* ---------------------------------------- */
    /*  Post Carousel
    /* ---------------------------------------- */
            
    .post-carousel .entry-body { width: 255px !important; }

    .hpslider {
        margin: 20px 0 20px 0;
    }

    .hpslides, .hpslides2 {
        display: none;
    }

    .widget_search, .widget_product_search {
        float: none;
        text-align: center;
    }

    .one_third.header-widget {
        padding-top: 0px;
    }

    .featprodmidimg {
    }
    
    #breadcrumb {
        margin: 20px 0 0 0 !important;
    }

    .social-icons {
        display: none;
    }

    #vtoplinks {
        text-align: center;
    }

    ul.mini-cart {
        float: none;
        margin-left: 0;
    }    
}

/*-------------------------------------------------------------------------------------------*/
/* 9. SKINS */
/*-------------------------------------------------------------------------------------------*/

.ie9 .gradient {
    filter: none;
}

/*-------------------------------------------------------------------------------------------*/
/* 10. PLUGINS */
/*-------------------------------------------------------------------------------------------*/

/* 10.1 - Cloud Zoom Support */

.jcarousel-clip .zoom .attachment-shop_single {
    width: 90px;
    height: 90px;
}

/* 10.2 - Recent Tweets Support */

.tp_recent_tweets ul {
    margin-left: 5px;
    list-style-type: none;
}

.tp_recent_tweets a {
    color: #A1A1A1;
}

.tp_recent_tweets a:hover {
    color: #fff !important;
}

.tp_recent_tweets .twitter_time {
    font-size: 11px !important;
}