/* 2.2 Navigation */

.navwrap {
}

nav#access {
}

#navigation {
    margin: 0;
}

#navigation {
    padding:0; 
}

.nav { 
    margin: 0 0 0 -15px; 
    padding:0; 
    list-style:none; 
    line-height: 1;
    overflow:hidden;
}

.nav a  { 
    position: relative; 
    color: #fff; 
    display: block; 
    padding: 18px 20px 18px; 
    text-decoration: none; 
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav li a:hover { 
    color: #EF9516; 
    text-decoration: none !important;
} 

.nav li.current_page_item a, .nav li.current_menu_item a { 
    color: #EF9516; 
    text-decoration: none !important;
} 

.sub-menu.nav li.current_page_item a, .sub-menu.nav li.current_menu_item a { 
    color: #0B0B0B; 
    text-decoration: none !important;
} 

.nav li  { 
    float: left; 
    width: auto; 
}

/* Sub Menu Items */

.nav li ul {
	border: 1px solid #212228;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
	margin-left: -10px;
	position: absolute;
	z-index: 200;
	margin-top: -1px;
	z-index: 9999;
}

.nav li ul li {
	border-bottom: 1px solid #2C2C2C;
	float: none;
	position: relative;
}

nav.main ul li ul li:last-child {
	border-bottom: none;
}

.nav li ul li a {
	color: #fff !important;
	/*font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;*/
	font-size: 0.9em;
    text-transform: none !important;
}

.nav li ul li a {
	background: #121212;
	/*border: 1px solid white;*/
	border-bottom: none;
	/*height: auto;*/
	line-height: 2;
	padding: 8px 5px 8px 15px;
	text-align: left;
	width: 200px;
	text-transform: uppercase;
	letter-spacing: normal;
}

.nav li ul li a:hover, .nav li ul li.current_page_item a {
	background: #25272A;
	border-color: #f1f1f1;
	color: #444;
}

.nav li ul li a:active {

}

.nav li a {
	display: block;
	text-decoration: none;
    text-transform: uppercase;
}

.nav li ul li ul {
	left: 100%;
	margin-top: -1px;
	margin-left: 0px;
	top: 0;
}

.nav li.right ul li ul {
  	left: -175px;
}

.nav li ul li ul {
	z-index: -1;
}

/* Dropdown Hover */

.nav li ul, .nav li:hover ul li ul { display: none; }

.nav li:hover ul,
.nav li ul li:hover ul { display: block; }

.nav .sf-sub-indicator {
    display: block;
    width: 8px;
    height: 7px;
    text-indent: -999em;
    background: url('../images/menubullet.png') top left;
    position: absolute;
    top: 21px;
    right: 8px;
}

.nav a:focus > .sf-sub-indicator, .nav a:hover > .sf-sub-indicator {
    background: url('../images/menubullet.png') bottom left;
}

.nav li ul .sf-sub-indicator {top: 0.9em;}

.nav ul.sub-menu a > .sf-sub-indicator, .nav ul.children a > .sf-sub-indicator {
    display: block;
    background: url('../images/menubullet.png') bottom right;
    width: 8px;
    height: 11px;
    left: 85% !important;
    top: 13px;
}

/* 2.2.1 Sub Nav */

#sub_nav {
    margin: 0 0 20px 0;
}

.leftnavtitle {
    font-family: Georgia;
    font-style: italic;
    margin: 0 0 10px 0;
}

#sidebar_content ul.sub-menu li.menu-item ul.sub-menu {
    display: none;
}

#sidebar_content ul.sub-menu li.current-menu-parent a {

}

#sidebar_content ul.sub-menu li.current-menu-item ul.sub-menu {
    display: block;

}

#sidebar_content ul.sub-menu li.current-menu-item ul.sub-menu ul.sub-menu {
    display: none;
}


#sidebar_content ul.sub-menu li.current-menu-item ul.sub-menu li.current-menu-item {
    display: block;
}

#sidebar_content ul.sub-menu li.current-menu-ancestor ul.sub-menu {
    display: block;
}

#sidebar_content ul.sub-menu li.current-menu-ancestor ul.sub-menu ul.sub-menu{
    display: none;
}

#sidebar_content ul.sub-menu li.current-menu-ancestor ul.sub-menu li.current-menu-item ul.sub-menu  {
    display: block;
}

#sidebar_content ul.sub-menu li.current-menu-ancestor ul.sub-menu li.current-menu-ancestor ul.sub-menu  {
    display: block;
}

#menu-main-menu {
    margin: 10px 0 0 0;
    border-bottom: 1px solid #eee;
    line-height: 1.8em;
}

#sidebar_content .sub-menu {
    list-style-type: none;
    margin: 0;
}

#sidebar_content .sub-menu li {
    border-top: 1px solid #efefef;
    padding: 5px 8px 5px 15px;
}

#sidebar_content li.current-menu-item a {
    font-weight: bold;
    color: #DA590F !important;
}

#sidebar_content .sub-menu li li {
    border-style: none;
    padding-left: 14px;
}

#sidebar_content ul.sub-menu ul.sub-menu {
    padding-top: 8px;
}

#sidebar_content ul.sub-menu li.current-menu-item ul.sub-menu {
    font-weight: normal;
}

#rightMenu li li {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 14px;
    border-style: none;
    background: white url(../img/icons/subarrow.gif) no-repeat 0px 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}