/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}

.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
	-webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

#showcaseimg .nivoSlider img {
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */

.nivo-caption {
	position:absolute;
	top: 100px;
	margin-left: 70px; 
	border-radius: 4px;
	color:#fff;
	width: auto; 
    margin-right: 300px;
	z-index:8;
	padding: 25px;
	overflow: hidden;
	display: none;
}

.nivo-bg {
	
}

.nivo-slidewrap {

}

.nivo-caption h2 { 
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 34px;
    line-height: 34px;
    color: #fff; 
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    display: inline-block;
}

.nivo-caption a { 
    -webkit-transition: color 0.15s linear;
    -moz-transition: color 0.15s linear;
    -ms-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear;
    color: #fff;
}

.nivo-caption h2 a:hover {
    color: #F0EAEA;
}

.nivo-caption p {
    color: #fff; 
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 0 0 0; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    padding: 0;
}       

.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	width: 36px;
	height: 39px;
	margin: -20px 0 0;
	display: block;
	background: url(../images/bg_direction_arrows_trans.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease; 
	transition: all .3s ease;
	z-index:102;
}

.nivo-prevNav {
	left: -36px;
}

.nivo-nextNav {
	background-position: 0 -39px !important; 
	right: -36px;
}

#slider:hover .nivo-nextNav {
	opacity: 1; 
	right: 0;
	background-color: #0B0B0B;
}

#slider:hover .nivo-nextNav:hover, #slider:hover .nivo-prevNav:hover {
	background-color: #EF9516;	
}

#slider:hover .nivo-prevNav {
	opacity: 1; 
	left: 0;
	background-color: #0B0B0B;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position: absolute;
	bottom: 30px;
	right: 40px;
	z-index: 102;
}

#showcaseimg .nivo-controlNav {
	display: none;
}

.nivo-controlNav a {
	float: left;
	width: 11px;
	height: 11px;
	display: block;
	background: #dedede;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px; 
	-o-border-radius: 20px; 
	border-radius: 20px;
	margin: 0 0 0 5px;
}

.nivo-controlNav a:first-child {
	margin: 0;
}

.nivo-controlNav a:hover {background: #a4a4a4;}

.nivo-controlNav a.active {
	background: #EF9516; 
	cursor: default;
}

.hpslide_pricewrap {
	float: left;
	background: #EF9516;
	padding: 10px;
	width: auto;
	margin-top: 10px;
	border-radius: 4px;
	margin-bottom: 5px;
	font-size: 12px;
	text-transform: uppercase;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;   
}

.hpslide_pricewrap:hover {
	background: #E2870D;
}

.nivo-bg img {

}