/*
* Based on Skeleton by Dave Gamache (www.getskeleton.com) and modified Skeleton by Kriesi (http://www.kriesi.at/)
*/

/* Table of Contents
==================================================
    #Some columns for more flexible % based grids too
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

/* Some columns for more flexible % based grids too
================================================== */

.one_fifth          {   overflow: hidden; margin-left: 4%; width:16.5%; float:left; position:relative; }
.one_fourth         {   overflow: hidden; margin-left: 4%; width:22%;  float:left;  position:relative; }
.one_third          {   overflow: hidden; margin-left: 4%; width:30.5%; float:left;     position:relative; }
.two_fifth          {   overflow: hidden; margin-left: 4%; width:38.5%; float:left; position:relative; }
.one_half           {   overflow: hidden; margin-left: 4%; width:48%; float:left;   position:relative; }
.three_fifth        {   overflow: hidden; margin-left: 4%; width:57%; float:left;   position:relative; }
.two_third          {   overflow: hidden; margin-left: 4%; width:65.5%; float:left;     position:relative; }
.three_fourth       {   overflow: hidden; margin-left: 4%; width:74%; float:left;   position:relative; }
.four_fifth         {   overflow: hidden; margin-left: 4%; width:79%; float:left;   position:relative; }
.msie7 .one_fourth      {   width:21.5%;    }
.msie7 div, .msie7 li   {   zoom:1;         }


.deals .one_third {
  width: 290px;
  margin-left: 30px;
}

.deals .one_third.first {
  margin-left: 0;
}

/* #Base 960 Grid
================================================== */
    #wrap_all                                   { margin: 0 auto; position:relative; z-index: 2;}
  	.boxed #wrap_all							              { margin: 0 auto 0 auto; width: 990px;}
    #hpshop.container                          { border: 1px solid #e1e1e1;}
    #hpshop.container { border-top: none;}
    .container                                  { position: relative; width: 930px; margin: 0 auto; padding: 0; }
    #contents .container                        { padding: 30px 0 20px 0; }
    .unit, .units                               { float: left; display: inline; margin-left: 30px; position:relative; }
    .row                                        { position:relative; margin-bottom: 20px; clear:both; }

    /* Nested Column Classes */
    body .unit.alpha, body .units.alpha, body div .first       { margin-left: 0; clear: left;}
    .first-noclear { margin-left: 0;}

    /* Base Grid */
    .container .one.unit                      	{ width: 50px;  }
    .container .two.units                     	{ width: 130px; }
    .container .three.units                   	{ width: 210px; }
    .container .four.units                    	{ width: 290px; }
    .container .five.units                    	{ width: 370px; }
    .container .six.units                     	{ width: 450px; }
    .container .seven.units                   	{ width: 530px; }
    .container .eight.units                   	{ width: 610px; }
    .container .nine.units                    	{ width: 690px; }
    .container .ten.units                     	{ width: 770px; }
    .container .eleven.units                  	{ width: 850px; }
    .container .twelve.units                  	{ width: 930px; margin-left:0}

    /* Offsets */
    .offset-by-one                   { padding-left: 80px;  }
    .offset-by-two                   { padding-left: 160px; }
    .offset-by-three                 { padding-left: 240px; }
    .offset-by-four                  { padding-left: 320px; }
    .offset-by-five                  { padding-left: 400px; }
    .offset-by-six                   { padding-left: 480px; }
    .offset-by-seven                 { padding-left: 560px; }
    .offset-by-eight                 { padding-left: 620px; }
    .offset-by-nine                  { padding-left: 700px; }
    .offset-by-ten                   { padding-left: 780px; }
    .offset-by-eleven                { padding-left: 860px; }


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width: 768px) and (max-width: 989px) {
        .boxed #wrap_all                            { width: 774px; }
        header .container      { margin: 0 auto; width: 714px; }
        .container                                   { width: 714px; }

        .container .one.unit, 
        .container .one.units                        { width: 32px; }
        .container .two.units                        { width: 94px; }
        .container .three.units                      { width: 156px; }
        .container .four.units                       { width: 218px; }
        .container .five.units                       { width: 280px; }
        .container .six.units                        { width: 342px; }
        .container .seven.units                      { width: 404px; }
        .container .eight.units                      { width: 466px; }
        .container .nine.units                       { width: 528px; }
        .container .ten.units                        { width: 590px; }
        .container .eleven.units                     { width: 652px; }
        .container .twelve.units                     { width: 714px; }
        .responsive #top.boxed  .stretch_full                    { width: 774px;}

        /* Offsets */
        .offset-by-one                   { padding-left: 62px; }
        .offset-by-two                   { padding-left: 124px; }
        .offset-by-three                 { padding-left: 186px; }
        .offset-by-four                  { padding-left: 248px; }
        .offset-by-five                  { padding-left: 310px; }
        .offset-by-six                   { padding-left: 372px; }
        .offset-by-seven                 { padding-left: 434px; }
        .offset-by-eight                 { padding-left: 496px; }
        .offset-by-nine                  { padding-left: 558px; }
        .offset-by-ten                   { padding-left: 620px; }
        .offset-by-eleven                { padding-left: 682px; }

        .deals .one_third {
          width: 224px;
          margin-left: 21px;
        }

        .deals .one_third.first {
          margin-left: 0;
        }
    }

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
       .boxed #wrap_all         { width: 318px;  }
       .container { width: 258px; }
       .units, .unit { margin: 0; }

       .container .one.unit,
       .container .one.units,
       .container .two.units,
       .container .three.units,
       .container .four.units,
       .container .five.units,
       .container .six.units,
       .container .seven.units,
       .container .eight.units,
       .container .nine.units,
       .container .ten.units,
       .container .eleven.units,
       .container .twelve.units,
       .one_fifth,         
       .one_fourth,        
       .one_third,         
       .two_fifth,         
       .one_half,          
       .three_fifth,       
       .two_third,         
       .three_fourth,      
       .four_fifth,
       .deals .one_third,
       .deals .one_third.first { margin: 0; margin-bottom: 10px; width: 258px; }
       .boxed  .stretch_full{ width: 318px;}

        /* Offsets */
       .offset-by-one,
       .offset-by-two,
       .offset-by-three,
       .offset-by-four,
       .offset-by-five,
       .offset-by-six,
       .offset-by-seven,
       .offset-by-eight,
       .offset-by-nine,
       .offset-by-ten,
       .offset-by-eleven{ padding-left: 0; }

    }

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .boxed #wrap_all    { width: 478px;  }
        .container { width: 418px; }
        .units, .unit { margin: 0; }

        .container .one.unit,
        .container .one.units,
        .container .two.units,
        .container .three.units,
        .container .four.units,
        .container .five.units,
        .container .six.units,
        .container .seven.units,
        .container .eight.units,
        .container .nine.units,
        .container .ten.units,
        .container .eleven.units,
        .container .twelve.units,
        .one_fifth,            
        .one_fourth,       
        .one_third,            
        .two_fifth,            
        .one_half,         
        .three_fifth,      
        .two_third,            
        .three_fourth,     
        .four_fifth,
        .deals .one_third,
        .deals .one_third.first { width: 418px; margin-left: 0; margin-bottom: 10px; }
        .boxed  .stretch_full{ width: 478px;}

    }

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested units,
    or wrap each row of units in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear units */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

/* Responsive Images */

    img.scale-with-grid {
        max-width: 100%;
        height: auto; }
    
    img, a img { 
        border:none; 
        padding: 0; 
        margin:0; 
        display:inline-block; 
        max-width: 100%;
        height:auto;
        image-rendering: optimizeQuality;
    }

.msie7 img{ -ms-interpolation-mode: bicubic; }
