/* Post List */
.widefat .column-featured,
.widefat .column-viewable {
	width: 10%;
	text-align: center;
}
.widefat .column-candidate_id {
	width: 12%;
}
.widefat .column-job_category,
.widefat .column-job_location {
	width: 20%;
}
