
// load bootstrap.less included variables.less & mixins.less
@import "app/mixins.less";
@import "app/language_click.less";

/* ==========================================================================
   Base
   ========================================================================== */
body{ 
	background: #f5f5f5;
	color: #666;
	font-size: 13px;
	font-family:'RobotoRegular';
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	&.page-template-page-home3{
		background-color:#fff;
	}
	a{
		color: #444444;
		&:hover{
			color: @color;
			text-decoration: none;
		}
		&:focus{
			text-decoration: none;
		}
	}
	
	h1, h2, h3, h4, h5, h6{
		margin: 0 0 10px;
		font-family: inherit;
	}
	a{
		outline: medium none !important;
	}
	input, textarea, button {
		outline: medium none !important;
		border: 1px solid @border-color;
		margin-bottom: 10px;
		.border-radius(4px);
		padding: 0px 5px;
	}
	img{
		.img-responsive();
		  display: block;
          max-width: 100%;
          height: auto;
	}
	ul{
		padding: 0;
	}
	ul, ol{
     margin-left: 15px;
    }
	ol{
		padding-left: 15px;
	}
	.container{
	   padding:0;
	}
	table{
		margin-bottom:20px;
	}
	tbody tr{
		text-align:left;
	}
}
.theme-clearfix:after{
	height: 0;
	clear: both;
	content: " ";
	font-size: 0;
	min-height: 0;
	display: block;
	visibility: hidden;
}
/* Images in content post*/
.thumbnail{
	max-width: 100%;
}
.size-full {
    width:100%;
    height:auto;
    margin:0 0 30px 0;
}
.alignleft {
    float: left;
    margin:0 15px 30px 0;
    .rtl &{
    	float: right;
    	margin: 0 0 30px 15px;
    }
}
.aligncenter {
    display: block;
    margin: 0 auto 30px auto;
	clear: both;
}
.alignright {
    float: right;
    margin:0 0 30px 15px;
    .rtl &{
    	float: left;
    	margin: 0 15px 30px 0;
    }
}
.alignnone {
    float: none;
	clear: both;
    display:block;
    margin:0 0 30px 0;
}

p .size-full {
    width: auto;
    height:auto;
    margin:5px 0 30px 0;
}
p .alignleft {
    float: left;
    margin:5px 15px 30px 0 ;
    .rtl &{
    	float: right;
    	margin: 5px 0 30px 15px; 
    }
}
p .aligncenter {
    display: block;
    margin: 5px auto 30px auto;
}
p .alignright {
    float: right;
    margin:5px 0 30px 15px;
    .rtl &{
     	float: left;
     	margin: 5px 15px 30px 0;
    }
}
p .alignnone {
    float: none;
    display:block;
    margin:5px 0 30px 0;
}
figure .size-full{
	margin: 0;
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	&:empty{
		display:none;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
ul.menu, .dropdown ul{
	list-style: none;
}
.loading{
	position: relative;
	max-height: 300px;
	overflow: hidden;
	&:before{
		background: url(../assets/img/loadingp.gif) no-repeat center center #fff;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 99;
		display: block;
	}
}
.fa{
	margin:5px;
}
input.input-text:focus, select:focus, textarea:focus{
	background-color:#fafafa;
}
.button{
	background-color:#ccc;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	border:1px solid #e1e1e1;
	height:33px;
	margin:0;
	overflow:visible;
	padding:0 15px;
	text-transform:uppercase;
	width:auto;
	white-space:nowrap;
	&:hover{
		background:@color;
		color:#fff;
	}
}
.home .sidebar{
	margin-top:25px;
} 
//map
.wpb_map_wraper iframe{
	 pointer-events: none;
}
.home .wpb_single_image img{
	display:block !important;
	width:100%;
}

.quote-border{
	margin-bottom:10px;
}
.quote-border{
	.border-radius(3px);
	background-color: #f4f4f4;
	padding:20px;
	margin-bottom: 10px;
	font-style: italic;
	border: 1px solid #ddd;
}
/* currency converter */
ul.currency_switcher {
	zoom: 1;
	list-style: none outside;
}
ul.currency_switcher li {
	float: left;
	margin: 0 4px 4px 0;
	list-style: none outside;
}
ul.currency_switcher li a {
	float: left;
	padding: 3px 5px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
ul.currency_switcher li a.active, ul.currency_switcher li a:hover {
	background: #ddd;
}
/*prettyPhoto Gallery*/
	.pp_default{
		background:#fff;
	}
	.slick-slider .slick-list{
		overflow:hidden;
	}
/*boxed layout*/
.box-layout{
	background:#f5f5f5;
	margin:0 auto;
	max-width:1200px;
	overflow:hidden;
	padding:0 15px;
	.header, .footer{
		margin:0 -15px;
	}
	.header-style2{
		margin:0 -15px;
		.header{
			margin:0;
		}
	}
}
.fancybox-outer, .fancybox-inner{
	background:#fff;
	width:750px !important;
	
}
.fancybox-close{
	right:100px ;
	.rtl &{
		left:100px;
		right:auto;
	}
}
.page-template-page-home .wpb_revslider_element, .page-template-page-home2 .wpb_revslider_element{
	margin-bottom:0 !important;
}
.ya_selectmenu{
	display:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.header-style1 .widget_currency_converter .currency_w >li .currency_switcher{
		margin:2px -15px 0;
	}
}
/*fix menu shortcode */
.responsive-slider .slider{
	z-index:8;
}
/*add font Chivo Black*/
@font-face {
    font-family: 'ChivoBlack';
    src: url('../fonts/ChivoBlack.eot');
    src: url('../fonts/ChivoBlack.eot') format('embedded-opentype'),
         url('../fonts/ChivoBlack.woff2') format('woff2'),
         url('../fonts/ChivoBlack.woff') format('woff'),
         url('../fonts/ChivoBlack.ttf') format('truetype'),
         url('../fonts/ChivoBlack.svg#ChivoBlack') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoRegular.eot');
    src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
         url('../fonts/LatoRegular.woff2') format('woff2'),
         url('../fonts/LatoRegular.woff') format('woff'),
         url('../fonts/LatoRegular.ttf') format('truetype'),
         url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
}
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold.eot');
    src: url('../fonts/LatoBold.eot') format('embedded-opentype'),
         url('../fonts/LatoBold.woff2') format('woff2'),
         url('../fonts/LatoBold.woff') format('woff'),
         url('../fonts/LatoBold.ttf') format('truetype'),
         url('../fonts/LatoBold.svg#LatoBold') format('svg');
}
@font-face {
    font-family: 'QuicksandBold';
    src: url('../fonts/QuicksandBold.eot');
    src: url('../fonts/QuicksandBold.eot') format('embedded-opentype'),
         url('../fonts/QuicksandBold.woff2') format('woff2'),
         url('../fonts/QuicksandBold.woff') format('woff'),
         url('../fonts/QuicksandBold.ttf') format('truetype'),
         url('../fonts/QuicksandBold.svg#QuicksandBold') format('svg');
}



/*	===================================================================
	content
	===================================================================	*/
@import "app/_menu.less";
@import "app/_header.less";
@import "app/_search.less";
@import "app/woocommerce.less";
@import "app/_widgets.less";
@import "app/_portfolio.less";
@import "app/content.less";
@import "app/_footer.less";
@import "app/_portfolio.less";
@import "app/shortcodes.less";


