/*

Theme Name: White Rock
Theme URI: http://progressionstudios.com/
Author: Progression Studios
Author URI: http://themeforest.net/user/ProgressionStudios?ref=ProgressionStudios
Description: Restaurant & Winery Premium Theme
Version: 1.9
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: right-sidebar, flexible-width, custom-menu, editor-style, featured-images, full-width-template, theme-options, translation-ready
Text Domain: progression

*/

/*  Table of Contents 

01. HTML5 ✰ BOILERPLATE RESET FILE
02. COLORS AND FONTS
	A. BACKGROUND COLORS AND IMAGES
	B. FONT COLORS
	C. FONT FAMILIES
	D. SOCIAL ICONS
03. PRIMARY STYLES
	A. DEFAULT STYLES
	B. BUTTON STYLES
	C. INPUT STYLES
	D. CSS3 TRANSITIONS
04. MAIN CONTAINERS	
05. FOOTER STYLES
06. BLOG STYLES
07. PORTFOLIO & MENU STYLES
08. FOOD MENU STYLES
09. WIDGET STYLES
10. SIDEBAR STYLES
11. FEATURED SLIDER and PAGE TITLE
12. NAVIGATION
13. DEFAULT GRID
14. PRINT STYLES
15. LIGHTBOX STYLES
15. WOOCOMMERCE STYLES

*/


/*
=============================================== 01. HTML5 ✰ BOILERPLATE RESET FILE ===============================================
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after, .clear:before, .clear:after { content: ""; display: table; }
.clearfix:after, .clear:after { clear: both; }
.clearfix, .clear { *zoom: 1; }
.lt-ie8 .clearfix, .lt-ie8 .clear {visibility:hidden; width:0;height:0; clear:both;}



/*
=============================================== 02. COLORS AND FONTS ===============================================
*/
body #logo img {max-width:288px; }


/* -------------------- A. BACKGROUND COLORS AND IMAGES -------------------- */
hr {border-bottom:1px solid #bdb7a4; }
#header-top-bar, #page-title-divider { background:#88a5b1; }
#page-title h1 {border-bottom:8px solid #576e78; }
.widget-area-highlight  {background:#e3e0d9; }
#copyright { border-top-color:#bdb7a4;  }
.wpcf7  input.wpcf7-submit, ul.filter-children li a, a.rock-button, input.button, .pagination a, .social-icons a, .rock-button, a .rock-button, #respond input#submit, body #main a.progression-grey {
	color:#88a5b1; 
	background:#ffffff;
	border-bottom:2px solid #aacedd;
}
.rock-button a {color:#88a5b1; }
.wpcf7  input.wpcf7-submit:hover, ul.filter-children li a:hover, ul.filter-children li.current_page_item a, #respond input#submit:hover, .rock-button:hover, a.rock-button:hover, .social-icons a:hover, input.button:hover, .pagination a:hover, .pagination a.selected, .social-icons a:hover, body #main a.progression-grey:hover 
{background:#aacedd; color:#ffffff;}
.rock-button:hover a {color:#ffffff;}
#tweets-sidebar {background:#f2f1ed;}
#tweets-sidebar:before {border-top: 10px solid #f2f1ed;}
#main img, #map-contact, .video-container, #map-contact2 {border-bottom:5px solid #88a5b1;}
.menu-item-container {border-bottom:4px solid #88a5b1; }
body ul#open-hours li, body #main ul.menu-items li, .type-post {border-bottom:1px dotted #bdb7a4; }
.header-underline {border-bottom:3px solid #bdb7a4;}
#sidebar {border-left:1px dotted #bdb7a4;}


/* -------------------- B. FONT COLORS -------------------- */
body {color:#5f6567;}
a {color:#5f757e;}
a:hover {color:#88a5b1;}
#copyright li a:hover {color:#88a5b1;}
h1, h2, h3, h4, h5, h6 {color:#7b7562;}
#copyright li a {color:#aca693;}

/* -------------------- C. FONT FAMILIES -------------------- */
body #main a.button, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main input.button.checkout-button, body #main button.button,
.caption-progression, ul.filter-children li a, #respond input#submit, .sf-menu, .flex-caption, footer #copyright ul, .rock-button, h1, h2, h3, h4, h5, h6, .phone-widget span, .e-mail-widget span, .mobile-widget span, body #main ul.menu-items .grid2column, .pagination a, body #main a.progression-grey
{font-family:'Droid Serif', serif; }

body {
	font-family:"Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

/* -------------------- D. SOCIAL ICONS -------------------- */
@font-face {
    font-family: 'JustVector';
    src: url('e/justvectorv2-webfont.eot');
    src: url('social-icons/justvectorv2-webfont.eot?#iefix') format('eot'),
         url('social-icons/justvectorv2-webfont.woff') format('woff'),
         url('social-icons/justvectorv2-webfont.ttf') format('truetype'),
         url('social-icons/justvectorv2-webfont.svg#webfontkw9J4lGf') format('svg');
    font-weight: normal;
    font-style: normal;
}

.social-icons { font-family: 'JustVector';}
.social-icons a {
	display:inline-block;
	font-size:15px; 
	line-height:11px;  
	text-decoration:none;
	margin-right:0px;
	margin-bottom:10px;
	position:relative;
	padding:7px ;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

}


/*
=============================================== 03. PRIMARY STYLES ===============================================
*/
/* -------------------- A. DEFAULT STYLES -------------------- */
body {
	font-size: 13px; line-height: 1.4; 
	color:#777777;
}
body a img, body a {outline:none !important; text-decoration:none;}
#main a:hover img {opacity:0.6;  filter:alpha(opacity=60);}
p {padding-top:0px; margin:0px;}
p, ul, ol {margin-bottom: 15px;}
ul, ol {margin-left:0px; padding-left:16px;}
ul li, ol li {margin-bottom:5px;}
img {max-width: 100%;height: auto;  width:auto;}
h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px; line-height:1.2; font-style:italic; font-weight:normal;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {text-decoration:none;}
h1 {font-size:30px;  margin-bottom:12px;  }
h2 {font-size:20px; margin-bottom:10px; }
h3 {font-size:19px; margin-bottom:10px;}
h4 {font-size:16px; margin-bottom:6px;}
h5 {font-size:14px; margin-bottom:6px; }
h6 {font-size:13px; margin-bottom:6px; font-weight:bold;}
.header-underline { padding-bottom:10px; margin-bottom:14px;}
h5.comments-title, h3#reply-title {font-size:16px; margin-bottom:15px;}
h5.menu-item-header-wine {margin-top:15px;}
hr {background:transparent;border-top:none; margin:20px 0px;}
ul.checkmark, ul.arrow {padding-left:0px;}
ul.checkmark li, ul.arrow li {list-style:none; padding-left:18px;}
ul.checkmark li {background:url(images/checkmark.png) 0px 2px no-repeat;}
ul.arrow li {background:url(images/sidebar-arrow.png) -4px 0px no-repeat;}
.alignright {float:right; margin:0 0 15px 20px;}
.alignleft {float:left; margin:0px 20px 15px 0px;}
.aligncenter {text-align:center;  margin:0px auto 15px auto; display:block; }
blockquote {background:url(images/blockquote.png) 0px 0px no-repeat; padding-left:40px; font-style:italic; line-height:1.8;}
pre {border:1px solid #ddd; padding:7px 15px; background:#fff; overflow:auto; word-wrap: break-word; line-height:14px; margin-bottom:15px;}
#main .noborder, #main img.noborder, #main a .noborder img {border:none;}
#main footer a:hover img, #main a:hover img.notransprency, #main .portfolio-single-container a:hover img {opacity:1; filter:alpha(opacity=100);}
.sticky, .gallery-caption, .bypostauthor {}
.homepage-feature-box { overflow:hidden; height:15px;width:25px; clear:both;}
.wine-feature-box { overflow:hidden; height:25px;width:25px; clear:both;}

/* -------------------- B. BUTTON STYLES -------------------- */
body #main a.button, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main input.button.checkout-button, body #main button.button,
.wpcf7  input.wpcf7-submit, ul.filter-children li a, a.rock-button, input.button, .rock-button, #respond input#submit, body #main a.progression-grey {
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	font-style:italic;
	padding:9px 12px 9px 12px;
	font-size:12px;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	text-shadow:none;
	border-left:none; border-right:none; border-top:none;
	margin:0px;
	font-weight:normal;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;  -o-border-radius: 0px;
}
.lt-ie8 #main p.rock-button {display:inline;}

body #main a.progression-square {
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	border-radius: 0px;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

body #main  a.progression-rounded {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

body #main a.progression-mini {
	padding: 5px 6px;
	font-size:11px;
}
	
body #main a.progression-small {
	padding: 8px 10px; 
	font-size:11px;
}

body #main a.progression-medium	{
	padding:9px 12px 9px 12px;
	font-size:12px;
}

body #main a.progression-large {
	padding:12px 18px; 
	font-size:15px;
}


/* -------------------- D. CSS3 TRANSITIONS -------------------- */
a, a img { 
	-webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; transition: all 400ms ease; -o-transition: all 400ms ease;
}
body #main a.button, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main input.button.checkout-button, body #main button.button,
.wpcf7  input.wpcf7-submit, ul.filter-children li a, .sf-menu a, .rock-button, input.button, #respond input#submit, body #main a.progression-grey  { 
	-webkit-transition: all 250ms ease; -moz-transition: all 250ms ease; transition: all 250ms ease;  -o-transition: all 250ms ease;
}
.flex-control-paging li a {-webkit-transition-duration: 0ms !important; -moz-transition-duration: 0ms !important; -o-transition-duration: 0ms !important; transition-duration: 0ms !important;}


/* -------------------- E. CONTACT & FORM STYLES -------------------- */
#map-contact, #map-contact2 {width:100%; height:260px; margin-bottom:20px;}
#map-contact2 {height:400px; margin-bottom:5x;}
#map-contact img, #map-contact2 img {max-width:none; height: auto; }
#contactform {margin-top:25px; margin-left:10px;}
#contactform label.error {line-height:1; font-weight:normal; display:block; width:100%; font-style:italic; padding-left:2px; height:25px;  padding-top:4px; margin-bottom:-33px; position:relative; top:-10px; font-size:11px; color:#dd8b8b;}
#contactform input.error { border: 1px dotted #f4cbcb; background:#f8eded; }
p.error {color:#dd8b8b; font-weight:bold;}
p.success {color:#64ba7c; font-size:14px; font-weight:bold; padding-bottom:2px; }
p.success2 {padding-bottom:8px;}
#contactform span, span.required {color:#ff5c5f;}
#contactform div {padding-bottom:15px;}
#contactform label { display:block; vertical-align: top; font-weight:bold;   padding-bottom:4px;}
#contactform input#contactname, #contactform input#email, .wpcf7 input {width:55%;}
#contactform textarea#message, .wpcf7 textarea {width:68%;}
#contactform input.button, .wpcf7 input.wpcf7-submit, #respond input#submit {width:auto; }
#contact-wrapper {margin-bottom:15px;}
.wpcf7 {font-size:12px; font-weight:bold;}
.wpcf7 input {font-size:14px; font-weight:normal;}

input, textarea {
	margin:1px 0px 15px 3px;
	background-color:#fefefe; 
	border:1px solid #a49f8f; padding:7px 8px; 
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; 
	-moz-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.12); -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.12); box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.12);
	background-image: -ms-linear-gradient(top, #F1F1F1 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #F1F1F1 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(top, #F1F1F1 0%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF));
	background-image: -webkit-linear-gradient(top, #F1F1F1 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #F1F1F1 0%, #FFFFFF 100%);
}



/*
=============================================== 04. MAIN CONTAINERS ===============================================
*/
/* -------------------- A. HEADER STYLES -------------------- */
body.admin-bar header {top:28px;}
header {z-index:15; height:170px; position:absolute; top:0px; width:100%; background: url(images/header.png) top left repeat-x;}
body #main header {height:auto; position:static; background:none;}
header .width-container {position:relative;}
body #logo { margin:0px; padding:0px; border:none; position:absolute; top:0px; left:0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow:hidden;
	z-index:55;
}
body #logo img { height: auto; }

#header-top-bar {width:100%; height:8px; position:absolute; top:0px; z-index:8; left:0px; opacity:0.35; filter:alpha(opacity=35);}
#page-title #page-title-divider {height:8px; margin-top:-10px;  position:relative; z-index:8;  opacity:0.85; filter:alpha(opacity=85);}
#homepage-slider-container #page-title-divider {position:relative;  top:-8px; }
.lt-ie8 #page-title #page-title-divider {margin-top:-8px;}




/* -------------------- B. MAIN CONTAINER STYLES -------------------- */
.width-container, #page-title-divider {width:1140px; margin: 0 auto;}
#main {padding:42px 0px 35px 0px;}
.widget-area-highlight {padding:35px 0px 35px 0px; margin:0px 0px 0px 0px; position:relative; top:35px;}

/* -------------------- C. PAGE TITLE -------------------- */
.paged-title {height:250px;}
.width-container.paged-title {position:relative; }
#page-title h1 {position:absolute;   color:#ffffff; text-shadow: 1px 1px 10px rgba(0,0,0,1); bottom:-10px; left:0px; padding:0px 30px 20px 30px; z-index:9; }
.lt-ie8 #page-title h1 {bottom:-12px;}

/*
=============================================== 05. FOOTER STYLES ===============================================
*/
#footer-widgets .widget {font-size:12px;}
#copyright {border-top-style:solid; border-top-width:6px;   padding:20px 0px 20px 0px; width:100%; overflow:hidden;}
footer #copyright ul {margin:0px; padding:24px 0px 24px 0px; float:right; font-style:italic; }
#footer-text {font-size:12px; padding:5px 0px;}
footer #copyright ul a {text-decoration:none;}
footer #copyright ul li { margin-top:0px; margin-bottom:0px; display:inline; float:left; display:inline-block;  padding-right:15px; margin-right:15px;}
footer #copyright ul li:last-child { margin-right:0px; padding-right:0px;}
#copyright .lastcolumn {text-align:right;}

#footer-widgets .widget {float:left; margin-left:1.5%; margin-right:1.5%;}
#footer-widgets .footer-1-column .widget { width: 98%;}
#footer-widgets .footer-2-column .widget { width: 47%;}
#footer-widgets .footer-3-column .widget {width: 30%;  }
.lt-ie8 #footer-widgets .footer-3-column .widget {width: 29.5%;  }
#footer-widgets .footer-4-column .widget {width: 22%;  }

/*
=============================================== 06. BLOG STYLES ===============================================
*/
.blog-post-background {padding:25px 25px 15px 25px; background:#ffffff;}
body #main .commentlist li img {border:none;}
.blog-post-image ul {margin-bottom:-10px;}

.type-post {margin-bottom:35px;}
.type-post .post-details-meta {font-size:11px; text-transform:uppercase;  color:#aeaeab; margin-bottom:10px;}
 
.pagination {text-align:center; margin-top:15px;}
.pagination a {
	margin:0px 6px;
	display:inline-block;
	line-height:11px;  
	text-decoration:none;
	margin-right:1px;
	position:relative;
	text-align:center;
	padding:8px 10px 7px 10px;
	font-style:italic;
	
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.commentlist {
	float:left;
	list-style: none;
	margin: 0 auto;
	width:86%;
	position:relative;
	left:101px;
}

.commentlist li.comment {
	background: #fbfbfb;
	background-color: rgba(255,255,255,.4); 
	border:1px dotted #e1e1e1; 
	margin: 0 0 1.625em 0 !important;
	padding: 0.2em 1.4em 0.25em 1.4em;
	list-style:none ;
	position: relative;
}
.commentlist .avatar {left: -102px; -webkit-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc; -moz-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc;  padding: 0; position: absolute; top: 0;}
.commentlist .pingback { margin: 0 0 1.625em; padding: 0 1.625em; }
ol.commentlist ul.children, ol.commentlist ul.children  li {
	list-style: none ;
	margin:0px;
}
.commentlist .children li.comment {
	border-right:none;
	border-top:none;
	border-bottom:none;
	border-left: 1px solid #dadada;
	margin: 0em 0 0 0;
	padding:1em 1.6em 0em 2em;
	position: relative;
}
.commentlist .avatar {left: -102px; -webkit-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc; -moz-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc;  padding: 0; position: absolute; top: 0px;}
.commentlist .pingback { margin: 0 0 1.625em; padding: 0 1.625em; }
ol.commentlist ul.children, ol.commentlist ul.children  li {
	list-style: none;
	margin:0px;
}

.commentlist .children li.comment .avatar {top:10px;}
.commentlist .children li.comment .fn { display: block; font-size:12px;}
.comment-meta .fn {font-weight: bold; display: block; font-size:14px; color:#4c4c4c;}
.comment-meta .fn a {font-weight:bold;}
.comment-meta a {text-decoration:none;}
.comment-meta {
	color: #666;
	font-size: 11px;
	padding-top:12px;
	padding-bottom:5px;
}
.commentlist .children li.comment .comment-meta {
	margin-left:62px ;
	padding-top:0px;
}
.commentlist .children li.comment .comment-content {
	margin: 0;
	margin-top:25px;
	padding:0px;
}

.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding:0px;
	top: 2.2em;
	width:55px;
	height:auto;
}

a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}
.commentlist > li.pingback:before { content: ''; }
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding:0px;
	top: 2.2em;
}
a.comment-reply-link {
	background: #e4e4e4;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #666;
	display: inline-block;
	font-size: 10px;
	font-family:Arial, Sans-serif;
	padding: 2px 9px;
	text-decoration: none;
	margin-bottom:20px;
}

#reply div {margin-bottom:5px;}
#respond input {width:50%;}
#respond textarea {width:80%;}
#reply input.submit {width:auto;}

#respond { padding-bottom:10px; padding-left:3px;}
#respond .comment-form-author, #respond .comment-form-email, #respond .comment-form-url, #respond .comment-form-comment {font-size:90%; margin-bottom:5px;}
p.form-allowed-tags {font-size:11px; line-height:16px;}
p.form-allowed-tags code {display:block;}
#respond label {font-size:12px; padding-left: 0px; }
#respond input, #respond textarea {display:block; margin-top:5px;}
#respond .comment-form-author, #respond .comment-form-email, #respond .comment-form-url, #respond .comment-form-comment, #respond .form-allowed-tags, #respond .form-submit {padding:0px 0px 2px 0px;}
#respond .comment-notes {padding-bottom:2px;}
#respond input#submit {width:auto;}


/*
=============================================== 07. PORTFOLIO STYLES ===============================================
*/
.portfolio-content-container {padding-bottom:25px;}
.portfolio-post-background { padding:15px 15px 10px 15px; background:#ffffff;}
body.single-portfolio .portfolio-post-background {margin-top:0px; }

ul.filter-children {margin-bottom:20px; padding:0px; list-style:none;}
ul.filter-children li {padding:0px; margin:0px 5px 5px 0px; display:inline-block;}
ul.filter-children li a {display:inline-block; }

.lt-ie8 ul.filter-children li {display:inline;}





/*
=============================================== 08. FOOD MENU STYLES ===============================================
*/
.menu-spacer {width:100%; overflow:hidden; height:25px;}
body #main ul.menu-items .grid2column {font-style:italic; font-size:16px;}
body #main ul.menu-items .lastcolumn {text-align:right;}

body #main ul.menu-items {margin:0px; padding:8px 0px 0px 0px; list-style:none;}
body #main ul.menu-items li {margin-bottom:10px; padding:0px 10px 10px 10px;}
.item-description-menu {width:60%; font-size:12px; color:#acb2b4; margin-top:5px;}

.menu-description {font-size:14px; margin-bottom:30px;}

.menu-item-container {background:#ffffff; padding:10px 15px 5px 15px;}
.content-padding-menu {padding-left:10px; }
.menu-item-container img {margin-bottom:10px;}
.menu-wine-spacing {padding-top:5px;}


/*
=============================================== 09. WIDGET STYLES ===============================================
*/
#searchform .assistive-text {display:none;}
#searchform input {width:145px; margin-right:5px;}
#searchform input.submit {width:auto; margin-right:0px; position:relative; bottom:1px;}


#flickr-widget ul {margin:0; padding:0;background:none; }
#flickr-widget ul li { padding:0px; margin:0px; list-style:none; display:inline; border:none; background:transparent;}
#flickr-widget ul li a {display:inline;  padding:0px;  -webkit-transition: all .6s ease; -moz-transition: all .6s ease; transition: all .6s ease; }
#flickr-widget ul li img { width:29%; height:29%;  margin:0px 4% 4% 0px;}
#flickr-widget ul li a:hover { opacity: 0.7; filter:alpha(opacity=70); }

.wpcf7  input {margin-top:10px; width:60%;}
.wpcf7  textarea {margin-top:10px; width:80%;}
.wpcf7  input.wpcf7-submit {margin-top:0px; width:auto;}

#main .progression-etabs { 
	margin: 0; 
	padding: 0; 
	border-bottom:1px solid #ddd;
}
	
#main .progression-tab { 
	margin-right:-6px; 
	display: inline-block; 
	zoom:1; 
	*display:inline; 
	border: solid 1px #ddd; 
	border-width: 1px 1px 0 1px; 
	background: #f5f5f5;
}
	
#main .progression-tab a { 
	font-size: 14px; 
	line-height: 2em; 
	display: block; 
	padding: 5px 15px 3px 15px; 
	outline: none;  
	text-decoration:none;
}
	
#main .progression-tab.active { 
	padding-top: 5px; 
	position: relative; 
	top: 1px; 
	background: #fff;
}
#main .progression-tab-container div {background:#ffffff; border-right:1px solid #ddd;  border-left:1px solid #ddd; border-bottom:1px solid #ddd;  padding:20px;}
#main .progression-tab-container ul li {margin-bottom:0px;}


#wp-calendar th {
padding:3px 0;
text-align:center;
}

#wp-calendar td {
padding: 4px 0;
text-align: center;
}

#wp-calendar {
width: 90%;
}

#wp-calendar a {font-weight:bold; text-decoration:underline; }


/* --- Twitter --- */
#tweets-sidebar {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:7px 12px;position: relative; }
#tweets-sidebar:before {
	content:"";
	position: absolute;
	bottom: -10px;
	z-index:1;
	left:50%;
	margin-left:-10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
a.twitter-widget-from {margin-top:5px; padding:10px 5px 8px 40px; background: url(images/twitter.png) 14px 10px no-repeat; text-decoration:none; float:right; display:inline-block;}
#jtwt {  padding:5px 0px 10px 0px;  }
#sidebar #jtwt img {border:none;}
#jtwt_picture { float:left; padding:0px 5px 20px 0px; display:none; }
a#jtwt_date { font-size:10px;  padding-top:3px; font-style:italic;  display:block; text-align:right; }

/* --- MailChimp Form --- */
#mc_embed_signup label {display:block; padding-bottom:15px;}
#mc_embed_signup input#mce-EMAIL {float:left; width:138px;}
#mc_embed_signup input.button {float:right; width:auto;}


/* --- Contact Us Icons --- */
.phone-widget {margin-top:7px;}
.e-mail-widget, .mobile-widget {margin-top:5px;}
.phone-widget span, .e-mail-widget span, .mobile-widget span {font-style:italic; font-weight:bold;}
.homepage-widget .social-icons, #sidebar .social-icons {margin-top:12px;}

/* --- Opening Hours --- */
body ul#open-hours {list-style:none; margin:0px; padding:0px;}
body ul#open-hours li {margin-bottom:6px; }
body ul#open-hours li .date-day {font-weight:bold;}
body ul#open-hours li .hours-date {text-align:right; font-size:12px;}

/*
=============================================== 10. SIDEBAR STYLES ===============================================
*/
.sidebar-base {width:100%; height:1px; display:block;}
.sidebar-spacer {width:100%; height:15px; overflow:hidden;}
#sidebar {width:22.5%; padding-left:2.5%; float:right; padding-top:8px; }
#container-sidebar {width:72.5%; float:left; }


/*
=============================================== 11. FEATURED SLIDER and PAGE TITLE ===============================================
*/
/* -------------------- B. FEATURED SLIDER -------------------- */
 /* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { display: block; width:100%; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin:0px auto; position: relative; zoom: 1; /*  overflow:hidden; */ }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px;}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {z-index:55;  width: 34px; height: 35px; margin: -5px 0 0 0; display: block; background: url(images/slider/arrows.png) no-repeat bottom left; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: bottom right; right: 0px; }
.flex-direction-nav .flex-prev {background-position: bottom left;  left: 0px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 20px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 20px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: 0!important; filter:alpha(opacity=00); cursor: default;}

#main .flex-direction-nav .flex-next { right: 20px; }
#main .flex-direction-nav .flex-prev {left: 20px;}


/* Control Nav */
.flex-control-nav { z-index:5; width: 100%; position: absolute; bottom: 30px; text-align: center; }
.flex-control-nav li {margin: 0 1px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 20px; height: 20px; display: block; background: url(images/slider/bg_bullets.png) 0px -25px no-repeat;  cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover { background-position:0px -48px; }
.flex-control-paging li a.flex-active {  background-position:0px -2px; cursor: default; }
body #main .flex-control-paging li a { -webkit-transition: none; -moz-transition: none; none; -o-transition: none; }

.lt-ie8 .flex-control-nav {bottom:30px;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


/* Caption style */
ul.slides li {
	position:relative;
	overflow:hidden;
}
.caption-progression {
	z-index:45;  
	margin: auto;
	position: absolute; 
	padding-bottom:130px;
	padding-left:100px;
	left: 0; bottom: 0; right: 0;
	color: #ffffff;
	text-shadow: 1px 1px 20px rgba(0,0,0,1);
	font-size:30px; 
	font-style:italic;
}
.caption-progression a { color:#fff; text-decoration:none;}

li.caption-right-progression .caption-progression {text-align:right;}
li.caption-center-progression .caption-progression {text-align:center;}


.flexslider a:hover img {opacity:1; filter:alpha(opacity=100); }
.lt-ie9 .flex-direction-nav .flex-prev {opacity: 1; left: 15px;}
.lt-ie9 .flex-direction-nav .flex-next {opacity: 1; right: 15px;  }



/*
=============================================== 12. NAVIGATION ===============================================
*/
/* -------------------- A. ESSENTIAL STYLES -------------------- */
/*** ESSENTIAL STYLES ***/
nav select {display:none; }
.sf-menu, .sf-menu * {margin:0; padding:0; list-style:none;}
.sf-menu {line-height:	1.0;}
.sf-menu ul {position:	absolute; top:-999em;  width: 10em; /* left offset of submenus need to match (see below) */}
.sf-menu ul li {width: 100%;}
.sf-menu li:hover {visibility:		inherit; /* fixes IE7 'sticky bug' */}
.sf-menu li {float:			left ;position:		relative;}
.sf-menu a {display:block;  position:relative;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {left:	0; top:65px; /* match top ul list item height */z-index: 99;}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {top:-999em;}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left: 10em; /* match ul width */ top:0;}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {top: -999em;}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {left:10em; /* match ul width */ top:0;}


/* -------------------- B. MENU HEIGHT AND PADDING -------------------- */
.sf-menu a {padding:75px 15px 24px 15px;}  /* Top Menu Size */
body .sf-menu li:hover ul, body .sf-menu li.sfHover ul {top:115px;} /* Move sub-menu down */


/* -------------------- C. DEMO SKIN -------------------- */
nav {position:absolute; top:0px; right:0px; z-index:4; }
.sf-menu a {
	 -webkit-transition: all .4s ease; -moz-transition: all .4s ease; transition: all .4s ease; -o-transition: all .4s ease;
	text-decoration:none;
	line-height:1;
}
 /* DEFAULT LINK  */
.sf-menu a, .sf-menu a:visited  {
	text-shadow: none;
	color:#000000;
	font-size:16px;
	font-style:italic;
}

.sf-menu ul {background:#6c858a;}

 /* DEFAULT LINK HOVER AND SELETED  */
.sf-menu li.current-menu-item {background:#6c858a;  }
.sf-menu li.current-menu-item a, .sf-menu li.current-menu-item a:visited {	
	color:#ffffff;
}

 /* HOVER BACKGROUND */

.sf-menu a:hover, .sf-menu li a:hover, .sf-menu a:hover, .sf-menu a:visited:hover, .sf-menu li.sfHover a, .sf-menu li.sfHover a:visited {
	background:#6c858a;
	color:#ffffff;
	display:block;	
} 

.sf-menu li.sfHover li a, .sf-menu li.sfHover li a:visited, .sf-menu li.sfHover li li a, .sf-menu li.sfHover li li a:visited, .sf-menu li.sfHover li li li a, .sf-menu li.sfHover li li li a:visited, .sf-menu li.sfHover li li li li a, .sf-menu li.sfHover li li li li a:visited {
	font-size:13px;
	font-weight:500;
	text-transform:none;
	text-shadow: none;
}


.sf-menu li li:hover, .sf-menu li li.sfHover, .sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active, .sf-menu li li.sfHover a, .sf-menu li.sfHover li a:visited:hover, .sf-menu li li:hover a:visited,
.sf-menu li li li:hover, .sf-menu li li li.sfHover, .sf-menu li li li a:focus, .sf-menu li li li a:hover, .sf-menu li li li a:active, .sf-menu li li li.sfHover a, .sf-menu li li.sfHover li a:visited:hover, .sf-menu li li li:hover a:visited,
.sf-menu li li li li:hover, .sf-menu li li li li.sfHover, .sf-menu li li li li a:focus, .sf-menu li li li li a:hover, .sf-menu li li li li a:active, .sf-menu li li li li.sfHover a, .sf-menu li li li.sfHover li a:visited:hover, .sf-menu li li li li:hover a:visited,
.sf-menu li li li li li:hover, .sf-menu li li li li li.sfHover, .sf-menu li li li li li a:focus, .sf-menu li li li li li a:hover, .sf-menu li li li li li a:active, .sf-menu li li li li li.sfHover a, .sf-menu li li li li.sfHover li a:visited:hover, .sf-menu li li li li li:hover a:visited  {
	outline: 0;
	-webkit-transition: all .6s ease; -moz-transition: all 1s ease; transition: all .6s ease; -o-transition: all .6s ease;
	background-image:url(images/transparency-fallback.png);
	background: rgba(255, 255, 255, 0.15);
}

.sf-menu li li a {padding:15px 15px ;}
.sf-menu li li, .sf-menu li li li, .sf-menu li li li li, .sf-menu li li li li li { margin:0px;  }
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {outline:		0;}


/*** arrows **/
.sf-menu a.sf-with-ul {padding-right: 	2.25em;	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */ top:			.8em; background-position: 0 -100px; /* use translucent arrow for modern browsers*/}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {background-position: -10px -100px; /* arrow hovers for modern browsers*/}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0; /* arrow hovers for modern browsers*/}

/*** shadows for all but IE6 ***/
.sf-shadow ul { background:	url('images/shadow.png') no-repeat bottom right; padding: 0 8px 9px 0; -moz-border-radius-bottomleft: 17px; -moz-border-radius-topright: 17px; -webkit-border-top-right-radius: 17px; -webkit-border-bottom-left-radius: 17px;}
.sf-shadow ul.sf-shadow-off {background: transparent;}


/*
=============================================== 13. DEFAULT GRID ===============================================
*/
.grid2column, .grid3column, .grid3columnbig, .grid4column, .grid4columnbig {float:left; margin-right:3%;  }
.grid2column { width: 48.5%;}
.lt-ie8 .grid2column {width: 48%;  }
.grid3column {width: 31.2%;  }
.lt-ie8 .grid3column {width: 30.5%;  }
.grid3columnbig {width:65.5%;}
.grid4column {width: 22.5%;  }
.lt-ie8 .grid4column {width: 22%;  }
.grid4columnbig {width:74.2%; }


body .lastcolumn {margin-right:0% !important;}



/*
=============================================== 14. PRINT STYLES ===============================================
*/
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/*
=============================================== 15. LIGHTBOX STYLES ===============================================
*/
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(images/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url(images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url(images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url(images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url(images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url(images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url(images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url(images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url(images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{width:75px;height:22px;background:url(images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_rounded .pp_nav .pp_play{background:url(images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url(images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url(images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url(images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url(images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url(images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url(images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url(images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url(images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url(images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url(images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url(images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{width:75px;height:22px;background:url(images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_rounded .pp_description{margin-right:85px;color:#fff}
div.dark_rounded .pp_nav .pp_play{background:url(images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url(images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url(images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url(images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url(images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url(images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(images/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url(images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url(images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url(images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url(images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{width:75px;height:22px;background:url(images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url(images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url(images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url(images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{width:75px;height:22px;background:url(images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_square .pp_nav .pp_play{background:url(images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{width:22px;height:22px;background:url(images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(images/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}


/* v1.5 Updated - Fix font bug in chrome */
body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}	



/*
=============================================== 16. WOOCOMMERCE STYLES ===============================================
*/
body.woocommerce img {-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
nav.woocommerce-breadcrumb {display:none; } /* Hides default bread-crumb.  This is replaced by our plugin */
body.woocommerce-account .woocommerce h2 {font-size:28px;}
body.woocommerce-page .woocommerce header {background:none;} 
body #main .width-container span.price, body #main .width-container p.price span, body #main .width-container span.price ins {color:#777 !important; font-size:14px !important;}
body #main .width-container span.price del, body #main .width-container p.price del span {color:#bbb !important; font-size:12px !important;}
#sidebar ins {background:none;}
.woocommerce-tabs #comments {margin-top:0px;}
body #main form.woocommerce-ordering option, body #main form.woocommerce-ordering input, body #main form.woocommerce-ordering select, 
 body #main table.variations .value select
{ font-size:13px; }


a.added_to_cart {display:none !important;}

#main ul.products li .button {margin-bottom:15px;}

.price_slider_wrapper {margin-bottom:10px;}

.content-container-pro.product-single-pro {margin-bottom:35px;}


/* Product Single */
a.reset_variations {font-size:11px; color:#999;}

body.woocommerce-page select {
	font-size:18px;
}


body #main  .width-container div.quantity input[type='number']::-webkit-outer-spin-button,
body #main  .width-container div.quantity input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body #main  .width-container div.quantity input.minus, body #main  .width-container div.quantity input.plus {height:19px;  background:#eee;}
body #main  .width-container div.quantity input.input-text {padding-top:4px; padding-bottom:4px; margin:0px ;}

/* Checkout Styles */
table.shop_table, #payment ul.methods, table.shop_table {
	background:#f9f9f9;
}


.product-remove a.remove:hover {background:transparent !important;}
.woocommerce table.cart .product-remove a.remove {color:#bbbbbb;}
.woocommerce table.cart .product-remove a.remove:hover {color:#999999 ;}



/* ----- OnSale Icon ----- */
body #main .width-container span.onsale {
	z-index:5;
	position:absolute;
	min-height:15px;
	min-width:32px;
	padding:5px 8px;
	font-size:13px;
	font-weight:bold;
	line-height:1;
	top:48px;
	left:48px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#ffffff;
	background:#f18a8a;
	background: rgba(238, 109, 109, 0.85);
	text-shadow: 1px 0px 1px rgba(0,0,0,0.4); 
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}
body #main .width-container li.product span.onsale {top:15px; left:15px; width:auto; display:block; max-width:40px;}



/* ----- WooCommerce Reviews ----- */
body.woocommerce #reviews #comments ol.commentlist {position:static; left:0px; float:none; width:98%;}
body.woocommerce #reviews #comments ol.commentlist li img { padding:0px !important;}
body.woocommerce .commentlist li  {box-shadow:none ; -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;  }
body.woocommerce #reviews #comments ol.commentlist li .comment-text {border-color:#ccc;}


.woocommerce-tabs {padding-top:15px; padding-bottom:25px;}
.woocommerce-tabs .tabs li {font-size:15px;}
.woocommerce-tabs .tabs li {
	-webkit-border-radius: 0px !important; 
	-moz-border-radius: 0px !important; 
	border-radius: 0px !important;	
}
body #main .width-container .woocommerce-tabs .tabs li.active {background:#aaaaaa; border-bottom-color:#aaa; color:#fff;}
body #main .width-container .woocommerce-tabs .tabs li {background:#e6e6e6; box-shadow:none ; -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;}
body #main .width-container .woocommerce-tabs .tabs li:after, body #main .width-container .woocommerce-tabs .tabs li:before {display:none;}


/* Message Bar */
body #main .woocommerce-message a.button {
	padding:8px 12px;
	font-size:10px;
}

body #main .woocommerce-message, body #main .woocommerce-info {
	background:#ffffff;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); 
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

body #main ul.products img, body #main .images img, body #main #sidebar img {
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	box-shadow: none; 
}


/* ----- Star Rating ----- */
body #main .stars a {color:#aaa;}
body #main .star-rating span {color:#ffbb26;}
body #main .star-1:hover, body #main .star-2:hover, body #main .star-3:hover, body #main .star-4:hover, body #main .star-5:hover {color:#ffbb26;}
body #main .stars .active {color:#ffbb26;}


/* --- Price Filter --- */
body  #main .widget_price_filter .ui-slider .ui-slider-range {background:#aaa;}

body #main .widget_price_filter .ui-slider .ui-slider-handle{
background:#dedee1;	
border:1px solid #575757;cursor:pointer;
background:-webkit-gradient(linear,left top,left bottom,from(#dedee1),to(#dedee1));
background:-webkit-linear-gradient(#dedee1,#dedee1);
background:-moz-linear-gradient(center top,#dedee1 0,#dedee1 100%);
background:-moz-gradient(center top,#dedee1 0,#dedee1 100%);
}

body #main .price_slider_wrapper .ui-widget-content{
background:#666666;background:-webkit-gradient(linear,left top,left bottom,from(#6a6a6a),to(#888888));
background:-webkit-linear-gradient(#6a6a6a,#888888);
background:-moz-linear-gradient(center top,#6a6a6a 0,#888888 100%);	
background:-moz-gradient(center top,#6a6a6a 0,#888888 100%)
}
