#gaddon-setting-row-contactStandardFields > td,
#gaddon-setting-row-leadStandardFields > td { 
	padding-bottom: 0;
}

#gaddon-setting-row-contactCustomFields > td,
#gaddon-setting-row-leadCustomFields > td,
#gaddon-setting-row-contactCustomFields .repeater th,
#gaddon-setting-row-leadCustomFields .repeater th { 
	padding-top: 0;
}

#gaddon-setting-row-contactCustomFields .repeater th,
#gaddon-setting-row-leadCustomFields .repeater th {
	width: 210px;
}

#gaddon-setting-row-contactStandardFields td select,
#gaddon-setting-row-leadStandardFields td select,
#gaddon-setting-row-contactCustomFields .repeater td select,
#gaddon-setting-row-leadCustomFields .repeater td select {
	margin-right: 6px;
	max-width: none;
	width: 200px;
}