@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

strong {
    font-weight: bold;
}

$font-open: 'Open Sans', sans-serif;
$font-minion: 'Minion Pro', 'Times New Roman', sans-serif;
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

$golden: #bd9b51;
$grey: #666;
$grey-light: #999;
$dark: #333;
$blue: #156fc4;
$blue-light: #4691d8;

/** Site css **/

html,
body {
    width: 100%;
    height: 100%;
}

body,
p {
    font-size: 16px;
    font-family: $font-minion;
    color: $grey;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

html {}

p {
    margin-bottom: 20px;
    line-height: 150%;
}

%transition-cl {
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -ms-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease;
}

%transition-bg {
    -webkit-transition: background-color .25s ease, color .25s ease;
    -moz-transition: background-color .25s ease, color .25s ease;
    -ms-transition: background-color .25s ease, color .25s ease;
    -o-transition: background-color .25s ease, color .25s ease;
    transition: background-color .25s ease, color .25s ease;
}

%transition-display {
    -webkit-transition: opacity .25s ease, visibility .25s ease;
    -moz-transition: opacity .25s ease, visibility .25s ease;
    -ms-transition: opacity .25s ease, visibility .25s ease;
    -o-transition: opacity .25s ease, visibility .25s ease;
    transition: opacity .25s ease, visibility .25s ease;
}

a {
    color: $grey;
    outline: none;
    text-decoration: none;
    @extend %transition-cl;
}

a:visited,
a:active,
a:focus {
    text-decoration: none;
}

a:hover {
    color: $golden;
    text-decoration: none;
}

a,
input,
select,
textarea,
button {
    outline: none;
}

strong,
b,
.bold {
    font-weight: 600;
}

em,
i,
.italic {
    font-style: italic;
}

#main-body {
    u,
    .underline {
        text-decoration: underline;
    }
    .uppercase {
        text-transform: uppercase;
    }
    img {
        border: 0;
    }
    ul {
        @extend p;
        list-style: disc;
        margin-left: 1.4em;
    }
    ol {
        @extend p;
        list-style: decimal;
        margin-left: 1.4em;
    }
    table {
        @extend p;
        margin-bottom: 1em;
        th {
            font-weight: bold;
            text-align: left;
        }
        &.full-width {
            width: 100%;
        }
    }
    textarea {
        resize: none;
        overflow: hidden;
    }
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: $dark; font-family: $font-open; margin-bottom: 15px; line-height: 120%; text-transform: uppercase; font-weight: bold; }
h1 {
    position: relative;
}
h1, h1 a {
    font-size: 36px;
    text-align: center;
    margin-bottom: 35px;
    &:before {
        content: '';
        width: 12px;
        height: 32px;
        display: inline-block;
        position: absolute;
        left: 50%;
        margin-left: -6px;
        top: -35px;
        background: url(img/break-gold.png) no-repeat;
    }
}
h2, h2 a {font-size: 28px; }
h3, h3 a {font-size: 25px; }
h4, h4 a {font-size: 18px; line-height: 150%; }
h5, h5 a {font-size: 15px; line-height: 150%; }
h6, h6 a {font-size: 14px; line-height: 150%; }

#wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

#main-body {
    padding-bottom: 320px;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 293px;
}


/* ====================== lines button ==================================================*/

.lines-button {
    height: 40px;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: 0.57143rem;
    display: inline-block;
    border: none;
    background: none;
    outline: none;
    margin: 0;
    float: right;
    width: 42px;
}

.lines-button:hover {
    opacity: 1;
}

.lines-button:active {
    transition: 0;
}

.lines {
    display: inline-block;
    width: 42px;
    height: 7px;
    background: #bd9b51;
    border-radius: 0.28571rem;
    transition: 0.3s;
    position: relative;
    border-radius: 0px 4px 0px 4px;
}

.lines:before,
.lines:after {
    display: inline-block;
    border-radius: 0px 4px 0px 4px !important;
    width: 42px;
    height: 7px;
    background: #bd9b51;
    border-radius: 0.28571rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.28571rem center;
    transform-origin: 0.28571rem center;
}

.lines:before {
    top: 10px;
}

.lines:after {
    top: -10px;
}

.lines-button:hover .lines:before {
    top: 12px;
}

.lines-button:hover .lines:after {
    top: -12px;
}

.lines-button.close {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
}

.lines-button.arrow.close .lines:before,
.lines-button.arrow.close .lines:after {
    top: 0;
    width: 2.22222rem;
}

.lines-button.arrow.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
}

.lines-button.arrow.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -40deg);
    transform: rotate3d(0, 0, 1, -40deg);
}

.lines-button.arrow-up.close {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
}

.lines-button.minus.close .lines:before,
.lines-button.minus.close .lines:after {
    -webkit-transform: none;
    transform: none;
    top: 0;
    width: 4rem;
}

.lines-button.x.close .lines {
    background: transparent;
}

.lines-button.x.close .lines:before,
.lines-button.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 38px;
}

.lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.lines-button.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.lines-button.x2 .lines {
    transition: background 0.3s 0.5s ease;
}

.lines-button.x2 .lines:before,
.lines-button.x2 .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
    transition: top 0.3s 0.6s ease, transform 0.3s ease;
}

.lines-button.x2.close .lines {
    transition: background 0.3s 0s ease;
    background: transparent;
}

.lines-button.x2.close .lines:before,
.lines-button.x2.close .lines:after {
    transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
    transition: top 0.3s ease, transform 0.3s 0.5s ease;
    top: 0;
    width: 4rem;
}

.lines-button.x2.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.lines-button.x2.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}
