/*
Theme Name: Loli
Theme URI: http://lolipopy.com/
Version: 1.0
Description: Responsive theme woocommerce
Author: Deeds
Author URI: http://lolipopy.com
*/

/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

/*blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }*/

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
    padding: 15px 8px;
    color: #333;
    text-align: left;
    font-weight: normal;
}

article, aside, footer, header, hgroup, nav, section { display: block; }
figure { margin: 0; }
a, img, button {
    border: 0;
    outline: none;
}
/*a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}*/
a:hover {
    /*text-decoration: underline;*/
}
.fix{
    *zoom:1
}
.fix:before,.fix:after{
    display:table;
    content:"";
    line-height:0
}
.fix:after{
    clear:both
}
.fixy, .clear {
    clear: both;
}
input[type="submit"], input[type="button"] {
    border: 0px;
    outline: none;
}
[class*="column"]+[class*="column"]:last-child {
    float: left;
}
/** GLOBAL **/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #666;
    /*background: #eee url(images/body_bg.jpg);*/
    background-color: #fff;
}
p {
    line-height: 23px;
    margin: 0 0 20px 0;
}
a {
    color: #333;
    outline: none;
}
a:hover {
    color: #ff5b6d;
}
a:focus {
    color: inherit;
    outline: none;
}
label {
    color: #666;
}
select {
    width: 150px;
    margin-bottom: 0px;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: normal;
    color: #666;
}
h1 {
    font-size: 24px
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 13px;
}
h6 {
    font-size: 11px;
}
.side-nav li.active > a:first-child {
    font-weight: normal;
}
ul.pagination {
    height: 32px;
}
ul.pagination li a {
    padding: 10px;
    height: 32px;
}
.f-dropdown li a {
    display: block;
    padding: 6px 10px;
    color: #555;
}
table {
    width: 100%;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
table tr th, table tr td {
    padding: 10px;
    color: #555;
    font-size: 13px;
    vertical-align: middle;
}
table thead {
    border-bottom: 1px solid #DDD;
}
table thead, table tfoot {
    background-color: #fff;
}
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
    padding: 10px;
    font-size: 13px;
    color: #222;
    font-weight: normal;
}
.button.dropdown {
    color: #fff;
}
.row {
    max-width: 1100px !important;
}
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p {
    color: #555;
}
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="month"][disabled], input[type="week"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
    background-color: #F2F2F2;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, input.input-text {
    border: 1px solid #E4E4E4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
    height: auto;
    padding: 8px 5px;
    font-size: 100%;
}
input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus, select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #CCC;
}
button, .button, input[type="submit"] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #FF5B6D;
    font-weight: normal;
    padding: 10px 12px;
    outline: 0;
    margin-bottom: 0;
    background-color: #FF5B6D;
    cursor: pointer;
}
button:hover, button:focus, .button:hover, .button:focus , input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #FF4559;
    border-color: #FF4559;
}
select {
    padding: 10px 5px;
    border: 1px solid #DDD;
    outline: 0;
    font-size: 12px;
    color: #777;
}
.has-tip {
    font-weight: normal;
}
button.secondary, .button.secondary {
    color: #333 !important;
    background-color: #FFF;
    border-color: #D0D0D0;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    background-color: #EBEBEB;
    border-color: #D0D0D0;
}
button.success, .button.success {
    background-color: #47B65D;
    border-color: #47B65D;
    color: #fff !important;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    background-color: #319444;
    border-color: #319444;
}
button.alert, .button.alert {
    background-color: #dd4433;
    border-color: #bd2f20;
    color: white;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #bd2f20;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  color: white;
}
.button.loading:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8) url(images/ajax-loader.gif) center no-repeat;
    width: 100%;
    height: 100%;
}
.portfolio-filter-bar {
    margin-bottom: 25px;
}
.sub-nav dt, .sub-nav dd {
    font-size: 100%;
}
.sub-nav dt.active a, .sub-nav dd.active a {
    font-weight: normal;
}
/** BEGIN STYLING YOUR OWN **/
.site-wrapper {

}

.cart_table_item .product-thumbnail img, .wishlist_table .product-thumbnail img {
    width: 70px;
}
.product-name a {
    line-height: 23px;
}
/** STAR RATING **/
.woocommerce-tabs #reviews h2 small,.woocommerce-tabs-page #reviews h2 small{float:right;color:#777777;font-size:15px;line-height:21px;margin:10px 0 0 0}.woocommerce-tabs #reviews h2 small a,.woocommerce-tabs-page #reviews h2 small a{text-decoration:none;color:#777777}.woocommerce-tabs #reviews h3,.woocommerce-tabs-page #reviews h3{margin:0}.woocommerce-tabs #reviews #respond,.woocommerce-tabs-page #reviews #respond{margin:0;border:0;padding:0}.woocommerce-tabs #reviews #comment,.woocommerce-tabs-page #reviews #comment{height:75px}.woocommerce-tabs #reviews #comments .add_review:after,.woocommerce-tabs-page #reviews #comments .add_review:after{content:"";display:block;clear:both}.woocommerce-tabs #reviews #comments h2,.woocommerce-tabs-page #reviews #comments h2{clear:none}.woocommerce-tabs #reviews #comments ol.commentlist,.woocommerce-tabs-page #reviews #comments ol.commentlist{margin:0;width:100%;background:none;list-style:none}.woocommerce-tabs #reviews #comments ol.commentlist:after,.woocommerce-tabs-page #reviews #comments ol.commentlist:after{content:"";display:block;clear:both}.woocommerce-tabs #reviews #comments ol.commentlist li,.woocommerce-tabs-page #reviews #comments ol.commentlist li{padding:00;margin:0 0 20px;border:0;position:relative;background:0;border:0}.woocommerce-tabs #reviews #comments ol.commentlist li .meta,.woocommerce-tabs-page #reviews #comments ol.commentlist li .meta{color:#777777;font-size:0.75em}.woocommerce-tabs #reviews #comments ol.commentlist li img.avatar,.woocommerce-tabs-page #reviews #comments ol.commentlist li img.avatar{float:left;position:absolute;top:0;left:0;padding:3px;width:32px;height:auto;background:#f7f6f7;border:1px solid #f0eef0;margin:0;line-height:1}.woocommerce-tabs #reviews #comments ol.commentlist li .comment-text,.woocommerce-tabs-page #reviews #comments ol.commentlist li .comment-text{margin:0 0 0 50px;border:1px solid #f0eef0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:1em 1em 0}.woocommerce-tabs #reviews #comments ol.commentlist li .comment-text p,.woocommerce-tabs-page #reviews #comments ol.commentlist li .comment-text p{margin:0 0 1em}.woocommerce-tabs #reviews #comments ol.commentlist li .comment-text p.meta,.woocommerce-tabs-page #reviews #comments ol.commentlist li .comment-text p.meta{font-size:0.83em}.woocommerce-tabs #reviews #comments .commentlist > li:before,.woocommerce-tabs-page #reviews #comments .commentlist > li:before{content:""}.woocommerce-tabs .star-rating,.woocommerce-tabs-page .star-rating{float:right;overflow:hidden;position:relative;height:1em;line-height:1em;font-size:1em;width:5.4em;font-family:'star'}.woocommerce-tabs .star-rating span,.woocommerce-tabs-page .star-rating span{overflow:hidden;float:left;top:0;left:0;position:absolute;padding-top:1.5em}.woocommerce-tabs .products .star-rating,.woocommerce-tabs-page .products .star-rating{display:block;margin:0 0 .5em;float:none}.woocommerce-tabs .hreview-aggregate .star-rating,.woocommerce-tabs-page .hreview-aggregate .star-rating{margin:10px 0 0 0}.woocommerce-tabs #review_form #respond,.pp_woocommerce #review_form #respond .form-submit input{left:auto}.woocommerce #review_form #respond textarea,.pp_woocommerce #review_form #respond textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%}.woocommerce p.stars:after,.pp_woocommerce p.stars:after{content:"";display:block;clear:both}.woocommerce p.stars span,.pp_woocommerce p.stars span{width:80px;height:16px;position:relative;float:left;background:url(images/star.png) repeat-x left 0; margin-top: 3px}.woocommerce p.stars span a,.pp_woocommerce p.stars span a{float:left;position:absolute;left:0;top:0;width:16px;height:0;padding-top:16px;overflow:hidden}.woocommerce p.stars span a:hover,.woocommerce p.stars span a:focus,.pp_woocommerce p.stars span a:hover,.pp_woocommerce p.stars span a:focus{background:url(images/star.png) repeat-x left -16px}.woocommerce p.stars span a.active,.pp_woocommerce p.stars span a.active{background:url(images/star.png) repeat-x left -32px}.woocommerce p.stars span a.star-1,.pp_woocommerce p.stars span a.star-1{width:16px;z-index:10}.woocommerce p.stars span a.star-2,.pp_woocommerce p.stars span a.star-2{width:32px;z-index:9}.woocommerce p.stars span a.star-3,.pp_woocommerce p.stars span a.star-3{width:48px;z-index:8}.woocommerce p.stars span a.star-4,.pp_woocommerce p.stars span a.star-4{width:64px;z-index:7}.woocommerce p.stars span a.star-5,.pp_woocommerce p.stars span a.star-5{width:80px;z-index:6}
.star-rating {
    background: url(images/star.png) repeat-x 0 0;
    height: 14px !important;
    width: 77px !important;
}
.cross-sells .star-rating { display: none; }
.star-rating span {
    background: url(images/star.png) repeat-x 0px -16px;
    height: 14px !important;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
}
.comment-form-comment label {
    display: block;
    float: none !important;
}
.comment-form input[type="submit"] {
    color: #fff;
}
.single-comment .comment-form input[type="text"] {
    max-width: 235px;
}
.single-comment  .comment-form label {
    float: none !important;
}
.single-comment ul.commentlist {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 15px;
}
/** END STAR RATING **/
.container {
    background-color: #f1f1f1;
    margin-bottom: 0;
}
.container .row {
    max-width: 1100px;
}
ul.top-social-icons {
    padding: 6px 0px;
}
ul.top-social-icons > li > a {    
    font-size: 20px;
    color: #999;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
ul.top-social-icons > li > a:hover {
    color: #666;
}
/** TOP SEARCH FORM **/
.search-form {
    position: relative;
    text-align: right;
}
.search-form input[type="text"] {
    width: 230px;
    height: 30px;
    float: left;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
}
.search-form input[type="submit"] {
    background: #808080 url(images/search-icon.png) no-repeat center center;
    width: 30px;
    height: 30px;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    float: left;
}
.search-form input[type="submit"]:hover {
    /*background-color: #ff7b8a;*/
}
.search-form input[type="submit"]:active {
    background-color: #666;
}
header.top-head {
    background-color: #FFF;
    padding: 15px 0;
}
.first-head {
    padding: 10px 0;
}
h1#top-logo a {
    color: #ff5b6d;
    font-family: Berkshire Swash, Helvetica, tahoma;
    display: inline-block;
    text-transform: none;
    margin-right: 75px;
    color: #FF5B6D;
    text-transform: uppercase;
}
h1#top-logo img {
    max-width: 100%;
    height: auto;
}
/** NAV MENU **/
nav#top-nav {
    
}
nav#top-nav > ul {
    overflow: visible;
    z-index: 90;
}
nav#top-nav > ul > li {
    margin-left: 0px;
    position: relative;
}
nav#top-nav > ul > li > a {
    color: #777;
    font-weight: bold;
    padding: 8px 18px;
    position: relative;
}
nav#top-nav > ul > li:last-child > a {
    /*padding-right: 12px;*/
}
nav#top-nav > ul > li:hover, nav#top-nav > ul > li.current-menu-item, #top-nav > ul > li.current_page_item {
    background-color: #ff5b6d;   
 }
nav#top-nav > ul > li:hover > a, nav#top-nav > ul > li.current-menu-item > a, #top-nav > ul > li.current_page_item > a {
    color: #fff;
}
ul.children, ul.sub-menu {
    display: none;
}
nav#top-nav ul ul {
    margin-left: 0px;
    position: absolute;
    width: 180px;
    background-color: #fff;
    z-index: 500;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
nav#top-nav ul ul  li {
    border-top: 1px solid #F2F2F2;
    position: relative;
}
nav#top-nav ul ul li a, #cat-nav ul ul li a {
    display: block;
    padding: 7px 15px;
}
nav#top-nav ul ul > li:hover {
    background-color: #f2f2f2;
}
nav#top-nav ul ul > li:hover > a {
    color: #666;
}
nav#top-nav > ul > li:hover > ul.children, nav#top-nav > ul > li > ul.children > li:hover > ul {
    display: block;
}
/** SUB header **/
.announcement {
    background-color: #ff5b6d;
    color: #fff;
    padding: 10px 0px;
    margin-bottom: 0px;
}
.announcement h2 {
    color: #FFF;
    padding: 10px 0px;
    text-transform: none;
}
.announcement p {
    color: #FFF;
    padding-bottom: 10px;
    width: 60%;
}
/** CATEGORY NAVIGATION **/
.wrap-cat-nav {
    background: #FF5B6D;
}
#cat-nav {
    height: 100%;
}
#cat-nav > ul {
    margin-bottom: 0px;
    overflow: visible;
}
#cat-nav > ul > li, #cat-nav > ul {
    margin-left: 0;
}
#cat-nav > ul > li > a {
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
}
#cat-nav > ul > li:hover, #cat-nav > ul > li.current-menu-item {
    background-color: #fff;
}
#cat-nav > ul > li:hover a, #cat-nav > ul > li.current-menu-item a {
    color: #FF5B6D;
}
#cat-nav ul li {
    position: relative;
}
#cat-nav ul ul {
    margin-left: 0px;
    position: absolute;
    width: 180px;
    background-color: #fff;
    z-index: 90;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
#cat-nav > ul > li:hover > ul.children, #cat-nav > ul > li > ul.children > li:hover > ul {
    display: block;
}
#cat-nav ul ul li a  {
    color: #666 !important;
}
#cat-nav ul ul li:hover {
    background-color: #f2f2f2;
}
.sf-menu ul ul {
    left: 100%;
    top: 0px;
    padding-top: 0px !important;
}
.sf-arrows .sf-with-ul:after {
    position: absolute;
    right: 12px;
    margin-top: 0px;
    height: 0;
    width: 0;
    font-family: "fontawesome";
    font-weight: normal;
    content: "\f107";
}
.sf-arrows ul .sf-with-ul:after {
    margin-top: 0px;
    margin-right: -3px;
    content: "\f105";
}
/** BODY **/
.body {
    padding: 35px 0px;
}
.block {
    margin-bottom: 30px;
}
.block-title {
    background: #f1f1f1;
    display: inline-block;
    padding: 5px 10px;
    font-weight: normal;
    border-left: 5px solid #FF5B6D;
    margin-bottom: 15px !important;
}
.block article {
    margin-bottom: 20px;
    position: relative;
}
.block-header {
    overflow: hidden;
    position: relative;
}
.block-header .product-act {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: -35px;
    left: 0;
}
.block-content {
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
    text-align: center;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
}
.block-content:hover {
    background-color: #F1F1F1;
}
.block-content h3 {
    font-size: 13px;
    text-transform: none;
    padding: 10px 0px;
}
.block-content a {
    font-size: 13px;
    text-transform: none;
    padding: 15px 0px 5px;
    display: block;
}
.block-img {
    padding: 0px !important;
}
div.product-price {
    font-size: 16px;
    color: #FF5B6D;
    padding: 8px 0px;
}
.block-subscribe {
    background: #F1F1F1;
    padding: 20px 5px;
}
.block-subscribe h2 {
    margin-bottom: 10px;
}
.block-subscribe input, .block-subscribe .button {
    height: 35px;
}
.block-subscribe .button {
    
}
.block-subscribe input {
    border-right: 0px;
}
.block-subscribe label {
    margin-bottom: 3px;
    margin-top: 5px;
}
.block-content .add_to_cart_button, .block-content .product_type_variable {
    width: 100%;
    padding: 10px 0px;
    position: absolute;
}
.block-content .save-product {
    position: absolute;
    color: #555;
    top: 28px;
    right: 28px;
    font-size: 20px;
}
.block-content .product-act {
    /*margin-top: 10px;*/
}
.block-content .product-des {
    font-size: 11px;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.block-content span.onsale, .images-wrap span.onsale {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #FF5B6D;
    padding: 16px 0px;
    font-weight: bold;
    color: #FFF;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    left: 18px;
    z-index: 2;
}
.product-price del {
    color: #888;
}
.block .product-name {
    height: 35px;
    overflow: hidden;
}
.product-price del .amount {
    margin-right: 10px;
    font-size: 14px;
}
.block-products .product-des {
    height: 69px;
    overflow: hidden;
}
.product-des {
    text-align: justify;
}
.product-act {
    position: relative;
    height: 35px;
}
.block-content a.block-img {
    padding: 0px;
    position: relative;
}
.added_to_cart {
    position: absolute;
    bottom: 100%;
    right: 0px;
    width: 100%;
    background: rgba(250, 250, 250, 0.8);
    padding: 10px 0px !important;
}

table.variations {
    border-left: 0px;
    width: 100%;
    border-right: 0px;
    border-top: 0px;
}
table.variations .label {
    padding: 5px;
    margin: 0;
    vertical-align: top;
    border: 0;
    background-color: transparent;
}
table.variations .label label {
    font-weight: bold;
    margin-top: 11px;
}
table.variations td.value {
    padding-bottom: 20px;
}
.single_variation_wrap {
    overflow: visible !important;
}
/** ANIMATE **/

/*.block-products.featured .block-content {
    height: 310px;
    overflow: hidden;
}
/*
.block-products.featured article .block-inside {
    transition: .3s;
}
.block-products.featured article:hover .block-inside {
    margin-top: -70px;
}
.block-products.featured article .block-inside .product-des {
    transition: .3s;
    opacity: 0;
}
.block-products.featured article:hover .block-inside .product-des {
    opacity: 1;
}*/
/** Block Blog **/
.block-blog-content {
    background-color: #f1f1f1;
}
.block-blog-content figure {
}
.block-blog-content figure img {
    display: block;
    width: 100%;
}
.block-blog-content a.blog-img {
    display: block;
}
.block-blog-content .blog-title {    
    margin-bottom: 10px;
}
.block-blog-content .blog-title a {
    font-weight: normal;
    font-size: 16px; 
}
.block-blog-content .blog-description {
    font-size: 12px;
}
.block-blog-content ul.inline-list {
    font-size: 11px;
}
.blog-meta .inline-list>li>* {
    display: inline-block;
}
.blog-meta  {
    /*color: #999; /*#2F8FC0;*/
    display: block;
    font-style: italic;
    font-size: 11px;
    line-height: 20px;
    padding: 5px 0px;
}
.block-blog-content a {
    color: #222;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
}
.blog-act {
    margin-top: 6px;
}
a.read-more, div.reply-link {
    font-size: 12px;
    float: right;
}
div.reply-link {
    float: left;
}
.post-meta a, div.reply-link,  div.reply-link a, .archive-post a.read-more {
    color: #777;
}
/** block blockquote **/
.block-quote-content {
    padding: 25px;
    border: 1px solid #F1F1F1;
}
.block-quote-content blockquote {
    font-size: 16px;
}
blockquote {
    font-style: italic;
    position: relative;
    padding-left: 45px;
    border-right: 5px solid #E4E4E4;
    padding-right: 10px;
    text-align: justify;
}
blockquote:before {
    position: absolute;
    display: block;
    content: "\f10d";
    font-family: 'FontAwesome';
    top: 0;
    left: 0;
    font-size: 30px;
}
/** WIDGET **/
.sidebar-widget {
    margin-bottom: 45px;
}
.sidebar-widget h3 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #E4E4E4;*/
}
.product_list_widget li {
    overflow: hidden;
    border-bottom: 0 !important;
    min-height: 75px;
    margin-bottom: 10px !important;
}
.product_list_widget li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.product_list_widget li a img {
    float: left;
    width: 50px;
    position: absolute;
    left: 0;
}
.product_list_widget .star-rating {
    /*display: inline-block;
    margin-right: 15px;
    margin-top: 10px;*/
}
.footer-widget .product_list_widget .quantity {
    color: #fff;
}
.widget_shopping_cart_content li a {
    text-align: right;
}
.widget_shopping_cart_content .quantity {
    float: right;
}
.widget-content .widget_shopping_cart_content .total {
    padding: 10px 0px;
    border-top: 1px solid #DDD;
    margin: 10px 0px;
}
.widget-content .widget_shopping_cart_content .total .amount {
    float: right;
}
.amount {
    font-weight: bold;
    color: #FF5B6D;
}
del {
    color: #888;
}
del .amount {
    color: #888;
    font-size: 16px;
    font-weight: normal;
}
#recentcomments li {
    padding: 3px 0px;
    padding-left: 15px;
}
#searchform label {
    margin-bottom: 3px;
}
.widget_shopping_cart_content dl.variation {
    display: none;
}
.sidebar .widget-content ul li, .sidebar .widget-content ul li {
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    padding-left: 15px;
    line-height: 23px;
}
.sidebar .widget-content ul li:last-child {
    border-bottom: 0;
}
.sidebar .widget-content ul li a {
    padding: 3px 0px;
    display: block;
}
.widget_shopping_cart_content p.buttons {
    height: 35px;
}
.sidebar .widget-content ul li:before {
    position: absolute;
    left: 0;
    top: 3px;
    content: "\f105";
    font-family: FontAwesome;
}

/** PRICE FILTER **/
.widget_price_filter .price_slider { margin-bottom: 1em }

.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
  font-size: .8751em }

.widget_price_filter .price_slider_amount .button {  color:white; }

.widget_price_filter .price_slider_amount .button { float: right }

.widget_price_filter .ui-slider { position:relative;text-align: left }

.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 5px;
    background: #FFF;
    height: 15px;
    cursor: pointer;
    outline: 0;
    top: -4px;
    border: 1px solid #FF5B6D;
    -webkit-transition: border-color 0.2s ease-in;
    -moz-transition: border-color 0.2s ease-in;
}
.widget_price_filter .ui-slider .ui-slider-handle:hover {
    border-color: #ccc;
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child { margin-left: -5px; }

.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    cursor: pointer;
    background:#FF5B6D ;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #eeeeee;
}

.widget_price_filter .ui-slider-horizontal { height: 8px; }

.widget_price_filter .ui-slider-horizontal .ui-slider-range { top:0;height: 100% }

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min { left: -1px }
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max { right: -1px }
.widget_price_filter .price_slider_wrapper .button {
    float: right;
}
.widget_price_filter .price_slider_wrapper .button span{color: #444 !important;}
.widget_price_filter .price_slider_wrapper .button:hover{}
.widget_price_filter .price_slider_wrapper .price_slider {
  margin: 1em 0 .6em;
}
.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle {
  outline: 0 !important;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount {
    overflow: hidden;
    line-height: 2em;
    margin: 15px 0 0;
}               
.widget_price_filter .price_label {
    color:#666;
    float: left;
}
/** FOOTER **/
.facebook-likebox {
    background-color: #f1f1f1;
}
footer {
    margin-top: 20px;
    color: #FFF;
}
.footer-ex-widgets {
    padding: 30px 0;
    border-top: 1px solid #E4E4E4;
    color: #555;
}
.footer-ex-widget h3 {
    padding-bottom: 5px;
    margin-bottom: 15px;;
}
.widget-ex-content li {
    margin-bottom: 8px;
}
.footer-widgets {
    padding: 30px 0px;    
    background: #333;
}
.footer-widget {
    margin-bottom: 20px;
}
.footer-widget h3 {
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #555;
    margin-bottom: 10px;
}
.footer-widget [class^="icon-"], .footer-widget [class*=" icon-"] {
    color: #fff;
    margin-right: 3px;
}
.footer-widget .widget-content, .footer-widget .widget-content label {
    color: #dfdfdf;
}
.footer-widget .widget-content a {
    color: #dfdfdf;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
.footer-widget a:hover {
    color: #999;
}
.footer-widget .widget-content ul li, .widget_d_contact_widget ul li {
    padding-bottom: 5px;
}
.widget_d_contact_widget ul li {
    padding-left: 0 !important;
}
.widget_d_contact_widget ul li:before {
    content: "" !important;
}
.widget_d_contact_widget ul li [class^="icon-"], .widget_d_contact_widget ul li [class*=" icon-"] {
    margin-right: 3px;
}
.product_list_widget li:last-child {
    padding-bottom: 0px !important;
}
.product_list_widget li {
    padding-left: 65px !important;
    position: relative;
}
.product_list_widget li:before {
    content: "" !important;
}
.tagcloud > a {
    border: 1px solid #dfdfdf;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 13px !important;
}
.footer-copyright {
    background-color: #000;
    padding: 10px 0px;
    font-size: 11px;
    color: #ccc;
    position: relative;
}
.footer-copyright a {
    color: #fff;
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}
p.copyright, p.woocommerce-result-count {
	margin-bottom: 0;
}
.footer-copyright a:hover {
    color: #999;
}
#footer-nav ul {
    margin-bottom: 0px;
    display: inline-block;
}
.widget_shopping_cart_content .buttons .button{
    float: left;
    width: 50%;
}
/** CAROUSEL **/
/** WOO STYLE **/
.woocommerce-tabs .panel {
    border: 1px solid #e4e4e4;
    box-shadow: none;
}
.woocommerce form.cart .yith-wcwl-add-to-wishlist a {
    padding: 12px;
}
.woocommerce-message,.woocommerce-error,.woocommerce-info{
    padding: 1em 1em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    width: auto;
}
.woocommerce-message:after,.woocommerce-error:after,.woocommerce-info:after{
    content:"";
    display:block;
    clear:both
}
.woocommerce-message:before,.woocommerce-error:before,.woocommerce-info:before{
    display: block;
    position: absolute;
    top: 0;
    left: 1em;
    line-height: 1;
    text-align: center;
    padding-top: 1em;
    font-size: 16px;
}
.woocommerce-message .button,.woocommerce-error .button,.woocommerce-info .button{
    float:right
}
.woocommerce-message li,.woocommerce-error li,.woocommerce-info li{
    list-style:none outside;
    padding-left:0;
    margin-left:0;
    padding-bottom: 4px;
}
.woocommerce-message{
    background: #FFF;
    color: #690;
    border-top: 3px solid #9FBE60;
}
.woocommerce-message:before{
    color: #8FAE1B;
    content: "\2713";
}
.woocommerce-message .button {
    background-color: #9FBE60;
    border-color: #9FBE60;
}
.woocommerce-message .button:hover {
    background-color: #BAD388;
    border-color: #9FBE60;
}

.woocommerce-info{
    border-top:3px solid #1e85be;
    background-color: #fff;
    color: #1e85be;
}
.woocommerce-info:before{
    content:"\f06a";
    font-family:FontAwesome;
}
.woocommerce-info .button {
    background-color: #1E85BE;
    border-color: #1E85BE;
}
.woocommerce-info .button:hover {
    background-color: #3695CA;
    border-color: #1E85BE;
}
.woocommerce-error{
    border-top: 3px solid #B81C23;
    color: #D43;
    background-color: #FFF;
}
.woocommerce-error:before{
    content:"\f056";
    font-family: FontAwesome;
}
.subheader {
    padding: 35px 0px;
    background: #F1F1F1;
    margin-top: 0px;
    margin-bottom: 0px;
}
.subheader h1.page-title {
    text-transform: none;
    float: left;
    color: #777;
}
.breadcrumbs {
    background-color: #fff;
    border: none;
    padding-left: 5px 10px 5px;
    border-left: 3px solid #777;
    border-radius: inherit;
    float: right;
}
.breadcrumbs a {
    color: #333;
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}
.breadcrumbs>*, .breadcrumbs>* a, .breadcrumbs>* span {
    font-size: 11px;
    text-transform: none;
}
.breadcrumbs>*:before {
    content: "\f105";
    color: #777;
    font-family: 'FontAwesome';
}
/** SHOP STYLE **/
.shop-action {
    padding: 15px 0px;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
}
.shop-action .woocommerce-result-count {
    float: left;
    font-style: italic;
    margin-top: 4px;
}
.shop-action .woocommerce-ordering {
    float: right;
}
.top-subcat {
    margin-top: 20px;
    padding-bottom: 5px;
}
.top-subcat li {
    margin-bottom: 5px;
    margin-left: 18px;
}
.top-subcat .product-category img {
    float: left;
    max-width: 60px;
    margin-right: 10px;
}
.top-subcat .product-category h3 {
    overflow: hidden;
    text-transform: none;
    font-size: 13px;
    margin-top: 10px;
    float: left;
}
.top-subcat mark {
    background: transparent;
    color: #999;
}
/** Pagination **/
.woocommerce-pagination {

}
.woocommerce-pagination ul.page-numbers li {
    display: inline-block;
}
.woocommerce-pagination ul.page-numbers li span, .woocommerce-pagination ul.page-numbers li a {
    display: inline-block;
    padding: 5px 10px;
    background: #F2F2F2;
}
.woocommerce-pagination .page-numbers.current {
    background: #FF5B6D;
    color: #FFF;
}
/** PRODUCT SINGLE STYLE **/
/*remove the spinner button off the input number*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.images-wrap {
    position: relative;
}
.images-wrap span.onsale {
    padding: 16px 10px;
    top: 10px;
    left: 25px;
}
.entry-summary h1.product_title {
    font-size: 18px;
    margin-bottom: 18px;
}
.entry-summary .price {
    font-size: 26px;
    padding: 15px 0px;
    margin-bottom: 18px;
    border-bottom: 1px solid #E4E4E4;
    display: block;
}
.entry-summary p, .entry-summary ul, .entry-summary form.cart, #tab-description p, #entry-summary ul {
    margin-bottom: 25px;
}
.entry-summary ul li, #tab-description ul li {
    padding-bottom: 5px;
}
.entry-summary ul li:before, #tab-description ul li:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    color: #FF5B6D;
    margin-right: 10px;
}
.entry-summary .price:before {
    display: block;
    content: "\f02b";
    float: left;
    font-family: 'FontAwesome';
    font-size: 32px;
    margin-top: 3px;
    margin-right: 15px;
    color: #777;
}
.buttons_added {
    width: 60px;
    position: relative;
    float: left;
    margin-right: 40px;
}
.buttons_added input[type="button"] {
    display: inline-block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #E4E4E4;
    font-size: 14px;
    color: #555;
    position: absolute;
    top: -11px;
    right: -12px;
}
.buttons_added input[type="button"].minus {
    top: 22px;
}
.buttons_added input[type="number"] {
    height: 35px;
    border-right: 0px;
    text-align: center;
}
.entry-summary div[itemprop="description"] {
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 35px;
}
.entry-summary .product_meta {
    clear: both;
    padding-bottom: 15px;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 20px;
}
.product_meta span.sku_wrapper, .product_meta span.posted_in, .product_meta span.tagged_as {
    display: block;
    margin-bottom: 15px;
}
.product_meta span.sku_wrapper:before {
    content: "\f005";
    font-family: 'FontAwesome';
    margin-right: 5px;
}
.product_meta span.posted_in:before {
    content: "\f07c";
    font-family: 'FontAwesome';
    margin-right: 5px;
}
.product_meta span.tagged_as:before {
    content: "\f02c";
    font-family: 'FontAwesome';
    margin-right: 5px;
}
.product_meta span.posted_in a {    
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
.product_meta span.tagged_as a {
    font-size: 11px;
    padding: 3px;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
.woocommerce-tabs {
    margin-top: 35px;
    margin-bottom: 40px;
}
.woocommerce-tabs ul.tabs {
    padding-left: 5px;
}
.woocommerce-tabs ul.tabs li {
    display: inline-block;
    width: auto;
    margin-left: -5px;    
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}
.woocommerce-tabs ul.tabs li.active {
    border-bottom: 1px solid #FFF;
}
.woocommerce-tabs ul.tabs li.active a {
    background-color: #fff;    
    border-top: 3px solid #FF5B6D;
    color: #FF5B6D;
}
.woocommerce-tabs ul.tabs li:hover a {
    border-top: 3px solid #FF5B6D;
}
.woocommerce-tabs ul.tabs li a {
    padding: 10px;
    display: inline-block;
    background: #F2F2F2;
    border-top: 3px solid #E4E4E4;
    border-bottom: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}
.panel.entry-content {
    /*float: left;*/
    background-color: #fff;
    width: 100%;
    margin-top: -1px;
}
.related.products {
    margin-top: 35px;
}
.related.products .block-content {
}
.related.products .block, .upsells.products .block {
    margin-top: 10px;
}
table.shop_attributes {
    width: 100%;
    border: none;
    text-align: left;
}
/** review FORM **/
#commentform label {
    float: left;
    margin-bottom: 3px;
    margin-right: 5px;
}
#commentform textarea {
    height: 120px;
}
p.add_review {
    text-align: right;
}
/* wishlist btn*/
.product-act .yith-wcwl-add-to-wishlist {
    position: relative;
    float: right;
    margin-top: 0px;
    width: 35px;
    height: 35px;
}
.product-act .add_to_wishlist, .product-act .yith-wcwl-wishlistaddedbrowse a, .product-act .yith-wcwl-wishlistexistsbrowse a {
    padding: 10px 0px;
    font-size: 0;
    width: 35px;
    height: 35px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
#add-items-ajax-loading {
    display: none !important;
}
.product-act .add_to_wishlist.loading {
    background: rgba(255, 255, 255, 0.8) url(images/ajax-loader.gif) no-repeat center center;
    border-color: #fff;
    display: block;
}
.product-act .add_to_wishlist:before, .product-act .yith-wcwl-wishlistaddedbrowse a:before, .product-act .yith-wcwl-wishlistexistsbrowse a:before  {
    display: block;
    content: "\f08a";
    color: #fff;
    text-indent: inherit;
    font-family: 'FontAwesome';
    font-size: 13px !important;
    width: 35px;
}
.wishlist_table .add_to_cart, .yith-wcwl-add-button > a.button.alt {
    border-radius: 0px;
}
.yith-wcwl-wishlistaddedbrowse {
    /*width: 35px;
    height: 35px;
    position: relative;*/
}
.yith-wcwl-wishlistaddedbrowse span, .yith-wcwl-wishlistexistsbrowse span {
    display: none;
    width: 180px;
    position: absolute;
    top: -35px;
    right: 0px;
    background: #555;
    color: #FFF;
}
.yith-wcwl-add-to-wishlist a:hover {
    background: #FF7B89;
    border-color: #FF7B89;
}
#yith-wcwl-popup-message {
    background: #FFF;
    border: 1px solid #FF5B6D;
    -moz-border-radius: 5px;
    padding: 10px 20px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 10000;
    border-radius: 5px;
    line-height: 20px;
}
/* wishlist single page */
.woocommerce form.cart .single_add_to_cart_button {
    float: left;
    height: 38px;
}
.woocommerce form.cart .yith-wcwl-add-to-wishlist {
    display: block;
    padding: 0;
    float: left;
    margin-top: 0px;
}
.woocommerce form.cart .yith-wcwl-add-to-wishlist a {
    display: block;
    padding: 12px;
    font-size: 0px;
    background: #ff5b6d;
    border: 1px solid #ff5b6d;
    height: 38px;
}
.woocommerce form.cart .yith-wcwl-add-to-wishlist a:hover {
    background: #FF7B89;
    border-color: #FF7B89;
}
.woocommerce form.cart .add_to_wishlist:before, .woocommerce form.cart .yith-wcwl-wishlistaddedbrowse a:before, .woocommerce form.cart .yith-wcwl-wishlistexistsbrowse a:before  {
    content: "\f08a";
    color: #fff;
    text-indent: inherit;
    font-family: 'FontAwesome';
    font-size: 13px !important;
    width: 35px;
}
.product-act .yith-wcwl-wishlistaddedbrowse a:before, .product-act .yith-wcwl-wishlistexistsbrowse a:before, .woocommerce form.cart .yith-wcwl-wishlistaddedbrowse a:before, .woocommerce form.cart .yith-wcwl-wishlistexistsbrowse a:before {
    content: "\f004";
}
.woocommerce form.cart .add_to_wishlist.loading {
    background: rgba(255, 255, 255, 0.8) url(images/ajax-loader.gif) no-repeat center center;
    border-color: #FF5B6D;
    height: 39px;
    width: 39px;
}
.woocommerce form.cart .add_to_wishlist.loading:hover {
    background: rgba(255, 255, 255, 0.8);
}
table.cart td.actions .coupon, .body table.cart td.actions .coupon {
    float: left;
}
table.cart td.actions .button.alt, .body table.cart td.actions .button.alt {
    float: right;
    margin-left: .25em;
}
table.cart td.actions, .body table.cart td.actions {
    text-align: right;
    padding: 20px 0;
    border-top: 1px solid #DDD;
}
table.cart td.actions .coupon label, .body table.cart td.actions .coupon label {
    display: none;
}
td.product-name dl.variation {
    margin: .25em 0 .5em;
    font-size: .8751em;
}
td.product-name dl.variation dt {
    font-weight: bold;
    float: left;
    clear: left;
    margin: 0 .25em 0 0;
    padding: 0;
}
td.product-name dl.variation dd {
    margin: 0 0 .25em 0;
}
td.product-name dl dd {
    margin: 0;
}
.shipping-calculator-form select {
    margin: 0 0 1em 0;
}
.cart-collaterals h2, .cart-collaterals h2 a {
    text-transform: none;
    font-size: 18px;
    color: #777;
    font-weight: normal;
    margin-bottom: 8px;
}
.shipping-calculator-form {
    display: block !important;
}
.shipping_calculator select {
    width: 100%;
}
.cart_totals.calculated_shipping th {
    text-align: left;
    border-bottom: 1px solid #E8E4E3;
    font-size: 13px;
    color: #777;
}
.cart_totals.calculated_shipping td {
    text-align: right;
    border-bottom: 1px solid #E8E4E3;
}
/** CHECKOUT **/
.woocommerce-checkout .login {
    margin-bottom: 30px;
}
form .form-row-first, form .form-row-last {
    float: left;
    width: 47%;
    overflow: visible;
}
form .form-row {
    margin: 0 0 6px;
}
form .form-row-last {
    float: right;
}
.checkout_coupon {
     margin-bottom: 35px;
}
#shiptobilling {
    float: right;
    line-height: 18px;
}
form.checkout h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}
form .form-row .input-checkbox {
    display: inline;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
}
form .form-row label.checkbox {
    display: inline;
}
.payment_methods .input-radio {
    display: inline;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
}
.payment_methods label {
    display: inline;
}
.payment_methods .payment_box {
    padding: 8px;
    background-color: #f5f5f5;
    margin: 10px 0;
}
.payment_methods .payment_box p {
    margin-bottom: 0;
}
#payment ul.payment_methods li img {
    vertical-align: middle;
    margin: -2px 0 0 .5em;
    position: relative;
}
#payment ul.payment_methods li {
    margin-bottom: 20px;
}
#place_order {
    margin-top: 20px;
}
#order_review tr.total th, #order_review tr.total td {
    background-color: #f7f7f7;
    border-top: 1px solid #E4E4E4;
}
p.checkout-notice {
    font-size: 18px;
}
.order_details {
    margin: 10px 0;
    padding: 10px 0px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}
.order_details li {
    border-right: 1px dashed #E0DADF;
    padding-right: 10px;
    margin-left: 10px;
    list-style: none;
    float: left;
    display: block;
}
.order_details:after {
    display: table;
    content: "";
    clear: both;
}
.order_details li:last-child {
    border-right: 0;
}
.order_details strong {
    color: #555;
    display: inline;
    font-weight: normal;
}
.woocommerce-checkout h2 {
    margin-top: 20px;
    font-size: 17px;
}
.customer_details {
    margin-top: 10px;
}
.customer_details dt {
    float: left;
    font-weight: bold;
    margin-right: 10px;
}
.addresses.row {
    margin-top: 20px;
}
/** CUSTOM **/
.shop-banner {
	margin-bottom: 30px;
	max-height: 250px;
	overflow: hidden;
    -webkit-box-shadow: 0 8px 6px -7px #999;
    -moz-box-shadow: 0 8px 6px -7px #999;
    box-shadow: 0 8px 6px -7px #999;
}
.shop-banner img {
    display: block;
}
.top-subcat ul.inline-list {
	margin-bottom: 0;
}
table.shop_table.cart {
    width: 100%;
    font-size: 13px;
    border: 0;
}
.product-price, .product-quantity, .product-name, .product-name a, .product-subtotal {
    font-size: 13px;
}
a.remove {
    color: #FF5B6D;
    display: inline-block;
    text-align: center;
    width: 1.618em;
    height: 1.618em;
    line-height: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 14px;
    position: relative;
    text-indent: -9999px;
}
a.remove:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'FontAwesome';
    line-height: 1.65;
    content: "\f00d";
    text-indent: 0;
}
.author-info a, .post-navigation a, .post-meta a {    
    transition: all linear .2s;
    -moz-transition: all linear .2s;
    -webkit-transition: all linear .2s;
}
div.post-excerpt {
    line-height: 23px;
    margin-bottom: 30px;
}
.link-pages {
    padding-left: 20px;
    color: #999;
}
.link-pages a {
    font-weight: bold;
    font-size: 12px;
}
/** ARCHIVE STYLE **/
.archive-post {
    margin-bottom: 30px;
}
.archive-post h4 {
    text-transform: none;
    font-weight: bold;
}
.archive-post figure {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}
.archive-post-meta {
    padding-top: 20px;
    border-top: 1px solid #DDD;
    padding-bottom: 10px;
}
/** AUTHOR STYLE **/
.author-info {
    padding: 10px;
    background: #F2F2F2;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 30px;
}
.author-info h3 {
    text-transform: none;
    margin-bottom: 20px;
}
.author-avatar {
    text-align: center;
}
.author-avatar img {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.author-social ul li a {
    font-size: 16px;
}
.author-description {
    position: relative;
}
.author-description p {
    margin-bottom: 0;
}
.author-social ul {
    position: absolute;
    top: 0px;
    right: 15px;
}
.post-navigation {
    padding: 15px 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-style: italic;
}
.post-navigation a[rel="next"], .post-navigation .nav-previous a {
    float: right;
    text-align: right;
}
.post-navigation a {
    font-size: 16px;
}
/** COMMENT **/
.single-comment {
    margin-top: 30px;
    background: #FFF;
}
.single-comment #comments {
}
.single-comment h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans Condensed",Segoe UI,Arial,Helvetica,sans-serif;
    margin-bottom: 30px;
}
ul.commentlist li {
    margin: 0 0 20px;
}
.comment-author {
    float: left;
    margin-right: 10px;
    padding: 0;
}
.comment-author img {    
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.comment-content {
    margin: 0 0 0 60px;
    border: 1px solid #F0EEF0;
    padding: 1em 1em 0;
}
.comment-meta {
    display: inline-block;
}
.comment-content p {
    margin: 10px 0px;
    line-height: 23px;
}
.comment-meta a, .comment-content cite a {
    font-size: 12px;
}
.comment-content cite a {
    font-weight: bold;
    color: #777;
    font-style: normal;
}
a.comment-reply-link {
    text-decoration: underline;
    font-size: 11px;
    display: inline-block;
    margin-bottom: 20px;
}
.single-comment #reply-title {
    margin: 30px 0px;
    color: #777;
    font-size: 20px;
    font-family: "Open Sans Condensed",Segoe UI,Arial,Helvetica,sans-serif
}
.single-comment input[type="text"] {
    /*height: 15px;*/
}
.single-comment #commentform p {
    display: block;
    float: none;
    margin-bottom: 10px;
}
.single-comment #commentform p label {
    display: block;
    margin-bottom: 3px;
}
.fb-comments {
    margin-left: 30px;
}
.commentlist ul.children {
    margin-top: 20px;
    margin-left: 60px;
    display: block !important;
}
.vcard {
border: 0;
}
/** POST STYLE **/
.post-meta {
    position: relative;
}
.post-meta div {
    text-align: right;
    border-top: 3px solid #999;
    padding-top: 10px;
}
.post-meta div span {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}
.post-wrap {
    margin-bottom: 40px;
    padding: 0 0 15px;
    border-bottom: 1px solid #f2f2f2;
}
.post-wrap a {
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
h3.post-title {
    text-transform: none;
    color: #555;
    margin-bottom: 5px;    
    font-size: 18px;
}
.posted-in {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 11px;
}
/** CONTACT STYLE **/
input.error, textarea.error {
    border-color: #D43;
    background: none;
}
.no-pt {
    padding-top: 0;
}
#map-canvas {
    width: 100%; height: 400px;
}
#map-canvas label, .map-canvas label { 
    width: auto;
    display:inline;
}
#map-canvas img, .map-canvas img { 
    max-width: none;
}
.wrap-contact-info {
    margin-top: 30px;
}
.form-content label {
    margin-bottom: 8px;
}
.contact-form h3, .contact-info h3 {
    margin-bottom: 20px;
    text-transform: none;
}
.contact-form input[type="text"] {
    /*width: 65%;*/
}
.contact-form textarea {
    height: 200px;
}
.contact-form button {
    padding-left: 15px;
    padding-right: 15px;
}
.contact-address {
    margin-bottom: 30px;
}
.contact-address ul li {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 8px;
    margin-bottom: 6px;
}
.contact-address ul li span {
    font-weight: bold;
    width: 80px;
    display: inline-block;
}
.contact-address i {
    display: inline-block;
    width: 24px;
}
.contact-social ul {
    padding: 0;
}
/** Alert **/
.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: normal;
    font-size: 13px;
}
.alert-box .close {
    font-size: 1.375em;
    padding: 5px 4px 4px;
    line-height: 0;
    position: absolute;
    top: 0.4375em;
    right: 0.3125em;
    color: #333333;
    opacity: 0.3;
}
.alert-box .close:hover, .alert-box .close:focus {
    opacity: 0.5;
}
.alert-box.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.alert-box.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
}
.alert-box.success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.alert-box.alert {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.alert-box.secondary {
    background-color: #F0F0F0;
    border-color: #E9E9E9;
    color: #797979;
}
.alert-box.info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.alert-box.warning {
    color: #C09853;
    background-color: #FCF8E3;
    border-color: #FBEED5;
}
.alert-box:before {
    display: block;
    content: "\f00c";
    font-family: "FontAwesome";
    float: left;
    margin-right: 10px;
    font-size: 16px;
}
.alert-box.success:before {
    content: "\f00c";
}
.alert-box.alert:before {
    content: "\f00d";
}
.alert-box.info:before {
    content: "\f129";
}
.alert-box.warning:before {
    content: "\f071";
}
.alert-box.secondary:before {
    content: "\f12a";
}
/** CAROUSEL **/
.owl-controls {
    position: absolute;
    top: -51px;
    right: 9px;
}
.owl-theme .owl-controls .owl-buttons div {
    text-indent: -9999px;
    width: 28px;
    height: 28px;
    padding: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    position: relative;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    background-color: #333;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:after, .owl-theme .owl-controls .owl-buttons div.owl-prev:after  {
    content: "\f053";
    font-family: 'fontAwesome';
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 16px;
    text-indent: 0;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:after {
    content: "\f054";
    left: 10px;
}
/** PORTFOLIO **/
.post-thumbnail-video, .post-thumbnail-slider {
    margin-bottom: 20px;
}
.portfolio-item {
    margin-bottom: 30px;
}
.post-thumbnail-slider, .post-thumbnail-image, .post-thumbnail-video {
    position: relative;
    -webkit-box-shadow: 0 8px 6px -7px #999;
    -moz-box-shadow: 0 8px 6px -7px #999;
    box-shadow: 0 8px 6px -7px #999;
}
.post-thumbnail-slider .owl-controls {
    position: static;
    margin-top: 0;
}
.post-thumbnail-slider.owl-theme .owl-controls .owl-buttons div.owl-next {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -14px;
}
.post-thumbnail-slider.owl-theme .owl-controls .owl-buttons div.owl-prev  {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -14px;
}
.owl-item img, .post-thumbnail-image img {
    width: 100%;
    display: block;
}
.table-project-detail {
    border: 0;
}
.table-project-detail td {

}
.post-thumbnail-video {
    position: relative;
    padding-top: 56%;
}
.post-thumbnail-video iframe {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.portfo-detail {
    padding: 10px 0px;
    text-align: center;
}
.portfo-detail a {
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    font-size: 20px;
    margin-bottom: 10px;
}
.portfolio-meta h5, .portfolio-description h5 {
    font-weight: bold;
    margin-bottom: 20px;
}
.post-thumbnail-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(221, 169, 76, 0.5);
    opacity: 0;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    display: block;
}
.post-thumbnail-image:hover .post-thumbnail-overlay {
    opacity: 1;
}
.post-thumbnail-overlay a {
    color: #FFF;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -18px;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
    display: block;
}
.post-thumbnail-overlay a:hover {
    color: #333;
}
/** Account style **/
#customer_login .col-1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.myaccount_address {
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
}
.addresses header.title h3 {
    display: inline-block;
    margin-right: 20px;
}
/** SHORTCODE STYLE **/
.dropcap {
    float: left;
    padding: 8px 0px 8px;
    margin-right: 8px;
    font-size: 36px;
    font-style: normal;
}
.dropcap.sign {
    color: #FFF;
    background-color: #555;
    font-size: 18px;
    padding: 4px 10px 4px 11px;
    margin: 7px 10px 2px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.button.arrow:after {
    width: auto;
    height: auto;
    display: inline;
    line-height: normal;
    vertical-align: baseline;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin: 0 0 0 8px;
    font-family: "FontAwesome";
    content: "\f105";
}

.button.black {
    background-color: #000;
    border-color: #000;
}
.button.black:hover {
    background-color: #333;
    border-color: #333;
}

.button.pink {
    background-color: #E42362;
    border-color: #E42362;
}
.button.pink:hover {
    background-color: #F14B81;
    border-color: #F14B81;
}

.button.orange {
    background-color: #F99D1C;
    border-color: #F99D1C;
}
.button.orange:hover {
    background-color: #FCAA38;
    border-color: #FCAA38;
}

.button.purple {
    background-color: #4F4AA5;
    border-color: #4F4AA5;
}
.button.purple:hover {
    background-color: #6B66C7;
    border-color: #6B66C7;
}

.button.green {
    background-color: #6CCC0D;
    border-color: #6CCC0D;
}
.button.green:hover {
    background-color: #84DA2F;
    border-color: #84DA2F;
}
.button.grey {
    background-color: #666;
    border-color: #666;
}
.button.grey:hover {
    background-color: #999;
    border-color: #999;
}

.button.blue {
    background-color: #46A3D5;
    border-color: #46A3D5;
}
.button.blue:hover {
    background-color: #50B4E6;
    border-color: #50B4E6;
}

/** DIVIDER **/
.hr-divider {
    background: #EDEDED;
    height: 1px;
    width: 100%;
    position: relative;
    margin: 30px 0;
}
.hr-divider a {
    display: block;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    background: #FFF;
    color: #777;
}

/** Accordion & tabs **/
.no-js .section-container {
    border-top: 1px solid #E4E4E4;
}
.no-js .section-container > section > .title, .no-js .section-container > .section > .title {
    background-color: #f2f2f2;
    border: solid 1px #e4e4e4;
    border-top: 0;
}
.no-js .section-container > section > .title:hover, .no-js .section-container > .section > .title:hover {
    background-color: #EEE;
}
.no-js .section-container > section > .content, .no-js .section-container > .section > .content {
    border: solid 1px #e4e4e4;
    border-top: 0;
}
.no-js .section-container > section > .title > a, .no-js .section-container > .section > .title > a{
    font-size: 13px;
}
.no-js .section-container.accordion > section > .title > a:before, .no-js .section-container.accordion > .section > .title > a:before{
    width: auto;
    height: auto;
    display: inline;
    line-height: normal;
    vertical-align: baseline;
    margin: 0 8px 0 0 ;
    font-family: "FontAwesome";
    content: "\f138";
}
.no-js .section-container > section.active > .title > a:before, .no-js .section-container > .section.active > .title.active > a:before{
    content: "\f13a";
}
.no-js .section-container > section.active > .title, .no-js .section-container > .section.active > .title {
    background: #f0f0f0;
}

/** Tabs **/
.dtabs, .dtabs-vertical {
    position: relative;
    margin-bottom: 1.25em;
}
.dtabs a.title, .dtabs-vertical a.title {
    display: inline-block;
    border: 1px solid #E4E4E4;
    padding: 10px 20px;
    margin-right: -5px;
    background-color: #f2f2f2;
}
.dtabs a.title.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    border-top: 1px solid #999;
}
.dtabs a.title:hover, .dtabs-vertical a.title:hover {
    color: inherit;
}
.dtabs .content {
    display: none;
    width: 100%;
    border: 1px solid #E9E9E9;
    padding: 20px;
    margin-top: -1px;
    float: right;
}
.dtabs .content.active {
    display: block;
}
.dtabs:after, .dtabs-vertical:after, .block-title:after {
    display: table;
    clear: both;
    content: "";
}
.block .block-title {
    margin-left: 13px;
    margin-right: 13px;
}

/* Tabs vertical */
.dtabs-vertical {
    
}
.dtabs-vertical .dtabs-left {
    /*float: left;*/
    width: 20%;
    position: absolute;
    top: 0;
    left: 1px;
}
.dtabs-vertical .dtabs-left a.title {
    display: block;
    padding: 15px 20px;
    margin-top: -1px;
    margin-right: 0;
    /*border-right: 0;*/
}
.dtabs-vertical a.title.active {
    border-left: 1px solid #999;
    background-color: #fff;
    border-right: 1px solid #fff;
}
.dtabs-vertical .dtabs-right {
    width: 80%;
    float: right;
    margin-top: -1px;
}
.dtabs-vertical .content {
    padding: 10px 20px;
    line-height: 23px;
    border: 1px solid #E4E4E4;
    display: none;
}

/* Heading */
section.body h1, section.body h2, section.body h3, section.body h4, section.body h5, section.body h6 {
    margin-bottom: 10px;
}

/** Featured & Recent products **/
.carousel article.product{
    width: 100% !important;
}

/** Highlight **/
span.label {
    padding: 5px;
    font-weight: normal;
}

/** Testimonials **/
.owl-item.loading {
    min-height: inherit;
}
.testimonial-image {
    width: 80px;
    float: left;
    margin-right: 15px;
}
.testimonial-image img {
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}
.testimonial-content {
    overflow: hidden;
}
.testimonial-content .testimonial-text {
    display: block;
    line-height: 23px;
    font-style: italic;
    margin-bottom: 15px;
}
.testimonial-content .testimonial-author {
    font-weight: bold;
    border-top: 2px solid #E4E4E4;
    padding-top: 5px;
}

/** Panel **/
.panel {
    border: 0;
    -webkit-box-shadow: 0 8px 6px -7px #999;
    -moz-box-shadow: 0 8px 6px -7px #999;
    box-shadow: 0 8px 6px -7px #999;
}
.panel.callout {
    border: 1px solid #E4E4E4;
    background-color: #FFF;
}

/** Progress **/
.progress {
    height: 35px;
    padding: 0px;
    border: 0;
}
.progress .meter i.title, .progress .meter i.value {
    margin-top: 8px;
    float: left;
    padding-left: 5px;
    font-style: normal;
    color: #FFF;
}
.progress .meter i.value {
    float: right;
    padding-right: 5px;
}

/** Featured Box **/
.featured-box .content {
    line-height: 23px;
}
.featured-box .featured-box-img {
    margin-bottom: 15px;
    display: inline-block;
}
.featured-box .featured-box-img i {
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #F2F2F2;
    font-size: 40px;
    color: #999;
    padding: 10px;
    height: 60px;
    width: 60px;
}
.featured-box .featured-box-img img {
    width: 100%;
}
.featured-box.left-img {
    position: relative;
    padding-left: 80px;
    width: 100%;
}
.featured-box.left-img .featured-box-img {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

/** Team style **/
.team-member {

}
.team-member .team-img {
    position: relative;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.team-img img {
    width: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.team-img h3 {
    text-transform: none;
    padding: 3px 15px;
    background: #333;
    position: absolute;
    bottom: 18px;
    color: #FFF;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.team-member .position {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}
.team-contact span {
    display: block;
    margin-bottom: 5px;
}
.team-contact span i {
    width: 16px;
    display: inline-block;
}
.team-contact {
    padding-bottom: 10px;
}
.team-bio {
    line-height: 23px;
    margin-bottom: 15px;
}
.team-connect i {
    font-size: 16px;
}

/** Google maps **/
.gmap-wrap {
    position: relative;
}
.map-info {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #fff;
    padding: 10px 20px;
}

/** Social share **/
.social-sharing {
}
.social-sharing:after {
    display: table;
    content: "";
    clear: both;
}
.social-sharing span {
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}
.social-sharing ul {
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 0;
}
.social-sharing ul li {
    margin-left: 0;
    margin-right: 10px;
}
.social-sharing ul li:before {
    content: "";
    margin-right: 0;
}
.social-sharing ul li a {
    color: #999;
    padding: 2px;
    border: 1px solid #999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 32px;
    width: 32px;
    display: inline-block;
    text-align: center;
    font-size: 16px !important;
    vertical-align: middle;
}
.social-sharing ul li a:hover {
    background-color: #999;
    color: #fff;
}
.social-sharing ul li a i {
    text-align: center;
    display: inline-block;
    height: 16px;
    margin: 0 !important;
}

/** MINICART **/
.top-cart {
    position: relative;
}
.mini-cart-overview {
    border: 1px solid #e4e4e4;
    padding: 7px;
    display: inline-block;
    cursor: pointer;
    transition: all ease-in-out .2s;
    min-width: 60px;
}
.mini-cart-overview:hover, .mini-cart-overview.active {
    border-color: #DDD;
    -moz-box-shadow: 0 0 5px -1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 0 5px -1px rgba(0,0,0,.2);
}
.mini-cart-overview span {
    text-align: center;
    border-right: 1px solid #e4e4e4;
    padding-right: 5px;
}
.mini-cart-overview span.amount {
    border-right: 0;
    font-weight: bold;
    padding-right: 0;
}
.sub-cart {
    position: absolute;
    padding: 10px;
    background: #fff;
    border: 1px solid #DDD;
    z-index: 201;
    min-width: 280px;
    right: 0;
    top: 32px;
    -moz-box-shadow: 0 0 5px -1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 0 5px -1px rgba(0,0,0,.2);
    display: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.cart-items li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.cart-items figure {
    width: 50px;
    margin-right: 10px;
    overflow: hidden;
    float: left;
}
.cart-items figure img {
    display: block;
}
.cart-items .item-detail {
    margin-left: 60px;
    position: relative;
}
.item-detail p {
    margin-bottom: 0;
    font-size: 12px;
}
.item-detail p a {
    font-weight: bold;
    color: #777;
    font-size: 12px;
}
.item-detail .item-price {
    position: absolute;
    top: 2px;
    right: 0;
    font-weight: bold;
}
.mini-cart-total {
    padding: 0px 0px 15px;
    font-size: 18px;
}
.mini-cart-total span {
    float: right;
    font-weight: bold;
}
.mini-cart-remove {
    font-weight: normal !important;
    color: #FF5B6D !important;
}
.mini-cart-button a {
    display: block;
    margin-bottom: 10px;
}
.mini-cart-button .checkout-btn {
    background-color: #333;
    border-color: #333;
}
.icon-shopping-bag {
    display: inline-block !important;
    width: 15px;
    height: 16px;
    background: url(images/bag-icon.png) no-repeat;
    vertical-align: text-top;
    margin-top: 1px;
}
/** Product slide **/
.product-slides li{
    position: relative;
}
.product-slides li .icon-resize-full {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    color: #555;
    background: #f2f2f2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 7px 9px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    width: 32px;
    height: 32px;
}
.product-slides li .icon-resize-full:hover {
    background-color: #e4e4e4;
    color: #333;
}
#product-slider {
    margin-bottom: 20px !important;
}
#product-carousel li {
    margin-right: 21px;
    cursor: pointer;
}
#product-carousel li:last-child {
    margin-right: 0;
}
#product-carousel li.flex-active-slide {
    cursor: default;
}
.flexslider {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none  !important;
    box-shadow: none  !important;
    border: 0 !important;
}
.flexslider .slides li img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block!important;
}
.rev_slider_wrapper {
    min-height: 280px !important;
}

/** Recent posts **/
.block-blog-content .post-detail {
    padding: 15px;
}
.block-recent-post .blog-title {
    margin-bottom: 0;
}
/** Gallery **/
.gallery img {
    border: 0 !important;
}
/** Hightlight code **/
code.raw {
    padding: 10px 20px;
    color: #d14;
    font-weight: normal;
    font-size: 11px;
    display: block;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #f7f7f7;
    font: 11px Consolas, "Andale Mono", Courier, "Courier New", monospace;
    overflow: auto;
    overflow-Y: hidden;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
code.raw p {
    margin-bottom: 0;    
}
/*** ------------MEDIA QUERIES------------ ***/
@media screen and (max-width: 480px) {
    .top-head {
        text-align: center;
    }
    .facebook-likebox {
        width: 100%;
        overflow: hidden;
    }
    .block-subscribe p {
        font-size: 11px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .facebook-likebox {
        width: 100%;
        overflow: hidden;
    }    
    .first-head {
        padding-bottom: 0;
        text-align: center;
    }
    .first-head .left {
        float: none !important;
    }
    .wrap-cat-nav, .search-form {
        display: none;
    }
}
@media screen and (min-width: 1100px) {    
    .large-4.portfolio-item {
        width: 366px !important;
    }
}
/** Mean menu **/
.mean-container .mean-bar {
    float: left;
    width: 100%;
    position: absolute;
    padding: 5px 0;
    min-height: 33px;
    z-index: 1;
    background-color: transparent;
}
.mean-container a.meanmenu-reveal {
    background-color: #FF5B6D;
    width: 21px;
    height: 21px;
}