body {
	background: #fff;
	min-height: 100%;
	height: auto;
	color: #f5811f;
}
a {
	color: #f5811f;
}
a:focus,
a:hover {
	text-decoration: underline;
}
#login {
	padding: 0;
}
.login h1{

}
.login h1 a{
	height: 200px;
	background-size:200px;
	width: 300px;
	pointer-events: none;
    cursor: default;
}
.login h2 {
	padding: 12px;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	color: #fff;
}
.login form {
	margin-top: 0;
	
	border: #f5811f 1px solid;
}
.login label {
	color: #f5811f;
}
.login #login_error,
.login .message {
	border: #f5811f 1px solid;
	margin: 2px 0;
	
}
.login form .input,
.login form input[type="checkbox"],
.login input[type="text"] {
	color: #f5811f;
}
.login #backtoblog,
.login #nav {
	padding: 0;
	text-align: left;
	
}
.login #backtoblog a,
.login #nav a {
	color: #f5811f;
	font-weight: bold;
}
.login .button-primary {
	background-color: #f5811f;
	border-color: #f5811f;
	outline: none;
	border: 1px solid #990000;
	text-shadow:none;
	box-shadow: none;
}
.login .button-primary:focus,
.login .button-primary:hover {
	background-color: #f5811f;
	border-color: #f5811f;
}
.login form .input:focus, .login input[type="text"]:focus {
	border-color: #f5811f;
}