.rtl .body-wrapper {
  overflow: hidden;
}
.rtl input,
.rtl button,
.rtl select,
.rtl textarea,
.rtl th,
.rtl td,
.rtl .woocommerce-checkout #payment ul.payment_methods li {
  text-align: right;
  direction: rtl;
}
.rtl .pull-left {
  float: right;
}
.rtl .pull-right {
  float: left;
}
.rtl ol {
  padding-left: 0;
  padding-right: 15px;
}
.rtl .page-links .page-links-title {
  margin-right: 0;
  margin-left: 20px;
}
.rtl .floating {
  direction: ltr;
}
.rtl .header-style1 .top-login {
  border-left: 0;
}
.rtl .social-share-item {
  float: right;
}
.rtl .social-share-item.social-share-fb {
  margin-left: 25px;
  margin-right: 0;
}
.rtl .close {
  float: left;
}
.rtl #yt_post_slide .carousel-inner .item .carousel-caption.carousel-caption-out {
  right: 0;
  left: auto;
}
.rtl #yt_post_slide .carousel-inner .item .carousel-caption.carousel-caption-out .carousel-caption-inner {
  text-align: right;
}
.rtl .carousel-inner .bs-item .bs-item-inner .item-img {
  float: right;
}
.rtl .carousel-inner .bs-item .bs-item-inner .item-content {
  margin-right: 90px;
  margin-left: 0;
  direction: rtl;
}
.rtl.woocommerce .products-nav .woocommerce-pagination,
.rtl.woocommerce-page .products-nav .woocommerce-pagination {
  float: left;
}
.rtl table.shop_table .coupon input.button {
  margin-left: 20px;
  margin-right: 0;
}
.rtl td.product-name dl.variation dt,
.rtl td.product-name dl.variation dd {
  float: right;
}
.rtl .fancybox-outer .quickview-container.woocommerce div.product form.cart div.quantity {
  float: right;
  margin: 0 0 0 4px;
}
.rtl .fancybox-outer .quickview-container.woocommerce .product_detail .content_product_detail .cart .single_add_to_cart_button {
  margin-right: 0;
  margin-left: 5px;
}
.rtl .fancybox-outer .quickview-container.woocommerce .single-product .product_detail .slider_img_productd .product-images-container .slider.product-responsive-thumbnail button {
  height: 85px;
}
.rtl .fancybox-outer .quickview-container.woocommerce .single-product .product_detail .slider_img_productd .product-images-container .slider.product-responsive-thumbnail button:before {
  line-height: 85px;
}
.rtl.woocommerce .checkout .col2-set .col-1,
.rtl.woocommerce .checkout .col2-set .col-2,
.rtl.woocommerce-page .checkout .col2-set .col-1,
.rtl.woocommerce-page .checkout .col2-set .col-2 {
  float: right;
}
.rtl.woocommerce .checkout .col2-set .col-1 .woocommerce-billing-fields,
.rtl.woocommerce-page .checkout .col2-set .col-1 .woocommerce-billing-fields {
  padding-left: 15px;
  padding-right: 0;
}
.rtl.woocommerce .checkout .col2-set .col-2 .woocommerce-shipping-fields,
.rtl.woocommerce-page .checkout .col2-set .col-2 .woocommerce-shipping-fields {
  padding-right: 15px;
  padding-left: 0;
}
.rtl.woocommerce table.cart td.actions .coupon .input-text,
.rtl.woocommerce table.cart td.actions input,
.rtl.woocommerce-page table.cart td.actions .coupon .input-text,
.rtl.woocommerce-page table.cart td.actions input {
  float: right;
}
.rtl.woocommerce #content table.cart td.actions,
.rtl.woocommerce table.cart td.actions .coupon,
.rtl.woocommerce-page #content table.cart td.actions,
.rtl.woocommerce-page table.cart td.actions .coupon {
  float: right;
}
.rtl.woocommerce .woocommerce-error .button,
.rtl.woocommerce .woocommerce-info .button,
.rtl.woocommerce .woocommerce-message .button,
.rtl.woocommerce-page .woocommerce-error .button,
.rtl.woocommerce-page .woocommerce-info .button,
.rtl.woocommerce-page .woocommerce-message .button {
  float: left;
}
.rtl.woocommerce .widget_price_filter .price_slider_amount #min_price,
.rtl.woocommerce .widget_price_filter .price_slider_amount #max_price,
.rtl.woocommerce-page .widget_price_filter .price_slider_amount #min_price,
.rtl.woocommerce-page .widget_price_filter .price_slider_amount #max_price {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.rtl.woocommerce .widget_price_filter .price_slider_amount .button,
.rtl.woocommerce-page .widget_price_filter .price_slider_amount .button {
  float: right;
}
.rtl.woocommerce .cart-collaterals .cart_totals,
.rtl.woocommerce-page .cart-collaterals .cart_totals {
  margin-left: 2%;
  margin-right: 0;
  float: right;
}
.rtl.woocommerce .cart-collaterals .cart_totals h2,
.rtl.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout,
.rtl.woocommerce-page .cart-collaterals .cart_totals h2,
.rtl.woocommerce-page .cart-collaterals .cart_totals .wc-proceed-to-checkout {
  float: right;
}
.rtl.woocommerce #content .cart .quantity,
.rtl.woocommerce-page #content .cart .quantity {
  margin-right: 0;
  padding-right: 0;
}
.rtl.woocommerce #content .cart .quantity .plus,
.rtl.woocommerce #content .cart .quantity .minus,
.rtl.woocommerce-page #content .cart .quantity .plus,
.rtl.woocommerce-page #content .cart .quantity .minus {
  right: auto;
  left: 0;
}
.rtl.woocommerce #content .cart .quantity input.qty,
.rtl.woocommerce-page #content .cart .quantity input.qty {
  width: 40px;
  text-align: right;
}
.rtl.woocommerce .woocommerce-error a,
.rtl.woocommerce .woocommerce-info a,
.rtl.woocommerce .woocommerce-message a,
.rtl.woocommerce-page .woocommerce-error a,
.rtl.woocommerce-page .woocommerce-info a,
.rtl.woocommerce-page .woocommerce-message a {
  margin-right: 15px;
}
.rtl.woocommerce .woocommerce-error:before,
.rtl.woocommerce .woocommerce-info:before,
.rtl.woocommerce .woocommerce-message:before,
.rtl.woocommerce-page .woocommerce-error:before,
.rtl.woocommerce-page .woocommerce-info:before,
.rtl.woocommerce-page .woocommerce-message:before {
  left: auto;
  right: 1.5em;
}
.rtl.woocommerce div.product form.cart div.quantity,
.rtl.woocommerce-page div.product form.cart div.quantity {
  float: right;
  margin: 0 0 0 4px;
}
.rtl.woocommerce form.checkout_coupon,
.rtl.woocommerce form.login,
.rtl.woocommerce form.register,
.rtl.woocommerce-page form.checkout_coupon,
.rtl.woocommerce-page form.login,
.rtl.woocommerce-page form.register {
  text-align: right;
}
.rtl.woocommerce form.checkout_coupon .form-row-first,
.rtl.woocommerce form.checkout_coupon .form-row-last,
.rtl.woocommerce form.login .form-row-first,
.rtl.woocommerce form.login .form-row-last,
.rtl.woocommerce form.register .form-row-first,
.rtl.woocommerce form.register .form-row-last,
.rtl.woocommerce-page form.checkout_coupon .form-row-first,
.rtl.woocommerce-page form.checkout_coupon .form-row-last,
.rtl.woocommerce-page form.login .form-row-first,
.rtl.woocommerce-page form.login .form-row-last,
.rtl.woocommerce-page form.register .form-row-first,
.rtl.woocommerce-page form.register .form-row-last {
  float: right !important;
}
.rtl.woocommerce form.login .form-row-last,
.rtl.woocommerce form.register .form-row-last,
.rtl.woocommerce-page form.login .form-row-last,
.rtl.woocommerce-page form.register .form-row-last {
  margin-left: 0 !important;
  margin-right: 3%;
}
.rtl.woocommerce form .form-row label #rememberme,
.rtl.woocommerce-page form .form-row label #rememberme {
  float: right;
  margin: 4px 0px 0 5px;
}
.rtl.woocommerce .product_detail .content_product_detail .product-summary-bottom .cart .single_add_to_cart_button,
.rtl.woocommerce-page .product_detail .content_product_detail .product-summary-bottom .cart .single_add_to_cart_button {
  margin-right: 10px;
}
.rtl.woocommerce nav.woocommerce-pagination ul.page-numbers li a.next::before,
.rtl.woocommerce-page nav.woocommerce-pagination ul.page-numbers li a.next::before {
  content: '\f104';
}
.rtl.woocommerce nav.woocommerce-pagination ul.page-numbers li,
.rtl.woocommerce-page nav.woocommerce-pagination ul.page-numbers li {
  float: right;
}
.rtl .wrap-contact-address .contact-address p.ct-street {
  padding: 7px 45px 7px 0px;
  background: url("../assets/img/adress-icon.png") no-repeat scroll right center rgba(0,0,0,0);
}
.rtl .wrap-contact-address .contact-address .ct-email {
  padding: 7px 45px 7px 0px;
  background: url("../assets/img/email-icon.png") no-repeat scroll right top rgba(0,0,0,0);
}
.rtl .wrap-contact-address .contact-address p.ct-hotline {
  padding: 7px 45px 7px 0px;
  background: url("../assets/img/mobile-icon.png") no-repeat scroll right top rgba(0,0,0,0);
}
.rtl table.shop_table .coupon {
  float: right;
}
.rtl #ya-totop {
  left: 15px;
  right: auto;
}
