.noo_upload {
	.image-upload-thumb {
		&.old-item {
			display: none;
		}
		img {
			border: 1px solid #ddd;
			width: 70px;
		    margin: 5px;
		    padding: 5px;
		}
		a.delete-uploaded {
			position: absolute;
			top: 0;
			left: 85px;
			line-height: 1;
			font-size: 20px;
			i {
				color: @brand-danger;
			}
		}
	}
}