@import "bootstrap/responsive-utilities.less";

@media (min-width: 1366px) and (max-width: 1920px) {
	.banner-index2 .wpb_wrapper{
		margin:0 -5px;
		overflow:hidden;
		.wpb_single_image{
			float:left;
			margin-top:10px;
			padding:0 5px;
			margin-bottom:0;
			width:20%;
				.wpb_wrapper{ 
					margin:0;
				}
		}
	}
	.header-style3 .sidebar-top-header .primary-menu{
		margin:0 0 0 -2px;
		.rtl &{
			margin:0 -2px 0 0;
		}
	}
	.page-template-page-home3 .header-style3 .vertical_megamenu-header .vertical_megamenu{
		opacity:1;
		visibility:visible;
		.mega-left-title{
			&:after{
				content:'';
			}
		}
	}
	.header-style3{
		.vertical_megamenu-header{
				.mega-left-title{
					&:after{
						content:'\f107';
						font-family:FontAwesome;
						font-size:24px;
						color:#fff;
						right:18px;
						position:absolute;
						.rtl &{
							left:10px;
							right:auto;
						}
					}
				}
			.vertical_megamenu{
				cursor:pointer;
				visibility: hidden;
				z-index: 1;
				opacity:0;
				-webkit-transition: all .5s ease;
				   -moz-transition: all .5s ease;
					-ms-transition: all .5s ease;
					 -o-transition: all .5s ease;
						transition: all .5s ease;
						
			}
			&:focus{
				.vertical_megamenu{
					opacity: 1;
					visibility: visible;
				}
			}
			&:hover{
				.vertical_megamenu{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
@media (max-width: 1366px){
	.banner-index2{
		.wpb_wrapper{
			max-width: 1170px;
			margin-left: auto;
			margin-right: auto;
			.wpb_single_image{
				margin:10px 27px 0 0;
				padding:0;
				width:auto;
				float:left;
				.rtl &{
					margin:10px 0 0 27px;
					float:right;
				}
				&.image-index2{
					margin-right:0;
					.rtl &{
						margin-left:27px;
					}
				}
				&.image-index21{
					.rtl &{
						margin-left:0;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) and (max-width: 1366px) {
	.banner-index2 .wpb_single_image{
		margin:10px 20px 0 0;
		.rtl &{
			margin:10px 0 0 20px;
		}
		&.image-index2{
			margin-right:0;
			.rtl &{
				margin-left:0;
			}
		}
		&:last-child{
			display:none;
		}
		&:first-child{
			display:none;
		}
	}
}

@media (min-width: 1200px) {
	.ya_selectmenu{
		display:none;
	}
	.clear_lg{
		clear:both;
	}
	.rtl{
		[class*="col-lg-"], [class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}

	}
}

@media (max-width: 1199px) {
	footer.footer-style1 .copyright .copyright-text{
		text-align:center !important;
	}
	.banner-index2 .wpb_wrapper .wpb_single_image{
		float:left;
		width:33.3%;
		margin:10px 0 0 0;
		padding:0 5px;
		.rtl &{
			float:right;
			width:33.3%;
			margin:10px 0 0 0;
			padding:0 5px;
			&.image-index2{
				margin:10px 0 0 0;
			}
		}
		&:last-child{
			display:none;
		}
		&:first-child{
			display:none;
		}
	}
	.ya_selectmenu .slick-list{
		display:none;
	}
	.best-seller-products .slider{
		margin:0;
	}
	.about-v1{
		img{
			width:100%;
		}
	}
}
@media (min-width: 992px) and (max-width: 1190px) {
/******************** header-992-1190 *******************/
	.rev_slider_wrapper .rev_slider .tp-tabs.ares{
		display:none;
	}
	.rev_slider_wrapper .rev_slider .tp-leftarrow.custom, .rev_slider_wrapper .rev_slider .tp-rightarrow.custom{
		display:block;
	}
	.sw-woo-tab{
		.category-slider-content .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list{
			border-left:1px solid #ddd;
			.rtl &{
				border:0;
			}
		}
		&.style3{
			.category-slider-content .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list{
				border-left:1px solid #ddd;
				.rtl &{
					border:0;
				}
			}
		}
		&.style2, &.style4{
			.category-slider-content .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list{
				border-left:0;
			}
		}
	}
	.page-template-page-home3 .header-style3 .vertical_megamenu-header .vertical_megamenu{
		opacity:1;
		visibility:visible;
		.mega-left-title{
			&:after{
				content:'';
			}
		}
	}
	.header-style3{
		.vertical_megamenu-header{
				.mega-left-title{
					&:after{
						content:'\f107';
						font-family:FontAwesome;
						font-size:24px;
						color:#fff;
						right:18px;
						position:absolute;
						.rtl &{
							left:10px;
							right:auto;
						}
					}
				}
			.vertical_megamenu{
				cursor:pointer;
				visibility: hidden;
				z-index: 1;
				opacity:0;
				-webkit-transition: all .5s ease;
				   -moz-transition: all .5s ease;
					-ms-transition: all .5s ease;
					 -o-transition: all .5s ease;
						transition: all .5s ease;
						
			}
			&:focus{
				.vertical_megamenu{
					opacity: 1;
					visibility: visible;
				}
			}
			&:hover{
				.vertical_megamenu{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.header-style3 .top .header-right .content-wrap .widget_nav_menu{
		display:none;
	}
	.header-style3 .primary-menu .navbar-inner .nav > li > a{
		padding:9px 15px;
	}
	.navbar-inverse .ya_selectmenu{
		display:none;
	}
	.header-style3 .header-bottom{
		.vertical_megamenu-header{
			width:220px;
			min-width:220px;
		}
		.top-form.top-search #searchform_special input{
			width:460px;
			min-width:460px;
		}
	}
	.header-style3 .widget_currency_converter{
		margin:0 0 0 4px;
		.rtl &{
			margin:0 4px 0 0;
		}
	}
	.header-style2 .primary-menu .navbar-inner .nav > li{
		padding:0 18px;
	}
	.verticle-menu-index3 .vertical_megamenu .nav.vertical-megamenu{
		min-height:317px;
		height:317px;
		> li{
			&:nth-child(7), &:nth-child(8), &:nth-child(9){
				display:none;
			}
		}
	}
	.header-style1 .top .top-header .ya-logo{
		padding:40px 0 0;
		text-align:center;
			a{
				display:inline-block;
			}
	}
	.header-style1 .main-menu{
		float:none;
		.primary-menu .navbar-inner .nav > li{
			&:first-child{
				padding-left:0;
				.rtl &{
					padding-right:0;
				}
			}
		}
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide .item-wrap.first-item{
		width:31% !important;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide.item-7columns .item-wrap{
		width:23%;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide .item-wrap.first-item .item-detail{
		padding:60px 0;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide.item-5columns .item-wrap.first-item{
		width:40%;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide.item-5columns .item-wrap{
		width:30%;
	}
	.woo-slider-default.style2 .childcat-slider-content .childcat-content ul li a{
		padding:3px 10px;
	}
	.sw-partner-container .widget-content ul > li{
		padding-right:42px;
		.rtl &{
			padding-left:42px;
			padding-right:0;
		}
	}
	.best-seller-products .slider .slick-list{
		margin:0;
	}
	.sw-twitter-slider{
		.carousel-inner{
			padding:0 15px 20px;
			.tweet-btn a{
				margin-right:5px;
				.rtl &{
					margin-left:5px;
					margin-right:0;
				}
			}
		}
	}
	/*block images*/
	.col-block-image{
		float:left;
		width:33.33%;
		padding:0 7px;
		&.col-image-1 .first-image{
			margin-bottom:10px;
		}
		&.col-image-2{
			margin:0;
		}
	}
	.ya_best_seller_product .sw-best-seller-product{
		padding:20px 15px;
	}
	.single-product .product_detail .slider_img_productd .product-images-container .slider.product-responsive-thumbnail button{
		height:60px;
		line-height:60px;
		&:before{
			line-height:60px;
		}
	}
	.aboutv1-testimo .vc_separator h4{
		margin-left:-11%;
	}
	.single-product .product_detail .content_product_detail .cart{
		.single_add_to_cart_button{
			padding:7px 9px;
		}
		.product-summary-bottom{
			.yith-wcwl-add-to-wishlist .add_to_wishlist, .compare-button .compare{
				width:40px;
			}
		}
	}
	.single-product .product_detail .content_product_detail .share{
		width:40px;
	}
	#respond .control-group{
		max-width:207px;
	}
	.countdown-slider.style1 .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .products-thumb{
		width:44%;
	}
	.verticle-menu-index3{
		.mega-left-title{
			font-size:14px;
		}
		.vertical_megamenu .nav.vertical-megamenu{
			> li{
				> a{
					padding:14px 15px 15px;;
				}
				&:hover{
					&:after{
						border-bottom:23px solid transparent;
						border-top:22px solid transparent;
					}
				}
			}
		}
	}
	.home-left .mc4wp-form .form-newsletter input[type="email"]{
		width:72%;
	}
	.banner-index3{
		p{
			width:50%;
		}
		.mc4wp-form{
			padding:30px 125px 29px 30px;
			min-height:99px;
		}
	}
	.testimonial-slider.indicators_up5{
		.carousel-indicators{
			width:20%;
		}
		.carousel-inner .item .item-inner .client-comment{
			width:65%;
			padding:15px;
		}
	}
	.sw-woo-tab .category-slider-content .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list .item .item-wrap .item-detail{
		padding-bottom:12px;
		.rtl &{
			padding-bottom:13px;
		}
	}
	footer .footer-info{
		padding:40px 180px 0;
	}
	footer.footer-style1 .footer-top .join-our{
		padding:25px 0;
		 ul > li > a{
			margin-right:64px;
			.rtl &{
				margin-left:64px;
				margin-right:0;
			}
		}
	}
	.sidebar-above-footer .footer-block .block-item{
		padding:40px 5px;
		h3{
			font-size:14px;
		}
	}
	.clear_md{
		clear:both;
	}
		.rtl{
			[class*="col-lg-"], [class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"] {
				float: right;
			}
		}
	}

@media (max-width: 992px) {
	.header-style3 .header-bottom .vertical_megamenu-header{
		display:none;
	}
	.header-style3{
		.top{
			.header-right .sidebar-top .ya_top{
				float:left;
				.rtl &{
					float:right;
				}
			}
			.sidebar-top-header{
				position:relative;
				float:left;
				.rtl &{
					float:right;
				}
				.main-menu{
					position:absolute;
					bottom:-52px;
					left:15px;
					.rtl &{
						right:15px;
						left:auto;
					}
				}
			}
		}
		.header-bottom{
			
		}
	}
	.countdown-slider.style1 .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .products-thumb{
		width:48%;
	}
	.sw-woo-tab .category-slider-content .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list .item .item-wrap .item-detail{
		padding-bottom:6px;
	}
	.verticle-menu-index3{
		margin-top:30px;
	}
	.page-template-page-home3 .main{
		overflow:hidden;
	}
	.sideshow3.vc_column_container{
		.vc_column-inner{
		padding-left:15px !important;
		padding-right:15px !important;
		margin:0 !important;
		}
	}
	.banner-index3{
		p{
			float:none;
			width:100%;
			img{
				width:100%;
			}
		}
		.mc4wp-form{
			width:100%;
			p{
				input[type="submit"]{
					float:left;
					.rtl &{
						float:right;
					}
				}
			}
		}
	}
	footer.footer-style1 .footer-top .join-our{
		padding:25px 0;
		ul > li > a{
			margin-right:31px;
			.rtl &{
				margin-left:28px;
			}
		}
	}
	.ya_selectmenu{
		display:block;
		padding:8px;
		border:1px solid @color;
	}
	.top-form .wrapp-minicart{
		top:52px;
	}
 #main-menu .primary-menu .navbar-inner.navbar-inverse{
		position:absolute;
		top:40px;
		width:100%;
		z-index:100;
		display:none;
	}
	.navbar-inverse .nav{
		&.ya-selectmenu{
			display:none;
		}
	
	}
	.header-style1 .top .top-header .ya-logo{
		padding:30px 0 0;
		text-align:center;
			a{
				display:inline-block;
			}
	}
	.header-style1 .main-menu.pull-right{
		float:left ;
		.rtl &{
			float:right ;
		}
	}
	#main-menu .primary-menu .navbar-inner.navbar-inverse{
		display:none !important;
	}
	#main-menu .primary-menu .navbar-inner.navbar-inverse.menu-mobile{
		display:block !important;
	}
	.header-style1 .top .top-header .ya-logo{
		padding:20px 0;
	}
	.sidebar-top-header .ya_top .top-form.top-search .topsearch-entry form{
		top:0;
		.header-style2 &{
			top:18px;
			width:105%;
		}
	}
	.sidebar-top-header .ya_top .top-form.top-search{
		width:80%;
		
	}
	.top-form.top-form-minicart .top-minicart-icon > a::before{
		line-height:50px;
	}
	.sidebar-top-header .home-search{
		line-height:50px;
	}
	.best-seller-products .slider .slick-list{
		margin:0;
	}
	 .our-skill{
		margin-top:30px;
  }
	.sw-partner-container .widget-content ul{
		margin-top:10px;
		> li{
			width:19.5%;
			padding:0 12px;
			margin:0;
			.rtl &{
				padding:0 12px;
				&:first-child{
					padding:0 12px;
				}
			}
			img{
				width:100%;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.clear_sm{
		clear:both;
	}
	.header-style3 .top .header-right .content-wrap{
		background-color:#eee;
		float:none !important;
		text-align:center;
	}
	.header-style3{
		.top .phone-icon-menu{
			z-index:99;
			.rtl &{
				margin:0 -15px 0 0;
			}
		}
		.header-bottom{
			margin-bottom:30px;
			.ya_top{
				float:right;
				.rtl &{
					float:left;
				}
			}
			.vertical_megamenu-header{
				display:none;
			}
			.top-form.top-search{
				margin:10px 30px 10px 0;
				input{
					width:360px;
				}
				.rtl &{
					margin:10px 0 10px 30px;
				}
			}
		}
	}
	.header .top .phone-icon-menu{
		background-color:@color;
		display:block;	
		float:left;
		height:40px;
		width:25px;
		text-align:center;
		.rtl &{
			float:right;
		}
		&:before{
			content:'\f0c9';
			font-size:28px;
			color:#fff;
			font-family:"FontAwesome";
		}
		&.active{
				&:before{
				content:'\f00d';
				font-size:28px;
				color:#fff;
				font-family:"FontAwesome";
			}
		}
		.rtl &{
			float:right;
			margin-left:0;
			margin-right:15px;
		}
	}
	.header-style2 .header{
		border:0;
		position:relative !important;
		left:auto !important;
		top:auto !important;
		background:@color !important;
		&:before{
			content:'';
			position:absolute;
			bottom:80px;
			left:0;
			background:rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
			width:100%;
			height:1px;
		}
		.top .phone-icon-menu{
			margin-top:20px;
			height:30px;
			width:30px;
		}
		.top-form .wrapp-minicart{
			top:77px;
		}
		&.header-fixed{
			position:relative !important;
			background:@color !important;
				.sidebar-top-header .home-menu-verticle:before{
					line-height:79px;
				}
				.top-form.top-form-minicart .top-minicart-icon > a:before{
					line-height:79px;
				}
				.top-form .wrapp-minicart{
					top:77px;
				}
		}
		.top-header .ya-logo{
			text-align:center;
			a.logo-big{
				display:inline-block;
			}
		}
		.sidebar-above-footer .footer-block .block-item{
			width:50%;
			&:last-child{
				display:none;
			}
		}
		.sidebar-top-header .home-search{
			line-height:78px;
		}
		.top-form.top-form-minicart .top-minicart-icon > a{
			&:before{
				line-height:79px;
			}
		}
		#main-menu .primary-menu .navbar-inner.navbar-inverse{
			top:52px;
		}
		 .main-menu{
			float:left;
			.rtl &{
				float:right !important;
			}
		}
	}
	.sidebar-above-footer .footer-block .block-item h3{
		font-size:18px;
	}
	body .container{
		padding:0 !important;
	}
	.testimonial-slider{
		margin-bottom:20px !important;
	}
	.rev_slider_wrapper .rev_slider ul > li .tp-caption{
		.item-text{
			font-size:11px !important;
		}
		.text-index2{
			font-size:12px !important;
			line-height:12px !important;
		}
		.text-topindex2{
			font-size:10px !important;
		}
		a{
			font-size:11px !important;
			border:1px solid #fff !important;
			&:hover{
				border:1px solid @color !important;
			}
		}
	}
	.grid-blog .hentry.format-standard .entry .entry-content .entry-meta{
		.fa{
			margin:0;
		}
		.entry-date{
			margin:0;
			.rtl &{ margin:0;}
			.fa{
				margin-right:5px;
				.rtl &{
					margin-left:5px;
					margin-right:0;
				}
			}
		}
	}
	.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button{
		margin-top:0;
	}
	/*block images*/
	.col-block-image{
		float:left;
		width:33.33%;
		padding:0 7px;
		&.col-image-1 .first-image{
			margin-bottom:10px;
		}
		&.col-image-2{
			margin:0;
		}
	}
	.aboutv1-testimo .vc_separator h4{
		margin-left:-14%;
	}
	.woo-slider-default{
		.block-title {
			.navbar-toggle{
				position:absolute;
				top:20px;
				z-index:5;
				display:block;
				background: #cccccc none repeat scroll 0 0;
				border-radius: 3px;
				border:0;
				margin:0;
				padding:0;
				cursor: pointer;
				height: 25px;
				line-height: 25px;
				right: 80px;
				text-align: center;
				width: 25px;
				.rtl &{
					left:80px;
					right:auto;
				}
				&:before{
					content:'\f0c9';
					font-family:FontAwesome;
					font-size:14px;
					color:#fff;
					height:25px;
					width:25px;
					line-height:25px;
					display:inline-block;
					text-align:center;
				}
			}
		}
		.childcat-slider-content{
			.childcat-content{
				border:0;
				height:0;
				overflow:hidden;
				text-align:left;
				position:absolute;
				right:80px;
				top:45px;
				z-index:20;
				box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
				background:#fff;
				width:200px;
				.rtl *{
					left:80px;
					right:auto;
				}
				ul > li a{
					border-top:1px solid #ebebeb;
					border-bottom:0;
					&:hover{
						border-top:1px solid @color;
						border-bottom:0;
					}
				}
			}
			.resp-slider-container{
				margin:0;
				border:0;
			}
		}
	}
	.woo-slider-default.style2 .childcat-slider-content .childcat-content{
		background:none;
		overflow:visible;
		ul li a{
			padding:3px 12px;
		}
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide .item-wrap.first-item{
		width:31% !important;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide.item-7columns .item-wrap{
		width:23%;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide .item-wrap.first-item .item-detail{
		padding:60px 0;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide.item-5columns .item-wrap.first-item{
		width:40% !important;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide.item-5columns .item-wrap{
		width:30% !important;
	}
	.woo-slider-default.style2 .block-title .navbar-toggle{
		display:none;
	}
	.woo-slider-default.style2 .childcat-slider-content .childcat-content{
		height:auto;
		box-shadow:none;
		ul > li a:hover{
			border:0;
		}
	}
	
	.rtl .woo-slider-default. .childcat-slider-content .resp-slider-container{
		margin-right:0;
	}
	.single-product .product_detail .slider_img_productd .product-images-container .slider.product-responsive-thumbnail button{
		height:158px;
		line-height:158px;
		&:before{
			line-height:158px;
		}
	}
	footer .footer-info{
		padding:40px 80px 0;
	}
	footer .copyright .copyright-text{
		text-align:left;
		.rtl &{
			text-align:right;
		}
	}
	.contact-right{
		float:left;
		margin-top:20px;
	}
	.copyright .sidebar-copyright{
		margin-top:10px;
	}
	.woo-slider-default.style2 .childcat-slider-content .childcat-content{
		display:block;
	}
}

@media (max-width: 768px) {
	.header-style3 .top .header-right .content-wrap{
		background-color:#eee;
		float:none !important;
		text-align:center;
	}
	.header-style3 .top .header-right{
		background-color:#eee !important;
	}
	.cpanel-control{
		display:none;
	}
	.vertical_megamenu ul.vertical-megamenu{
		> li.dropdown > ul{
			display:none !important;
		}
	}
	.products-thumb .product-thumb-button a.fancybox{
		display:none;
	}
	.products-thumb .product-thumb-button{
		margin-left:-64px;
	}
	.clear_sm{
		clear:both;
	}
	.header-style3 .top{
		.top-header .ya-logo{
			padding:32px 0;
			text-align:center;
			a{
				display:inline-block;
			}
		}
		.header-right{
			text-align:center;
			margin:0;
		}
	}
	.header .top .phone-icon-menu{
		background-color:@color;
		display:block;	
		float:left;
		height:40px;
		width:25px;
		text-align:center;
		.rtl &{
			float:right;
		}
		&:before{
			content:'\f0c9';
			font-size:28px;
			color:#fff;
			font-family:"FontAwesome";
		}
		&.active{
				&:before{
				content:'\f00d';
				font-size:28px;
				color:#fff;
				font-family:"FontAwesome";
			}
		}
		.rtl &{
			float:right;
			margin-left:0;
			margin-right:15px;
		}
	}
	.header-style2 .header{
		border:0;
		position:relative !important;
		left:auto !important;
		top:auto !important;
		background:@color !important;
		&:before{
			content:'';
			position:absolute;
			bottom:80px;
			left:0;
			background:rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
			width:100%;
			height:1px;
		}
		.top .phone-icon-menu{
			margin-top:20px;
			height:30px;
			width:30px;
		}
		&.header-fixed{
			position:relative !important;
			background:@color !important;
			.sidebar-top-header .home-menu-verticle:before{
					line-height:79px;
				}
			.top-form.top-form-minicart .top-minicart-icon > a:before{
				line-height:79px;
			}
			.top-form .wrapp-minicart{
				top:77px;
			}
		}
		.top-header .ya-logo{
			text-align:center;
			a.logo-big{
				display:inline-block;
			}
		}
		.sidebar-top-header .home-search{
			line-height:78px;
		}
		.top-form.top-form-minicart .top-minicart-icon > a{
			&:before{
				line-height:79px;
			}
		}
		#main-menu .primary-menu .navbar-inner.navbar-inverse{
			top:77px;
		}
		 .main-menu{
			float:left;
			.rtl &{
				float:right;
			}
		}
	}
	.woo-slider-default.style2 .block-title .navbar-toggle{
		top:0;
		right:50px;
	}
	.woo-slider-default{
		.block-title {
			.navbar-toggle{
				position:absolute;
				top:20px;
				z-index:5;
				display:block;
				background: #cccccc none repeat scroll 0 0;
				border-radius: 3px;
				border:0;
				margin:0;
				padding:0;
				cursor: pointer;
				height: 25px;
				line-height: 25px;
				right: 80px;
				text-align: center;
				width: 25px;
				.rtl &{
					left:80px;
					right:auto;
				}
				&:before{
					content:'\f0c9';
					font-family:FontAwesome;
					font-size:14px;
					color:#fff;
					height:25px;
					width:25px;
					line-height:25px;
					display:inline-block;
					text-align:center;
				}
			}
		}
		.childcat-slider-content{
			.childcat-content{
				border:0;
				height:0;
				overflow:hidden;
				text-align:left;
				position:absolute;
				right:80px;
				top:45px;
				z-index:20;
				box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
				background:#fff;
				width:200px;
				.rtl &{
					left:80px;
					right:auto;
				}
				ul > li a{
					border-top:1px solid #ebebeb;
					border-bottom:0;
					&:hover{
						border-top:1px solid @color;
						border-bottom:0;
					}
				}
			}
			.resp-slider-container{
				margin:0;
				border:0;
			}
		}
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide .item-wrap.first-item{
		width:28% !important;
		border-bottom:0;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide.item-7columns .item-wrap{
		width:24%;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide .item-wrap.first-item .item-detail{
		padding:60px 0;
	}
	.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button{
		margin-top:0;
	}
	
	.rtl .woo-slider-default .childcat-slider-content .resp-slider-container{
		margin-right:0;
	}
	.testimonial-slider{
		margin-bottom:20px !important;
	}
	body .container{
		padding:0 15px;
	}
	#respond .control-group{
		float:none;
		max-width:100%;
		margin:0;
	}
	.rtl{		
		[class*="col-xs-"]{
			float: right;
		}
	}
}
@media (max-width: 767px){
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title> a{
		background-color:#444;
		color:#fff;
	}
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title> a{
		background-color:#444;
		color:#fff;
	}
	.rev_slider_wrapper .rev_slider .tp-tabs.ares{
		display:none;
	}
	.rev_slider_wrapper .rev_slider .tp-leftarrow.custom, .rev_slider_wrapper .rev_slider .tp-rightarrow.custom{
		display:block;
	}
	.header-style3 .top-form .wrapp-minicart{
		border-top:0;
		top:63px;
	}
	.products-thumb .button-bottom-thumb{
		.button-bottom{
			a.fancybox{
				display:none;
			}
			.compare-button{
				float:none;
				display:inline-block;
			}
			.yith-wcwl-add-to-wishlist{
				display:inline-block;
				float:none;
			}
		}
	}
	.footer.footer-style1{
		.popular-page{
			margin:0 !important;
		}
	}
	.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel{
		overflow:hidden !important;
		height:auto !important;
	}
	.header-style3{
		.top .phone-icon-menu{
			z-index:99;
			.rtl &{
				margin:0 -15px 0 0;
			}
		}
		.header-bottom{
			margin-bottom:30px;
			.ya_top{
				float:right;
				.rtl &{
					float:left;
				}
			}
			.vertical_megamenu-header{
				display:none;
			}
			.top-form.top-search{
				margin:10px 30px 10px 0;
				input{
					width:220px;
				}
				.rtl &{
					margin:10px 0 10px 30px;
				}
			}
		}
	}
	.rtl .vc_tta.vc_general .vc_tta-panel-title a{
		text-align:right;
	}
	.sidebar-above-footer .footer-block .block-item{
		padding:20px 14px;
	}
	.rtl .sw-woo-tab .category-slider-content .childcat-slider{
		float:none;
	}
	.sw-woo-tab{
		margin-bottom:20px;
		.rtl &{
			.top-tab-slider{
				.nav.nav-tabs, .order-title{
					float:none;
				}
			}
		}
		&.style2{
			.category-slider-content .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list{
				border-right:1px solid #ddd;
				border-left:0;
				.rtl &{
					border-left:1px solid #ddd;
					border-right:0;
				}
			}
		}
		&.style3{
			
		}
		&.style4{
			.category-slider-content .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list{
				border-right:1px solid #ddd;
				border-left:0;
				.rtl &{
					border-left:1px solid #ddd;
					border-right:0;
				}
			}
		}
		.category-slider-content .tab-content .tab-pane .woo-tab-container-slider .slick-slider .slick-list{
			border-left:1px solid #ddd;
			margin:0 1px;
			.rtl &{
				border-right:1px solid #ddd;
			}
		}	
	}
}	
@media (max-width: 767px) and (min-width: 481px) {
	#cpanel-form a.cpanel-control{
		display:none;
	}
	.header-style3 .sidebar-top-menu .sidebar-top-menu{
		padding-left:0;
		.rtl &{
			padding-left:15px;
			padding-right:0;
		}
	}
	.header-style3 .top .sidebar-top-header .main-menu .container{
		padding:0;
	}
	.rev_slider_wrapper .rev_slider .tp-tabs.ares{
		display:none;
	}
	.header-style3 .header-top{
		height:44px;
		min-height:44px;
		.sidebar-language{
			text-align:center;
			#lang_sel ul{
				display:inline-block;
				> li{
					display:none;
					&.icl-en, &.icl-france{
						display:block;
					}
				}
			}
		}
	}
	.header-style1 .top .top-header .ya-logo{
		padding:30px 0 25px;
	}
	.header-style1 .header .header-shortcode{
		height:auto;
		.top-countdown .item-content .item a .product-countdown{
			float:none;
			margin:15px 0;
		}
	}
	.rtl .header-style1 .header .header-shortcode .top-countdown .item-content .item a .product-countdown{
		float:none;
	}
	.rtl .header-style1 .sidebar-top .ya_top{
		float:none;
	}
	.rtl .header-style1 .sidebar-top .widget_nav_menu{
		float:right;
	}
	.widget_icl_lang_sel_widget{
		float:right;
	}
	.widget_currency_converter{
		float:right;
		clear:both;
	}
	.header-style3 .top .header-right .widget_currency_converter{
		float:left;
		clear:none;
		.rtl &{
			float:right;
		}
	}
	.sidebar-top .widget_nav_menu{
		float:left;
		.header-style2 &{
			float:none;
		}
	}
	.top-login .div-login .modal-dialog{
		width:320px;
	}
	.header-style2 .top-form .wrapp-minicart{
		right:-30px;
		left:auto;
		.rtl &{
			left:-30px;
			right:auto;
		}
	}
	footer.footer-style1 .footer-top{
		[class*="col-sm-"]{
			padding:0;
		}
		.widget_nav_menu{
			float:left;
			margin-bottom:30px;
		}
		.join-our{
			padding:25px 75px;
			 ul > li > a{
				margin-right:30px;
				.rtl &{
					margin-left:30px;
				}
			 }
		 }
	}
	.sidebar-above-footer .footer-block .block-item{
		width:50%;
		border:0 !important;
		&:last-child{
			display:none;
		}
	}
	.sidebar-above-footer .above-footer-top .widget_text h3{
		font-size:24px;
	}
	.sw-woo-tab{
		.top-tab-slider{
			text-align:center;
			.order-title{
				float:none;
				width:100%;
				min-width:auto;
				&:before{
					background:none !important;
				}
				&:after{
					border:0;
				}
				.navbar-toggle{
					position:absolute;
					bottom:-52px;
					z-index:5;
					display:block;
					background: #cccccc none repeat scroll 0 0;
					border-radius: 3px;
					border:0;
					margin:0;
					padding:0;
					cursor: pointer;
					height: 25px;
					line-height: 25px;
					right: 15px;
					text-align: center;
					width: 25px;
					.rtl &{
						left:15px;
						right:auto;
					}
					&:before{
						content:'\f0c9';
						font-family:FontAwesome;
						font-size:14px;
						color:#fff;
						height:25px;
						width:25px;
						line-height:25px;
						display:inline-block;
						text-align:center;
					}
				}
			}
			.nav.nav-tabs{
				float:left;
				clear:both;
				margin:10px 30px;
				display:inline-block;
				.rtl &{
					float:right;
				}
				 > li > a{
					padding:0;
				 }
			}
		}
		.category-slider-content{
			.childcat-slider{
				float:none;
				.childcat-thumb{
					display:none;
				}
				.childcat-content{
					border:0;
					height:0;
					overflow:hidden;
					text-align:left;
					position:absolute;
					right:0;
					top:-20px;
					z-index:20;
					box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
					background:#fff;
					width:200px;
					.rtl &{
						left:0;
						right:auto;
					}
					ul > li a{
						border-top:1px solid #ebebeb;
						border-bottom: 0;
						padding: 0 20px;
						color: #444;
						font-weight: normal;
						display: block;
						&:hover{
							border-top:1px solid @color;
							background:@color;
							color:#fff;
						}
					}
				}
			}
			
		}
	}
	.countdown-slider.style1 .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail{
		.products-thumb{
			width:100%;
		}
		.item-content{
			text-align:center;
		}
	}
	.header-style3 .header-bottom .top-form.top-search{
		.cat-wrapper{
			display:none;
		}
		#searchform_special input{
			padding:0 20px !important;
		}
		
	}
	.top-login .div-login .modal-dialog .modal-content .modal-body{
		padding:0 20px 20px;
		.rtl &{
			padding:0 20px 20px;
		}
	}
	.single-portfolio .portfolio-top .portfolio-content .single-thumbnail{
		width:100%;
		margin-bottom:20px;
	}
	.coming-soon .widget.widget_search{
		width:70%;
	}
	.rtl .top-login .div-login .modal-dialog .modal-content .modal-body .login .block-content .col-reg.registered-account{
		padding:0;
		width:100%;
	}
	.top-login .div-login .modal-dialog .modal-content .modal-body .login .block-content .col-reg{
		width:100%;
		&.registered-account{
			width:100%;
			padding:0;
			margin-bottom:20px !important;
		}
		&.login-customer{
			background:none;
			padding:0;
			ul{
				margin:0;
			}
			.rtl &{
				background:none;
				padding:0;
			}
		}
	}
	.ya_top{
		float:none;
		.top-login{
			text-align:center;
			.header-style2 &{
				text-align:left;
				.rtl &{
					text-align:right;
				}
			}
			float:none;
			.div-login, .div-logined{
				display:inline-block;
			}
		}
	}
	.header-style3 .header-bottom .ya_top{
		float:right;
		.rtl &{
			float:left;
		}
	}
	ul#menu-menu-top-header > li.dropdown > a::after{
		content:'';
	}
	ul#menu-menu-top-header > li{
		float:right;
		.rtl &{
			float:left;
		}
		> a{
			padding:0 5px 0 10px;
			.menu-title{
				display:none;
			}
		}
	}
	.col-block-image{
		width:100%;
		padding:0 7px;
		text-align:center;
		margin: 0;
		&.col-image-1 .first-image{
			margin-bottom:0;
		}
			a{
				display:inline-block !important;
				margin:10px 0 10px;
			}
		&.col-image-2{
			margin:0;
		}
	}
	.banner-index2 .wpb_wrapper .wpb_single_image{
		float:none;
		width:100%;
		margin:10px 0 20px;
		padding:0;
		.rtl &{
			float:none;
			width:100%;
			margin:10px 0 20px;
			padding:0;
			
		}
		&:last-child{
			display:block;
		}
		&:first-child{
			display:block;
		}
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide .item-wrap.first-item{
		width:100% !important;
		border-bottom:0;
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide.item-7columns .item-wrap{
		width:50%;
	}
	.woo-slider-default.style2 .childcat-slider-content .childcat-content{
		top:0px;
		ul{
			margin:0;
			width:200px;
			> li{
				list-style:none;
				line-height:40px;
				float:none !important;
				a{
					font-size:14px;
					line-height:22px;
					color:#444;
					display:block;
					padding:9px 20px;
					border-top:1px solid #ededed;
					border-radius:0;
					&:before{
						opacity:0 !important;
					}
					&:hover{
						background-color:@color;
						color:#fff;
						border-top:1px solid @color;
					}
					&:after{
						width:0;
						height:0;
					}
				}
			}
		}
	}
	.woo-slider-default.style2{
		.childcat-slider-content{
			.resp-slider-container .slider .slick-slide.item-5columns .item-wrap{
				width:50%;
			}
		}
		
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container{
		border-left:0;
		.rtl &{
			border-right:0;
		}
	}
	.woo-slider-default.style2 .block-title .navbar-toggle{
		display:block;
	}
	.woo-slider-default.style2 .childcat-slider-content .childcat-content{
		height:0;
		box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
	}
	
	.contact-home, .contact-v1{
		padding:25px 15px 30px;
	}
	.responsive-post-slider2{
		margin:0 15px;
	}
	.contact-right{
		float:left;
		width:100%;
		margin-top:10px;
	}
	.sw-partner-container .widget-content ul{
		> li{
			text-align:center;
			width:48%;
			margin-bottom:20px;
			padding: 0 45px;
			a{
				display:inline-block;
				height:70px;
				width:auto !important;
				img{
					width:auto;
				}
			}
			&:last-child{
				display:none;
			}
		}
	}
	.sidebar-copyright{
		float:none;
		width:100%;
		.rtl &{
			float:none;
		}
		ul.method{
			float:none;
			text-align:center;
			> li{
				display:inline-block;
			}
		}
	}
	/*product grid*/
	.products-nav{
		.view-mode-wrap{
			margin-right:-4px;
			.rtl &{
				margin-right:0;
				margin-left:-4px;
			}
		}
		.count-per-page{
			margin-right:5px;
			.rtl &{
				margin-left:5px;
				margin-right:0;
			}
		}
	}
	.products-wrapper .products-loop.list > li .products-entry .products-content .item-cart .yith-wcwl-add-to-wishlist .add_to_wishlist, .products-wrapper .products-loop.list > li .products-entry .products-content .item-cart .compare{
		width:50px;
	}
	.woocommerce,.woocommerce-page{
		.checkout{
			.col2-set .col-1, .col2-set .col-2{
				width:100%;
				.woocommerce-billing-fields{
					padding:0;
				}
			}
		}
	}
	.single-product .product_detail .slider_img_productd .product-images-container .slider.product-responsive-thumbnail button{
		height:143px;
		line-height:143px;
		&:before{
			line-height:143px;
		}
	}
	.woo-slider-default.style2 .childcat-slider-content .resp-slider-container{
		.first-item{
			width:100%;
		}
		.resp-slider-container{
			width:100%;
		}
	}
	.about-v1 img{
		margin:0 20px 20px 0 !important;
	}
	.aboutv1-testimo .testimonial-slider .carousel-inner{
		padding:0 40px;
	}
	.contact-v1{
		.contact-left ul > li{
			margin-bottom:10px;
			.blog-right{
				margin-left:10px;
				.rtl &{
					margin-right:10px;
					margin-left:0;
				}
			}
		}
	}
	.rev_slider_wrapper .rev_slider ul > li .tp-caption{
		display:none;
	}
	.entry-content .faq-tabs ul.nav-tabs > li > a{
		padding:10px 18px;
	}
	.entry-content-asset iframe{
		height:280px;
	}
	.sw-partner-container .widget-content ul > li{
		width:50%;
		a{ 
			width:100%;
			img{
				width:100%;
			}
		}
	}
	.countdown-slide.carousel .carousel-indicators{
		bottom:5px;
	}
	.aboutv1-testimo .vc_separator h4{
		margin-left:-18%;
		.rtl &{

		}
	}
	.single-portfolio .portfolio-top .portfolio-content .single-thumbnail{
		float:none !important;
	}
	footer .footer-menu .footer-menu-top{
		padding:15px 0 10px;
	}
	footer .footer-top .widget.widget_nav_menu ul.menu{
		margin-bottom:0;
		> li > a{
			font-size:12px;
			padding:0 10px;
		}
	}
		footer .footer-info{
		padding:20px 30px 0;
		.widget.widget_nav_menu ul.menu >{
			li > a{
				font-size:12px;
				padding:0 10px;
			}
		}
	}
}
@media (max-width: 480px) {
	.header-style3 .sidebar-top-menu .sidebar-top-menu{
		padding-left:0;
		.rtl &{
			padding-left:15px;
			padding-right:0;
		}
	}
	.header-style3 .top .sidebar-top-header .main-menu .container{
		padding:0;
	}
	.rev_slider_wrapper .rev_slider .tp-tabs.ares{
		display:none;
	}
	.header-style3 .header-top{
		height:44px;
		min-height:44px;
		.sidebar-language{
			text-align:center;
			#lang_sel ul{
				display:inline-block;
				> li{
					display:none;
					&.icl-en, &.icl-france{
						display:block;
					}
				}
			}
		}
	}
	footer.footer-style1{
		.footer-menu .footer-menu-top{
			padding:10px 0 15px;
		}
		.footer-top{
			[class*="col-sm-"]{
				padding-left:0;
				padding-right:0;
			}
		}
	}
	footer.footer-style1 .footer-top .join-our{
		padding:25px 75px;
		 ul > li > a{
			margin-right:30px;
			.rtl &{
				margin-left:30px;
			}
		 }
	}
	.header-style3 .header-bottom{
		.top-form.top-form-minicart .top-minicart-icon{
			padding:12px 3px 12px 43px;
			.rtl &{
				12px 43px 12px 3px
			}
		}
		.top-form.top-search{
			display:none;
		}
	}
	footer.footer-style1 .footer-top .join-our{
		padding:25px 30px;
		ul > li > a{
			padding-right:32px;
			.rtl &{
				padding-right:0;
				padding-left:32px;
			}
		}
	}
	.sidebar-above-footer .footer-block .block-item{
		width:100%;
		border:0 !important;
		&:last-child{
			display:none;
		}
	}
	.header-style3 .top .header-right .widget_currency_converter{
		float:left;
		clear:none;
		.rtl &{
			float:right;
		}
	}
	.sidebar-above-footer .above-footer-top .widget_text h3{
		font-size:18px;
	}
	.sw-woo-tab{
		.top-tab-slider{
			text-align:center;
			.order-title{
				float:none;
				&:before{
					background:none !important;
				}
				&:after{
					border:0;
				}
			}
			.navbar-toggle{
				display:none !important;
			}
			.nav.nav-tabs{
				margin:0;
				float:none;
				> li{
					width:100%;
					float:none;
					&:after{
						content:'';
					}
					&.active{
						> a:before{
							border:0;
						}
						> a:after{
							border:0;
						}
					}
					&:hover{
						> a:before{
							border:0;
						}
						> a:after{
							border:0;
						}
					}
					> a{
						margin:0 !important;
					}
				}
			}
		}
		.category-slider-content{
			.childcat-slider{
				float:none;
				.childcat-thumb{
					display:none;
				}
				.childcat-content{
					border:0;
					height:0;
					overflow:hidden;
					text-align:left;
					position:absolute;
					right:0;
					top:-20px;
					z-index:20;
					box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
					background:#fff;
					width:200px;
					.rtl &{
						left:0;
						right:auto;
					}
					ul > li a{
						border-top:1px solid #ebebeb;
						border-bottom: 0;
						padding: 0 20px;
						color: #444;
						font-weight: normal;
						display: block;
						&:hover{
							border-top:1px solid @color;
							background:@color;
							color:#fff;
						}
					}
				}
			}
			
		}
	}
	.countdown-slider.style1 .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail{
		.products-thumb{
			width:100%;
		}
		.item-content{
			text-align:center;
		}
	}
	.col-1-wrapper{
		.content-404page .img-404{
			span{
				width:290px;
				background-size:100% 100%;
			}
		}
		form.form-search input.search-query{ width:230px;}
	}
	.rtl .header-style1 .sidebar-top .widget_nav_menu{
		float:right;
	}
	.rtl .banner-index2 .wpb_wrapper .wpb_single_image{
		margin:10px 0 0;
	}
	.rtl .header-style1 .sidebar-top .ya_top{
		float:none;
	}
	.rtl .header-style1 .widget_currency_converter{
		float:left !important;
	}
	.header-style2 .top-form .wrapp-minicart{
		right:-30px;
		left:auto;
		.rtl &{
			left:-30px;
			right:auto;
		}
	}
	.sidebar-copyright{
			width:100%;
	}
	.rev_slider_wrapper .rev_slider{
		ul > li .tp-caption{
			display:none;
		}
		.tp-leftarrow.hades, .tp-rightarrow.hades{
			display:none;
		}
	}
	.sw-partner-container .widget-content ul{
		> li{
			text-align:center;
			width:48%;
			margin-bottom:20px;
			padding: 0 45px;
			a{
				display:inline-block;
				height:70px;
				width:auto !important;
				img{
					width:auto;
				}
			}
			&:last-child{
				display:none;
			}
		}
	}
	.fancybox-outer .quickview-container, #cpanel-form a.cpanel-control{
		display:none !important;
	}
	.header-style1 .top .top-header .ya-logo{
		padding:30px 0 25px;
	}
	.widget_icl_lang_sel_widget{
		float:right;
	}
	.widget_currency_converter{
		float:right;
		clear:both;
	}
	.sidebar-top .widget_nav_menu{
		float:left;
		.header-style2 &{
			float:none;
		}
		
	}
	.top-login .div-login .modal-dialog{
		width:320px;
	}
	.top-login .div-login .modal-dialog .modal-content .modal-body{
		padding:0 20px 20px;
		.rtl &{
			padding:0 20px 20px;
		}
	}
	.rtl .top-login .div-login .modal-dialog .modal-content .modal-body .login .block-content .col-reg.registered-account{
		padding:0;
		width:100%;
	}
	.single-portfolio .portfolio-top .portfolio-content .single-thumbnail{
		width:100%;
		margin-bottom:20px;
	}
	.top-login .div-login .modal-dialog .modal-content .modal-body .login .block-content .col-reg{
		width:100%;
		&.registered-account{
			width:100%;
			padding:0;
			margin-bottom:20px !important;
		}
		&.login-customer{
			background:none;
			padding:0;
			ul{
				margin:0;
			}
			.rtl &{
				background:none;
				padding:0;
			}
		}
	}
	.top-login .div-login .modal-dialog.register-form-width{
		width:320px;
		.modal-content .modal-body{
			padding:0 20px;
			.input-group{
				width:100%;
				input[type="email"], input[type="password"]{
					width:100%;
				}
			}
		}
	}
	.ya_top{
		float:none;
		.top-login{
			text-align:center;
			float:none;
			.div-login, .div-logined{
				display:inline-block;
			}
		}
	}
	ul#menu-menu-top-header > li.dropdown > a::after{
		content:'';
	}
	ul#menu-menu-top-header > li{
		float:right;
		.rtl &{
			float:left;
		}
		> a{
			padding:0 5px 0 10px;
			.menu-title{
				display:none;
			}
		}
		&.active a{
			background-color:#fff;
		}
	}
	.block-image{
		margin:0 15px;
		.col-block-image{
			width:100%;
			margin-bottom:10px;
			a img{
				width:100%;
			}
			&.col-image-1{
				.first-image{
					margin-bottom:10px;
				}
			}
			&.col-image-2{
				margin:0 0 10px;
			}
			&.col-image-3{
				margin:0;
			}
		}
	}
	.banner-index2 .wpb_wrapper .wpb_single_image{
		float:left;
		width:100%;
		margin:10px 0 0;
		padding:0 15px;
		.vc_single_image-wrapper, img{
			width:100%;
		}
		&:last-child{
			display:block;
		}
		&:first-child{
			display:block;;
		}
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide.item-7columns .item-wrap{
		width:100%;
		&.first-item{
			width:100% !important;
		}
	}
	.woocommerce,.woocommerce-page{
		.login .form-row{
			width:100% !important;
			margin:0 0 20px !important;
			input[type="text"], input[type="password"]{
				width:100%;
			}
		}
		.checkout_coupon .form-row{
			width:100% !important;
			input{
				width:100%;
			}
		}
		.checkout{
			.col2-set .col-1, .col2-set .col-2{
				width:100%;
				.woocommerce-billing-fields{
					padding:0;
				}
			}
		}
	}
	.woo-slider-default.style2 .childcat-slider-content .childcat-content{
		top:0px;
		ul{
			margin:0;
			width:200px;
			> li{
				list-style:none;
				line-height:40px;
				float:none !important;
				a{
					font-size:14px;
					line-height:22px;
					color:#444;
					display:block;
					padding:9px 20px;
					border-top:1px solid #ededed;
					&:hover{
						background-color:@color;
						color:#fff;
						border-top:1px solid @color;
						&:before{
							opacity:0 !important;
						}
					}
					&:after{
						width:0;
						height:0;
					}
				}
			}
		}
	}
	.woo-slider-default.style2{
		.childcat-slider-content{
			.resp-slider-container .slider .slick-slide.item-5columns .item-wrap{
				width:100% !important;
				.item-detail{
					border-right:0;
					.rtl &{
						border-left:0;
					}
				}
			}
		}
		
	}
	.contact-home, .contact-v1{
		padding:25px 15px 30px;
	}
	.entry-content .faq-tabs ul.nav-tabs > li > a{
		padding:10px 15px;
	}
	.aboutv1-testimo .vc_separator h4{
		margin-left:-25%;
		.rtl &{

		}
	}
	.responsive-post-slider2{
		margin:0 15px;
	}
	.contact-right{
		float:left;
		width:100%;
		margin-top:10px;
	}
	.about-v1 img{
		margin:0 0 0 !important;
	}
	.aboutv1-testimo .testimonial-slider .carousel-inner{
		padding:0 20px;
	}
	.single-portfolio .portfolio-top .portfolio-content .single-thumbnail{
		float:none !important;
	}
	.sw-partner-container{
		padding:0;
		 .widget-content ul > li{
			width:100%%;
		 }
	}
	.products-nav .count-per-page{
		display:none;
	}
	.products-wrapper .products-loop.list > li .products-entry .products-thumb{
		width:100%;
		max-width:100%;
		margin-bottom:15px;
	}
	.woo-slider-default.style2 .childcat-slider-content .resp-slider-container{
		.first-item{
			width:100%;
		}
		.resp-slider-container{
			width:100%;
		}
	}
	.coming-soon .widget.widget_search{
		width:100%;
	}
	.countdown-slide.carousel .carousel-indicators{
		bottom:5px;
	}
	footer .footer-info{
		padding:20px 30px 0;
		.widget.widget_nav_menu ul.menu >{
			li > a{
				font-size:12px;
				padding:0 10px;
			}
		}
	}
	footer .copyright .widget ul.method li{
		margin:0 1px;
	}
	.sidebar-copyright ul.method{
		float:none;
		text-align:center;
		.rtl &{
			float:none;
		}
	}
	.woocommerce table.shop_table, .woocommerce-page table.shop_table{
		overflow:auto;
	}
	.woocommerce-wishlist form.woocommerce{
		.product-add-to-cart .add_to_cart_button{
			height:auto;
			padding:3px 20px;
			text-transform:none;
		}
	}
	.woocommerce-cart .woocommerce{
		.cart-collaterals .cart_totals {
			width:100%;
			float:none;
			margin:0;
		}
	}
	.header-style2 .header .header-msg .sidebar-top .top-login{
				text-align:left;
	}
	.about-v1 a img{
		margin-bottom:20px !important;
	}
	.rtl .pull-right{
		float:none;
	}
	.rtl{
		.header-style2 .header .header-msg .sidebar-top .top-login{
				text-align:right;
		}
		.header-style2 .header .header-msg .sidebar-top .widget_nav_menu{
				float:none;
		}
	}
	.rtl [class*="col-lg-"], .rtl [class*="col-md-"], .rtl [class*="col-sm-"], .rtl [class*="col-xs-"] {
	  float:none;
	}	
}
@media (max-width: 360px) {
	.banner-index3 .mc4wp-form{
		padding:20px;
		height:80px !important;
		min-height:80px;
		&:before{
			background:none;
		}
	}
	.testimonial-slider{
		.carousel-indicators{
			width:20%;
		}
		.carousel-inner{
			.item .item-inner{
				.item-left{
					float:none !important;
					margin:0 !important;
				}
				.client-comment{
					width:100% !important;
					float:none !important;
				}
			}
			
		}
	}
	.sidebar-above-footer .above-footer-top .widget_text h3{
		font-size:14px;
		padding:42px 0;
	}
	footer.footer-style1 .footer-top .join-our{
		padding:25px 0;
	}
	.sw-woo-tab{
		.top-tab-slider{
			.navbar-toggle{
				display:none !important;
			}
			.nav.nav-tabs{
				margin:0;
				float:none;
				> li{
					width:100%;
					float:none;
					&:after{
						content:'';
					}
					&.active{
						> a:before{
							border:0;
						}
						> a:after{
							border:0;
						}
					}
					&:hover{
						> a:before{
							border:0;
						}
						> a:after{
							border:0;
						}
					}
					> a{
						margin:0 !important;
					}
				}
			}
		}
	}
	.header-style1 .header .header-shortcode{
		height:150px;
		background:#293340 none repeat scroll 0 0;
		display:block;
		overflow:visible;
		.top-countdown{
			overflow:visible;
			.item-title{
				margin-bottom:10px;
			}
			.product-countdown .cd-time{
				display:inline-block;
				margin-bottom:10px !important;
			}
		}
	}
	.header-style1 .sidebar-top .top-login{
		line-height:20px;
		padding:10px 0;
	}
	.rtl .header-style1 .sidebar-top .ya_top{
		float:none;
	}
	.rtl .header-style1 .widget_currency_converter{
		float:left !important;
	}
	.ya-portfolio .portfolio-tab ul li{
		padding:8px 10px;
	}
	.entry-content-asset iframe{
		height:140px;
	}
	.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button{
		margin-top:20px;
	}
	.woocommerce form.lost_reset_password .form-row, .woocommerce-page form.lost_reset_password .form-row{
		width:230px;
	}
	.woocommerce-account .woocommerce .col2-set{
		margin:0;
	}
	.contact-left-home ul.social-home > li a span{
		margin-right:15px;
		.rtl &{
			margin-left:15px;
			margin-right:0;
		}
	}
	.contact-left-home ul.contact > li{
		line-height:25px;
		margin-bottom:10px;
		span.label{
			padding-top:7px;
		}
		&.email{
			background-position:left top 5px;
		}
	}
	.countdown-slide.carousel .carousel-inner .item .item-inner .product-countdown span.c-time{
		margin-bottom:20px;
	}
	.sidebar-top-header .ya_top .top-form.top-search{
		width:45%;
		 .topsearch-entry form{
			width:130px;
		 }
	}
	.contact-v1 .container{
		padding:0;
	}
	.contact-home .container{
		padding:0;
	}
	
	.entry-content .faq-tabs ul.nav-tabs > li{
		width:100%;
		text-align:center;
		cursor:pointer;
		 > a{
			padding:10px 0;
			width:100%;
			display:inline-block;
		}
	}
	.top-form .wrapp-minicart{
		width:310px;
		.cart-checkout .cart-links{
				.cart-link a, .checkout-link a{
					padding: 7px 30px;
			}
		} 
	}
	.sidebar-top-header .home-search{
		margin:0 0 0 15px;
		.rtl &{
			margin:0 15px 0 0;
		}
	}
	.sw-partner-container .widget-content ul > li{
		width:100%;
		padding:0;
	}
	.banner-index3 .mc4wp-form{
		margin:0;
	}
	.banner-index3 p img{
		margin:0;
	}
	footer.footer-style1 .footer-top .widget_nav_menu ul.menu > li{
		width:100%;
	}
	.responsive-post-slider2 .slider .item .widget-post .item-detail .item-content{
		margin-left:50px;
		padding-left:15px;;
		.rtl &{
			margin-right:50px;
			margin-left:0;
			padding-right:15px;
			padding-left:0;
			
		}
		h4 a{
			font-size:14px;
		}
	}
	.best-seller-products .slider .item .item-wrap{
		border-right:0;
		.rtl &{
			border-left:0;
		}
	}
	.woo-slider-default .childcat-slider-content .resp-slider-container .slider .slick-slide .item-wrap .item-detail{
		border-left:0;
		.rtl &{
			border-right:0;
		}
	}
	.countdown-slide.carousel .carousel-inner .item .item-inner .product-countdown .cd-time{
		margin-bottom:10px;
	}
	[class*="col-xs-"]{
		width: 100%;
		float: none;
	}
	.single-product .tabs{
		.tab-content #tab-reviews #reviews{
			#comments{
				padding:0;
				.commentlist{
					padding:0 !important;
					.comment-text{
							margin:0 0 0 90px;
					}
				}
			}
		}
		.nav-tabs{
			li{
				width:100%;
				margin:0 !important;
				border-radius:0 !important;
				text-align:center;
			}
		}
	}
	.single-product .product_detail .content_product_detail .cart .product-summary-bottom{
		padding:20px 50px 0;
	}
	.single-product .product_detail .content_product_detail .variations_form .variations tr{
		width:100%;
		select{
			width:260px;
		}
	}
	.rtl{
		 .tabs .tab-content #tab-reviews #reviews #comments .commentlist .comment-text{
			margin:0 90px 0 0;
		 }
		[class*="col-xs-"]{
			float: none;
			width:100%;
		}
	}
}
@media (max-width: 320px) {
	.responsive-post-slider2 .slider .item .widget-post .item-detail{
		.item-date .day-post{
			font-size:30px;
		}
	}
	.counter-box{
		background-size:100% 100%;
		.counter-home{
			width:50%;
			margin-bottom:10px;
			> ul{
				li.counterbox-number{
					font-size:24px;
					line-height:30px;
				}
			}
		}
	}
	.contact-left ul > li{
		 margin-bottom:20px;
		 .blog-right{
			float:none !important;
			margin-left:60px;
			text-align:left;
			.rtl &{
				margin-right:60px;
				margin-left:0;
				text-align:right;
			}
			span.label{
				margin-bottom:5px;	
			}
		}
	}

	.products-nav .catalog-ordering{
			display:none;
	}
	.woocommerce-page .woocommerce-message a{
		display:block;
		text-align:center;
		margin-bottom:10px;
		float:none !important;
	}
	.single-product .product_detail .slider_img_productd .product-images-container .slider.product-responsive-thumbnail button{
		height:95px;
		line-height:95px;
		&:before{
			line-height:95px;
		}
	}
	.aboutv1-testimo .vc_separator h4{
		margin-left:-38%;
		.rtl &{

		}
	}
	footer .footer-info .socials-footer ul > li > a{
		height:40px;
		width:40px;
		line-height:40px;
		> span{
			font-size:16px;
		}
	}
	footer .footer-top .widget.widget_nav_menu ul.menu{
		margin:0;
		> li{
			line-height:25px;
			float:none;
			a{
				font-size:13px;
				display:inline-block;
				padding:0 8px;
				&:after{
					width:0;
				}
			}
		}
	}
	footer .footer-menu .footer-menu-top{
		padding:10px 15px;
	}
	footer .copyright .copyright-text p{
		margin-bottom:10px;
	}
	[class*="col-xs-"]{
		width: 100%;
		float: none;
	}
	.header-style3 .header-bottom .sidebar-top-menu{
		padding:0;
		margin:0;
		float:right;
		width:60%;
		.rtl &{
			float:left;
		}
	}
	.rtl{
		[class*="col-xs-"]{
			float: none;
			width:100%;
		}
		.pull-right{
			float:none;
		}
	}
}




