<div id="htmlcontent_top">
<div class="container">
<ul class="htmlcontent-home clearfix">
<li class="htmlcontent-item-1">
<div class="content-fashion-right-boder"><img class="item-img" title="" src="http://localhost/prestashop/modules/themeconfigurator/img/e68a2a3c07b68a6ecef9961f032f68f9584d9661_shop-left.jpg" alt="" width="415" height="415" /></div>
<div class="item-html">
<p>Youthful style</p>
</div>
</li>
<li class="htmlcontent-item-2">
<div class="content-fashion-right-boder"><img class="item-img" title="" src="http://localhost/prestashop/modules/themeconfigurator/img/bdca2545c943fb9daadcfb9b4f319e0fdcf52f8c_shop-right.jpg" alt="" width="695" height="415" /></div>
<div class="item-html">
<div class="content-fashion-shop"><label>Fashion Black</label> <a class="shop-now-fs" href="#">Shop now</a></div>
</div>
</li>
</ul>
</div>
</div>