ul.menu li a,.menu-nav > li > a,.search-nd .query,.post-top-news,.post-top-news:hover .info-content h4 a,.tagcloud a,.footer_vn ul li a,.footer_vn ul li,.attachment-love_topic.wp-post-image{-webkit-transition:all 400ms linear;-moz-transition:all 400ms linear;-transition:all 400ms linear;-ms-transition:all 400ms linear;transition:all 400ms linear;}
.button-primary{background:#00a0d2!important;border-color:#0073aa!important;-webkit-box-shadow:inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15)!important;box-shadow:inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15)!important;color:#fff!important;text-decoration:none!important}
.button-primary:focus,.button-primary:hover{background:#0091cd!important;border-color:#0073aa!important;-webkit-box-shadow:inset 0 1px 0 rgba(120,200,230,.6)!important;box-shadow:inset 0 1px 0 rgba(120,200,230,.6);color:#fff}
.wpcf7-form input, .wpcf7-form textarea{border:1px solid #ccc;box-shadow:0 0 3px #ccc;color:#333;font-size:15px;padding:6px 10px;width:200px;}
.attachment-love_topic.wp-post-image:hover{opacity:.8;transform:scale(1.15,1.15)}
#breadcrumbs{background-color:#FFF;border:1px solid #ccc;margin:0 0 5px 0;}
#breadcrumbs a, #breadcrumbs span{color:#333;font-size:13px;}
#breadcrumbs a:hover, #breadcrumbs span:hover{color:#D95902;}
#breadcrumbs .breadcrumb_last, #breadcrumbs span a{position:relative;display:inline-block;}
#breadcrumbs .breadcrumb_last:after, #breadcrumbs span a:after{border:16px solid transparent;border-right:1px none black;border-left-width:12px;border-left-color:#fff;content:"";display:block;position:absolute;right:-18px;top:-1px;z-index:51;white-space:nowrap;overflow:hidden;text-indent:9999px;width:0px;height:0px}
#breadcrumbs .breadcrumb_last:before, #breadcrumbs span a:before{border:16px solid transparent;border-right:1px none black;border-left-width:12px;border-left-color:#bebebe;content:"";display:block;position:absolute;right:-19px;top:-1px;z-index:50;width:0px;height:0px}
#breadcrumbs > span > span{display:inline-block;height:30px;line-height:30px;padding:0 10px;cursor:pointer;}
#breadcrumbs > span > span{margin-left:-6px;padding-left:20px;}
#breadcrumbs > span > span:first-child{margin-left:0;}
#breadcrumbs span a:hover{text-decoration:none;}
#breadcrumbs > span{padding-left:0;}
#breadcrumbs > span > span span{padding-left:25px;}
.breadcrumb_last{padding-left:25px;}
.tagcloud:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.tagcloud a{background:#555;color:#fff;float:left;font-size:14px !important;height:21px;margin-right:1px;margin-top:1px;max-width:164px;overflow:hidden;padding:2px 5px;text-overflow:ellipsis;vertical-align:top;white-space:nowrap;}
.tagcloud{display:block;max-height:363px;overflow:hidden;padding:2px;}
.tagcloud a:hover{background:#3498db;}