html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{border:0 none;margin:0;outline:0 none;padding:0;}
ul, li, p{margin:0;padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
input, textarea, select{outline:medium none;}
a, a:visited{color:#444;outline:medium none;text-decoration:none;}
ul, ol{list-style:outside none none;}
.input{border:1px solid #d4d2d2 !important;border-radius:8px !important;color:#303030 !important;margin:0 !important;padding:7px !important;}
.buttonreg{cursor:pointer;margin-top:20px;padding:5px 8px;}
.clearfix::after{clear:both;content:" ";display:block;height:0;visibility:hidden;}
body{font-family:arial;}
.header_vn ,.top-menu{background:#fff;}
.col-1200{display:table;margin:0 auto;width:1200px;}
.top-menu{border-bottom:1px solid #ddd;box-shadow:0 0 3px 0 #ccc;}
.menu-nav{display:block;}
.menu-nav li{display:inline-block;float:left;}
.menu-nav > li > a{color:#666;display:block;font-size:13px;padding:10px;}
.menu-nav > li > a:hover{background:#f1f1f1 none repeat scroll 0 0;color:#000;}
.logo{display:table;margin:0 auto;padding:10px 0;width:1200px;}
.header-nav li{display:inline-block;float:left;}
.mainNav{background:#2980b9 none repeat scroll 0 0;}
ul.menu{display:table;float:left;width:900px;}
ul.menu li{border-right:1px solid #3498db;float:left;position:relative;}
ul.menu li a{color:#fff;display:inline-block;float:left;font-size:13px;height:45px;line-height:45px;padding:0 10px;white-space:nowrap;}
ul.menu li:hover a{background:#333 none repeat scroll 0 0;color:#fff;}
li:hover .sub-menu{display:block;}
.menu .sub-menu{display:none;position:absolute;top:45px;transition:height 0.3s ease-in 0s;width:200px;z-index:99999;}
.menu .sub-menu > li{display:block;width:100%;}
.menu .sub-menu a{background:#444444 none repeat scroll 0 0 !important;border-bottom:1px solid #666;color:#ddd !important;display:block;height:35px !important;line-height:35px !important;width:100%;}
.menu .sub-menu li:hover a{background:#333 none repeat scroll 0 0 !important;color:#fff !important;}
.search-nd{display:inline;float:right;margin-top:8px;height:36px;}
.search-nd .query{border:medium none;color:#333;float:left;font-size:13px;height:30px;line-height:24px;outline:0 none;padding:0 25px 0 8px;width:150px;}
.search-nd .query:focus{width:200px;}
.search-nd .search-button{background:transparent none repeat scroll 0 0;border:medium none;float:left;height:30px;line-height:24px;margin-left:-20px;outline:0 none;width:20px;}
.search-nd .fa-search{color:#666;}
.content_vn{background:#ebe6e2 url("images/line.png") repeat-x scroll center top;min-height:200px;padding:15px 0;}
.sidebar-nd{float:left;width:320px;}
.right-ct{display:table;float:right;width:860px;}
.content-right1{border-bottom:2px solid #2980b9;display:table;margin-bottom:10px;padding-bottom:5px;}
.box-heading2 h3{background:#fff none repeat scroll 0 0;border-bottom:2px solid #d95902;color:#555;font-size:14px;padding:10px;text-transform:uppercase;}
.box-category{background:#fff none repeat scroll 0 0;border:1px solid #ddd;margin-bottom:10px;}
.menu-child-ul{display:table;width:100%;}
.menu-child-ul li{border-bottom:1px solid #eee;display:block;position:relative;}
.menu-child-ul li a{display:block;font-size:14px;padding:10px;}
.menu-child-ul li a .fa{font-size:11px;padding-right:5px;position:relative;top:-1px;}
.menu-child-ul li a:hover{background:#f2f2f2 none repeat scroll 0 0;color:#d95902;}
.menu-child-ul .sub-menu{background:#fff none repeat scroll 0 0;border:1px solid #eee;display:none;left:318px;position:absolute;top:0;width:230px;}
.menu-child-ul li:hover .sub-menu{display:block;}
.post-top-news{background:#fff none repeat scroll 0 0;display:inline-block;margin-bottom:5px;margin-right:6px;padding:10px;}
.post-top-news.haft{border:1px solid #ddd;float:left;min-height:80px;width:405px;}
.post-top-news.haft:nth-child(2n){margin-right:0;}
.thumb-post{display:inline-block;float:left;height:160px;margin-right:10px;overflow:hidden;width:250px;}
.haft .thumb-post{height:80px;width:110px;}
.post-top-news .head-hd{margin:0 0 5px;}
.info-content .head-hd a{color:#2980b9;font-family:arial;font-weight:normal;}
.haft .info-content .head-hd a{font-size:15px;}
.post-top-news .info-content p{color:#575757;margin:0 0 6px;}
.haft .post-top-news .info-content p{font-size:12px;}
a.read-more{color:#f89e25 !important;display:block;font-size:13px;}
.post-top-news:hover .info-content h4 a{color:#f89e25;}
.post-top-news:hover{box-shadow:0 0 2px 0 #ccc;}
.login-or-infouser{display:table;width:100%;}
.thumb-avt{border:1px solid #ccc;display:inline-block;float:left;height:110px;margin:10px;padding:3px;}
.name-user{color:#2980b9;display:block;font-size:13px;font-weight:bold;text-transform:uppercase;}
.info-user{padding:10px;}
.sidebar-nd #loginform p .input{width:90% !important;}
.user-logout{color:darkslateblue;display:block;font-size:14px;margin-top:20px;}
.loginBox > form{padding:10px;}
.loginBox form .input, #loginform .input, .dangkytaikhoan input{border-radius:0 !important;width:280px !important;}
.loginBox label, #loginform label , .dangkytaikhoan label{display:block;font-size:13px;margin:5px 0;}
.login-remember input{margin-left:0 !important;}
.button-primary{background:#fff none repeat scroll 0 0;border:1px solid #ccc;cursor:pointer;padding:3px 10px;}
.button-primary:hover{background:#f1f1f1 none repeat scroll 0 0;}
.box-category li{border-bottom:1px solid #e5e5e5;}
.box-category li:last-child{border-bottom:medium none;}
.box-category ul li a{display:block;font-size:13px;line-height:21px;padding:6px 10px 6px 20px;}
.post-summary-list ul li .fa{float:left;font-size:11px;left:10px;position:relative;top:10px;}
.box-category ul li:hover a, .box-category ul li:hover i{background:#f2f2f2 none repeat scroll 0 0;color:#2980b9;}
.post-top-news.full{border-bottom:1px solid #ccc;margin-right:0;position:relative;width:840px;}
.full .info-content h4 a{font-size:20px;}
.post-top-news.haft .info-content p{font-size:13px;}
.post-top-news.full .info-content p{font-size:15px;line-height:25px;min-height:90px;text-align:justify;}
.full .read-more{bottom:5px;right:5px;}
.bottom_vn{background:#ebe6e2 none repeat scroll 0 0;padding-bottom:15px;}
.bottom_vn .box-category{float:left;margin-right:10px;width:290px;}
.bottom_vn .box-category:nth-child(4n){margin-right:0;}
.bottom_vn .box-category .box-heading2 h3{border-bottom:2px solid #2980b9;}
.textwidget img{display:block;margin:0 auto;padding:6px;width:300px;}
.textwidget > a{display:block;}
.wp-pagenavi li, .larger, .smaller, .previouspostslink, .nextpostslink{background:#f3f3f3 none repeat scroll 0 0;border:1px solid #ccc !important;color:#333;display:inline;padding:5px 8px !important;}
.wp-pagenavi .current, .wp-pagenavi .first, .wp-pagenavi .pages{background:#f3f3f3 none repeat scroll 0 0;padding:5px 8px;}
.wp-pagenavi li.current{background:#ffe4c4 none repeat scroll 0 0;}
.wp-pagenavi{display:table;float:right;font-size:12px;height:30px;margin:10px auto 0;}
.previouspostslink, .nextpostslink{color:#333;}
.previouspostslink{margin-right:6px;}
.current{background:#2980b9 none repeat scroll 0 0 !important;border:1px solid #0f5bb0 !important;color:#fff;}
.top1-tienluc{background:#fff none repeat scroll 0 0;border-bottom:2px solid #2980b9;display:table;width:100%;}
.top1-tienluc h1 a{display:block;font-size:19px;font-weight:normal;padding:6px 10px;}
.description{background:#fff none repeat scroll 0 0;margin:5px 0;padding:10px;}
.description > p{color:#555;font-size:13px;}
.footer_vn{background:#1e1e1e none repeat scroll 0 0;border-top:2px solid #2980b9;}
.large-footer{margin:0 auto;padding:0;}
.one_third:nth-child(3n){margin-right:0 !important;}
.one_fifth{float:left;margin-right:30px;position:relative;}
.widget{clear:both;}
.widget h3{color:#cccccc;font-size:16px;}
.footer_vn h3{background:rgba(0, 0, 0, 0) url("images/footer_title_bg.png") repeat-x scroll left 8px;margin:30px 0 25px;text-shadow:0 1px 0 rgba(0, 0, 0, 0.8);}
.footer_vn h3 span{background:#1e1e1e none repeat scroll 0 0;padding-right:10px;}
.footer_vn ul{margin-bottom:30px;margin-right:33px;padding:0;}
.footer_vn ul li{background:rgba(0, 0, 0, 0) url("images/footer_list_bg.png") no-repeat scroll 6px 8px;border-bottom:1px solid #111;border-top:1px solid #252525;clear:both;display:block;line-height:20px;padding:8px 0 8px 33px;text-decoration:none;text-indent:0;width:100%;}
.footer_vn ul li:first-child{border-top:medium none;}
.footer_vn ul li a{clear:both;display:inline-block;text-decoration:none;width:auto;}
.footer_vn ul li a, .footer_vn ul li{color:#aaaaaa;font-size:12px;}
.footer_vn ul li:hover a, .footer_vn ul li.recentcomments:hover{color:#fff;}
.footer_vn .sidebar-latest-news ul{margin-bottom:10px;}
.footer_vn .sidebar-latest-news ul{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;border:medium none;margin:0 0 30px;padding:0;}
.footer_vn .sidebar-latest-news li{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;border:medium none;display:block;line-height:22px;padding:0 0 10px;}
.footer_vn .sidebar-latest-news li a{display:block;}
.footer_vn .sidebar-latest-news a{clear:none;}
.footer_vn .sidebar-latest-news img{border:1px solid #2f2f2f;}
.sidebar-latest-news img{float:left;margin:0;}
.sidebar-latest-news p{font-weight:bold;margin:0;padding:0 0 0 70px;}
.sidebar-latest-news p.blog_sum{font-size:11px;font-weight:normal;line-height:18px;margin-top:5px;}
a.latest-news-read-more{color:#ee7e2c !important;float:left;font-size:11px !important;font-weight:normal;padding-right:13px;}
.small-footer{background:#151515 url("images/small_footer_border.png") repeat-x scroll 0 0;clear:both;font-size:11px;margin:0 auto;width:auto;}
.sixteen.powerby{clear:both;display:block;margin:10px auto;width:1200px;}
.powerby .copyright{color:#aaa;float:left;font-size:13px;line-height:22px;text-shadow:0 1px 0 #000;}
.powerby p a:link, .powerby p a:visited{color:#d0d0d0;}
.powerby ul.socials{float:right;margin-top:5px;}
.powerby ul.socials li{float:left;}
.powerby ul.socials li a{background-color:#383637;background-position:50% 50%;background-repeat:no-repeat;border:1px solid #5c5c5c;display:block;float:left;font:0px/0 a;height:27px;margin-left:3px;opacity:0.8;width:27px;}
.powerby ul.socials li a:hover{opacity:1;}
.powerby ul.socials li a.twitter{background-image:url("images/so_twitter.png");}
.powerby ul.socials li a.twitter:hover{background-color:#009fe3;border-color:#0591cd;}
.powerby ul.socials li a.facebook{background-image:url("images/so_face.png");}
.powerby ul.socials li a.facebook:hover{background-color:#266aa8;border-color:#266aa8;}
.powerby ul.socials li a.googlep{background-image:url("images/so_google.png");}
.powerby ul.socials li a.googlep:hover{background-color:#e81962;border-color:#e81962;}
.powerby ul.socials li a.vimeo{background-image:url("images/so_vimeo.png");}
.powerby ul.socials li a.vimeo:hover{background-color:#af60a2;border-color:#af60a2;}
.powerby ul.socials li a.skype{background-image:url("images/so_skype.png");}
.powerby ul.socials li a.skype:hover{background-color:#00aff0;border-color:#00aff0;}
.powerby ul.socials li a.linked{background-image:url("images/so_linked.png");}
.powerby ul.socials li a.linked:hover{background-color:#009640;border-color:#009640;}
.content-single{background:#fff none repeat scroll 0 0;color:#333;font-size:15px;line-height:1.6em;padding:10px;text-align:justify;}
.content-single img{margin-top:10px;margin-bottom:10px;}
.comment-single{background:#fff none repeat scroll 0 0;border-top:2px solid #2980b9;margin:10px 0;padding:10px;}
ol.commentlist{margin:15px 0;}
.commentlist .comment-body{padding:10px 10px 10px 50px;position:relative;}
.comment-body a.comment-reply-link{color:#666;font-size:14px;position:absolute;right:10px;top:10px;}
ol.commentlist li{background:#fff none repeat scroll 0 0;border:1px solid #ddd;box-shadow:0 0 4px 0 #ddd;list-style:outside none none;margin:20px 1px 1px 50px;padding:4px 0;}
ol.commentlist img.avatar{background:#eee none repeat scroll 0 0;border:1px solid #cecece;border-radius:50%;box-shadow:0 0 4px 0 #ddd;display:block;float:left;height:80px;left:-100px;margin-right:10px;padding:5px;position:absolute;top:-14px;width:80px;}
ol.commentlist .comment-author{line-height:25px;}
.comment-body cite.fn{font-size:17px;font-style:normal;}
.commentmetadata a{color:#999;font-size:11px;margin:0;vertical-align:top;}
.comment-body p{color:#222;font-size:10.5pt;}
.comment-body .comment-author.vcard{color:#2980b9;margin:0;position:relative;}
.commentlist ul .children{padding-left:10px;}
.comment-single > h3{color:#2980b9;font-size:15px;}
.commentlist .children{padding:0 23px;}
.commentlist .children li{margin-bottom:10px;}
#respond > h3{color:#2980b9;font-size:20px;font-weight:normal;margin:10px 0;}
#respond > form p{color:#333;font-size:15px;margin-bottom:5px;}
#commentform input{min-width:240px;padding:5px;}
#commentform label{color:#222;font-size:15px;}
.header{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;height:50px;position:relative;width:50px;display:none;}
.header a{background:url("images/menu.png") no-repeat center center;display:block;height:50px;position:absolute;top:0;width:50px;}
.mm-menu.mm-horizontal > .mm-panel{-webkit-transition:left 0.4s ease;-moz-transition:left 0.4s ease;-ms-transition:left 0.4s ease;-o-transition:left 0.4s ease;transition:left 0.4s ease;}
.mm-menu .mm-hidden{display:none;}
.mm-wrapper{overflow-x:hidden;position:relative;}
.mm-menu{background:inherit;display:block;overflow:hidden;width:100%;height:100%;padding:0;position:absolute;left:0;top:0;z-index:0;}
.mm-menu > .mm-panel{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;background:inherit;-webkit-overflow-scrolling:touch;overflow:scroll;overflow-x:hidden;overflow-y:auto;width:100%;height:100%;padding:20px;position:absolute;top:0;left:100%;z-index:0;}
.mm-menu > .mm-panel.mm-opened{left:0%;}
.mm-menu > .mm-panel.mm-subopened{left:-40%;}
.mm-menu > .mm-panel.mm-highest{z-index:1;}
.mm-menu .mm-list{padding:20px 0;}
.mm-menu > .mm-list{padding:0 0 40px 0;}
.mm-panel > .mm-list{margin-left:-20px;margin-right:-20px;}
.mm-panel > .mm-list:first-child{padding-top:0;}
.mm-list,
.mm-list > li{list-style:none;display:block;padding:0;margin:0;}
.mm-list{font:inherit;font-size:14px;}
.mm-list a,
.mm-list a:hover{text-decoration:none;}
.mm-list > li{position:relative;}
.mm-list > li > a,
.mm-list > li > span{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:inherit;line-height:20px;display:block;padding:10px 10px 10px 20px;margin:0;}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after{content:'';border-bottom-width:1px;border-bottom-style:solid;display:block;width:100%;position:absolute;bottom:0;left:0;}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after{width:auto;position:relative;left:auto;}
.mm-list a.mm-subopen{width:40px;height:100%;padding:0;position:absolute;right:0;top:0;z-index:2;}
.mm-list a.mm-subopen:before{content:'';border-left-width:1px;border-left-style:solid;display:block;height:100%;position:absolute;left:0;top:0;}
.mm-list a.mm-subopen.mm-fullsubopen{width:100%;}
.mm-list a.mm-subopen.mm-fullsubopen:before{border-left:none;}
.mm-list a.mm-subopen + a,
.mm-list a.mm-subopen + span{padding-right:5px;margin-right:40px;}
.mm-list > li.mm-selected > a.mm-subopen{background:transparent;}
.mm-list > li.mm-selected > a.mm-fullsubopen + a,
.mm-list > li.mm-selected > a.mm-fullsubopen + span{padding-right:45px;margin-right:0;}
.mm-list a.mm-subclose{text-indent:20px;padding-top:30px;margin-top:-20px;}
.mm-list > li.mm-label{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-size:10px;text-transform:uppercase;text-indent:20px;line-height:25px;padding-right:5px;}
.mm-list > li.mm-spacer{padding-top:40px;}
.mm-list > li.mm-spacer.mm-label{padding-top:25px;}
.mm-list a.mm-subopen:after,
.mm-list a.mm-subclose:before{content:'';border:2px solid transparent;display:block;width:7px;height:7px;margin-bottom:-5px;position:absolute;bottom:50%;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
.mm-list a.mm-subopen:after{border-top:none;border-left:none;right:18px;}
.mm-list a.mm-subclose:before{border-right:none;border-bottom:none;margin-bottom:-15px;left:22px;}
.mm-menu.mm-vertical .mm-list .mm-panel{display:none;padding:10px 0 10px 10px;}
.mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after{border-color:transparent;}
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel{display:block;}
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen{height:40px;}
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);top:16px;right:16px;}
html.mm-opened .mm-page{box-shadow:0 0 20px rgba(0, 0, 0, 0.5);}
.mm-ismenu{background:#333333;color:rgba(255, 255, 255, 0.6);}
.mm-menu .mm-list > li:after{border-color:rgba(0, 0, 0, 0.15);}
.mm-menu .mm-list > li > a.mm-subclose{background:rgba(0, 0, 0, 0.1);color:rgba(255, 255, 255, 0.3);}
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before{border-color:rgba(255, 255, 255, 0.3);}
.mm-menu .mm-list > li > a.mm-subopen:before{border-color:rgba(0, 0, 0, 0.15);}
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu .mm-list > li.mm-selected > span{background:rgba(0, 0, 0, 0.1);}
.mm-menu .mm-list > li.mm-label{background:rgba(255, 255, 255, 0.05);}
.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-vertical .mm-list li.mm-opened > ul{background:rgba(255, 255, 255, 0.05);}
.mm-page,
.mm-fixed-top,
.mm-fixed-bottom{-webkit-transition:none 0.4s ease;-moz-transition:none 0.4s ease;-ms-transition:none 0.4s ease;-o-transition:none 0.4s ease;transition:none 0.4s ease;-webkit-transition-property:top, right, bottom, left, border;-moz-transition-property:top, right, bottom, left, border;-ms-transition-property:top, right, bottom, left, border;-o-transition-property:top, right, bottom, left, border;transition-property:top, right, bottom, left, border;}
.mm-page,
#mm-blocker{margin:0;top:0;right:0;bottom:0;left:0;}
.mm-page{border:0px solid rgba(0, 0, 0, 0);}
html.mm-opening .mm-page{border:0px solid rgba(1, 1, 1, 0);}
.mm-fixed-top,
.mm-fixed-bottom{position:fixed;left:0;}
.mm-fixed-top{top:0;}
.mm-fixed-bottom{bottom:0;}
html.mm-opened{overflow:hidden;position:relative;}
html.mm-opened body{overflow:hidden;}
html.mm-opened .mm-page{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;position:relative;}
html.mm-background .mm-page{background:inherit;}
#mm-blocker{background:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) transparent;display:none;width:100%;height:100%;position:fixed;z-index:999999;}
html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker{display:block;}
.mm-menu.mm-offcanvas{display:none;position:fixed;}
.mm-menu.mm-current{display:block;}
html.mm-opening .mm-page,
html.mm-opening #mm-blocker,
html.mm-opening .mm-fixed-top,
html.mm-opening .mm-fixed-bottom{left:80%;}
.mm-menu{width:80%;}
@media all and (max-width:175px){.mm-menu{width:140px;}
html.mm-opening .mm-page,
html.mm-opening #mm-blocker,
html.mm-opening .mm-fixed-top,
html.mm-opening .mm-fixed-bottom{left:140px;}}
@media all and (min-width:550px){.mm-menu{width:440px;}
html.mm-opening .mm-page,
html.mm-opening #mm-blocker,
html.mm-opening .mm-fixed-top,
html.mm-opening .mm-fixed-bottom{left:440px;}}
@media only screen and (max-width:1200px){.col-1200{content:"1200px";}
.sixteen.powerby,.logo,.col-1200{width:98%;padding:0 1%;}
ul.menu{width:75%;}
.search-nd{width:25%;}
.search-nd form{float:right;}
.sidebar-nd{width:26.666666666666668%;}
.right-ct{width:71.66666666666667%;}
.menu-child-ul .sub-menu{left:100%;}
.post-top-news.haft{border:medium none;margin-right:1%;padding:1%;width:47.5%;}
.haft .thumb-post{width:27.160493827160494%;height:auto;}
.haft .info-content{float:right;width:70.8395061728395%;}
.haft .thumb-post a img{height:100%;width:100%;}
.haft .thumb-post img{width:100%;}
.post-top-news.full{width:98%;padding:1%;}
.thumb-post{width:30%;margin-right:1%;height:auto;}
.full .thumb-post img{height:auto;width:98%;}
.textwidget a img{padding:1%;width:98%;}
.box-category .textwidget > a{width:100%;}
.full .info-content{float:right;width:69%;}
.bottom_vn .box-category{width:24.37%;margin-right:0.8333333333333334%;}
.bottom_vn .box-heading2{border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;}
.bottom_vn .box-category{border:medium none;}
.bottom_vn .post-summary-list{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.wpcf7-form textarea{min-width:96% !important;padding:1% !important;}
}
@media only screen and (max-width:1024px){.col-1200{content:"1024px";}
.bottom_vn .box-category{border:none;}
.info-content .head-hd a{font-size:15px;}
h2.head-hd{line-height:18px;}
}
@media only screen and (max-width:890px){.col-1200{content:"890px";}
.single-post .breadcrumb_last{display:none!important;}
.sidebar-nd{width:36.666666666666668%;}
.right-ct{width:61.66666666666667%;}
.post-top-news.haft{width:98%;}
.full .info-content h4 a{font-size:16px;}
.post-top-news.full .info-content p{font-size:13px;line-height:21px;}
.post_bottom_bg > span{height:20px;}
.one_third:nth-child(2){display:none;}
.one_third{width:48%!important;}
#commentform textarea{width:98%;}
.content-single img{width:90%;height:auto;}
}
@media only screen and (max-width:768px){.col-1200{content:"768px";}
.bottom_vn .box-category{width:49.5%;}
.bottom_vn .box-category:nth-child(2n){margin-right:0;}
.post-top-news.full .info-content p{display:none;}
}
@media only screen and (max-width:640px){.col-1200{content:"640px";}
.top-menu ,.mainNav,ul.menu{display:none;}
.header{display:block!important;}
.search-nd{width:100%;}
.search-nd form{float:left;}
.right-ct{width:100%;}
.sidebar-nd{width:100%;}
.one_third:nth-child(3n){display:none;}
.one_third:nth-child(1){width:100%!important;}
.bottom_vn .box-category{width:100%!important;}
.logo > a{display:inline-block;height:50px;width:60%;}
.logo img{margin-top:6px;width:180px;}
.sidebar-nd{margin-top:10px;}
.content-right1{display:none;}
}
ul.menu li a,.menu-nav > li > a,.search-nd .query,.post-top-news,.post-top-news:hover .info-content h4 a,.tagcloud a,.footer_vn ul li a,.footer_vn ul li,.attachment-love_topic.wp-post-image{-webkit-transition:all 400ms linear;-moz-transition:all 400ms linear;-transition:all 400ms linear;-ms-transition:all 400ms linear;transition:all 400ms linear;}
.button-primary{background:#00a0d2!important;border-color:#0073aa!important;-webkit-box-shadow:inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15)!important;box-shadow:inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15)!important;color:#fff!important;text-decoration:none!important}
.button-primary:focus,.button-primary:hover{background:#0091cd!important;border-color:#0073aa!important;-webkit-box-shadow:inset 0 1px 0 rgba(120,200,230,.6)!important;box-shadow:inset 0 1px 0 rgba(120,200,230,.6);color:#fff}
.wpcf7-form input, .wpcf7-form textarea{border:1px solid #ccc;box-shadow:0 0 3px #ccc;color:#333;font-size:15px;padding:6px 10px;width:200px;}
.attachment-love_topic.wp-post-image:hover{opacity:.8;transform:scale(1.15,1.15)}
#breadcrumbs{background-color:#FFF;border:1px solid #ccc;margin:0 0 5px 0;}
#breadcrumbs a, #breadcrumbs span{color:#333;font-size:13px;}
#breadcrumbs a:hover, #breadcrumbs span:hover{color:#D95902;}
#breadcrumbs .breadcrumb_last, #breadcrumbs span a{position:relative;display:inline-block;}
#breadcrumbs .breadcrumb_last:after, #breadcrumbs span a:after{border:16px solid transparent;border-right:1px none black;border-left-width:12px;border-left-color:#fff;content:"";display:block;position:absolute;right:-18px;top:-1px;z-index:51;white-space:nowrap;overflow:hidden;text-indent:9999px;width:0px;height:0px}
#breadcrumbs .breadcrumb_last:before, #breadcrumbs span a:before{border:16px solid transparent;border-right:1px none black;border-left-width:12px;border-left-color:#bebebe;content:"";display:block;position:absolute;right:-19px;top:-1px;z-index:50;width:0px;height:0px}
#breadcrumbs > span > span{display:inline-block;height:30px;line-height:30px;padding:0 10px;cursor:pointer;}
#breadcrumbs > span > span{margin-left:-6px;padding-left:20px;}
#breadcrumbs > span > span:first-child{margin-left:0;}
#breadcrumbs span a:hover{text-decoration:none;}
#breadcrumbs > span{padding-left:0;}
#breadcrumbs > span > span span{padding-left:25px;}
.breadcrumb_last{padding-left:25px;}
.tagcloud:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.tagcloud a{background:#555;color:#fff;float:left;font-size:14px !important;height:21px;margin-right:1px;margin-top:1px;max-width:164px;overflow:hidden;padding:2px 5px;text-overflow:ellipsis;vertical-align:top;white-space:nowrap;}
.tagcloud{display:block;max-height:363px;overflow:hidden;padding:2px;}
.tagcloud a:hover{background:#3498db;}
.post_bottom_bg, .post_bottom_bg a{color:#666;font-size:12px;text-transform:capitalize;}
.post_bottom_bg > span{display:inline-block;float:left;margin-right:10px;}
.post-categories{display:inline-block;}
.post-categories > li{display:inline-block;}
.post-categories > li::after{content:",";}
.post-categories > li:last-child::after{content:"";}
.post_bottom_bg .fa{position:relative;top:-2px;}
.content-single .post_bottom_bg .fa{color:#f96e5b;top:0 !important;}
.wpuf-post-form label{color:#222;font-size:13px;}
.post_bottom_bg span:hover, .post_bottom_bg a:hover{color:#d95902;}
.wpcf7-form textarea{height:150px;line-height:18px;min-width:500px !important;}
.wpcf7-form label{color:#666;}
.content-single .post_bottom_bg{display:table;margin-bottom:10px;width:100%;}
.kksr-stars.kksr-star.gray{width:120px;}
.kk-star-ratings.rgt{margin-top:0;min-height:45px;width:145px;}
.content-single .entry-author-name{color:#159f85;font-weight:bold;}
.single textarea{box-shadow:0 0 3px #ccc;}
.regted > a{color:#2980b9;font-size:14px;font-weight:bold;text-transform:capitalize;}
.submit-reg{margin-top:10px;}
.regsuccess{color:#00a200;font-size:14px}
.thongbaoregloi{color:red;font-size:14px}
.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.screen-reader-response {color: green;display: block;height: auto !important;position: relative !important;width: 95% !important;}